<div class="device-panel" data-ng-controller="mobileOverlapCtrl as mOverlap">
    <div class="device-panel__inner">
        <div class="device-panel__mobile-direction">
            <div class="device-panel__instruction">{{'Js.MobileOverlap.MobileVersionAgree' | translate}}</div>
            <button type="button" data-ng-click="mOverlap.goToMobile('deviceMode', 'mobile')" class="btn btn-big btn-buy device-panel__btn">
                {{'Js.MobileOverlap.MobileVersionAgree.Yes' | translate}}
            </button>
            <button
                type="button"
                class="btn btn-big btn-buy device-panel__btn"
                data-ng-click="mOverlap.stayOnDesktop('deviceMode', 'desktop')">
                {{'Js.MobileOverlap.MobileVersionAgree.No' | translate}}
            </button>
        </div>

        <div class="device-panel__desktop-direction">
            <div class="device-panel__instruction">{{'Js.MobileOverlap.DesktopVersionAgree' | translate}}</div>
            <button type="button" data-ng-click="mOverlap.goToDesktop('deviceMode', 'desktop')" class="btn btn-big btn-buy device-panel__btn">
                {{'Js.MobileOverlap.DesktopVersionAgree.Yes' | translate}}
            </button>
            <button
                type="button"
                class="btn btn-big btn-buy device-panel__btn"
                data-ng-click="mOverlap.stayOnMobile('deviceMode', 'mobile')">
                {{'Js.MobileOverlap.DesktopVersionAgree.No' | translate}}
            </button>
        </div>
    </div>
</div>
