<?xml version="1.0" ?>
<advantshop>
  <localization>
    <lang value="ru-RU" />
  </localization>
  <!-- === Payments ========================================== -->
  <payments>
    <payment name="Cash" enabled="True" localizename="Наличные"/>
    <payment name="SberBank" enabled="True" localizename="Квитанция Сбербанка"/>
    <payment name="Bill" enabled="True" localizename="Счет на оплату"/>
    <payment name="Robokassa" enabled="True" localizename="Robokassa"/>
    <payment name="WalletOneCheckout" enabled="True" localizename="Wallet One"/>
    <payment name="PayAnyWay" enabled="True" localizename="PayAnyWay"/>
    <payment name="Modulbank" enabled="True" localizename="Модульбанк"/>
    <payment name="CloudPayments" enabled="True" localizename="Cloud Payments"/>
    <payment name="Paymaster" enabled="True" localizename="PayMaster"/>
    <payment name="GiftCertificate" enabled="True" localizename="Подарочный сертификат"/>
	<payment name="CashOnDelivery" enabled="True" localizename="Оплата при получении"/>    
    <payment name="Assist" enabled="True" localizename="Assist"/>
    <payment name="IntellectMoneyMainProtocol" enabled="True" localizename="IntellectMoney"/>
    <payment name="Interkassa2" enabled="True" localizename="Interkassa"/>
    <payment name="LiqPay" enabled="True" localizename="LiqPay"/>
    <payment name="OnPay" enabled="True" localizename="OnPay"/>
    <payment name="PayOnline" enabled="True" localizename="PayOnline"/>
    <payment name="PayPalExpressCheckout" enabled="True" localizename="PayPalExpressCheckout"/>
    <payment name="PickPoint" enabled="True" localizename="PickPoint"/>
    <payment name="Platron" enabled="True" localizename="Platron"/>
    <payment name="QiwiKassa" enabled="True" localizename="QIWI касса"/>
    <payment name="WebMoney" enabled="True" localizename="WebMoney"/>
	<payment name="SberBankAcquiring" enabled="True" localizename="Сбербанк-эквайринг"/>
    <payment name="YesCredit" enabled="True" localizename="YesCredit"/>
    <payment name="Avangard" enabled="True" localizename="Авангард"/>
	<payment name="YandexKassa" enabled="True" localizename="ЮKassa"/>
    <payment name="AlfabankKupiLegko" enabled="True" localizename="Альфа-Банк, Купи Легко (В кредит)"/>
    <payment name="AlfabankUa" enabled="True" localizename="Альфа-Банк Украина (В кредит)"/>
    <payment name="DirectCredit" enabled="True" localizename="Директ Кредит (В кредит)"/>
    <payment name="Kupivkredit" enabled="True" localizename="КупиВкредит"/>
    <payment name="RsbCredit" enabled="True" localizename="Русский Стандарт Банк (В кредит)"/>
    <payment name="BillUa" enabled="True" localizename="Счет на оплату (Украина)"/>
    <payment name="BillBy" enabled="True" localizename="Счет на оплату (Беларусь)"/>
    <payment name="BillKz" enabled="True" localizename="Счет на оплату (Казахстан)"/>
    <payment name="WebPay" enabled="True" localizename="WebPay.by"/>
    <payment name="Alfabank" enabled="True" localizename="Альфа-банк"/>
    <payment name="Tinkoff" enabled="True" localizename="Т-Банк (Тинькофф эквайринг)"/>
    <payment name="InvoiceBox" enabled="True" localizename="ИнвойсБокс"/>
    <payment name="Check" enabled="True" localizename="Чек"/>
    <payment name="NetPay" enabled="True" localizename="NetPay"/>
    <payment name="PSBank" enabled="True" localizename="Промсвязьбанк"/>
    <payment name="BePaid" enabled="True" localizename="bePaid"/>
    <payment name="Mokka" enabled="True" localizename="Мокка — оплата частями"/>
    <payment name="Thawani" enabled="True" localizename="Thawani Pay"/>
	
	<payment name="Rbkmoney2" enabled="False" localizename="Rbkmoney"/>
    <payment name="IntellectMoney" enabled="False" localizename="IntellectMoney протокол WEB Money"/>
  </payments>
  <!-- === Shippings ========================================== -->
  <shippings>
    <shipping name="SelfDelivery" enabled="True" localizename="Самовывоз"/>
    <shipping name="PointDelivery" enabled="True" localizename="Пункты выдачи"/>
    <shipping name="FreeShipping" enabled="True" localizename="Бесплатная доставка"/>
    <shipping name="FixedRate" enabled="True" localizename="Фиксированная стоимость доставки"/>
    <shipping name="DeliveryByZones" enabled="True" localizename="Доставки по зонам"/>
    <shipping name="ShippingByWeight" enabled="True" localizename="Доставка в зависимости от веса"/>
    <shipping name="ShippingByRangeWeightAndDistance" enabled="True" localizename="Доставка в зависимости от веса и расстояния"/>
    <shipping name="ShippingByPriceAndDistance" enabled="False" localizename="Доставка в зависимости от стоимости заказа и расстояния"/>
    <shipping name="ShippingByOrderPrice" enabled="True" localizename="Доставка в зависимости от стоимости заказа"/>
    <shipping name="ShippingByShippingCost" enabled="True" localizename="Доставка в зависимости от стоимости доставки каждого товара"/>
    <shipping name="ShippingByProductAmount" enabled="True" localizename="Доставка в зависимости от количества товаров"/>
	<shipping name="ElectronicDelivery" enabled="True" localizename="Электронная доставка"/>
    <shipping name="RussianPost" enabled="True" localizename="Почта России"/>
    <shipping name="Boxberry" enabled="True" localizename="Boxberry"/>
    <shipping name="Sdek" enabled="True" localizename="СДЭК (Служба доставки)"/>
    <shipping name="Yandex" enabled="True" localizename="Яндекс.Доставка"/>  

    <shipping name="NovaPoshta" enabled="True" localizename="Новая Почта (Украина)"/>
    <shipping name="Pec" enabled="True" localizename="ПЭК"/>
    <shipping name="Dpd" enabled="True" localizename="DPD"/>
    <shipping name="ApiShip" enabled="True" localizename="ApiShip (Интегратор служб доставки)"/>
    <shipping name="Edost" enabled="True" localizename="Еdost.ru (Калькулятор доставки)"/>
    <shipping name="Measoft" enabled="True" localizename="Measoft"/>
    <shipping name="LPost" enabled="True" localizename="Л-Пост"/>
    <shipping name="FivePost" enabled="True" localizename="5Post"/>

    <shipping name="PickPoint" enabled="False" localizename="PickPoint"/>
    <shipping name="OzonRocket" enabled="False" localizename="Ozon Rocket"/>
    <shipping name="Hermes" enabled="False" localizename="Hermes"/>
    <shipping name="DDelivery" enabled="False" localizename="Saferoute (DDelivery)"/>
    <shipping name="EmsPost" enabled="False" localizename="EMS Почта России (Служба доставки)"/>
    <shipping name="PecEasyway" enabled="False" localizename="ПЭК:EASYWAY"/>
    <shipping name="YandexDelivery" enabled="False" localizename="Агрегатор Яндекс.Доставка (Старый кабинет)"/>
    <shipping name="YandexNewDelivery" enabled="False" localizename="Агрегатор Яндекс.Доставка (Новый кабинет)"/>
    <shipping name="Sberlogistic" enabled="False" localizename="Сберлогистика"/>
    <shipping name="Grastin" enabled="False" localizename="Grastin"/>
    <shipping name="Shiptor" enabled="False" localizename="Shiptor"/>
  </shippings>
  <commonsettings>
    <setting name="banksettings" enabled="False"/>
  </commonsettings>
  <authproviders>
    <provider name="yandex" enabled="True"/>
    <provider name="google" enabled="True"/>
    <provider name="mail.ru" enabled="True"/>
    <provider name="vkontakte" enabled="True"/>
    <provider name="twitter" enabled="True"/>
    <provider name="facebook" enabled="True"/>
    <provider name="odnoklassniki" enabled="True"/>
  </authproviders>
</advantshop>

