/* .color-picker-wrapper .color-picker-panel {
  top: -120px !important;
  right: 0 !important;
  left: auto !important;
}
*/
.color-picker-input {
    border: none !important;
    padding-left: 40px !important;
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
}

.color-picker-wrapper .color-picker-swatch {
    left: 6px !important;
    top: 6px !important;
}

.custom-color-picker-wrap {
    &--top {
        .color-picker-panel {
            top: 44px !important;
            left: -2px !important;
        }
    }

    &--bottom {
        .color-picker-panel {
            bottom: 44px !important;
            left: -2px !important;
        }
    }
}
