.cart-stock-in-warehouses {
    --out-stock-color: #d41212;

    &__out-stock-link {
        font-size: 14px;
        line-height: 1.8;
        color: #f00;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__list {
        margin-top: 13px;
    }
}

.cart-stock-list {
    display: grid;
    gap: 10px;

    &__header {
        font-size: 13px;
        line-height: 1.2;
        font-weight: bold;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: flex-start;
        gap: 10px;
    }

    &__body {
        display: grid;
        gap: 10px;
    }

    &__data {
        font-size: 13px;

        &--out-stock {
            color: var(--out-stock-color);
        }
    }
}

@media (width <= 480px) {
    .cart-stock-list {
        &__header {
            font-size: 13px;
        }
    }
}
