<ng-form name="builderProductDetails" novalidate>
    <section class="new-builder__content-section">
        <h2
            class="new-builder__content-title"
            data-ng-init="builder.builderProductDetails = builderProductDetails"
            data-translate="Js.Builder.Product"></h2>

        <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowProductArtNoOnProductCard')">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowProductArtNoOnProductCard"
                    checked="builder.design.ShowProductArtNoOnProductCard"
                    theme="blue"
                    label="{{::'Js.Builder.ShowProductArtNoOnProductCard' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catolog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowProductArtNoOnProductCard' | translate}}">
                        <div class="help-content">{{::'Js.Builder.ShowProductArtNoOnProductCardHelp' | translate}} <br /></div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="DisplayWeight"
                    checked="builder.design.DisplayWeight"
                    theme="blue"
                    label="{{::'Js.Builder.DisplayWeight' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.DisplayWeight' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.DisplayWeightHint"></div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="DisplayDimensions"
                    checked="builder.design.DisplayDimensions"
                    theme="blue"
                    label="{{::'Js.Builder.DisplayDimensions' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.DisplayDimensions' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.DisplayDimensionsHint"></div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowAvailableLableInProduct"
                    checked="builder.design.ShowAvailableLableInProduct"
                    theme="blue"
                    label="{{::'Js.Builder.ShowAvailableLableInProduct' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowAvailableLableInProduct' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.OptionShowAvailableLable"></div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field" ng-if="builder.design.ShowAvailableLableInProduct">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowStockAvailability"
                    checked="builder.design.ShowStockAvailability"
                    theme="blue"
                    label="{{::'Js.Builder.ShowStockAvailability' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowStockAvailability' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ShowStockAvailabilityHint1' | translate}} <br /><br />
                            {{::'Js.Builder.ShowStockAvailabilityHint2' | translate}}<br />
                            {{::'Js.Builder.ShowStockAvailabilityHint3' | translate}}<br />
                            {{::'Js.Builder.ShowStockAvailabilityHint4' | translate}}<br /><br />
                            <span ng-bind-html="'Js.Builder.ShowStockAvailabilityLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowAvailableInWarehouseInProduct')">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowAvailableInWarehouseInProduct"
                    checked="builder.design.ShowAvailableInWarehouseInProduct"
                    theme="blue"
                    label="{{::'Js.Builder.ShowAvailableInWarehouseInProduct' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowAvailableInWarehouseInProduct' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.OptionShowAvailableInWarehouseInProduct"></div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowOnlyAvailableWarehousesInProduct"
                    checked="builder.design.ShowOnlyAvailableWarehousesInProduct"
                    theme="blue"
                    label="{{::'Js.Builder.ShowOnlyAvailableWarehousesInProduct' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.YaMapsApiKeyFoMapWarehouse"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.YaMapsApiKeyFoMapWarehouse' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.YaMapsApiKeyFoMapWarehouseHelp"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input
                    type="text"
                    name="YaMapsApiKeyFoMapWarehouse"
                    class="form-field-input"
                    data-ng-model="builder.design.YaMapsApiKeyFoMapWarehouse" />
            </div>
        </div>

        <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowNotAvailableLabelInProduct')">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowNotAvailableLableInProduct"
                    checked="builder.design.ShowNotAvailableLableInProduct"
                    theme="blue"
                    label="{{::'Js.Builder.ShowNotAvailableLableInProduct' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowNotAvailableLableInProduct' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.OptionShowNotAvailableLable"></div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="new-builder__content-other-fields" ng-if="builder.design.OthersSectionProduct.length > 0">
            <builder-trigger-other-settings
                settings="builder.design.OthersSectionProduct[0].Settings"
                show-title="true"></builder-trigger-other-settings>
        </div>
    </section>

    <section class="new-builder__content-section" ng-hide="builder.isHidden('EnableZoom')">
        <h2 class="new-builder__content-title" data-translate="Js.Builder.ProductPictures"></h2>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="EnableZoom"
                    checked="builder.design.EnableZoom"
                    theme="blue"
                    label="{{::'Js.Builder.EnableZoom' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.EnableZoom' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.EnableZoomHint"></div>
                    </help-trigger>
                </div>
            </div>
        </div>
    </section>

    <section class="new-builder__content-section" ng-hide="builder.isHidden('AllowReviews')">
        <h2 class="new-builder__content-title" data-translate="Js.Builder.Reviews"></h2>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="AllowReviews"
                    checked="builder.design.AllowReviews"
                    theme="blue"
                    label="{{::'Js.Builder.AllowReviews' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.AllowReviews' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.AllowReviewsHint"></div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ModerateReviews"
                    checked="builder.design.ModerateReviews"
                    theme="blue"
                    label="{{::'Js.Builder.ModerateReviews' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ModerateReviews' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ModerateReviewsHint1' | translate}}
                            <b>{{::'Js.Builder.ModerateReviewsHint2' | translate}}</b>
                            <span ng-bind-html="'Js.Builder.ModerateReviewsHint3' | translate"></span><br /><br />
                            <span ng-bind-html="'Js.Builder.ModerateReviewsLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ReviewsVoiteOnlyRegisteredUsers"
                    checked="builder.design.ReviewsVoiteOnlyRegisteredUsers"
                    theme="blue"
                    label="{{::'Js.Builder.ReviewsVoiteOnlyRegisteredUsers' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ReviewsVoiteOnlyRegisteredUsers' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ModerateReviewsHint1' | translate}}
                            <b><span ng-bind-html="'Js.Builder.ModerateReviewsHint2' | translate"></span></b>
                            <span ng-bind-html="'Js.Builder.DescriptionReviewsVoiteOnlyRegisteredUsers' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="DisplayReviewsImage"
                    checked="builder.design.DisplayReviewsImage"
                    theme="blue"
                    label="{{::'Js.Builder.DisplayReviewsImage' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.DisplayReviewsImage' | translate}}">
                        <div class="help-content">
                            <span ng-bind-html="'Js.Builder.ShowImagesToReviews' | translate"></span>
                            <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="AllowReviewsImageUploading"
                    checked="builder.design.AllowReviewsImageUploading"
                    theme="blue"
                    label="{{::'Js.Builder.AllowReviewsImageUploading' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.AllowReviewsImageUploading' | translate}}">
                        <div class="help-content">
                            <span ng-bind-html="'Js.Builder.AllowAttachImagesToReviews' | translate"></span>
                            <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.ReviewImageSize"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ReviewImageSize' | translate}}">
                        <div class="help-content">
                            <span ng-bind-html="'Js.Builder.MaximumSizeOfFeedbackImages' | translate"></span>
                            <span ng-bind-html="'Js.Builder.ReviewsHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field-group">
                <div class="form-field">
                    <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Width"></div>
                    <div class="input-group">
                        <input
                            type="number"
                            min="0"
                            name="ReviewImageWidth"
                            class="form-field-input"
                            data-ng-model="builder.design.ReviewImageWidth"
                            required />
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field-name form-field-name--small" data-translate="Js.Builder.Height"></div>
                    <div class="input-group">
                        <input
                            type="number"
                            min="0"
                            name="ReviewImageHeight"
                            class="form-field-input"
                            data-ng-model="builder.design.ReviewImageHeight"
                            required />
                    </div>
                </div>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.WhoAllowReviews"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.WhoAllowReviews' | translate}}">
                        <div class="help-content">
                            <span ng-bind-html="'Js.Builder.WhoCanAddReviewsHelp' | translate"></span><br /><br />
                            <span ng-bind-html="'Js.Builder.OptionUsersWhoOrderedThisProduct' | translate"></span>
                            <span ng-bind-html="'Js.Builder.HelpLinkReviewsSettings' | translate"></span>
                            <span ng-bind-html="'Js.Builder.HelpLinkOrderStatuses' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <span class="select-custom">
                    <select
                        name="WhoAllowReviews"
                        ng-model="builder.design.WhoAllowReviews"
                        ng-options="s.Value as s.Text for s in builder.design.WhoAllowReviewsOption"></select>
                </span>
            </div>
        </div>
    </section>
    <section class="new-builder__content-section">
        <h2 class="new-builder__content-title" data-translate="Js.Builder.Shipping"></h2>

        <div class="new-builder__content-field" ng-hide="builder.isHidden('ShowShippingsMethodsInDetails')">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.ShowShippingsMethodsInDetails"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShowShippingsMethodsInDetails' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ShowShippingsMethodsInDetailsHint1' | translate}}<br /><br />
                            {{::'Js.Builder.ShowShippingsMethodsInDetailsHint2' | translate}}
                            <span ng-bind-html="'Js.Builder.ShippingHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <span class="select-custom">
                    <select
                        name="ShowShippingsMethodsInDetails"
                        ng-model="builder.design.ShowShippingsMethodsInDetails"
                        ng-options="s.Value as s.Text for s in builder.design.ShowShippingsMethods"></select>
                </span>
            </div>
        </div>
        <div class="new-builder__content-field" ng-hide="builder.isHidden('ShippingsMethodsInDetailsCount')">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.ShippingsMethodsInDetailsCount"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.ShippingsMethodsInDetailsCount' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ShippingsMethodsInDetailsCountHint1' | translate}}<br /><br />
                            {{::'Js.Builder.ShippingsMethodsInDetailsCountHint2' | translate}}
                            <span ng-bind-html="'Js.Builder.ShippingHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input
                    type="number"
                    min="0"
                    name="ShippingsMethodsInDetailsCount"
                    class="form-field-input"
                    data-ng-model="builder.design.ShippingsMethodsInDetailsCount"
                    required />
            </div>
        </div>
    </section>

    <section class="new-builder__content-section" ng-hide="builder.isHidden('ShowRelatedProduct')">
        <h2 class="new-builder__content-title" data-translate="Js.Builder.CrossUpSale"></h2>

        <div class="new-builder__content-field">
            <div class="form-field flex middle-xs">
                <switch-on-off
                    data-id="ShowRelatedProduct"
                    checked="builder.design.ShowRelatedProduct"
                    theme="blue"
                    label="{{::'Js.Builder.ShowRelatedProduct' | translate}}"
                    on-click="builder.changeCheckbox(state, name)">
                </switch-on-off>
            </div>
        </div>

        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.RelatedProductName"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.RelatedProductName' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.Attach2listsToProductHint1' | translate}}<br /><br />
                            {{::'Js.Builder.Attach2listsToProductHint2' | translate}}
                            <span ng-bind-html="'Js.Builder.ProductNameHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input type="text" name="RelatedProductName" class="form-field-input" data-ng-model="builder.design.RelatedProductName" />
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.AlternativeProductName"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.AlternativeProductName' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.Attach2listsToProductHint1' | translate}}<br /><br />
                            {{::'Js.Builder.ForExampleSimilarGoods' | translate}}
                            <span ng-bind-html="'Js.Builder.ProductNameHelpLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input type="text" name="AlternativeProductName" class="form-field-input" data-ng-model="builder.design.AlternativeProductName" />
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.RelatedProductSourceType"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.RelatedProductSourceType' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ProductChooseWhereLoad' | translate}}<br /><br />
                            <b>{{::'Js.Builder.DesignatedGoods' | translate}}</b>
                            {{::'Js.Builder.ItMeansToShowProductFromList' | translate}}<br /><br />
                            <span ng-bind-html="'Js.Builder.RelatedProductSourceTypeLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <span class="select-custom">
                    <select
                        name="RelatedProductSourceType"
                        data-ng-model="builder.design.RelatedProductSourceType"
                        ng-options="s.Value as s.Text for s in builder.design.RelatedProductTypes"></select>
                </span>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.SimilarProductSourceType"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.SimilarProductSourceType' | translate}}">
                        <div class="help-content">
                            {{::'Js.Builder.ProductChooseWhereLoad' | translate}}<br /><br />
                            <b>{{::'Js.Builder.DesignatedGoods' | translate}}</b>
                            {{::'Js.Builder.ItMeansToShowProductFromList' | translate}}<br /><br />
                            <span ng-bind-html="'Js.Builder.RelatedProductSourceTypeLink' | translate"></span>
                        </div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <span class="select-custom">
                    <select
                        name="SimilarProductSourceType"
                        data-ng-model="builder.design.SimilarProductSourceType"
                        ng-options="s.Value as s.Text for s in builder.design.RelatedProductTypes"></select>
                </span>
            </div>
        </div>
        <div class="new-builder__content-field">
            <div class="form-field-name flex middle-xs">
                <span data-translate="Js.Builder.RelatedProductsMaxCount"></span>
                <div class="help-trigger__container">
                    <help-trigger
                        class="ng-cloak m-l-xs"
                        use-template="true"
                        classes="'setting__catalog-popover-custom'"
                        help-append-to-body="false"
                        data-title="{{::'Js.Builder.RelatedProductsMaxCount' | translate}}">
                        <div class="help-content" data-translate="Js.Builder.MaximumNumberOfProducts"></div>
                    </help-trigger>
                </div>
            </div>
            <div class="form-field">
                <input
                    type="number"
                    min="0"
                    name="RelatedProductsMaxCount"
                    class="form-field-input"
                    data-ng-model="builder.design.RelatedProductsMaxCount"
                    required />
            </div>
        </div>
    </section>
</ng-form>
