.add-size-chart-property-container-selected-values {
    max-height: 276px;
    overflow: auto;
    margin-bottom: 10px;

    &__row {
        display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        &:hover {
            background-color: #f3f3f3;
        }
    }

    &__row + &__row {
        border-top: 1px solid #c3c3c3;
    }
}
