.main-menu {
    --font-size: 12px;
    --line-height: 1.2;
    --font-size-title: 18px;
    --line-height-title: 1.2;

    $self: &;

    background-color: #fff;
    border-radius: 4px 4px 0 0;

    &__title {
        margin: 0;
        font-size: var(--font-size-title);
        line-height: var(--line-height-title);
        font-weight: 500;
        color: var(--color-default);
    }

    &--box-shadow {
        box-shadow: 0 -4px 20px rgb(0 0 0 / 6%);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(39px, 1fr));
        justify-content: space-between;
        align-items: flex-start;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__item-count {
        > span {
            position: absolute;
            background-color: #f1453d;
            display: block;
            border-radius: 50%;
            font-size: 0;
            width: 7px;
            height: 7px;
            min-width: auto;
            right: -4px;
            left: auto;
            top: -2px;
        }
    }

    &__item-more-btn {
        display: flex;
    }

    &__more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 16px;
        font-size: var(--font-size) !important;
        line-height: var(--line-height);
    }

    &--sidebar {
        --font-size-link: 16px;
        --line-height-link: 1.2;
        --color-menu-icon: #0084f4;
        --color-menu-category-name: #acaeaf;
        --font-size-category-name: 14px;
        --line-height-category-name: 1.5;
        --background-color: #fafafb;

        background-color: var(--background-color);

        #{$self}__title {
            padding: 16px 16px 8px;
        }

        #{$self}__list {
            display: block;
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        #{$self}__item {
            &:last-child {
                margin-bottom: 30px;
            }
        }

        #{$self}__category-name {
            padding: 8px 16px;
            margin: 0;
            font-size: var(--font-size-category-name);
            line-height: var(--line-height-category-name);
            color: var(--color-menu-category-name);
        }

        #{$self}__group {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #{$self}__group-item {
            &:last-child #{$self}__group-item-link {
                border-bottom: none;
            }
        }

        #{$self}__item-counter {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__go-to-desktop {
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 30px;
    }
}

.main-menu-top-block {
    background: #fff;
    padding: 18px;
}
