.adv-modal,
.adv-modal-floating {
    padding: 61px 0 0;
    box-shadow: none;
    display: flex;
    align-items: flex-end;

    .modal-header {
        position: sticky;
        background-color: var(--backgroud-color);
        border-bottom: 1px solid #ddd;
        padding: 15px 20px;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

    .modal-content {
        padding: 20px;
        background-color: var(--background-color-site);
    }
}
