.add-product-modal {
    overflow: hidden;
}

// body { закомментировал из моб админки (экран больше 768px)
//  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
// }

.modal-backdrop {
    z-index: 2000 !important;
}

.modal {
    --backgroud-color: #fff;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000 !important;
    display: block;
    background-color: rgb(0 0 0 / 20%);
    animation: modal-backdor-show 0.5s ease-in-out;

    &-open {
        overflow: hidden;
    }

    &-dialog {
        position: absolute;
        animation: floating 0.5s ease-in-out;
        left: 0;
        width: 100%;
        max-height: calc(100% - 60px);
        border-radius: 10px 10px 0 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &-content {
        display: grid;
        grid-auto-rows: auto 1fr auto;
        overflow: auto;
        background-color: var(--backgroud-color);
        border-radius: 10px 10px 0 0;
    }

    &-body {
        padding: 20px;
        background-color: var(--background-color-site) !important;
        width: 100vw;

        &--alt {
            background-color: var(--background-color-site);
        }
    }

    &-header-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: calc(24 / 20);
        font-weight: 500;
    }

    &-header {
        position: sticky;
        top: 0;

        /* top: calc(env(safe-area-inset-top) + 0px); */
        background-color: var(--backgroud-color);
        border-bottom: 1px solid #ddd;
        padding: 15px 20px;
        border-radius: 10px 10px 0 0;
        z-index: 11;
    }

    &-footer {
        position: sticky;
        bottom: 0;
        top: 0;
        z-index: 111111;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;
        border-top: 1px solid #ddd;
        padding: 20px;
        background-color: var(--backgroud-color);

        &--outside {
            margin: 20px -20px -20px;
        }
    }

    ui-modal-cross {
        display: none;
    }
}

@keyframes floating {
    from {
        top: 100vh;
    }

    to {
        top: 60px;
    }
}

@keyframes modal-backdor-show {
    from {
        background-color: rgb(0 0 0 / 0%);
    }

    to {
        background-color: rgb(0 0 0 / 20%);
    }
}

.adv-modal {
    z-index: 3000 !important;
}

.modal-robocassa-auth {
    .modal-body {
        height: 80vh;
    }
}
