.simple-modal {
    &__header-wrap {
        position: relative;
        z-index: 1;
        background-color: #fff;
    }

    &__header {
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
        position: sticky;
        top: 0;
        z-index: 3;
        padding: 15px 0;
    }

    ui-modal-cross {
        transform: translateY(5px);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: calc(24 / 20);
        font-weight: 500;
    }

    &__footer {
        position: sticky;
        bottom: 0;
        z-index: 3;
        background-color: #fff;
    }

    .simple-modal__close-btn {
        display: block;
        background-color: #fff;
        text-transform: none;
        border: 1px solid var(--input-border-color);
        color: #0078bd;
        padding: 5px 8px;
        width: 100%;
    }

    &__btn-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    &__inner {
        display: grid;
        grid-auto-rows: auto 1fr auto;
        height: 100%;
        overflow: auto;
    }

    &__body {
        overflow-y: auto;
    }

    .modal-content {
        padding: 0 20px 20px;
        overflow-y: hidden;
        flex-grow: 1;
    }
}

.modal-sales-channels {
    .modal-content,
    .card-channel-inner,
    .card-channel-details {
        padding-right: 10px;
    }
}
