<form novalidate name="addEditShippingIntervals" is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ShippingWithInterval.Settings.Header'|translate}}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.init(addEditShippingIntervals)">
        <div class="form-group setting__form-group">
            <div class="row shipping-intervals__list">
                <div ng-if="ctrl.deliveryIntervalIsNotEmpty" class="col-xs" ng-repeat="day in ctrl.daysOfWeek track by $index">
                    <div class="form-group row middle-xs">
                        <div class="col-xs shipping-intervals__item">
                            <div class="bold sticky-page-name-text setting__subtitle setting--m-none">
                                <span ng-bind="day"></span>
                                <a
                                    ng-if="!isMobile.value"
                                    href=""
                                    class="link-decoration-none fa fa-trash-alt link-alt"
                                    uib-popover="{{'Admin.Js.ShippingWithInterval.Settings.DeleteAllIntervals'|translate}} на {{ctrl.daysOfWeekNameInHeader[$index]}}"
                                    popover-trigger="'mouseenter'"
                                    popover-placement="auto top"
                                    popover-append-to-body="true"
                                    ng-click="ctrl.deleteAllIntervalsByDay($index)"></a>
                                <a
                                    ng-if="isMobile.value"
                                    href=""
                                    class="link-decoration-none fa fa-trash-alt link-alt"
                                    ng-click="ctrl.deleteAllIntervalsByDay($index)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row middle-xs">
                        <div class="col-xs">
                            <div ng-repeat="interval in ctrl.getIntervals($index) track by $index">
                                <span ng-bind="interval"></span>
                                <a
                                    class="fa-times fas link link-decoration-none link-invert"
                                    ng-click="ctrl.deleteInterval($parent.$index, $index)"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!ctrl.deliveryIntervalIsNotEmpty" class="col-xs">
                    <div>{{'Admin.Js.ShippingWithInterval.Settings.DeliveryIntervalIsEmpty'|translate}}</div>
                </div>
            </div>
        </div>
        <div ng-if="ctrl.deliveryIntervalIsNotEmpty" class="row" ng-class="{'m-b-sm': isMobile.value}">
            <div class="col-xs-12 col-md-4">
                <a
                    ng-click="ctrl.deleteAllIntervals()"
                    class="link-decoration-none"
                    ng-bind="('Admin.Js.ShippingWithInterval.Settings.DeleteAllIntervals'|translate)"></a>
            </div>
        </div>
        <div class="row" ng-class="{'m-b-sm': isMobile.value}">
            <div class="col-xs-12 col-md-4">
                <ui-modal-trigger
                    data-controller="'ModalGenerateIntervalsCtrl'"
                    controller-as="ctrl"
                    template-url="../areas/admin/content/src/shippingMethods/components/shippingWithInterval/modals/intervalsByRange/intervalsByRange.html"
                    data-on-close="ctrl.generateIntervals(result)">
                    <a
                        ng-click="ctrl.showIntervalsGenerator()"
                        class="link-decoration-none"
                        ng-bind="('Admin.Js.ShippingWithInterval.Settings.GenerateIntervals'|translate)"></a>
                </ui-modal-trigger>
            </div>
        </div>
        <div class="form-group row middle-xs">
            <div class="col-xs-12 col-md-6" ng-class="{'m-b-sm': isMobile.value}">
                <ui-select ng-model="ctrl.selectedDays" multiple class="input-alt">
                    <ui-select-match placeholder="{{'Admin.Js.ShippingWithInterval.Settings.DayOfWeek'|translate}}">{{$item.value}}</ui-select-match>
                    <ui-select-choices repeat="day.idx as (idx, day) in ctrl.daysOfWeek | filter: $select.search">
                        <div>{{day.value}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row middle-xs">
                    <div class="col-xs-5 col-md-4">
                        <span class="form-field-input vertical-interval-middle">
                            <span
                                ng-class="{'flex': isMobile.value}"
                                data-ng-flatpickr
                                fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true, minuteIncrement: 1}">
                                <span class="flatpickr-custom-wrap">
                                    <input
                                        type="text"
                                        id="timeFrom"
                                        autocomplete="off"
                                        class="form-control input-alt"
                                        data-ng-flatpickr-input
                                        ng-model="ctrl.timeFrom"
                                        placeholder="От" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                            </span>
                        </span>
                    </div>
                    <div class="col-xs col-md-1" style="text-align: center">
                        <span>&mdash;</span>
                    </div>
                    <div class="col-xs-5 col-md-4">
                        <span class="form-field-input vertical-interval-middle">
                            <span
                                ng-class="{'flex': isMobile.value}"
                                data-ng-flatpickr
                                fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true, minuteIncrement: 1}">
                                <span class="flatpickr-custom-wrap">
                                    <input
                                        type="text"
                                        id="timeTo"
                                        autocomplete="off"
                                        class="form-control input-alt"
                                        data-ng-flatpickr-input
                                        ng-model="ctrl.timeTo"
                                        placeholder="До" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-2" ng-class="{'m-t-sm': isMobile.value}">
                        <a class="btn btn-sm btn-success" ng-click="ctrl.addIntervals()">
                            <span class="fa fa-plus"></span>
                            <span ng-bind="('Admin.Js.ShippingWithInterval.Settings.AddInterval'|translate)"> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shipping-item-settings-header content-header m-b-md" style="font-size: 21px">
            {{'Admin.Js.ShippingWithInterval.Settings.AdditionalSettings'|translate}}
        </div>
        <div class="form-group row middle-xs setting__form-group">
            <div class="col-xs-12 col-md-3 flex-grow-n setting__label">{{'Admin.Js.ShippingWithInterval.Settings.GMT'|translate}}</div>
            <div class="col-xs-12 col-md-8 relative setting--m-t-sm" ng-class="{'flex middle-xs': isMobile.value}">
                <select
                    ng-model="ctrl.data.timeZoneId"
                    class="form-control input-alt"
                    required
                    validation-input-text="{{'Admin.Js.ShippingWithInterval.Settings.GMT'|translate}}"
                    ng-options="timeZone.Value as timeZone.Text for timeZone in ctrl.data.timeZones"></select>
            </div>
        </div>
        <div class="form-group row middle-xs setting__form-group">
            <div class="col-xs-12 col-md-3 flex-grow-n setting__label">
                {{'Admin.Js.ShippingWithInterval.Settings.CountVisibleDeliveryDay'|translate}}
            </div>
            <div class="col-xs-12 col-md-8 relative setting--m-t-sm" ng-class="{'flex middle-xs': isMobile.value}">
                <input class="form-control input-alt" type="number" ng-model="ctrl.data.countVisibleDeliveryDay" pattern="[0-9]*" />
                <help-trigger
                    class="ng-cloak help-trigger-icon-abs"
                    ng-class="{'m-l-sm p-l-xs': isMobile.value}"
                    data-title="{{'Admin.Js.ShippingWithInterval.Settings.CountVisibleDeliveryDay'|translate}}"
                    use-template="true">
                    {{'Admin.Js.ShippingWithInterval.Settings.CountVisibleDeliveryDay.Help'|translate}}
                </help-trigger>
            </div>
        </div>
        <div class="form-group row middle-xs setting__form-group">
            <div class="col-xs-12 col-md-3 flex-grow-n setting__label">
                {{'Admin.Js.ShippingWithInterval.Settings.CountHiddenDeliveryDay'|translate}}
            </div>
            <div class="col-xs-12 col-md-8 relative setting--m-t-sm" ng-class="{'flex middle-xs': isMobile.value}">
                <input
                    class="form-control input-alt"
                    type="number"
                    max="{{ctrl.data.countVisibleDeliveryDay - 1}}"
                    ng-model="ctrl.data.countHiddenDeliveryDay"
                    pattern="[0-9]*" />
                <help-trigger
                    class="ng-cloak help-trigger-icon-abs"
                    ng-class="{'m-l-sm p-l-xs': isMobile.value}"
                    data-title="{{'Admin.Js.ShippingWithInterval.Settings.CountHiddenDeliveryDay'|translate}}"
                    use-template="true">
                    {{'Admin.Js.ShippingWithInterval.Settings.CountHiddenDeliveryDay.Help'|translate}}
                </help-trigger>
            </div>
        </div>
        <div class="form-group row middle-xs setting__form-group">
            <div class="col-xs-12 col-md-3 flex-grow-n setting__label">{{'Admin.Js.ShippingWithInterval.Settings.MinDeliveryTime'|translate}}</div>
            <div class="col-xs-12 col-md-8 relative setting--m-t-sm" ng-class="{'flex middle-xs': isMobile.value}">
                <div class="input-group setting__price-margin-in-numbers">
                    <input class="form-control input-alt" type="number" ng-model="ctrl.data.minDeliveryTime" ng-min="1" pattern="[0-9]*" />
                    <div class="input-group-btn">
                        <span class="btn btn-default"><span>мин.</span></span>
                    </div>
                </div>
                <help-trigger
                    class="ng-cloak help-trigger-icon-abs"
                    ng-class="{'m-l-sm p-l-xs': isMobile.value}"
                    data-title="{{'Admin.Js.ShippingWithInterval.Settings.MinDeliveryTime'|translate}}"
                    use-template="true">
                    {{'Admin.Js.ShippingWithInterval.Settings.MinDeliveryTime.Help'|translate}}
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs setting__form-group">
            <div class="col-xs-12 col-md-3 flex-grow-n setting__label">
                {{'Admin.Js.ShippingWithInterval.Settings.OrderProcessingDeadline'|translate}}
            </div>
            <div class="col-xs-12 col-md-8 relative setting--m-t-sm" ng-class="{'flex middle-xs': isMobile.value}">
                <span class="form-field-input vertical-interval-middle">
                    <span
                        class="input-group flex-nowrap"
                        data-ng-flatpickr
                        fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}">
                        <span class="flatpickr-custom-wrap">
                            <input
                                type="text"
                                id="orderProcessingDeadline"
                                class="form-control input-small input-alt-mobile"
                                autocomplete="off"
                                data-ng-flatpickr-input
                                ng-model="ctrl.data.orderProcessingDeadline" />
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                    </span>
                </span>
                <help-trigger
                    class="ng-cloak help-trigger-icon-abs"
                    ng-class="{'m-l-sm p-l-xs': isMobile.value}"
                    data-title="{{'Admin.Js.ShippingWithInterval.Settings.OrderProcessingDeadline'|translate}}"
                    use-template="true">
                    {{'Admin.Js.ShippingWithInterval.Settings.OrderProcessingDeadline.Help'|translate}}
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs setting__form-group">
            <div ng-if="!isMobile.value" class="col-xs-12 col-md-3 flex-grow-n setting__label">
                {{'Admin.Js.ShippingWithInterval.Settings.ShowSoonest'|translate}}
            </div>
            <div class="col-xs-12 col-md-8 setting--m-t-sm flex middle-xs">
                <label class="adv-checkbox-label">
                    <input id="UseInterval" type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.data.showSoonest" />
                    <span class="adv-checkbox-emul"></span>
                    <span ng-if="isMobile.value">{{'Admin.Js.ShippingWithInterval.Settings.ShowSoonest'|translate}}</span>
                </label>
                <help-trigger
                    class="ng-cloak m-l-sm"
                    data-title="{{'Admin.Js.ShippingWithInterval.Settings.ShowSoonest'|translate}}"
                    use-template="true">
                    {{'Admin.Js.ShippingWithInterval.Settings.ShowSoonest.Help'|translate}}
                </help-trigger>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="button"
            data-button-validation-success="ctrl.save()"
            disabled
            ng-disabled="!addEditShippingIntervals.modified"
            data-button-validation>
            {{'Admin.Js.ShippingMethods.Ready'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ShippingMethods.Cancel'|translate}}</button>
    </div>
</form>
