.lead-events__item,
.lead-events__item_active,
.lead-events__item_disabled {
    margin-right: 10px;

    /* font-family: "OpenSans"; */
    font-weight: 600;
    cursor: pointer;
}

.lead-event__title > span {
    vertical-align: middle;
}

.lead-events__item {
    color: #2d9cee;
}

.lead-events__item .lead-events__item__label {
    text-decoration: underline;
}

.lead-events__item_disabled {
    color: #aaa;
    text-decoration: none;
}

.lead-events__item_active {
    color: #2f4050;
    text-decoration: none;
}

.lead-events__item_disabled .lead-events__item__label,
.lead-events__item_active .lead-events__item__label {
    text-decoration: none;
}

.lead-events__item__count_label {
    vertical-align: top;
    display: inline-block;
    font-size: 11px;
    margin: -3px 0 0;
}

.leads-col-fixed-size-sm {
    flex-basis: 140px;
    max-width: 140px;
    padding: 0 0 0 0.625rem;
}

.lead-events-filter__input {
    display: none;
}

.lead-source {
    margin-top: 5px;
}

.lead-events-alternative {
    border-radius: 4px;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    display: flex;

    .lead-events__item,
    .lead-events__item_active,
    .lead-events__item_disabled {
        /* font-family: "OpenSans"; */
        font-weight: normal;
        cursor: pointer;
        font-size: 14px;
        border-radius: 0;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 1px;

        &:last-child {
            margin-right: 0;
        }
    }

    .lead-events__item {
        background-color: #fff;
    }

    .lead-events__item_active {
        color: #666;
        background: #e1e1e1;
    }

    .lead-events__item .lead-events__item__label {
        text-decoration: none;
    }

    .lead-events__item__count_label {
        display: flex;
        font-size: 10px;
        width: 20px;
        height: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #2d9cee;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: 0;
        color: #fff;
        margin-top: -5px;
    }
}

.lead-events-item__cols {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto;
}
