@use '../../../../styles/settings';

.adv-modal,
.adv-modal-floating {
    .adv-modal-inner {
        border-radius: settings.$border-radius-base;
        background-color: #fff;
    }

    .adv-modal-bottom {
        background-color: #fff;
    }

    .modal-header {
        border-bottom-color: #ccc;
    }

    .modal-footer {
        border-top-color: #ccc;
        background-color: #f0f0f0;
    }

    .adv-modal-close {
        color: #fff;
        width: 30px;
        height: 30px;

        &:hover,
        &:active {
            color: #fff;
        }

        &::after {
            font-size: 30px;
            position: absolute;
            top: 0;
            right: 0;
            text-shadow: 0 0 9px rgb(0 0 0 / 50%);
        }
    }
}

@media (width <= 48em), (height <= 480px) {
    .adv-modal,
    .adv-modal-floating {
        .adv-modal-close {
            color: #fff;
        }
    }

    .adv-modal-floating {
        top: 0;
        left: 0;
        max-width: 100%;
        transform: translate3d(0, 0, 0);

        .modal-header {
            cursor: default;
        }
    }

    .adv-close-outside {
        margin-left: 0;
    }
}
