.mobile-version .popover {
    position: fixed;
    inset: auto 0 0 !important;
    z-index: 2000;
    max-width: 100%;

    &.right {
        margin-left: 0;
    }

    &.popover--modalify.popover--mobile {
        .popover-inner,
        .popover-content {
            padding: 0;
        }
    }

    &-inner {
        position: absolute;
        animation: popover-floating 0.5s ease-in-out;
        animation-fill-mode: forwards;
        left: 0;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px 10px 0 0;
        transform: translate3d(0, 0, 0);
        // max-height: calc(100vh - 60px);
        max-height: calc(100dvh - 60px);
        overflow: auto;
        overscroll-behavior: contain;
    }

    &-title {
        font-weight: 500;
        font-size: 16px;
        background-color: transparent;
        border: none;
    }

    .clearfix {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;

        &::before,
        &::after {
            display: none;
        }

        .btn-action {
            border: 1px solid var(--input-border-color);
            color: #0078bd;
            background: #fff;
        }
    }

    /*  &-content {
    padding: 0;
    padding-top:9px;
  } */

    &-backdrop {
        position: fixed;
        inset: 0;
        background-color: rgb(0 0 0 / 20%);
        content: '';
        display: block;
        z-index: 2000;
        opacity: 1;
        animation: popover-overlay-anim 0.5s;
    }
}

@keyframes popover-overlay-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popover-floating {
    from {
        bottom: -100vh;
    }

    to {
        bottom: 0;
    }
}

.popover-opened body {
    overflow: hidden;
}
