@import '../../../../../../Content/src/_shared/picture-uploader/styles/picture-uploader';

.picture-uploader {
    &-wrap {
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin: 0;
        border: 0;
        box-shadow: var(--shadow-on-box);
        margin-bottom: 18px;
        max-width: 140px;
    }

    &-buttons-delete,
    &-buttons-add {
        display: inline-block;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: calc(20 / 14);
        margin-bottom: 8px;
    }
}
