@use '../_common/variables';

@mixin visibility($size) {
    .hidden-#{$size} {
        display: none !important;
    }

    .visible-#{$size} {
        display: block !important;
    }
}

@include visibility('xs');

@media #{variables.$viewport-sm} {
    @include visibility('sm');
}

@media #{variables.$viewport-md} {
    @include visibility('md');
}

@media #{variables.$viewport-lg} {
    @include visibility('lg');
}

@media (width <= 63em) {
    .hidden-device-mobile {
        display: none !important;
    }
}

@media (width >= 64em) {
    .hidden-device-desktop {
        display: none !important;
    }
}
