<div
    class="onoffswitch"
    data-ng-class="{'onoffswitch--disabled': $ctrl.disabled, 'onoffswitch--blue': $ctrl.theme === 'blue', 'onoffswitch--default': $ctrl.theme === 'default'}">
    <input
        data-e2e="switchOnOffInput"
        data-ng-attr-id="{{$ctrl.id}}"
        data-ng-attr-name="{{$ctrl.id}}"
        type="checkbox"
        data-ng-disabled="$ctrl.disabled"
        data-ng-model="$ctrl.checked"
        data-ng-change="$ctrl.change()"
        class="onoffswitch-checkbox onoffswitch__input"
        value="{{$ctrl.checked ? 'true' : 'false'}}" />
    <label
        data-e2e="switchOnOffLabel"
        data-ng-switch="$ctrl.theme === 'blue'"
        data-ng-attr-for="{{($ctrl.readonly != true ? $ctrl.id : '')}}"
        class="onoffswitch-label onoffswitch__label">
        <span class="onoffswitch-inner" data-ng-switch-when="false">
            <span class="onoffswitch-inner-on">{{'Admin.Js.SwitchOnOff.On' | translate}}</span>
            <span class="onoffswitch-inner-off">{{'Admin.Js.SwitchOnOff.Off' | translate}}</span>
        </span>
        <span class="onoffswitch-switch" data-ng-switch-when="false"></span>
        <span data-ng-switch-when="true" data-ng-bind-html="$ctrl.label"></span>
    </label>
</div>
