@use '../../themes';
@use '../../../../styles/functions/util';
@use '../../../../styles/settings';

$bgTop: (height util.rem-calc(960px), bg url('../images/background-top.jpg'));
$bgBottom: (height util.rem-calc(918px), bg url('../images/background-bottom.jpg'));

@include themes.theme-background($bgTop, $bgBottom);

.site-body {
    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: 0;
    }

    &::before {
        height: util.rem-calc(295px);
        background:
            url('../images/snow-top-left.png') no-repeat,
            url('../images/snowman.png') no-repeat util.rem-calc(57px) 0;
        width: util.rem-calc(789px);
        top: util.rem-calc(-43px);
        left: 50%;
        margin-left: util.rem-calc(-632px);
    }

    &::after {
        height: util.rem-calc(389px);
        background: url('../images/snow-top-right.png') no-repeat util.rem-calc(127px) top;
        top: util.rem-calc(-107px);
        left: 50%;
        right: 0;
    }
}

.site-footer-top-level {
    background-color: transparent;
    position: relative;

    & .container {
        background-color: #f8f8f8;
        border-bottom-left-radius: util.rem-calc(5px);
        border-bottom-right-radius: util.rem-calc(5px);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: util.rem-calc(183px);
        bottom: util.rem-calc(70px);
    }

    &::before {
        background: url('../images/snow-bottom-left.png') no-repeat left bottom;
        left: 50%;
        width: util.rem-calc(918px);
        margin-left: util.rem-calc(-602px);
        bottom: -38px;
    }

    &::after {
        background: url('../images/snow-bottom-right.png') no-repeat util.rem-calc(293px) bottom;
        left: 50%;
        right: 0;
        bottom: -40px;
    }
}

.footer-bottom-level {
    background-color: transparent;
}
