<h3 is-mobile ng-class="{'setting__subtitle' : isMobile.value}">По дням</h3>

<div class="form-group row middle-xs" is-mobile>
    <div class="col-xs-12 col-md-slim text-nowrap" ng-class="{'control-label' : isMobile.value, 'p-r-sm' : !isMobile.value}">
        {{'Admin.Js.LeadsListChart.DateFrom'|translate}}
    </div>
    <div class="col-xs-12 col-md-slim p-r-sm" ng-class="{'form-group' : isMobile.value}">
        <div class="input-group">
            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: false}">
                <span class="flatpickr-custom-wrap" ng-class="{'flex-grow' : isMobile.value}">
                    <input
                        data-e2e="datetimeFilterFrom"
                        type="text"
                        class="form-control input-alt"
                        ng-flatpickr-input
                        ng-model="$ctrl.dateFrom"
                        ng-change="$ctrl.loadData()" />
                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                </span>
                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-slim text-nowrap" ng-class="{'control-label' : isMobile.value, 'p-r-sm' : !isMobile.value}">
        <span ng-if="isMobile.value">Дата </span>
        {{'Admin.Js.LeadsListChart.DateTo'|translate}}
    </div>

    <div class="col-xs-12 col-md-slim p-r-sm">
        <div class="input-group">
            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: false}">
                <span class="flatpickr-custom-wrap" ng-class="{'flex-grow' : isMobile.value}">
                    <input
                        data-e2e="datetimeFilterTo"
                        type="text"
                        class="form-control input-alt"
                        ng-flatpickr-input
                        ng-model="$ctrl.dateTo"
                        ng-change="$ctrl.loadData()" />
                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                </span>
                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content" data-oc-lazy-load="[{files: ['chart'], serie: true}]">
        <canvas
            id="leadsChart"
            class="chart chart-line"
            chart-data="$ctrl.data.Chart.Data"
            chart-labels="$ctrl.data.Chart.Labels"
            chart-series="$ctrl.data.Chart.Series"
            chart-colors="$ctrl.data.Chart.Colors"
            chart-options="{legend:{display:true}}"
            ng-if="$ctrl.data != null"></canvas>
    </div>
</div>
