.order-content {
    &__title {
        color: var(--color-default);
        margin-bottom: 2px;
        font-size: 18px;
        font-weight: 500;
        line-height: calc(22 / 16);
    }

    &__header {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        grid-column-gap: 10px;
        margin-bottom: 16px;
    }

    &__order-grid {
        margin-bottom: 24px;
        // в заказе не отображать неактивные товары
        // .card--inactive {
        //  opacity: 1;
        // }
    }

    &__items-summary {
        display: block;
    }
}
