.suggestion-modal {
    .modal-content {
        padding: 20px !important;
    }

    .modal-footer {
        text-align: center !important;
        border: 0 !important;
        padding: 0 20px 20px !important;
        background-color: #fff !important;

        > div {
            display: grid;
            justify-content: center;
            column-gap: 15px;
            grid-auto-flow: column;
        }

        .btn {
            font-weight: normal;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 1;
        }
    }

    &__content {
        display: grid;
        grid-row-gap: 10px;
        text-align: center;
    }

    &__address {
        font-size: 18px;
    }
}
