@use '../../../../styles/settings';
@use '../../../../styles/functions/util';

.zone-dialog {
    min-width: util.rem-calc(300px);
}

.zone-dialog-title {
    font-size: 24px;
    padding: 0.625rem 0.625rem 0;
}

.zone-dialog .modal-content {
    padding: 0;
    min-height: 264px;
}

.zone-dialog-items {
    display: flex;
}

.zone-dialog-item {
    flex-grow: 1;
    vertical-align: top;
    padding-right: settings.$padding-base;
}

.zone-dialog-item-link {
    display: block;
    padding: settings.$padding-base;
    border-radius: settings.$border-radius-base;
    border: 1px solid transparent;

    &:hover {
        border-color: #dedddd;
    }
}

.zone-dialog-text {
    font-size: settings.$font-size-xmedium;
    padding-right: settings.$padding-base;
}

.zone-dialog-countries,
.zone-dialog-autocomplete-block,
.zone-dialog-cities {
    padding: settings.$padding-base settings.$padding-base 0;
}

.zone-dialog-cities {
    padding-bottom: settings.$padding-base;
    border-top: 1px solid #e2e3e4;
}

.zone-dialog-autocomplete-block {
    margin-bottom: util.rem-calc(15px);
}

.zone-dialog-input-wrap {
    position: relative;
}

.zone-dialog-input-wrap > input {
    font-size: 0.8rem;
    line-height: inherit;
}

.zone-dialog-country-link {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: settings.$font-size-medium;
    padding: settings.$padding-base;
    border: util.rem-calc(1px) transparent solid;
    border-radius: settings.$border-radius-base;
}

.zone-dialog-country-image {
    width: 30px;
    height: 18px;
    margin-right: 5px;
    display: none;
}

.zone-dialog-country-selected {
    border-color: #ccc;
}

.zone-dialog-loading {
    text-align: center;
    padding: 40px 20px;
}

.zone-dialog-country-RU {
    display: inline-block;
    background-image: url('../../../../images/zone-img/rus.svg');
}

.zone-dialog-country-UA {
    display: inline-block;
    background-image: url('../../../../images/zone-img/ua.svg');
}

.zone-dialog-country-BY {
    display: inline-block;
    background-image: url('../../../../images/zone-img/by.svg');
}

.zone-dialog-country-KZ {
    display: inline-block;
    background-image: url('../../../../images/zone-img/kz.svg');
}

.zone-dialog-item--scale {
    .zone-dialog-item {
        font-size: 16px;
    }

    .zone-dialog-title,
    .zone-dialog-item-link {
        text-align: center;
    }
}
.zone-modal-question{
    .zone-modal-question__text{
        padding: 20px;
        text-align: center;
    }
    .zone-modal-question__btn{
        min-width: 100px;
    }
}
