@use '../functions/util';
@use '../settings';
@use 'checkout-thank-page';

.checkout-block {
    border-bottom: util.rem-calc(1px) solid #ededee;
    margin-bottom: util.rem-calc(30px);
    padding-bottom: 0.6rem;
}

.checkout-usertype {
    padding-bottom: 0.6rem;
}

.checkout__button-summary {
    cursor: pointer;
}

.checkout__button-summary:disabled:hover {
    cursor: default;
}

.checkout-block-title {
    line-height: 1;
}

.checkout-block-content-inner {
    display: inline-block;
    vertical-align: top;
}

.checkout-result {
    font-size: settings.$font-size-xmedium;
    margin-bottom: util.rem-calc(30px);
    line-height: 1;
}

.checkout-bonus-result {
    padding: util.rem-calc(7px) 0 0;
}

.checkout-agree {
    margin-bottom: util.rem-calc(30px);
}

.checkout-agree-news {
    margin-bottom: util.rem-calc(15px);
}

.checkout-result-text,
.checkout-cart-result-price {
    color: #fff;
}

.checkout-result-price {
    font-weight: bold;
}

.checkout-cart-wrap {
    position: relative;
}

.checkout-cart {
    border-radius: settings.$border-radius-base;
    width: 100%;
}

.checkout-cart-title {
    padding: util.rem-calc(15px) util.rem-calc(25px);
    margin: 0;
    border-bottom: util.rem-calc(1px) #dbdbdb solid;
}

.checkout-cart-items,
.checkout-cart-generated-field {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.checkout-cart-items__container--scrollable {
    overflow: auto;
    max-height: 279px;

    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgb(0 0 0 / 40%);
    }

    &::-webkit-scrollbar-track {
        background-color: #f8f8f8;
        border-radius: 8px;
    }
}

.checkout-cart-item {
    padding: util.rem-calc(10px) 0;
}

.checkout-cart-item-row {
    display: table-row;

    & + .checkout-cart-item-row .checkout-cart-item-cell {
        border-top: util.rem-calc(1px) #e9e9e9 solid;
    }
}

.checkout-cart-item-cell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
        padding-left: util.rem-calc(25px);
    }

    &:last-child {
        padding-right: util.rem-calc(25px);
    }

    &-price,
    &-remove {
        vertical-align: top;
    }
}

.checkout-cart-item-cell-photo {
    width: 50px;
    vertical-align: top;
    box-sizing: content-box;
}

.checkout-cart-item-photo {
    min-width: 50px;
    vertical-align: text-top;
}

.checkout-cart-item-cell-value {
    padding-right: util.rem-calc(25px);
    white-space: nowrap;
    text-align: right;
}

.checkout-cart-generated-field {
    border-top: util.rem-calc(1px) #e9e9e9 solid;
    padding: util.rem-calc(10px) util.rem-calc(25px);
    display: table;
    width: 100%;
}

.checkout-cart-generated-row {
    display: table-row;
}

.checkout-cart-generated-cell {
    display: table-cell;
    vertical-align: middle;
}

.checkout-cart-generated-value {
    text-align: right;
}

.checkout-cart-result {
    font-size: settings.$font-size-xmedium;
    padding: util.rem-calc(10px) util.rem-calc(25px);
}

.checkout-cart-result-price {
    font-weight: bold;
}

.checkout-cart-verify {
    padding: util.rem-calc(10px) util.rem-calc(15px);
}

.checkout-cart-oneclick {
    border-top: util.rem-calc(1px) #e9e9e9 solid;
    padding: util.rem-calc(10px) util.rem-calc(25px);
}

.checkout-cart-oneclick-wrap {
    font-size: settings.$font-size-xmedium;
}

.checkout-variant-more {
    margin-left: util.rem-calc(22px);
}

.checkout-usertype-label {
    margin-right: settings.$margin-value-base;
    margin-bottom: 0.6rem;
}

.checkout-cart-item-count {
    font-size: settings.$font-size-premedium;
    padding-bottom: 0.2rem;

    .cart-full-item-unit {
        display: block;
    }
}

.checkout-cart-price-rule {
    font-size: settings.$font-size-premedium;
    padding-bottom: 0.2rem;
}

.checkout-cart-item-properties {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    font-size: settings.$font-size-premedium;
}

.checkout-cart-item-property-row {
    display: table-row;
}

.checkout-cart-item-property-name,
.checkout-cart-item-property-value {
    display: table-cell;
    vertical-align: middle;
    font-size: settings.$font-size-small;
}

.checkout-cart-item-property-name {
    padding: util.rem-calc(5px) util.rem-calc(5px) 0;
}

.checkout-cart-item-property-value {
    padding: util.rem-calc(5px) 0 0 util.rem-calc(5px);
}

.checkout-cart-amount-error {
    color: #e20a0a;
}

.checkout-not-confirmed {
    font-size: util.rem-calc(17px);
    padding: 0 0 util.rem-calc(15px);
}

.billing-form {
    background: #fff;
    padding: settings.$vertical-interval-small settings.$horizontal-interval-small;
    border-radius: settings.$border-radius-small;
}

.checkout-tax {
    display: none;
}

.cart-full-checkout {
    margin-bottom: 30px;

    .cart-full-header-item,
    .cart-full-body-item {
        padding: 15px 0 15px 15px;
    }

    .cart-full-header-item,
    .cart-full-name-link {
        font-weight: normal;
        font-size: 14px;
    }

    .cart-full-body .cart-full-price,
    .cart-full-body .cart-full-cost {
        font-size: 13px;
    }

    .cart-full-header-item.cart-full-remove {
        visibility: hidden;
    }

    .cart-amount-error {
        left: 0;
        transform: none;
        position: static;
        text-align: initial;
    }
}

@media (width >= 768px) {
    .cart-full-checkout {
        .cart-full-amount-control {
            width: 100px;
        }
    }
}

.shipping-item-label-text {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 2px;
}

.checkout-photos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
}

.checkout-photos__item {
    flex-basis: 80px;
    max-width: 80px;
    height: 80px;
    padding: 6px;
    position: relative;
}

.checkout-photos__delete {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid currentcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkout-photos__wrap-thumbs {
    display: inline-flex;
    border: 1px solid;
    font-size: 0;
    border-radius: settings.$border-radius-base;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.checkout-cart-item-brief-description {
    margin-top: 5px;
    margin-bottom: 5px;
}
