@use '../settings';
@use '../functions/util';

.carousel-main {
    margin-bottom: util.rem-calc(10px);
    padding: 0;
}

.carousel-main-block {
    padding-bottom: settings.$padding-base;
    position: relative;
    overflow: hidden;
}

.carousel-main-list {
    display: flex;
    position: relative;
    align-items: start;
}

.carousel-main-list--with-clones {
    left: -100%;
}

.slider-main-block .carousel-inner {
    margin: 0 auto;
}

.carousel-main-prev,
.carousel-main-next {
    color: rgb(0 0 0 / 50%);
    font-size: settings.$font-size-large;
}

.carousel-main-prev {
    margin-left: settings.$horizontal-interval-xsmall;
}

.carousel-main-next {
    margin-right: settings.$horizontal-interval-xsmall;
}

.carousel-main-item {
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    line-height: 0;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    &:first-child {
        visibility: visible;
    }

    img {
        border-radius: settings.$border-radius-base;

        /* width: 100%; */

        /* FF bug: image adaptive get full width in grid col-xs */
    }
}

.carousel-initilized {
    .carousel-main-item {
        display: inline-block;
        visibility: visible;
    }

    .carousel-main-list--with-clones {
        left: auto;
    }
}

.carousel-main-link,
.carousel-main-link-noop{
    display: block;
    position: relative;
}
.carousel-main-link-noop{
    &:hover,
    &:active{
        cursor: default;
    }
}

.default-block-banner {
    padding-bottom: settings.$padding-base;
}

.footer-gifts {
    font-size: settings.$font-size-normal;
}

.products-specials-block {
    margin-top: util.rem-calc(15px);
}

/* .blocks-on-main-horizontals {
    margin-left: -1%;
    margin-right: -1%;

    .news-block, .voting, .static-block, .check-order, .block-certificate, .social-widgets__item {
        float: left;
        box-sizing: border-box;
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
    }
} */
.blocks-on-main-horizontals {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: settings.$margin-value-alt;

    .news-block,
    .voting,
    .static-block,
    .check-order,
    .block-certificate,
    .social-widgets__item {
        box-sizing: border-box;
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100%;
    }
}

.carousel-inner--min-height-default,
.carousel-inner--min-height-twocolumns {
    min-height: 400px;
}
