@use '../settings';
@use '../functions/util';

.news-menu-link {
    display: block;
    padding: util.rem-calc(7px) util.rem-calc(17px);
    font-size: util.rem-calc(15px);
    text-decoration: none;
    border-radius: settings.$border-radius-base;
}

.news-link-title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: util.rem-calc(21px);
}

.news-list-item {
    margin-bottom: util.rem-calc(20px);
}

.news-rss-link {
    font-size: settings.$font-size-xmedium;
}

.news-item-r-title {
    font-size: util.rem-calc(15px);
    font-weight: bold;
}

.news-item-title {
    display: flex;

    h1 {
        padding-right: 5px;
    }
}

@media (width <= 480px) {
    .news-rss-link {
        font-size: 1.25em;
    }

    .news-right-static {
        margin-top: 10px;
    }

    .blog-link-title {
        display: block;
    }

    .blog-list-item .subheader,
    .blog-post .subheader {
        font-size: 0.75em;
    }

    .blog-title-row {
        margin: 10px 0;
    }

    .blog-list-item .subheader,
    .blog-post .subheader,
    .blog-image-column,
    .blog-link-title,
    .blog-list-item,
    .blog-item-bottom {
        margin-bottom: 10px;
    }

    h1.blog-title.page-title {
        text-align: left;
        font-size: 1.25em;
        position: relative;
    }
}
