@use 'sass:math';
@use '../settings';
@use '../functions/util';

.details-block {
    margin-bottom: util.rem-calc(30px);
    border-radius: settings.$border-radius-base;
}

.details-payment {
    border-style: solid;
    border-width: util.rem-calc(1px) 0;
    padding: 7px 0;

    .price {
        margin-bottom: util.rem-calc(5px);
        display: block;
    }

    .price-current,
    .price-new {
        font-size: util.rem-calc(26px);
    }

    .price-old {
        font-size: settings.$font-size-medium;
    }

    .price-discount {
        font-size: settings.$font-size-small;
    }
}

.instead__text-price {
    font-size: 16px;
    font-weight: 600;
}

.details-payment-price {
    white-space: nowrap;
}

.details-amount {
    .availability {
        vertical-align: inherit;
    }
}

.details-payment-item {
    padding-left: settings.$padding-base;
}

.details-payment-inline {
    display: inline-block;
    margin-bottom: util.rem-calc(5px);
    vertical-align: top;
}

.availability {
    display: inline-block;
    vertical-align: middle;
    border-radius: settings.$border-radius-small;
    color: #fff;
    padding: util.rem-calc(5px);
    line-height: 1;
}

div[show-stocks] {
    cursor: pointer;
}

.available {
    background-color: #b1cd03;
}

.not-available {
    background-color: #fb6363;
}

.details-brand {
    text-align: center;
    margin-bottom: settings.$margin-value-alt;
}

.details-aside {
    /* padding-left: util.rem-calc(40px); */
}

.details-aside .social-btns {
    padding: util.rem-calc(15px);
}

.details-social {
    margin-bottom: settings.$margin-value-alt;
}

.details-payment-block {
    display: flex;
    flex-wrap: wrap;

    .btn {
        white-space: nowrap;
    }
}

.details-payment-cell {
    margin-top: 7px;
    margin-bottom: 7px;
}

.details-carousel-item,
.details-carousel-item-vertical {
    border: util.rem-calc(1px) transparent solid;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}

.details-carousel-item {
    display: inline-block;
}

.details-carousel-item-vertical {
    display: block;
}

.details-carousel-selected {
    border-radius: settings.$border-radius-base;
    opacity: 0.5;
    border-color: #efd706;
    cursor: default;
}

.first-payment-note {
    font-size: settings.$font-size-small;
}

.modal .details-modal-preview {
    /* max-width: 100% !important;
  position: absolute;
  top: util.rem-calc(45px);
  right: util.rem-calc(45px);
  bottom: util.rem-calc(45px);
  left: util.rem-calc(45px); */
    width: 100%;
    height: calc(100% - 45px - 45px);
    display: inline-flex;
    flex-direction: column;

    .modal-content {
        overflow-y: visible;
        position: relative;
        max-height: 100%;
        flex-grow: 1;

        /* height: 1px; */

        /* чтобы дочерний блок растягивался на всю высоту */
    }
}

.modal-preview-image-load {
    opacity: 0;
}

.modal-preview-image-complete {
    opacity: 1;
    transition: opacity linear 0.5s;
}

.details-buy-one-click {
    line-height: 1;
}

.details-carousel,
.details-tabs {
    margin-top: util.rem-calc(15px);
}

.details-carousel-hidden {
    opacity: 0;
}

.details-preview-block {
    font-size: 0;
    line-height: 0;
}

.details-preview-block .zoomer-window-title {
    line-height: 1;
    font-size: 12px;
}

.details-preview-block .zoomer-inner ~ .zoomer-window .zoomer-window-title {
    top: auto;
    bottom: 0;
}

.details-modal-preview-block {
    /* display: table;
  width: 100%;
  height: 100%; */
    display: flex;
    flex-direction: row;
    height: 100%;
}

.details-modal-preview-cell {
    /* display: table-cell; */
    vertical-align: top;
}

.details-modal-preview-cell-photo {
    width: 100%;
    vertical-align: middle;
    align-self: center;
}

.details-modal-carousel {
    padding: util.rem-calc(26px) 0;
    height: auto !important;
}

.details-briefdescription {
    p {
        margin: 0;
        padding: 0;
    }
}

.details-spinbox-block {
    width: util.rem-calc(80px);
}

.details-rotate {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-flow: column wrap;
}

.top-shipping-row {
    margin-bottom: 5px;
}

.details-param-name,
.details-param-value,
.details-param-value-weight {
    display: inline;
    font-size: settings.$font-size-normal;
}

.details-avalable-text,
.details-avalable-unit {
    display: inline-block;
}

.gifts-list {
    display: none;
}

.gift-properties {
    display: table;
    padding: 0;
    margin: util.rem-calc(5px) 0 0;
}

.gift-properties__item {
    display: table-row;
}

.gift-properties__itemName,
.gift-properties__itemValue {
    display: table-cell;
    vertical-align: middle;
    padding-right: util.rem-calc(10px);
    font-size: util.rem-calc(12px);
}

.product-gift-image {
    $height: 233px;
    $width: 253px;

    height: $height * 0.3;
    width: $width * 0.3;

    /* background: url('../../images/misc/giftIcon.png') no-repeat top left/100% 100%; */
    background: url('../../images/misc/giftIcon.png') no-repeat top left/100% 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: -10px;

    .gifts-list-container {
        background: white;
        position: relative;
        border-radius: settings.$border-radius-base;
        z-index: 1;
    }

    .gifts-list {
        $width: 300px;
        $outer: 20px;

        display: none;
        box-shadow: settings.$box-shadow-base;
        width: 300px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -($width + $outer);
        white-space: normal;

        .gift-txt {
            text-align: left;
        }

        .gift-txt-descr {
            font-size: settings.$font-size-small;
            color: #e20a0a;
        }

        &::before,
        &::after {
            content: '';
            display: inline-block;
            left: -$outer;
            width: $outer;
            top: 0;
            bottom: 0;
            margin: auto 0;
            position: absolute;
        }

        &::before {
            background: white;
            height: $outer;
            width: $outer;
            left: math.div(-$outer, 2);
            transform: rotate(45deg);
            box-shadow: settings.$box-shadow-base;
        }

        &::after {
            background-color: transparent;
            height: 100%;
        }
    }

    &.active {
        .gifts-list {
            display: block;
        }
    }
}

.details-modal-preview-arrow {
    width: 100px;
    align-self: center;
    font-size: 40px;
    text-align: center;
}

.details-photos__left {
    margin: 0 10px;
    display: flex;
}

.details-photos__right {
    margin: 0 10px;
}

.details-photos__trigger-360,
.details-photos__trigger-video {
    height: 27px;
    width: 25px;
    padding: 0;
}

.details-photos__trigger + .details-photos__trigger {
    margin-left: 20px;
}

.products-view-video-wrap {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    .video-name,
    .video-description {
        font-size: 14px;
        line-height: 1.5;
    }

    .video-name {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .video-description {
        margin-top: 10px;
        white-space: normal;
    }
}

.product-videos-in-modal {
    display: flex;

    .products-view-video-wrap {
        margin-bottom: 0;
    }
}

.carousel-product-video-in-modal:not(.carousel-nav-not-show) {
    /* padding: 0 45px; */
}

.carousel-product-video-in-modal-btn {
    font-size: 36px;
}

.carousel-product-video-in-modal-content {
    width: 650px;
}

.cart-popup-product-sku {
    font-size: 13px;
}

.related-product-carousel-wrap {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.details-row {
    margin-top: util.rem-calc(15px);

    &__amount-table {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.product-card--quickview {
    .details-size-color-picker--cols-1 {
        .color-select-custom,
        .sizes-select-custom {
            width: 50%;
        }
    }
}

.details-size-color-picker--cols-1 {
    .color-select-custom,
    .sizes-select-custom {
        width: 60%;
    }
}

.details-size-color-picker--cols-2 {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;

    .details-colors,
    .details-sizes {
        flex-grow: 1;
        min-width: calc(50% - 5px);
    }

    .sizes-viewer-list {
        height: 100%;
        display: flex;
        flex-direction: column;

        [data-sizes-viewer] {
            flex-grow: 1;
        }

        .select-custom,
        .choices,
        .form-select {
            height: 100%;
        }

        .form-select {
            display: flex;
            align-items: center;
        }
    }
}

.marketplace-button-header {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.marketplace-buttons {
    gap: 20px;
}

.product-preview-modal-wrap {
    .details-modal-preview {
        max-width: 100vw !important;
        height: 100% !important;
        border-radius: 0 !important;

        .modal-header {
            display: none;
        }

        .adv-modal-close {
            top: 15px !important;
            overflow: visible;
            color: black !important;

            &::after {
                content: '\e829' !important;
                right: 50px !important;
                top: -13px;
                background: none !important;
            }
        }
    }

    .details-modal-preview-cell {
        align-self: center !important;
    }

    .details-modal-carousel {
        padding-top: 2rem;
        margin-top: 2rem;
    }
}
