.logo-generator-wrap {
    display: contents;
}

.modal-logo-generator-fonts {
    .logo-generator-fonts-filter {
        font-size: 14px !important;
    }

    .form-field-radio-label {
        display: inline-flex !important;
        align-items: center !important;
        box-sizing: border-box !important;
    }

    .logo-generator-fonts-filter__radio-buttons {
        display: flex !important;
        align-items: center !important;
    }
}

.modal-logo-generator-fonts,
.logo-generator-modal {
    font-family: Rubik, sans-serif !important;
    font-weight: normal !important;
    letter-spacing: initial !important;
    color: #000 !important;
    background: #fff !important;

    .vertical-interval-middle {
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }

    .modal-header {
        padding: 24px 30px 20px !important;
        border: 0 !important;
        border-bottom: 1px solid #efeff4 !important;
        font-size: 1.75rem !important;
        line-height: 1 !important;
    }

    .modal-content {
        padding: 24px 30px 35px !important;
    }

    .adv-modal-close {
        position: absolute !important;
        overflow: hidden !important;
        border-bottom: 0 !important;
        cursor: pointer !important;
        font-size: 0 !important;
        z-index: 1 !important;
        left: auto !important;
        top: 26px !important;
        right: 17px !important;
        width: 24px !important;
        height: 24px !important;
        background-color: #fff !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 2px !important;
        border-bottom-left-radius: 0.3125rem !important;

        &::after {
            content: '' !important;
            width: 24px !important;
            height: 24px !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2929 3.29289C19.6834 2.90237 20.3166 2.90237 20.7071 3.29289C21.0976 3.68342 21.0976 4.31658 20.7071 4.70711L13.4142 12L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L12 13.4142L4.70711 20.7071C4.31658 21.0976 3.68342 21.0976 3.29289 20.7071C2.90237 20.3166 2.90237 19.6834 3.29289 19.2929L10.5858 12L3.29289 4.70711C2.90237 4.31658 2.90237 3.68342 3.29289 3.29289C3.68342 2.90237 4.31658 2.90237 4.70711 3.29289L12 10.5858L19.2929 3.29289Z' fill='%232D9CEE'%3E%3C/path%3E%3C/svg%3E");
            font-size: 30px !important;
            position: absolute !important;
            top: 0 !important;
            right: 0 !important;
            text-shadow: 0 0 9px rgb(0 0 0 / 50%) !important;
        }
    }

    .modal-footer {
        padding: 20px 30px !important;
        border: 0 !important;
        margin: 0 !important;
        border-top: 1px solid #efeff4 !important;
        background-color: #fff !important;
    }

    .adv-modal-inner {
        background: #fff !important;
        border-radius: 0.3125rem !important;
    }

    .spinbox-more,
    .spinbox-less {
        position: static !important;
        padding: 0.125rem 0.3125rem !important;
    }

    .form-field-radio-label {
        &::before {
            content: '' !important;
            position: absolute !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            left: 0 !important;
            width: 25px !important;
            height: 25px !important;
            border-radius: 50% !important;
            border: 1px solid #efeff4 !important;
            background-color: #fff !important;
            right: auto !important;
        }

        .custom-input-radio {
            position: relative !important;
            inset: 0 !important;
            background: none !important;
            border: 0 !important;
            box-shadow: none !important;
            width: 25px !important;
            height: 25px !important;
            margin-left: 0 !important;
        }

        input:checked ~ .custom-input-radio::after {
            content: '' !important;
            position: absolute !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            left: 8px !important;
            width: 10px !important;
            height: 10px !important;
            border-radius: 50% !important;
            background-color: #2d9cee !important;
            right: auto !important;
            margin: 0 !important;
            border: 0 !important;
        }

        .custom-input-text {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    button.logo-generator-modal-btn-save.btn.btn-small.btn-submit.btn--xs.ladda-button,
    .modal-footer button.btn-action,
    .logo-generator button.btn-action,
    .btn-action,
    .modal-footer .btn-action.logo-generator-modal-btn-save,
    button.logo-generator-modal-btn-save {
        display: inline-block !important;
        vertical-align: middle !important;
        text-decoration: none !important;
        border: 0 !important;
        text-align: center !important;
        border-radius: 0.3125rem !important;
        line-height: 1 !important;
        box-sizing: border-box !important;
        cursor: pointer !important;
        background: #2d9cee !important;
        color: #fff !important;
        font-weight: normal !important;
        font-family: Rubik, sans-serif !important;
        box-shadow: none !important;
        font-size: 14px !important;
        padding: 12px !important;
        text-transform: none !important;
        transition: none !important;

        &:active {
            background: #2d9cee !important;
            color: #fff !important;
        }

        &:hover {
            background-color: #6ac0ff !important;
            color: #fff !important;
            display: inline-block !important;
            vertical-align: middle !important;
            text-decoration: none !important;
            border: 0 !important;
            text-align: center !important;
            border-radius: 0.3125rem !important;
            line-height: 1 !important;
            box-sizing: border-box !important;
            cursor: pointer !important;
            font-weight: normal !important;
            box-shadow: none !important;
        }
    }

    .logo-generator__color-picker .color-picker-wrapper .color-picker-swatch:not(.input-group-addon) {
        border-radius: 3px !important;
    }

    input {
        font-family: Rubik, sans-serif !important;
        background-color: #f9f9f9 !important;
        border-radius: 4px !important;
        border: 1px solid #efeff4 !important;
        padding: 13px 18px !important;
        font-size: 16px !important;
        color: #000 !important;
        box-shadow: none !important;
    }

    select {
        background-color: #f9f9f9 !important;
        color: #000 !important;
        padding: 13px 40px 13px 20px !important;
        font-size: 16px !important;
        border: 1px solid #efeff4 !important;
        border-radius: 4px !important;
        width: auto !important;
    }

    .select-custom {
        width: auto !important;

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.10032 0.577411C1.77489 0.251975 1.24725 0.251975 0.921812 0.577411C0.596375 0.902848 0.596375 1.43049 0.921812 1.75592L5.92181 6.75592C6.24725 7.08136 6.77489 7.08136 7.10032 6.75592L12.1003 1.75592C12.4258 1.43049 12.4258 0.902848 12.1003 0.577411C11.7749 0.251975 11.2472 0.251975 10.9218 0.577411L6.51107 4.98816L2.10032 0.577411Z' fill='%232D9CEE'/%3E%3C/svg%3E") !important;
            position: absolute !important;
            right: 20px !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            background-color: transparent !important;
            mask-image: none !important;
            background-repeat: no-repeat !important;
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
        }
    }

    .logo-generator-form__use-slogan-label {
        .custom-input-checkbox {
            display: inline-block !important;
            vertical-align: top !important;
            padding: 0 !important;
            margin: 0 !important;
            font-size: 14px !important;
            cursor: pointer !important;
            position: relative !important;
            transition: color 0.1s linear !important;
            border: 0 !important;
            width: auto !important;
            height: auto !important;
            background: none !important;
            box-shadow: none !important;

            &::after {
                content: '' !important;
                display: block !important;
                width: 15px !important;
                height: 15px !important;
                background-color: #fff !important;
                border-radius: 50% !important;
                position: absolute !important;
                top: 5px !important;
                left: 5px !important;
                z-index: 2 !important;
                transition: transform 0.1s linear !important;
                background-image: none !important;
            }

            &::before {
                content: '' !important;
                display: block !important;
                width: 40px !important;
                height: 25px !important;
                background-color: #c8c7cc !important;
                border-radius: 25px !important;
                position: relative !important;
                z-index: 1 !important;
                transition: background-color 0.1s linear !important;
            }
        }

        input:checked + .custom-input-checkbox::after {
            transform: translateX(16px) !important;
        }

        input:checked + .custom-input-checkbox::before {
            background-color: #2d9cee !important;
        }
    }

    .modal-footer button.btn-submit,
    .btn-submit,
    .modal-footer .btn-action.logo-generator-modal-btn-close,
    button.logo-generator-modal-btn-close {
        color: #2d9cee !important;
        background-color: #f9f9f9 !important;
        border-color: #efeff4 !important;
        border-width: 1px !important;
        border-style: solid !important;
        text-transform: none !important;
        border-radius: 0.3125rem !important;
        font-size: 14px !important;
        font-weight: normal !important;
        padding: 12px !important;
        line-height: 1 !important;
        transition: none !important;

        &:hover,
        &:active {
            color: #2d9cee !important;
            background: #f9f9f9 !important;
            border-color: #efeff4 !important;
            border-width: 1px !important;
            border-style: solid !important;
        }

        &:hover {
            box-shadow: 0 4px 8px rgb(0 0 0 / 5%) !important;
        }
    }

    .logo-generator-modal-btn-save,
    .logo-generator-modal-btn-close {
        padding: 0.5938rem 0.625rem !important;
    }

    .logo-generator__spinbox .spinbox-more,
    .logo-generator__spinbox .spinbox-less {
        display: block !important;
        line-height: 1 !important;
        padding: 0.125rem 0.3125rem !important;
        background-color: transparent !important;
        border: 0 !important;
        width: auto !important;
        height: auto !important;
        cursor: pointer !important;
    }

    .spinbox-input-wrap {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .spinbox-input-wrap input {
        text-align: left !important;
    }

    a.spinbox-less.icon-down-open-before.link-text-decoration-none::before,
    a.spinbox-more.icon-up-open-before.link-text-decoration-none::before {
        color: #666 !important;
    }

    a.spinbox-less.icon-down-open-before.link-text-decoration-none::before,
    a.spinbox-more.icon-down-open-before.link-text-decoration-none::before {
        color: #666 !important;
    }

    a.spinbox-more.icon-up-open-before.link-text-decoration-none::before {
        content: '\e803' !important;
    }

    a.spinbox-more.icon-down-open-before.link-text-decoration-none::before {
        content: '\e800' !important;
    }

    .spinbox-block {
        flex-wrap: nowrap;
    }

    .spinbox__arrows {
        position: static !important;

        .icon-down-open-before {
            font-size: 12px !important;
            color: #666 !important;

            &::before {
                position: static !important;
                font-family: advantshopfonts, sans-serif !important;
                font-size: 12px !important;
                content: '\e800' !important;
                mask-image: none !important;
                width: 1em !important;
                height: auto !important;
                transform: none !important;
                background: none !important;
                left: auto !important;
                top: auto !important;
                border: 0 !important;
                line-height: 1 !important;
            }
        }

        .icon-up-open-before {
            font-size: 12px !important;
            color: #666 !important;

            &::before {
                position: static !important;
                font-size: 12px !important;
                line-height: 1 !important;
                font-family: advantshopfonts, sans-serif !important;
                content: '\e803' !important;
                mask-image: none !important;
                width: 1em !important;
                height: auto !important;
                transform: none !important;
                background: none !important;
                right: auto !important;
                border: 0 !important;
            }

            &::after {
                display: none !important;
            }
        }
    }

    .tabs-content .logo-generator__spinbox .spinbox-input-wrap .spinbox-input,
    .spinbox-input {
        font-weight: normal !important;
        width: 100% !important;
        height: auto !important;
        min-width: 65px !important;
        border-color: #efeff4 !important;
        position: static !important;
    }

    .spinbox-button-disabled {
        opacity: 0.5 !important;
    }

    li.tabs-header-item.tabs-header-active .tabs-header-item-link,
    .tabs-header-item-link {
        font-size: 1.375rem !important;
        border: 0 !important;
        text-decoration: none !important;
        padding: 0 !important;
        color: #000 !important;
        background-color: #fff !important;

        &:hover {
            color: #000 !important;
            text-decoration: none !important;
        }
    }

    .tabs-horizontal .tabs-headers {
        border: 0 !important;
    }

    .tabs-header-item {
        border: 0.0625rem solid transparent !important;
        padding: 0.9375rem 1.25rem !important;
        font-weight: normal !important;
        opacity: 1 !important;
        float: left !important;
        margin-right: 10px !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        background: #fff !important;

        &::before,
        &::after {
            display: none !important;
        }

        &:hover {
            margin-bottom: 0 !important;
            border-bottom: 0 !important;
        }
    }

    .tabs-horizontal .tabs-header-item.tabs-header-active,
    .tabs-header-active {
        border-radius: 0.3125rem !important;
        border: 0.0625rem solid #e4e4e4 !important;
    }

    .tabs-horizontal .tabs-content {
        border: 0 !important;
        padding: 0.9375rem 1.25rem !important;
        background: #fff !important;
    }

    .color-picker-wrapper {
        .color-picker-input-swatch {
            padding-left: 40px !important;
        }

        .color-picker-swatch:not(.input-group-addon).color-picker-swatch-left {
            left: 7px !important;
        }
    }

    .tabs-content .logo-generator__spinbox,
    .logo-generator__spinbox {
        width: 90px !important;
        position: static !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

.logo-generator-modal {
    max-width: 34.375rem !important;
    width: 100% !important;
    top: 15% !important;

    /*  top: 15vh !important; */

    .adv-modal-inner--for-small-size {
        max-height: 82vh !important /* не влезала на всю высоту*/;
    }

    .modal-content {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .form-field-name {
        font-size: 14px !important;
    }

    .vertical-interval-small {
        font-size: 12px !important;
        margin-top: 0.4375rem !important;
        margin-bottom: 0.4375rem !important;
    }
}

.logo-generator-tabs .logo-generator-tabs__header {
    padding: 0 20px;
    box-sizing: border-box;
}

.tabs.logo-generator-tabs .tabs-content {
    padding-bottom: 0;
}

.logo-generator__spinbox {
    width: 80px;
}

.logo-generator__fons-size {
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}

.logo-generator__color-picker .color-picker-wrapper .color-picker-swatch:not(.input-group-addon) {
    top: 50%;
    transform: translateY(-50%);
}

.modal-content-logo-generator-fonts {
    padding: 15px;
}

.logo-generator-fonts-item {
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    border-top-width: 1px;
    border-top-style: solid;
}

.logo-generator-fonts-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.logo-generator-fonts-filter {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 15px;
}

.logo-generator-fonts-filter__name {
    padding-right: 10px;
}

/* .logo-generator-fonts__logo,
.logo-generator-fonts__slogan {
    line-height: 1;
} */

.logo-generator-fonts-filter__value-el {
    margin-right: 15px;
}

.logo-generator-preview-dynamic {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    font-feature-settings: 'liga' 0; // https://github.com/niklasvh/html2canvas/issues/838
}

[data-logo-generator-preview-logo] {
    line-height: normal;
}

.logo-generator-slogan-vertical-top {
    flex-direction: column-reverse;
}

.logo-generator-slogan-vertical-bottom {
    flex-direction: column;
}

.modal-logo-generator-fonts.adv-modal-floating {
    inset: 100px;
    transform: translateX(0%);
}

.logo-generator-preview {
    display: block;
    line-height: normal;
    width: calc(100% + 3px); // 3px - чтобы засечки не обрезались
}

.modal-logo-generator-preview {
    display: inline-block;
}

.logo-generator-link,
.logo-generator-link:hover,
.logo-generator-link:active {
    text-decoration: none;
    font-size: 14px;

    /* line-height: 1; */
}
