@import '../../../../../../Content/src/_partials/saasWarningMessage/styles';

.notification-balance {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -12px;

    &:not(.ng-hide) + .page-head--negitive-indents {
        margin-top: 0;
    }

    &__text {
        padding-left: 16px;
        padding-right: 40px;
    }

    &__close {
        right: 16px;
    }
}
