.order-customer {
    &__title {
        color: var(--color-default);
        margin-bottom: 2px;
        font-size: 18px;
        font-weight: 500;
        line-height: calc(22 / 16);
    }

    &__edit {
        line-height: calc(23 / 14);
    }

    &__choose-block {
        display: flex;
        column-gap: 5px;
        align-items: center;
        margin-left: 0;
    }

    &__current-customer {
        display: inline-flex;
        align-items: center;
        margin-left: 0;
    }

    &__create-user {
        margin-left: 0;
    }
}
