.more-button-popover {
    font-size: 16px;

    $self: &;

    button {
        box-sizing: border-box;
    }

    &__item {
        padding: 11px 18px;

        .order-items-summary-additional > * {
            display: block;
            padding: 11px 18px;
            word-break: break-all;
            white-space: normal;
        }

        &.active-item {
            #{$self}__item-text {
                color: var(--bs-primary);
            }
        }

        #{$self}__item {
            margin-left: -18px;
            margin-right: -18px;
            padding-left: 36px;
            padding-right: 36px;

            &:nth-of-type(1) {
                border-top: 1px solid #fafafb;
                margin-top: 11px;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__item:has(.order-items-summary-additional) {
        padding: 0;
    }

    &__item + &__item {
        border-top: 1px solid #fafafb;
    }

    .popover-inner {
        padding: 0;
    }

    .btn-icon {
        margin-right: 18px;
    }

    &__btn,
    .btn {
        font-size: 16px;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
    }
}

.disabled.more-button-popover__btn {
    .btn-icon {
        color: inherit;
    }
}
