.partners-block {
    background-color: initial;
    padding: 0;

    &__title {
        display: none;
    }

    &__carousel {
        min-height: initial;
    }

    &__partner-list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 127px;
        grid-column-gap: 9px;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 10px;
    }

    &__partner-item {
        flex-basis: auto;
        visibility: visible;
    }

    &__carousel-inner {
        overflow-x: auto;
    }
}
