.lead-info-close {
    display: none;
}

.lead-info {
    --backgroud-color: var(--background-color-site);

    &__title {
        font-size: 34px;
        font-weight: bold;
    }

    &__header {
        padding: 18px;
        position: sticky;
        top: 0;
        background-color: var(--background-color-site);
        z-index: 100;
    }

    &__header-cols {
        display: grid;
        justify-content: space-between;
        grid-template-columns: max-content max-content;
    }

    &__header-buttons {
        grid-auto-flow: column;
    }

    &__progress {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__more-button {
        order: 100;
    }
}
.lead-info__social-container{
    display: flex;
    align-items: center;
}
.lead-info__social-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
