.order-items-summary {
    &.row {
        margin-left: 0;
        margin-right: 0;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        word-break: break-all;
        grid-column-gap: 10px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;

        &--full-width {
            grid-template-columns: 1fr;
        }
    }

    &__col {
        display: block;
        padding-left: 0;
        padding-right: 0;
        word-break: break-word;

        a {
            font-weight: normal;
        }

        .bold {
            font-weight: 500;
        }
    }

    &__edit-btn {
        background-color: transparent;
        border: none;
        color: var(--color-default);
    }

    &__input {
        display: block;
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
        font-weight: 500;
        text-align: left;
        color: var(--color-text) &--alt {
            font-weight: 400;
            color: var(--color-text-alt);
        }
    }

    &__summary {
        font-size: 16px;
        line-height: calc(20 / 16);
        font-weight: 700;
        text-align: left;
    }

    &__input-group {
        margin-bottom: 15px;
    }

    &__btns-wrap {
        display: inline-grid;
        grid-template-columns: 25px 25px;
        grid-column-gap: 5px;
    }

    &__confirm-btn,
    &__cancel-btn {
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__confirm-btn {
        color: #8bc34a;
    }

    &__cancel-btn {
        color: #f15959;
    }
}
