.logo-generator {
    display: grid;

    &__triggers-wrap {
        padding-left: 0;
        order: 11;
    }

    &__btn-wrap {
        padding-bottom: 0;
        display: none;
    }

    &__btn {
        display: block;
    }

    .link-academy {
        display: none;
    }
}
