.subscribe-block{
    .custom-input-checkbox{
        background-color: transparent;
        line-height: normal;
    }
    .custom-input-checkbox{
        border-color: currentColor;
        vertical-align: text-bottom;
    }
}
