<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditPhotoCategory'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row setting__form-group">
            <label ng-if="!isMobile.value" class="ccol-xs-12 col-xs-3 control-label"> {{'Admin.Js.AddEditPhotoCategory.Activity'|translate}} </label>
            <div class="col-xs-12 col-md-1 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                <label class="adv-checkbox-label control-checkbox" ng-class="{'flex-grow' : isMobile.value}">
                    <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.data.Enabled" />
                    <span class="adv-checkbox-emul"></span>
                    <span ng-if="isMobile.value" class="flex-grow m-l-sm">{{'Admin.Js.AddEditPhotoCategory.Activity'|translate}}</span>
                </label>
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label class="col-xs-12 col-md-3 control-label text-required"> {{'Admin.Js.AddEditPhotoCategory.Name'|translate}} </label>
            <div class="col-xs-12 col-md-9">
                <input
                    type="text"
                    class="form-control input-alt"
                    ng-model="ctrl.data.Name"
                    required
                    validation-input-text="{{'Admin.Js.AddEditPhotoCategory.Name'|translate}}"
                    data-autofocus="!isMobile.value" />
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label class="col-xs-12 col-md-3 control-label">{{'Admin.Js.AddEditPhotoCategory.Sort'|translate}}</label>
            <div class="col-xs-12 col-md-9">
                <input type="text" ng-model="ctrl.data.SortOrder" class="form-control input-alt" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
