.auth-sort-order__item {
    background: #fff;
    border: 1px solid #c3c3c3;
    padding: 4px 9px;
    padding-left: 0;
    margin-bottom: -1px;
    align-items: center;
    gap: 5px;
}

.auth-sort-order__mobile-item {
    align-items: center;
    gap: 5px;
    display: flex;
}
