<div>
    <ng-choices
        class="sizes-select-custom select-custom cs-t-4 icon-down-open-after-abs"
        data-ng-model="sizesViewer.sizeSelected"
        data-label-fn="choice.customProperties.SizeName + (choice.customProperties.isDisabled ? ' (' + ('Js.SizesViewer.ControlType.Unavailable' | translate) + ')' : '')"
        data-disabled-key="'isDisabled'"
        data-value-key="'SizeId'"
        data-custom-properties-fn="choice.customProperties"
        data-choices="sizesViewer.sizes"
        data-on-choice="sizesViewer.changeSize({ size: sizesViewer.sizeSelected })"
        data-options="{classNamesAppend: {containerOuter: sizesViewer.ngChoices.classNames.containerOuter}}">
    </ng-choices>
</div>
