@import '../../../../../../Content/vendors/jsTree.directive/themes/advantshop/style.css';

.ng-tree-search.form-control,
.ng-tree-search {
    margin-bottom: 0;
}

.jstree-advantshop .jstree-clicked,
.jstree-advantshop .jstree-clicked:hover {
    box-shadow: none;
}

.jstree-search {
    &__btn-wrap {
        display: block;
        order: 1;
        width: auto;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        .dropdown-toggle::after {
            display: none;
        }
    }

    &__input {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
    }

    &-btn {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    &__btn-text {
        display: none;
    }

    &__btn-icon {
        display: block !important;
    }
}
