@use "../../../styles/features/block-as-card/block-as-card";

.checkout-page {
    $self: &;

    &--modern {
        #{$self}__body {
            display: grid;
            column-gap: 16px;
            align-items: start;
            grid-template-columns: 70% 30%;
        }

        .cart-full {
            &__inner {
                div[data-cart-full-items] {
                    width: 100%;
                }
            }

        }

        .checkout-result,
        .checkout-block-content {
            margin-bottom: 20px;
        }

        .checkout-block-content-inner {
            &:has(.shipping-list),
            &:has(.payment-list) {
                display: block;
            }
        }

        .address-list {
            @extend %block-as-card-parent;

            &-add {
                margin-top: 20px;
            }
        }

        .address-list-item {
            @extend %block-as-card-radius;
            display: grid;
            margin-bottom: 0;

            &:first-child {
                border-top: 0;
            }
        }

        .cart-full-summary {
            &__total,
            &__info {
                padding-inline: 0;
            }
        }

        .checkout-cart {
            &__btn-submit-wrap {
                padding-bottom: 20px;
                border-bottom: 1px solid var(--cs-2);
            }

            &-oneclick-wrap {
                > a {
                    font-size: 13px;
                }
            }

            &-verify,
            &-oneclick {
                padding: 0;
                border-top: 0;
            }
        }

        .checkout-cart-items {
            &__wrap {
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--cs-2);
            }

            &__product {
                padding: 8px;
            }

            &__product.cart-full-product {
                grid-template-columns: none !important;
            }

        }

        .cart-full-product {
            &__additional-info {
                &:not(:has(*)) {
                    display: none;
                }
            }
        }
    }
}
