<div
    class="iframe-responsive__custom-play-wrap"
    data-ng-if="!$ctrl.asBackground && !$ctrl.autoplay && !$ctrl.useDzen"
    data-ng-class="{'ng-hide': !$ctrl.visibleCover}"
    data-ng-style="{'background-image': $ctrl.coverVideoPath}">
    <div class="iframe-responsive__custom-play">
        <svg viewBox="-1 0 20 20" fill="#303030" class="iframe-responsive__custom-play-icon"><path d="M15,10l-9,5V5L15,10z" /></svg>
    </div>
</div>

<iframe
    data-ng-if="!$ctrl.fromUpload && !$ctrl.useVimeo && !$ctrl.useVk"
    id="{{$ctrl.playerId}}"
    allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media; screen-wake-lock;"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen"
    data-ng-src="{{$ctrl.iframeSrc}}"
    webkitallowfullscreen="webkitallowfullscreen"></iframe>

<iframe
    data-ng-if="!$ctrl.fromUpload && !$ctrl.useVimeo && $ctrl.useVk"
    id="{{$ctrl.playerId}}"
    allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media; screen-wake-lock;"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen"
    webkitallowfullscreen="webkitallowfullscreen"></iframe>

<div data-ng-if="$ctrl.useVimeo" id="{{$ctrl.playerId}}"></div>
