<div class="iframe-responsive__item">
    <video
        data-ng-src="{{'./' + $ctrl.src}}"
        playsinline
        preload="auto"
        frameborder="0"
        allowfullscreen
        loop
        autoplay
        muted
        data-ng-if="$ctrl.fromUpload"></video>
    <div data-ng-if="!$ctrl.fromUpload && $ctrl.useVimeo" id="{{$ctrl.playerId}}"></div>
    <iframe
        data-ng-if="!$ctrl.fromUpload && !$ctrl.useVimeo"
        id="{{$ctrl.playerId}}"
        allow="autoplay; fullscreen; accelerometer; gyroscope; picture-in-picture; encrypted-media"
        allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen"
        msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen"
        data-ng-src="{{$ctrl.iframeSrc}}"></iframe>

    <div data-ng-if="!$ctrl.fromUpload && $ctrl.useVimeo" id="{{$ctrl.playerId}}"></div>
</div>
