<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.SettingsTelephony.AddPhone.LinkLeadAndSourse'|translate}}</h2>
    </div>
    <div class="modal-body setting__modal--add-edit">
        <div class="form-group row">
            <div class="col-xs-12">
                <input
                    type="text"
                    class="form-control input-alt"
                    ng-model="ctrl.newPhone"
                    placeholder="{{'Admin.Js.SettingsTelephony.AddPhone.Telephone'|translate}}"
                    pattern="^(\+)?((\d{2,3}) ?\d|\d)(([ -]?\d)|( ?(\d{2,3}) ?)){5,12}\d$"
                    validation-input-text="{{'Admin.Js.SettingsTelephony.AddPhone.TelephoneNumeric'|translate}}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12">
                <select
                    ng-model="ctrl.newOrderSourceId"
                    ng-options="s.value as s.label for s in ctrl.$resolve.params.orderSources"
                    class="form-control input-alt"
                    required>
                    <option value="">{{'Admin.Js.SettingsTelephony.AddPhone.SelectSource'|translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" button-validation button-validation-success="ctrl.addPhone()">
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.cancel()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
