.sales-channels-graph-table {
    overflow: auto;
    padding: 0 9px;
}

.sales-channels-graph__header {
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 18px;
}

.sales-channels-graph-headers,
.sales-channels-graph-item {
    min-width: 715px;
}

.mobile-version {
    .sales-channels-graph-headers,
    .sales-channels-graph-item {
        min-width: initial;
    }

    .sales-channels-graph-table {
        padding: 0;
    }
}

.sales-channels-graph-item {
    &__row {
        min-height: 34px;
    }

    &__col-inner,
    &__name {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__icon {
        vertical-align: middle;
        line-height: 1;
    }

    &__icon svg {
        height: 32px;
        width: 32px;
    }

    &__note {
        color: var(--color-text-alt);
        display: block;
    }
}

.sales-channels-graph-head-item--first {
    padding-left: 32px;
}
