.category-block {
    /* &__footer {
        box-shadow: var(--shadow-on-box);
        padding: 14px 16px;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: -18px;
    }

    &__link {
        display: grid;
        grid-gap: 5px;
        justify-content: space-between;
        grid-template-columns: 1fr auto;
    }

    &__name {
        font-size: 14px;
        line-height: calc(20px / 14px);
        font-weight: 500;
    }

    &__count {
        font-size: 14px;
        line-height: calc(20px / 14px);
        font-weight: 400;
        color: var(--color-text-alt);

        .bracket {
            display: none;
        }
    } */
}
