.lead-info {
    padding-left: 66px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: rgb(0 0 0 / 50%);
    z-index: 10;
    min-width: 1240px;
    box-sizing: border-box;
}
