.details-custom-options {
    .custom-options-list {
        display: grid;
        row-gap: 15px;
    }

    .custom-options-row {
        display: grid;
    }
}

.order-grid-stocks {
    margin-top: 5px;
}

.order-grid-stocks__item + .order-grid-stocks__item,
.order-grid-stocks__button {
    border-top: 1px solid #bbb;
}

.order-grid-stocks__item {
    font-size: 12px;
    padding: 5px 0;
}

.order-grid-stocks__button {
    text-align: right;
    padding-top: 5px;
    font-size: 12px;
}
