@font-face {
    font-family: advantshopfonts;
    src: url('/fonts/advantshopfonts/advantshopfonts.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* logogenerator */
@font-face {
    font-family: AstakhovDished;
    src: url('/fonts/AstakhovDished/AstakhovDished.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Dobrozrachniy;
    src: url('/fonts/Dobrozrachniy/Dobrozrachniy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Train One';
    src: url('/fonts/TrainOne/TrainOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jazz Ball';
    src: url('/fonts/JazzBall/JazzBall.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Krabuler;
    src: url('/fonts/Krabuler/RFKrabuler-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kurica Lapoi 1.3';
    src: url('/fonts/KuricaLapoi1.3/KuricaLapoi1.3.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('/fonts/YesevaOne/YesevaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
