@font-face {
    font-family: Roboto;
    src:
        local('Roboto-Italic'),
        url('/fonts/Roboto/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto-LightItalic'),
        url('/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto-Bold'),
        url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto-Medium'),
        url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto-Light'),
        url('/fonts/Roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto-Regular'),
        url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: advantshopfonts;
    src: url('/fonts/advantshopfonts/advantshopfonts.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
