/* @import './fa'; */

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: ClearSans;
    src: url('/fonts/ClearSans/ClearSans-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: advantshopfonts;
    src: url('/fonts/advantshopfonts/advantshopfonts.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
