<?xml version="1.0"?>

<configuration>
  <system.web.webPages.razor>
    <pages pageBaseType="AdvantShop.Web.Infrastructure.Razor.WebViewPage">
      <namespaces>
        <add namespace="AdvantShop" />
        <add namespace="AdvantShop.Areas.Partners.Extensions" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>