<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Sizes.AddEdit.Size'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting--m-b-sm">
                <span class="text-required setting__label"> {{'Admin.Js.Sizes.AddEdit.Name'|translate}} </span>
            </label>
            <div class="col-xs-12 col-md-9">
                <input
                    data-e2e="SizeName"
                    type="text"
                    class="form-control input-alt"
                    ng-model="ctrl.sizeName"
                    required
                    validation-input-text="{{'Admin.Js.Sizes.AddEdit.Name'|translate}}"
                    data-autofocus="!isMobile.value" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting__label setting--m-b-sm">{{'Admin.Js.Sizes.AddEdit.SortingOrder'|translate}}</label>
            <div class="col-xs-12 col-md-9">
                <input type="text" data-e2e="SizeSort" ng-model="ctrl.sortOrder" class="form-control input-alt" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.Sizes.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Sizes.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
