.bonus-apply {
    &__plus-numb,
    &__applied-numb {
        display: inline-block;
        min-width: 35px;
        text-align: left;
    }
}

.mobile-version {
    .bonus-apply {
        &__range-slider {
            .ngrs-handle-max {
                width: 22px;
                height: 22px;
            }
        }
    }
}
