.bonus-info {
    &__title {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__stats {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 30px;
    }

    &__bonuses {
        display: grid;
        row-gap: 8px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    &__bonuses-note {
        font-size: 14px;
        line-height: 1;
    }

    &__bonuses-value {
        font-size: 20px;
        line-height: 1;
    }

    &__discount {
        display: flex;
        align-items: center;
        column-gap: 5px;

        &-value {
            font-size: 35px;
            line-height: 1;
        }

        &-note {
            font-size: 14px;
            line-height: 1;
            font-weight: normal;
            width: min-content;
        }
    }

    &__level {
        display: grid;
        row-gap: 3px;

        &-note {
            font-size: 14px;
            line-height: 1;
        }

        &-value {
            font-size: 15px;
            line-height: 1;
            font-weight: bold;
        }
    }

    &__card-number {
        margin-bottom: 20px;

        &-value,
        &-note {
            font-size: 14px;
            line-height: 1;
        }
    }

    &__bonus-temporaries {
        margin-bottom: 40px;
    }

    &__transactions-modes-list {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        column-gap: 25px;
        margin: 0 0 25px;
        list-style-type: none;
        padding: 0;
    }
}

.bonus-transactions-mode {
    font-size: 16px;
    line-height: 1;
    border-radius: 0 !important;
    padding: 8px 0 !important;
    border-bottom-width: 2px !important;
    border-top-style: solid !important;
    border-bottom-color: transparent;
    background-color: initial !important;

    &--selected {
        border: 2px solid currentcolor !important;
    }
}

.bonus-transactions-mode.btn {
    border-radius: 0 !important;
    border-style: solid !important;
    border-bottom-width: 2px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.bonus-temporaries {
    word-wrap: break-word;

    &-header-item,
    &-body-item {
        font-size: 0.875rem;
        text-align: left;
        padding: 0.9375rem 0 0.9375rem 0.625rem;

        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px;
        }
    }

    &-body-item {
        border: 0;
    }

    &-header-item {
        font-weight: bold;
        border-width: 0 0 0.0625rem;
        border-bottom: 0.0625rem solid #ededee;

        &:first-child {
            border-radius: 0.3125rem 0 0 0.3125rem;
        }

        &:last-child {
            border-radius: 0 0.3125rem 0.3125rem 0;
        }

        &__end-date {
            width: 28%;
        }
    }
}

.bonus-history-header-item {
    font-weight: bold;
    border-width: 0 0 0.0625rem;
    border-bottom: 0.0625rem solid #ededee;

    &__foundation {
        text-align: left;
    }
}

.mobile-version {
    .bonus-info {
        &__level-value,
        &__discount-value {
            color: currentcolor;
        }
    }
}
