@use '../../../../styles/settings';
@use '../../../../styles/functions/util';
@use '../../../../styles/spinner';

.bonus-form-label-row {
    margin-bottom: settings.$margin-value-base;
}

.bonus-form-label-row .bonus-form-label-content {
    padding: 5px 0 0 25px;
}

.bonus-form-label {
    margin-right: settings.$margin-value-base;
}

.bonus-error-text {
    text-align: center;
    color: #c80505;
    font-weight: bold;
}

.modal-bonus {
    width: 50vw;
}

.modal-bonus-text {
    padding: 5px 0;
}

.bonus-code-success-text {
    text-align: center;
}

.bonus-auth-inner {
    padding-right: 0;
}

.bonus-string-sum {
    white-space: normal;
}

.order-history-header-item,
.order-history-body-item {
    text-align: left;
    padding: util.rem-calc(15px) 0 util.rem-calc(15px) util.rem-calc(10px);
    font-size: settings.$font-size-medium;
    word-break: break-word;
    width: 100%;
}

.bonus-history {
    &-table {
        width: 100%;
        border: 0;
        word-wrap: normal;
    }

    &-empty {
        padding-bottom: 8px;
    }

    &__spinner {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    &-body {
        max-height: 300px;
        overflow-y: auto;
    }

    &-body-item,
    &-header-item {
        flex-grow: 1;
        text-align: left;
        border: 0;
        line-height: 1.5;
        font-size: 14px;
        padding: 0.9375rem 0 0.9375rem 0.625rem;

        &:first-child {
            max-width: 300px;
        }

        &:last-child {
            padding-right: 10px;
            text-align: right;
        }
    }

    &-body-item {
        vertical-align: middle;

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }

        &__inner {
            display: grid;
            row-gap: 8px;
        }

        &__action {
            font-size: 14px;
            line-height: 1;
        }

        &__amount {
            font-size: 15px;
            line-height: 1;
        }

        &__amount-add {
            color: #5ddb5d;
        }

        &__amount-subtract {
            color: indianred;
        }

        &__date {
            font-size: 12px;
            line-height: 1;
        }
    }
}

.bonus-transactions-mode {
    font-size: 16px;
    line-height: 1;
    border-radius: 0 !important;
    padding: 8px 0;
    border-bottom: 2px solid transparent;

    &__selected {
        text-decoration: underline;
    }

    &--selected {
        border-bottom-color: currentcolor;
    }
}

.bonus-temporaries {
    word-wrap: normal;
    width: 100%;
    table-layout: fixed;
    border: 0;

    &__spinner {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    &-header-item,
    &-body-item {
        font-size: 0.875rem;
        text-align: left;
        padding: 0.9375rem 0 0.9375rem 0.625rem;
        line-height: 1.5;

        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px;
        }
    }

    &-body-item {
        border: 0;
    }

    &-header-item {
        font-weight: bold;
        border-width: 0 0 0.0625rem;
        border-bottom: 0.0625rem #ededee solid;

        &:first-child {
            border-radius: 0.3125rem 0 0 0.3125rem;
        }

        &:last-child {
            border-radius: 0 0.3125rem 0.3125rem 0;
        }

        &__end-date {
            width: 25%;
        }
    }
}

.bonus-history-header-item {
    &__foundation {
        text-align: center;
    }
}
