.ui-grid-tree-header-row {
    ~ .ui-grid-row-wrap:not(.ui-grid-tree-header-row),
    &--expanded {
        + .ui-grid-row-wrap:not(.ui-grid-tree-header-row) {
            border-top: 1px solid #ddd;
        }

        .ui-grid-custom__swipe-line {
            margin-bottom: 0;
        }

        &:last-child {
            .card {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    // &--expanded ~ .ui-grid-tree-header-row {
    //  margin-top: 15px;
    // }

    &--expanded .card {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.ui-grid-tree-children .card {
    border-radius: 0;
}

.ui-grid-tree-children-last {
    margin-bottom: 16px;

    .card {
        border-radius: 0 0 8px 8px;
    }
}

.ui-grid-custom-group-header {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
}
