@import '../../../../../../Content/src/_shared/ui-grid-custom/styles//ui-grid.custom.selection.scss';

.ui-grid-custom-selection {
    &-in-header.ng-hide {
        display: block !important;
    }

    &-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        transform: none;
        margin-bottom: 20px;
    }

    &-info {
        display: grid;
        justify-content: flex-start;
        grid-auto-flow: column;
        gap: 5px;
    }
}
