<span
    class="help-trigger-icon-wrap"
    ng-click="$ctrl.isMobile === true && $ctrl.trigger === false ? $ctrl.toggle() : false"
    ng-mouseenter="$ctrl.isMobile == false && $ctrl.trigger === false ? $ctrl.mouseenter($event) : false"
    ng-mouseleave="$ctrl.isMobile == false && $ctrl.trigger === false ? $ctrl.mouseleave($event) : false">
    <span
        class="help-trigger-icon"
        popover-title="{{::$ctrl.title}}"
        popover-trigger="$ctrl.trigger || 'none'"
        popover-placement="{{::$ctrl.placement}}"
        popover-is-open="$ctrl.isOpen"
        popover-append-to-body="$ctrl.helpAppendToBody"
        ng-switch="ctrl.pathSVGSprite != null">
        <svg ng-switch-when="true" class="help-trigger-icon--svg" ng-style="{'backgroundColor': $ctrl.helpTriggerIconBg}" viewBox="0 0 512 512">
            <use ng-attr-xlink:href="{{ctrl.pathSVGSprite}}"></use>
        </svg>
        <span ng-switch-default class="inline-flex">
            <span class="js-help-trigger-icon-content" ng-style="{'backgroundColor': $ctrl.helpTriggerIconBg}"></span>
        </span>
    </span>
</span>
