<form novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Import301Red.Import'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal m-r m-l">
            <div class="form-group">
                <file-uploader
                    class="picture-uploader-middle"
                    accept=".csv"
                    start-src=""
                    upload-url="/localization/import"
                    upload-params=""
                    on-update="ctrl.updateLocalizationGrid()"
                    on-success="ctrl.successLocalization()"
                    go-to-first-step-after-succes="true"
                    style="display: inline-block">
                </file-uploader>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.cancel()">{{'Admin.Js.Import301Red.Cancel'|translate}}</button>
    </div>
</form>
