.client-info {
    &__title {
        color: var(--color-default);
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;
        line-height: calc(22 / 16);
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
        font-weight: 500;

        &--alt {
            font-weight: 400;
            color: var(--color-text-alt);
        }

        &--link {
            font-weight: 400;
            color: var(--color-link);
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        word-break: break-all;
        grid-column-gap: 10px;
        margin-bottom: 16px;
    }

    &__col {
        word-break: break-word;
    }

    &__name {
        display: block;
        margin-bottom: 10px;
    }

    &__customer {
        // display: grid;
        // grid-auto-flow: column;
        // justify-content: space-between;
        // align-items: center;
        // grid-gap: 10px;
        margin-bottom: 16px;
    }

    &__statuses {
        display: grid;
        grid-template-columns: 48px 48px;
        grid-column-gap: 11px;
    }
}
