.dropdown-menu {
    background: #fff;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(86 96 117 / 70%);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 3000;

    a {
        text-decoration: none;
    }

    li {
        a {
            display: block;
            white-space: nowrap;
            padding: 3px 20px;
            clear: both;
            border-radius: 3px;
            color: inherit;
            line-height: 25px;
            margin: 4px;
            text-align: left;
            font-weight: normal;
        }

        .dropdown-menu-link {
            margin: 4px;
            display: block;
        }
    }

    a:hover {
        text-decoration: none;
    }

    > li > a.font-bold {
        font-weight: 600;
    }

    .divider {
        margin: 0;

        &:last-child {
            display: none;
        }
    }

    .divider.divider-small {
        margin: 2px 0;
    }
}

.btn.dropdown-toggle:not(.jstree-search-btn) {
    background-color: transparent !important;
    color: var(--color-link) !important;
    border: 0 !important;
    box-shadow: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-sizing: border-box;

    &::after {
        width: 13px;
        height: 13px;
        border: 0;
        margin: 0;
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: middle;
        background-color: var(--color-link);
        mask-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
    }

    .caret {
        display: none;
    }
}
