.accordion-css {
    &__body {
        display: none;
    }

    &__state {
        opacity: 0;
        position: absolute;

        &:checked ~ .accordion-css__body {
            display: block;
        }
    }
}
