@use '../../Areas/Mobile/styles/defFuncValues';
@use '../../Areas/Mobile/styles/function';
@use '../../Areas/Mobile/styles/variables';
@use '../spinner';

body.sidebar_open {
    left: function.toEmSize(340px, defFuncValues.$desWidth);
    position: fixed;
}

#sidebar,
.sidebar {
    transition: transform 0.1s;
    transform: translate3d(-100%, 0, 0);
    height: var(--min-full-height, 100vh);
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: function.toEmSize(340px, defFuncValues.$desWidth);
    font-weight: normal;
    overflow: hidden;
    background-color: #fff;

    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }

    .svg-spinner {
        height: 100px;
        width: 100px;
    }
}

#sidebar {
    background: #3a3c44;
}

.sidebars-container {
    position: relative;
    z-index: 10000;
    display: block;
}

.sidebar_open #sidebar,
.sidebars-container--activated .sidebar,
.sidebar-state-menu__input:checked + .sidebars-container .sidebar {
    transform: translate3d(0, 0, 0);
}

.sidebar__content {
    height: calc(100vh - 86px - 96px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        /* скроллбар */
        appearance: none;
        width: 6px;
        height: 2px;
        background-color: #efeff4;
    }

    &::-webkit-scrollbar-thumb {
        /* ползунок */
        background-color: #79c3f9;
        border-radius: 10px;
        box-shadow: 0 0 1px rgb(255 255 255 / 50%);
    }
}

.sidebar__content.sidebar__content--without-footer {
    height: calc(100vh - 86px);
}

.sidebar__content.sidebar__content--without-header {
    height: calc(100vh - 96px);
}

.sidebar__content.sidebar__content--without-header-without-footer {
    height: 100vh;
}
/* stylelint-disable */
#sidebar_overlay,
.sidebar_overlay {
    background: rgb(0 0 0 / 20%);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
}
/* stylelint-enable */
/* stylelint-disable */
.sidebar_open #sidebar_overlay,
.sidebars-container--activated .sidebar_overlay,
.sidebar-state-menu__input:checked + .sidebars-container .sidebar_overlay {
    display: block;
}
/* stylelint-enable */
.sidebar .sidebar__header {
    padding: 26px 68px 23px 30px;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #efeff4;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sidebar__close {
    position: absolute;
    top: 26px;
    right: 24px;
    background-color: transparent;
    margin: 0;
    color: #2d9cee;
    width: 33px;
    height: 33px;
    padding: 0;
    border: 0;
    cursor: pointer;

    svg {
        display: block;
        margin: 0 auto;
        width: 24px;
        height: 24px;
    }
}

.sidebar-container__btn,
.sidebar-container-save-btn {
    background-color: #2d9cee;
    border-radius: 4px;
    border: 0;
    color: #fff !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;

    &:hover {
        background-color: #6ac0ff;
    }

    &:active {
        background-color: #0087ea;
    }

    &:disabled {
        background-color: #e2e3e4;
        color: #94969b;
    }
}

.sidebar__footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
    padding: 26px 33px 23px 30px;
    color: #000;
    background-color: #f9f9f9;
    border-top: 1px solid #efeff4;
    text-align: right;
}

.sidebar-content-static {
    visibility: hidden;
}

.sidebar__content-static--open,
.sidebar-state-menu__input:checked + sidebars-container [data-content-id='sidebarMenu'] {
    visibility: visible;
}

.sidebar--open-root {
    overflow: hidden;
}

@media (width >= 1280px) {
    #sidebar,
    .sidebar {
        width: 65%;
    }
}

@media (width >= 1440px) {
    #sidebar,
    .sidebar {
        width: 60%;
    }
}

@media (width >= 1600px) {
    #sidebar,
    .sidebar {
        width: 50%;
    }
}

@media (width >= 1921px) {
    #sidebar,
    .sidebar {
        width: 100%;
        max-width: 950px;
    }
}

.color-scheme-preview .sidebar {
    &_overlay {
        background: rgb(0 0 0 / 0%);
    }
}
