@use 'sass:color';

.social {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    font-size: 16px;
    margin: 0 5px;
    text-decoration: none;

    &::before {
        margin-right: 0;
    }

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    &--vkontakte {

        &:hover {
            opacity: .8;
        }

        &::before {
            width: auto;
        }
    }

    &--facebook {
        background-color: rgb(63 92 150);

        &:hover {
            background-color: color.adjust(rgb(63 92 150), $lightness: 15%);
        }
    }

    &--max {
        background: linear-gradient(
                90deg,
                #5a8cff -16.1%,
                #43d6ff 16.36%,
                #8f3fff 76.63%
        );

        &:hover {
            background: linear-gradient(
                    90deg,
                    color.adjust(#5a8cff, $lightness: 15%) -16.1%,
                    color.adjust(#43d6ff, $lightness: 15%) 16.36%,
                    color.adjust(#8f3fff, $lightness: 15%) 76.63%
            );
        }
    }

    &--youtube {
        background-color: hsl(0deg 100% 50%);

        &:hover {
            background-color: color.adjust(hsl(0deg 100% 50%), $lightness: 15%);
        }
    }

    &--X {
        &:hover {
            --circle-fill: #474545;
        }
    }

    &--instagram {
        background-color: #d10869;

        &:hover {
            background-color: color.adjust(#d10869, $lightness: 15%);
        }
    }

    &--telegram {
        background-color: #35ace1;

        &::before {
            width: 15px;
            height: 14px;
        }

        &:hover {
            background-color: color.adjust(#35ace1, $lightness: 15%);
        }
    }

    &--odnoklassniki {
        background-color: #ee8208;

        &:hover {
            background-color: color.adjust(#ee8208, $lightness: 15%);
        }
    }

    &--yandex-zen {
        background-color: transparent;
        color: #292d42;
        font-size: 31px;
        vertical-align: middle;

        &:hover {
            color: color.adjust(#292d42, $lightness: 15%);
        }

        &::before {
            font-size: 30px;
        }
    }

    &--rutube {
        background-color: #000;

        &:hover {
            background-color: color.adjust(#000, $lightness: 15%);
        }

        &::before {
            margin-left: 2px;
        }
    }
}

@media (width <= 768px) {
    .social {
        margin-bottom: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
