<form novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">Доступные переменные</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.addEditRuleForm = addEditRuleForm">
        <div ng-class="{'m-b-xs': !isMobile.value, 'm-b': isMobile.value}" ng-repeat="key in ctrl.keys">
            <div class="row middle-xs">
                <div class="col-xs-12 col-md-3" ng-class="{'text-align-right' : !isMobile.value}" ng-bind="key.Key"></div>
                <div class="col-xs-12 col-md-9" ng-bind="key.Description"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">Закрыть</button>
    </div>
</form>
