@use '../../../../styles/settings';
@use '../../../../styles/functions/util';

.spinbox-more,
.spinbox-less {
    display: block;
    line-height: 1;
    padding: util.rem-calc(2px) util.rem-calc(5px);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.spinbox-button-disabled {
    cursor: default;
}

.spinbox-input {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

.spinbox-input-wrap {
    padding-right: 0;
}

.spinbox-block {
    flex-wrap: nowrap;
}

.spinbox--mobile {
    position: relative;

    .spinbox-input-wrap {
        padding-right: 0.625rem;
    }

    .spinbox-input {
        text-align: center;
    }

    .spinbox__arrows {
        width: 0;
    }

    .spinbox-less,
    .spinbox-more {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        font-size: 12px;

        &::before {
            margin: 0;
        }
    }

    .spinbox-less {
        left: 0;

        &::before {
            content: '\e844';
        }
    }

    .spinbox-more {
        right: 0;

        &::before {
            content: '\e843';
        }
    }
}

.spinbox-tooltip {
    z-index: 10500;

    .tooltip-inner {
        font-size: 13px;
        white-space: nowrap;
        padding: 8px;
    }
}
