.ui-grid-custom-pagination-select-block,
.pagination {
    margin: 10px 0 0;
}

.ui-grid-custom-pagination-select.form-control {
    font-size: 13px;
    height: 28px;
    line-height: 1;
}

.pagination-wrapper {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    box-sizing: border-box;
}
