.adv-panel-info,
.adv-panel-warn,
.adv-panel-danger {
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    border-radius: 4px;
    border: 1px solid #dde9eb;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;

    /* display: flex; */
    display: none;

    &--show {
        display: flex;
    }
}

.adv-panel-warn {
    background-color: #fff8b0;
}

.adv-panel-info {
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    color: #acaeaf;

    &::before {
        content: '';
        background-image: url('../../../../../../Content/images/icon/icon-help.svg');
        background-repeat: no-repeat;
        font-size: 16px;
        width: 16px;
        height: 16px;
        background-size: 100%;
        display: block;
        flex-shrink: 0;
        margin-right: 10px;
    }

    a,
    span,
    div,
    p {
        font-size: 12px;
        line-height: 16px;
        color: #acaeaf;
    }
}

.adv-panel-danger {
    background-color: #f1453d;
    color: #fff;

    &::before {
        content: '';
        background-image: url('../../../../../../Content/images/icon/icon-help-current.svg');
        background-repeat: no-repeat;
        font-size: 16px;
        width: 16px;
        height: 16px;
        background-size: 100%;
        display: block;
        flex-shrink: 0;
        margin-right: 10px;
    }

    a,
    span,
    div,
    p {
        font-size: 12px;
        line-height: 16px;
        color: #fff;
    }
}
