@import './inputs';

.custom-input-decorator {
    --padding-right-for-icon: 20px;

    display: flex;
    position: relative;
    overflow: hidden;

    & &__native {
        position: absolute;
        bottom: 0;
        opacity: 0;
        width: auto !important;
        height: 100% !important;
        padding: 0 !important;
        line-height: 1 !important;
        border: 0 !important;
        z-index: 6;
    }

    &__select {
        display: inline-flex;
        align-items: center;
    }

    &__select-chevron {
        &-icon {
            display: block;
        }
    }
}

.adv-radio-emul {
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);

    @extend %input-alt;
}

input[type='radio'].adv-radio-input {
    // display: none;
    display: block;
    opacity: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    .adv-radio-emul {
        top: 0;
    }
}

.adv-radio-input:checked ~ .adv-radio-emul {
    background-color: #3b99fc !important;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 50% !important;
        left: 50% !important;
        background: #fff;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 8px !important;
        height: 8px !important;
    }
}

.adv-radio-label {
    display: flex;
    // padding-left: 28px;
    padding-left: 0;
    line-height: 1.4 !important;

    .adv-radio-label-text {
        padding-left: 15px;
    }
}

.adv-radio-emul,
.custom-input-radio {
    width: 20px !important;
    height: 20px !important;

    &::after {
        width: 8px;
        height: 8px;
    }
}

.adv-radio-emul--bordered {
    border: 1px #c3c3c3 solid !important;
}

.custom-options-radio-wrap {
    .custom-input-text {
        font-weight: 400;
    }
}
