.form-control-floating {
    --padding-left: 20px;
    --padding-right: 20px;

    position: relative;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 18px;
    padding-bottom: 0;

    &__label {
        position: absolute;
        pointer-events: none;
        left: var(--padding-left);
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease all;
        color: var(--color-text-alt);
    }

    &__field {
        min-height: 20px;
        border: none;
        resize: none;
        outline: none;
        color: var(--color-default);
        padding-left: 0;
        padding-right: 0;
    }

    /* &__field:not(:placeholder-shown) ~ &__label */
    // &__field:not([value=""]):valid ~ &__label,

    // &__field:valid ~ &__label,
    // &__field:not(:placeholder-shown) ~ &__label,
    // &__field:not([value=""]):valid ~ &__label,
    &__field.ng-not-empty ~ &__label,
    &__field:focus ~ &__label {
        top: 23%;
        font-size: 11px;
    }
}
