:root {
    --input-font-size: 14px;
    --input-height: 40px;
    --input-indents: 10px 12px;
    --select-indents: 10px 30px 10px 12px;
    --input-color: inherit;
    --input-font-size-title: 14px;
    --input-font-size-title-middle: 16px;
}

input.form-control {
    font-size: var(--input-font-size);

    &::placeholder {
        opacity: 0.6;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

textarea,
textarea.form-control {
    line-height: 1.2;
    resize: vertical;
}

%input-alt {
    border: none !important;
    box-shadow: var(--shadow-on-box);
}

.cke,
.textarea-alt,
.ui-grid-custom-inputs-alt .form-control,
.input-alt:not(.ui-select-multiple, .ui-select-container, .cart-add__spinbox-input),
.input-alt.ui-select-multiple,
.input-alt.ui-select-container:not(.ui-select-multiple) .form-control,
input[type='radio'].adv-radio-input:not(:checked) ~ .adv-radio-emul.input-alt-mobile,
.input-alt-mobile:not(.ui-select-multiple, .ui-select-container, .custom-input-radio, .adv-radio-emul),
.input-alt-mobile:not(.ui-select-multiple, .ui-select-container),
.input-alt-mobile.ui-select-multiple,
.input-alt-mobile.ui-select-container:not(.ui-select-multiple) .form-control,
.form-control--box-shadow {
    @extend %input-alt;
}

.cke,
.form-control:not([type='submit'], [type='button'], [type='checkbox'], [type='radio']) {
    color: var(--input-color);
    padding: var(--input-indents);
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 3px;
    font-size: var(--input-font-size);
}

.cke_top {
    border-bottom: 1px solid var(--border-color-cke-panel) !important;
}

.cke_bottom {
    border-top: 1px solid var(--border-color-cke-panel) !important;
}

.form-control:not([type='submit'], [type='button'], [type='checkbox'], [type='radio']):focus {
    box-shadow: var(--outline);
}

input:not(
        [type='submit'],
        [type='button'],
        [type='checkbox'],
        [type='radio'],
        .ui-select-search,
        .cur-year,
        .admin-signin-field,
        #CaptchaCode,
        .auth-field,
        .cart-add__spinbox-input
    ) {
    /* stylelint-disable-line selector-id-pattern */
    height: var(--input-height);
}

/* stylelint-disable selector-id-pattern */
select,
textarea,
input:not(
        [type='submit'],
        [type='button'],
        [type='checkbox'],
        [type='radio'],
        .ui-select-search,
        .cur-year,
        .admin-signin-field,
        #CaptchaCode,
        .auth-field,
        .cart-add__spinbox-input
    ) {
    color: var(--input-color);
    padding: var(--input-indents);
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 3px;
    font-size: var(--input-font-size);

    &:focus {
        box-shadow: var(--outline);
    }

    &.color-picker-input-swatch {
        padding-left: 36px;
    }
}
/* stylelint-enable selector-id-pattern */

.cke_dialog_ui_input_select select.cke_dialog_ui_input_select,
select:not([multiple]) {
    height: var(--input-height);
    padding: var(--select-indents) !important;
}

.cke_dialog_ui_input_text {
    padding: 4px 6px !important;
}

.cke_dialog_ui_input_select select.cke_dialog_ui_input_select {
    padding-right: 3px !important;
}

/* stylelint-disable selector-id-pattern */
select:not(.ng-dirty.ng-invalid, .admin-signin-field),
textarea:not(.ng-dirty.ng-invalid, .admin-signin-field),
.form-control:not([type='submit'], [type='button'], [type='checkbox'], [type='radio'], .ng-dirty.ng-invalid, .ui-select-container),
input:not(
        [type='submit'],
        [type='button'],
        [type='checkbox'],
        [type='radio'],
        .ng-dirty.ng-invalid,
        .ui-select-search,
        .admin-signin-field,
        #CaptchaCode,
        .auth-field,
        .cart-add__spinbox-input
    ) {
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-border-color);
}
/* stylelint-enable selector-id-pattern */

.ng-submitted.ng-dirty [type='text'].ng-invalid,
.ng-submitted.ng-dirty [type='password'].ng-invalid,
.ng-submitted.ng-dirty [type='search'].ng-invalid,
.ng-submitted.ng-dirty [type='email'].ng-invalid,
.ng-submitted.ng-dirty [type='number'].ng-invalid,
.ng-submitted.ng-dirty [type='tel'].ng-invalid,
.ng-submitted.ng-dirty [type='url'].ng-invalid,
.ng-submitted.ng-dirty textarea.ng-invalid,
.ng-submitted.ng-dirty select.ng-invalid {
    box-shadow: var(--shadow-on-box-error);
}

/* checkbox */
.adv-checkbox-label {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-column-gap: 5px;
    align-items: center;
    line-height: 1.6;
    font-size: 14px;
    padding: 0 !important;
    margin: 0 !important;

    &--switch-on-off-wrapper {
        justify-content: flex-end;
    }
}

.adv-checkbox-label + label:not(.adv-checkbox-label),
.adv-checkbox-label + div {
    margin-left: 0 !important;
    padding-left: 0.625rem !important;
    font-weight: 400 !important;
}

.adv-checkbox-emul {
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border-radius: 4px;
    box-shadow: none;
    border-color: var(--checkbox-border-color);
    background-color: #fff;
}

.adv-checkbox-emul + span {
    margin-left: 0 !important;
    padding-left: 0.33rem !important;
}

input[type='checkbox'].adv-checkbox-input {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    &:disabled ~ .adv-checkbox-emul {
        background-color: #ddd !important;
        border-color: #ddd !important;
    }
}

input[type='checkbox'].adv-checkbox-input:checked ~ .adv-checkbox-emul {
    background-color: #0084f4;
    border-color: #0084f4;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../../../images/icons/check.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation) > :not(:last-child, .dropdown-toggle, .dropdown-menu) {
    > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.form-control-title {
    font-size: var(--input-font-size-title);
    margin-bottom: 10px;
    font-weight: 500;

    &--none-margin {
        margin-bottom: 0;
    }

    &--slim {
        font-weight: normal;
    }

    &--middle {
        font-size: var(--input-font-size-title-middle);
    }
}

.form-control-wrap {
    display: flex;
    align-items: center;

    help-trigger {
        margin-left: 5px;
    }
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    height: 28px;
}

.ui-select-container.ui-select-bootstrap:not(.ui-select-multiple) .ui-select-search {
    width: 100% !important;
}

.ui-select-multiple {
    & > div {
        display: flex;
        flex-wrap: wrap;
    }

    .ui-select-match {
        display: flex;
        align-items: center;
        // white-space: nowrap;
        flex-wrap: wrap;

        &-item {
            text-align: left;
        }
    }
}

.ui-select-toggle {
    height: 40px;
}

.ui-select-bootstrap .ui-select-match-text {
    display: inline-flex;
}

.adv-checkbox-input.ng-dirty.ng-invalid ~ .adv-radio-emul,
.ng-submitted.ng-dirty .adv-checkbox-input.ng-invalid ~ .adv-checkbox-emul {
    border-color: #f15959;
    box-shadow: 0 0 0.125rem 0 #f15959;
}

.input-group-btn {
    & + input {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    & > button {
        min-width: 40px;
    }
}

.input-group-btn-discount {
    &--left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 1px 8px rgb(0 0 0 / 7%);

        .btn {
            border-width: 0 !important;
        }

        .btn:last-child:not(.label-currency-active) {
            border-right-width: 1px !important;
        }

        .btn:first-child {
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px !important;
        }
    }
}

.spinbox-input {
    width: 100%;
}
