// @import "../../../../styles/functions/util";

.custom-options-list {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.custom-options-row {
    display: table-row;
}

.custom-options-name,
.custom-options-value {
    display: table-cell;
    vertical-align: top;
}

.custom-options-name {
    padding: calc(5px) calc(5px) calc(5px) 0;

    .control-label {
        padding-top: 0;
    }
}

.custom-options-value {
    padding: calc(5px) 0 calc(5px) calc(5px);
}

.custom-options-checkbox-wrap {
    .adv-checkbox-emul {
        top: 0;
        transform: none;
    }
}
