.user-info-popup {
    .modal-dialog {
        width: 100%;
    }

    .modal-form_top .modal-form__title,
    .modal-form__title {
        font-size: 18px;
        line-height: 1.2;
        margin-right: 0;
        color: #2f4050;
        font-weight: bold;
        margin-bottom: 24px;
        font-family: Roboto, sans-serif;
    }

    .modal-form__descr,
    .segment-list-user {
        font-size: 14px;
    }
}

.modal-new {
    &__inner {
        font-family: Roboto, sans-serif;

        .modal-form {
            padding: 24px 16px;
        }
    }
}

.segment-form {
    &__inner {
        input {
            background-color: #fff;
            box-shadow: none;
            outline: none;
        }
    }

    &__btn-wrap &-btn {
        background-color: var(--btn-success-background, #2196f3);
        color: var(--btn-success-color, #fff);
        font-weight: 400;
    }

    &__btn-add-friend {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 24px;
    }

    &__field-wrap {
        margin-bottom: 24px;
    }

    &__btn-wrap {
        display: grid;
        gap: 20px;
    }
}
