<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">
            {{ ctrl.mode == "add" ? ('Admin.Js.EditMainPageList.Adding'|translate) : ('Admin.Js.EditMainPageList.Editing'|translate) }}
        </h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div ng-if="!isMobile.value" class="col-xs-slim col-md-3 flex-shrink-1">
                    <label for="editMainPageListEnabled">{{'Admin.Js.EditMainPageList.Enabled'|translate}}</label>
                </div>
                <div class="relative" ng-class="{'col-xs-slim flex middle-xs first-xs last-sm' : !isMobile.value, 'col-xs' : isMobile.value}">
                    <label class="adv-checkbox-label" ng-class="{'flex' : !isMobile.value}">
                        <input
                            id="editMainPageListEnabled"
                            type="checkbox"
                            ng-model="ctrl.data.Enabled"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.EditMainPageList.Enabled'|translate}}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div ng-if="!isMobile.value" class="col-xs-slim col-md-3 flex-shrink-1">
                    <label for="editMainPageListShowOnMainPage">{{'Admin.Js.EditMainPageList.ShowOnMainPage'|translate}}</label>
                </div>
                <div class="relative" ng-class="{'col-xs-slim flex middle-xs first-xs last-sm' : !isMobile.value, 'col-xs' : isMobile.value}">
                    <label class="adv-checkbox-label" ng-class="{'flex' : !isMobile.value}">
                        <input
                            id="editMainPageListShowOnMainPage"
                            type="checkbox"
                            ng-model="ctrl.data.ShowOnMainPage"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.EditMainPageList.ShowOnMainPage'|translate}}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="middle-xs" ng-class="{'row control-label' : !isMobile.value, 'flex' : isMobile.value}">
                <div ng-if="!isMobile.value" class="col-xs-slim col-md-3 flex-shrink-1 flex flex-nowrap middle-xs">
                    <label for="editMainPageListShuffle">
                        {{'Admin.Js.EditMainPageList.ShuffleList'|translate}}
                        <help-trigger class="ng-cloak m-l-xs" use-template="true" data-title="{{'Admin.Js.EditMainPageList.ShuffleList'|translate}}">
                            <span class="help-content" ng-bind-html="'Admin.Js.EditMainPageList.ShuffleListHint'|translate"></span>
                        </help-trigger>
                    </label>
                </div>
                <div class="relative" ng-class="{'col-xs-slim flex middle-xs first-xs last-sm' : !isMobile.value, 'flex-grow' : isMobile.value}">
                    <label class="adv-checkbox-label" ng-class="{'flex' : !isMobile.value}">
                        <input
                            id="editMainPageListShuffle"
                            type="checkbox"
                            ng-model="ctrl.data.ShuffleList"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.MainPageProductsStore.Index.DisplayLatestProducts'|translate}}</span>
                    </label>
                </div>
                <help-trigger
                    ng-if="isMobile.value"
                    class="ng-cloak m-l-sm p-l-xs"
                    use-template="true"
                    data-title="{{'Admin.Js.EditMainPageList.ShuffleList'|translate}}">
                    <span class="help-content" ng-bind-html="'Admin.Js.EditMainPageList.ShuffleListHint'|translate"></span>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row" ng-if="ctrl.typeStr == 'new' && ctrl.data.ShowOnMainPage">
            <div class="col-xs-12">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.data.DisplayLatestProductsInNewOnMainPage" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                    <span>{{'Admin.Js.MainPageProductsStore.Index.DisplayLatestProducts'|translate}}</span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="mainPageProductsSorting" class="col-xs-12 col-md-3 control-label text-required">
                {{'Admin.Js.EditMainPageList.Sorting'|translate}}
            </label>
            <div class="col-xs-12 col-md-9">
                <input
                    id="mainPageProductsSorting"
                    type="number"
                    class="form-control input-alt-mobile"
                    data-ng-model="ctrl.data.Sorting"
                    required="required"
                    data-validation-input-text="{{'Admin.Js.EditMainPageList.Sorting'|translate}}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label">{{'Admin.Js.EditMainPageList.Description'|translate}}</label>
            <div class="col-xs-12 col-md-9">
                <textarea ng-model="ctrl.data.Description" class="wysiwyg" ckeditor></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-offset-3">
                <label class="adv-checkbox-label" ng-class="{'control-label' : !isMobile.value}">
                    <input type="checkbox" ng-model="ctrl.data.UseDefaultMeta" class="adv-checkbox-input control-checkbox" />
                    <span class="adv-checkbox-emul"></span>
                    <span>{{'Admin.Js.EditMainPageList.UseDefaultMeta'|translate}}</span>
                </label>
            </div>
        </div>
        <div class="brand-seo-custom-block ng-cloak m-t-md" ng-if="!ctrl.data.UseDefaultMeta">
            <div class="form-group row">
                <label for="mainPageProductsH1" class="col-xs-12 col-md-3 control-label text-required"
                    >{{'Admin.Js.EditMainPageList.H1'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="mainPageProductsH1"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.data.H1"
                        required="required"
                        validation-input-text="{{'Admin.Js.EditMainPageList.H1'|translate}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="mainPageProductsTitle" class="col-xs-12 col-md-3 control-label text-required"
                    >{{'Admin.Js.EditMainPageList.MetaHeader'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="mainPageProductsTitle"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.data.Title"
                        required="required"
                        validation-input-text="{{'Admin.Js.EditMainPageList.MetaHeader'|translate}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="mainPageProductsMetaKeywords" class="col-xs-12 col-md-3 control-label"
                    >{{'Admin.Js.EditMainPageList.MetaKeywords'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input id="mainPageProductsMetaKeywords" type="text" class="form-control input-alt-mobile" ng-model="ctrl.data.MetaKeywords" />
                </div>
            </div>
            <div class="form-group row">
                <label for="mainPageProductsMetaDescription" class="col-xs-12 col-md-3 control-label"
                    >{{'Admin.Js.EditMainPageList.MetaDescription'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="mainPageProductsMetaDescription"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.data.MetaDescription" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-12 col-md-3 control-label"></label>
                <div class="col-xs-12 col-md-9">{{'Admin.Js.EditMainPageList.SEOAvailableVariables'|translate}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
