.delimiter {
    opacity: 0;
    border: 0;
    background-color: #ddd;

    + .delimiter {
        display: none;
    }
}

.mobile-version {
    .delimiter {
        opacity: 1;
        margin: 20px 0;
        height: 1px;

        &--negative-popup {
            margin-left: -0.625rem;
            margin-right: -0.625rem;
        }
    }
}
