<div data-ng-switch="orderProduct.items.OrderedProducts.length > 0">
    <div data-ng-switch-when="true" class="products-view-mobile-modern-tile">
        <div class="catalog-view__product-item-wrap">
            <div class="mobile-product-view-item cs-t-1 mobile-product-view__item" ng-repeat="item in orderProduct.items.OrderedProducts">
                <div class="mobile-product-view-item-image-wrap" data-ng-switch="orderProduct.linkAsQuickview === true">
                    <a data-ng-switch-default class="mobile-product-view-item-image-block" ng-href="{{item.Url}}" data-ng-style="{'height': orderProduct.productViewOptions.photoHeight}">
                        <span class="mobile-product-view-item-image-inner js-product-view-image-container product-view-image-container--block">
                        <img ng-src="{{item.PhotoSmallUrl}}" width="200" height="200" />
                        </span>
                    </a>
                    <span data-ng-switch-when="true" data-ng-switch="item.ProductId != null">
                        <span  data-ng-switch-default class="mobile-product-view-item-image-inner js-product-view-image-container product-view-image-container--block" data-ng-style="{'height': orderProduct.productViewOptions.photoHeight}">
                            <img ng-src="{{item.PhotoSmallUrl}}" width="200" height="200" />
                        </span>
                        <a data-ng-style="{'height': orderProduct.productViewOptions.photoHeight}"
                            data-ng-switch-when="true"
                            class="mobile-product-view-item-image-block"
                            data-quickview-trigger
                            data-alone="true"
                            data-product-id="item.ProductId">
                             <span class="mobile-product-view-item-image-inner js-product-view-image-container product-view-image-container--block">
                            <img ng-src="{{item.PhotoSmallUrl}}" width="200" height="200" />
                             </span>
                        </a>
                    </span>
                </div>
                <div class="mobile-prod-info-wrap mobile-product-view-item__wrap">
                    <div class="mobile-product-view-item__inner">
                        <div class="mobile-product-view-item__name">
                            <span data-ng-if="item.Url !== null" data-ng-switch="orderProduct.linkAsQuickview === true">
                                <a data-ng-switch-default ng-href="{{item.Url}}" class="prod-name text-floating">{{item.Name}}</a>
                                <span data-ng-switch-when="true" data-ng-switch="item.ProductId != null">
                                    <span data-ng-switch-default class="prod-name text-floating">{{item.Name}}</span>
                                    <span
                                        data-ng-switch-when="true"
                                        class="prod-name text-floating"
                                        data-quickview-trigger
                                        data-alone="true"
                                        data-product-id="item.ProductId"
                                        >{{item.Name}}</span
                                    >
                                </span>
                            </span>
                            <span data-ng-if="item.Url == null" class="prod-name text-floating">{{item.Name}}</span>
                        </div>
                    </div>
                </div>
                <div
                    class="order-product__data order-product__data--mobile"
                    data-ng-click="myaccount.showDetailsOrder(item.LastOrderNumber, tabContent.header)">
                    <span>
                        <span class="order-product__last-order">{{::'Js.MyAccount.OrderProductHistory.LastOrder' | translate}}: </span>
                        <span class="link">
                            <span class="order-product__order-number">№ {{item.LastOrderNumber}}</span>
                            <span class="order-product__order-date-time">
                                <span class="order-product__order-date"
                                    >{{::'Js.MyAccount.OrderProductHistory.BeforeOrderDate' | translate}} {{item.LastOrderDate}}</span
                                >
                                <span class="order-product__order-time">{{item.LastOrderTime}}</span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="mobile-product-view-item-price-data">
                    <div class="price cs-l-8" ng-bind-html="item.Price"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-switch-when="false" class="text-align-center p-t-md">
        <span
            data-ng-bind="( orderProduct.isLoaded ? 'Js.MyAccount.OrderProductHistory.Empty' : 'Js.MyAccount.OrderProductHistory.Loading') | translate"></span>
    </div>
</div>
