<div class="modal-header" is-mobile>
    <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.SelectCustomer.SelectingCustomer'|translate}}</h2>
</div>
<div class="modal-body modal-body--alt">
    <div is-mobile>
        <ui-grid-custom
            grid-unique-id="selectUserGrid"
            grid-options="ctrl.gridOptions"
            grid-url="'customers/getcustomers'"
            grid-params="{all: true}"
            grid-selection-enabled="false"
            grid-extend-ctrl="ctrl"
            grid-on-init="ctrl.gridOnInit(grid)"
            ng-if="!isMobile.value">
        </ui-grid-custom>
        <ui-grid-custom
            grid-unique-id="selectUserGrid"
            grid-options="ctrl.gridOptions"
            grid-url="'customers/getcustomers'"
            grid-params="{all: true}"
            grid-selection-enabled="false"
            grid-extend-ctrl="ctrl"
            grid-on-init="ctrl.gridOnInit(grid)"
            ng-if="isMobile.value">
            <ui-grid-custom-override-control class="ng-cloak">
                <div class="card card--gap-row-sm grid g-xs m-b-md">
                    <div class="card__title g-col-12" ng-bind="row.entity.Name"></div>
                    <div class="card__text g-col-12 m-t-xs" ng-if="row.entity.Phone" ng-bind="row.entity.Phone"></div>
                    <div class="card__text card__text--color-alt g-col-12" ng-if="row.entity.Email" ng-bind="row.entity.Email"></div>
                </div>

                <!--                <div class="card m-b-md">-->
                <!--                    <a href="" ng-click="grid.appScope.$ctrl.gridExtendCtrl.selectCustomer(row.entity.CustomerId)">{{'Admin.Js.SelectCustomer.Select'|translate}}</a>-->
                <!--                    <div class="card__row" ng-if="row.entity.Name">-->
                <!--                        <span class="card__text">{{'Admin.Js.SelectCustomer.Customer'|translate}}</span>-->
                <!--                        <span class="card__text" ng-bind="row.entity.Name"></span>-->
                <!--                    </div>-->
                <!--                    <div class="card__row" ng-if="row.entity.Phone">-->
                <!--                        <span class="card__text">{{'Admin.Js.SelectCustomer.Phone'|translate}}</span>-->
                <!--                        <span class="card__text" ng-bind="row.entity.Phone"></span>-->
                <!--                    </div>-->
                <!--                    <div class="card__row" ng-if="row.entity.Email">-->
                <!--                        <span class="card__text">Email</span>-->
                <!--                        <span class="card__text" ng-bind="row.entity.Email"></span>-->
                <!--                    </div>-->
                <!--                </div>-->
            </ui-grid-custom-override-control>
        </ui-grid-custom>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.SelectCustomer.Cancel'|translate}}</button>
</div>
