.order-info {
    $self: &;

    &__title {
        color: var(--color-default);
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;
        line-height: calc(22 / 16);
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        word-break: break-all;
        grid-column-gap: 10px;
        margin-bottom: 15px;

        &--m-b-xs {
            margin-bottom: 5px;
        }

        &--m-b-sm {
            margin-bottom: 10px;
        }

        &--m-b-md {
            margin-bottom: 15px;
        }

        &--full {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }

        #{$self}__text {
            font-weight: 500;
        }
    }

    &__col {
        &--text-right {
            text-align: right;
        }
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);

        &--alt {
            font-weight: 400;
            color: var(--color-text-alt);
        }

        &-review {
            font-weight: 400 !important;
            word-break: break-word;
        }
    }

    &__contacts {
        display: grid;
        grid-template-columns: repeat(auto-fit, 48px);
        gap: 11px;
        margin-top: 11px;
        margin-bottom: 22px;
    }

    &__contacts-item {
        > ui-modal-trigger {
            display: block;
        }
    }

    &__address {
        margin-bottom: 24px;
    }

    &__address-inner {
        display: grid;
        grid-column-gap: 10px;
        align-items: center;
        grid-template-columns: 1fr 48px;
        justify-content: space-between;
    }

    &__generation-docx,
    &__additional,
    &__utm {
        margin-bottom: 16px;
    }

    &__telegram {
        color: #2aabee;
    }
}
