<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Units.AddEdit.Unit'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting--m-b-sm">
                <span class="text-required setting__label"> {{'Admin.Js.Units.AddEdit.Name'|translate}} </span>
            </label>
            <div class="col-xs-12 col-md-8">
                <input
                    type="text"
                    class="form-control input-alt"
                    ng-model="ctrl.name"
                    required
                    validation-input-text="{{'Admin.Js.Units.AddEdit.Name'|translate}}"
                    data-autofocus="!isMobile.value" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting--m-b-sm">
                <span class="text-required setting__label"> {{'Admin.Js.Units.AddEdit.NameInClient'|translate}} </span>
            </label>
            <div class="col-xs-12 col-md-8">
                <input
                    type="text"
                    class="form-control input-alt"
                    ng-model="ctrl.displayName"
                    required
                    validation-input-text="{{'Admin.Js.Units.AddEdit.NameInClient'|translate}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting--m-b-sm">
                <span class="setting__label"> {{'Admin.Js.Units.AddEdit.MeasureType'|translate}} </span>
            </label>
            <div class="col-xs-12 col-md-8 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                <select class="form-control input-alt" ng-model="ctrl.measureType" ng-options="s.Text for s in ctrl.measureTypes track by s.Value">
                    <option>{{'Admin.Js.Units.AddEdit.NotSelected'|translate}}</option>
                </select>
                <help-trigger
                    class="ng-cloak help-trigger-icon-abs m-l-xs"
                    data-title="{{'Admin.Js.Units.AddEdit.MeasureTypeHelpName'|translate}}"
                    ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                    use-template="true">
                    <p>{{'Admin.Js.Units.AddEdit.MeasureTypeHelp'|translate}}</p>
                </help-trigger>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-3 control-label setting__label setting--m-b-sm">{{'Admin.Js.Units.AddEdit.SortingOrder'|translate}}</label>
            <div class="col-xs-12 col-md-8">
                <input type="text" ng-model="ctrl.sortOrder" class="form-control input-alt" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.Units.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Units.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
