@import '../../../../../../Content/src/_partials/help-trigger/styles/help-trigger';

help-trigger {
    min-width: 14px;
}

.help-trigger {
    &-icon-abs {
        position: static;
        transform: translateY(0%);
    }

    &-icon-wrap {
        height: 14px;

        /*    padding: 20px 5px;
    padding-left: 15px; */
    }

    &-icon {
        position: relative;
        height: 13px;
        width: 14px;
        box-sizing: content-box;

        &::after {
            content: '';
            width: 14px;
            height: 14px;
            background-color: var(--color-link);
            mask-image: url('../../../images/icons/question.svg');
        }

        &--svg {
            display: none !important;
        }
    }
}
