<div class="sortable-row product-pic-list-sortable product-pic-list-sortable--one-row product-pic-list-sortable-small-gap">
    <div ng-repeat="item in ctrl.categories" class="card" ng-class="{'m-b-xs': !isMobile.value }">
        <div class="card__row card__row--middle product-pic__cols">
            <span class="cart__col"> {{item.Name}} </span>
            <a
                class="card__col card__col--end link-invert link-decoration-none fas fa-times"
                ng-click="ctrl.removeCategory(item.CategoryId)"
                href=""></a>
        </div>
    </div>
    <div class="product-pic-list-item pointer card card--stretch text-center product-empty-block">
        <ui-modal-trigger
            class="flex flex-center flex-justify-center"
            data-controller="'ModalSelectCategoriesCtrl'"
            controller-as="ctrl"
            template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
            data-resolve="{'params': { 'selectedIds': ctrl.categoryIds}}"
            data-on-close="ctrl.addCategories(result, 10)">
            <div class="product-block flex-grow">
                <div class="product-block-content product-block-content--max-height">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        id="Capa_1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 42 42"
                        style="enable-background: new 0 0 42 42"
                        xml:space="preserve"
                        width="61px"
                        height="61px">
                        <polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " fill="#eaeced" />
                    </svg>
                </div>
            </div>
        </ui-modal-trigger>
    </div>
</div>
