.mobile-version {
    .cookies-policy-block {
        box-shadow: none;
        padding: var(--adv-m-4);
        border-radius: var(--adv-rounded-4);
        font-size: var(--adv-text-3);
        box-sizing: border-box;
        background-color: var(--cs-11);
    }

    .cookies-policy-cell {
        padding: 0;
        font-size: var(--adv-text-3);
        color: var(--cs-8)
    }

    .cookies-policy-button {
        margin-top: var(--adv-m-4);
    }

    .cookies-policy__btn-close {
        width: 100%;
        color: var(--btn-bg);
        background: var(--btn-color);

        &:hover {
            color: var(--btn-bg-hover);
            background: var(--btn-color-hover);
        }

        &:active {
            color: var(--btn-bg-active);
            background: var(--btn-color-active);
        }
    }

}
