<div data-oc-lazy-load="['https://pickpoint.ru/select/postamat.js', 'pickpoint']">
    <div data-ng-controller="PickpointCtrl as pickpointPopup">
        <a href="javascript:void(0)" data-ng-click="pickpointPopup.open(shippingTemplate.shipping, shippingTemplate.changePrepare);"
            >{{ ::'Js.ShippingTemplate.SelectPickupPoint' | translate }}</a
        >
        <div data-ng-bind="shippingTemplate.shipping.PickpointAddress"></div>

        <shipping-item-error
            data-ng-if="shippingTemplate.shipping.PickpointAddress == null"
            error-text="::'Js.Shipping.SelectPickupPointOrDeliveryTemplate.NotSelected' | translate"></shipping-item-error>
    </div>
</div>
