<div class="shipping-control-select" data-ng-init="shippingTemplate.fireTemplateReady()" data-is-mobile>
    <span class="shipping-item-label-text" data-ng-bind="shippingTemplate.shipping.PointListTitle"></span>
    <span class="select-custom cs-t-4 icon-down-open-after-abs">
        <select
            aria-label="{{shippingTemplate.shipping.PointListTitle}}"
            class="cs-bg-2 input-alt-mobile"
            data-ng-options="point.Address for point in shippingTemplate.shipping.ShippingPoints track by point.Id"
            data-ng-model="shippingTemplate.shipping.SelectedPoint"
            data-ng-init="shippingTemplate.dirty = false"
            data-ng-click="shippingTemplate.dirty = true"
            data-ng-change="shippingTemplate.dirty === true ? shippingTemplate.changePrepare($event, shippingTemplate.shipping.SelectedPoint) : null"
            data-ng-required="shippingTemplate.isSelected">
            <option value="">{{'Js.Shipping.PointList.NotSelected' | translate}}</option>
        </select>
    </span>
    <div class="shipping-item-additional-description">
        <div data-ng-bind="shippingTemplate.shipping.SelectedPoint.Tel"></div>
        <div data-ng-bind="shippingTemplate.shipping.SelectedPoint.TimeWorkStr"></div>
        <div data-ng-bind="shippingTemplate.shipping.SelectedPoint.Description"></div>
    </div>
</div>
