<div class="shipping-control-select" data-ng-init="shippingTemplate.fireTemplateReady()">
    <span
        class="select-custom cs-t-4 icon-down-open-after-abs"
        data-ng-if="shippingTemplate.shipping.ShippingPoints != null && shippingTemplate.shipping.ShippingPoints.length > 0">
        <select
            class="cs-bg-2 input-alt-mobile"
            data-ng-options="point.Address for point in shippingTemplate.shipping.ShippingPoints track by point.Id"
            data-ng-model="shippingTemplate.shipping.SelectedPoint"
            data-ng-init="shippingTemplate.dirty = false"
            data-ng-click="shippingTemplate.dirty = true"
            data-ng-required="shippingTemplate.isSelected"
            data-ng-change="shippingTemplate.dirty === true ? shippingTemplate.changePrepare($event, shippingTemplate.shipping.SelectedPoint) : null">
            <option value="">{{'Js.Shipping.PointList.NotSelected' | translate}}</option>
        </select>
    </span>
    <read-more
        class="shipping-item-description cs-t-3"
        data-max-height="30"
        data-speed="1s"
        data-ng-if="shippingTemplate.shipping.SelectedPoint.Description || shippingTemplate.shipping.SelectedPoint.TimeWorkStr">
        <span data-ng-bind-html="shippingTemplate.shipping.SelectedPoint.TimeWorkStr"></span>
        <span data-ng-bind-html="shippingTemplate.shipping.SelectedPoint.Description"></span>
    </read-more>
</div>
