.dash {
    padding: 12px 0;
}

.font-size--small {
    font-size: var(--font-size-small);
}

.font-weight-normal {
    font-weight: normal;
}

.stretch-xs {
    align-items: stretch;
}

.clear {
    display: block;
    overflow: hidden;
}

%form-row {
    margin-bottom: 24px;
}

.form-row {
    @extend %form-row;
}

.pointer-events-none {
    pointer-events: none;
}

.category-modal-change-text {
    padding-bottom: 20px;
}

.popover-content .label-currency-active,
.product-currency-active {
    background-color: #2d9ced;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        background-color: #2d9ced;
        color: #fff;
    }
}

.jstree-advantshop-grab ~ .jstree-advantshop-name {
    padding-left: 25px;
}

.jstree-advantshop .jstree-leaf > .jstree-anchor .jstree-advantshop-name {
    padding-left: 3px;
}

.full-width {
    width: 100%;
}
// указал shipping-item-info, т.к. отступы могут сломать верстку
.shipping-item-info .vertical-interval-middle {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.m-t--mobile {
    margin-top: 15px;
}
.b-t-1{
    border-top: 1px solid #d6d6d6;
}
