html {
    font-size: 14px;
}

h2 {
    font-size: 1.45rem;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 1px;
    font-weight: 400;
}

body {
    margin: 0;
    font-size: 14px;
    color: #1a051d;
    font-family: Roboto, sans-serif;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

.block {
    display: block;
}

#page-wrapper {
    background-color: var(--background-color-site);
}

.container-wrap,
#page-wrapper {
    min-height: auto;
}

.container-wrap {
    min-height: calc(100vh - 76px);
    padding: 12px var(--container-wrap-horizontal-padding);
}

.content-stretch {
    display: block;

    > .content-container.ibox {
        padding: 0;
    }
}

.sticky-page-name {
    flex-wrap: wrap;

    .header-subtext {
        margin-left: 0;
    }

    .page-name-block-item-additional {
        display: grid;
        grid-gap: 5px;
        white-space: normal;
        flex-shrink: 1;
    }

    .page-name-block-item-main {
        flex-shrink: 1;
    }
}

%control-label {
    display: inline-block;
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    margin-bottom: 10px !important;
    color: var(--color-default);
}

.block-additional-parameters-name,
.control-label {
    @extend %control-label;

    // &--radio {
    //  margin-bottom: 0 !important;
    // }
}

.modal-body-mobile {
    background-color: var(--background-color-site);
}

/* text-required */
.text-required {
    &::after {
        content: '*';
        color: #f15959;
        padding-left: 4px;
    }

    &-abs {
        position: relative;

        &::after {
            position: absolute;

            /* top: 0; */
            bottom: 0;
            left: 100%;
        }
    }
}

.version {
    color: transparent;
    font-size: 14px;
}

.header-setting__search {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.header-setting__search-form {
    width: calc(99vw - 32px);
}

.header-setting__search-form .search-icon--custom {
    display: none;
    transform: translate(0, 50%);
    right: 12px;
    width: 18px;
    height: 18px;
}

.header-setting__search-form .search-input {
    background-image: none;
}

.header-setting__search-form .search-input:focus {
    outline: 0;
    outline-offset: 0;
    background-position: 330px;
}

.header-setting__search-icon,
.header-setting__search-label1,
.header-setting__search-label2,
.header-setting__search-form {
    display: none;
}

.header-setting__search-label2 {
    align-self: center;
}

#header-setting-search-icon1:checked ~ .header-setting__search-label1 {
    display: block;
}

#header-setting-search-icon2:checked ~ .header-setting__search-label2 {
    display: none;
    position: absolute;
    z-index: 50;
    right: 10px;
}

#header-setting-search-icon2:checked ~ .header-setting__search-label2,
#header-setting-search-icon2:checked ~ .header-setting__search-form {
    display: block;
}

#header-setting-search-icon2:checked ~ .header-setting__search-label1 {
    display: none;
}

.header-setting__page-head {
    padding: 14px 18px !important;
}

.header-setting__search .search-input-wrap > .dropdown-menu {
    right: 0;
    left: auto !important;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(99vw - 32px);
    margin-top: 10px;
}

.header-setting__search .search-col-category {
    font-weight: 600;
    font-size: 14px;
    max-width: 80vw;
    min-width: 30vw;
    width: calc(99vw - 250px);
}

.header-setting__search .search-col-category-desc {
    font-size: 10px;
}

.swal2-container {
    z-index: 2200 !important;
}

.post-modal-background {
    opacity: 0.4;
    display: block;
    background-color: #000;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1058;
}

.js-iframe-wrap .iframe {
    position: relative;
    z-index: 1059;
}

// стили когда открыт sidebar
.sidebar-open {
    html,
    body {
        // position: fixed;
        // overflow: hidden;
        overflow: hidden;
        width: 100%;
    }

    .container-wrap {
        pointer-events: none;
    }
}

.flatpickr-input + .input-group-addon,
.flatpickr-custom-wrap + .input-group-addon {
    border: 1px solid transparent;
}

.flatpickr-input,
.flatpickr-custom-wrap {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.color-picker-wrapper .color-picker-swatch {
    left: 6px !important;
    top: 6px !important;
}

.color-picker-wrapper .color-picker-input {
    padding-left: 40px !important;
}

// .modal-body .shipping-item-radio {
//    margin-right: 10px;
// }

.form-group {
    margin-bottom: 24px;
}

.swipe-line {
    &__inner {
        &--right-stoped,
        &--moving:not(&--moving-without-right-el) {
            .card {
                border-bottom-right-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }
        }
    }
}

.lead-info-close {
    display: none !important;
}

.dropdown.ui-select-bootstrap.open {
    z-index: 3000;
}

/* customers fields */

.custom-fields-row-wrap {
    flex-basis: 100%;
    max-width: 100%;
}

.width-auto {
    width: auto !important;
}

.input-group {
    &-label {
        border: 0;
    }
}

.block-additional-parameters-content .dropdown-menu {
    z-index: 10;
}

.add-event-dropdown {
    display: inline-flex;
    width: auto;
}

.lead-events__item .lead-events__item__label {
    text-decoration: none;
}

.booking-sheduler-container .fullcalendar .fc .fc-axis {
    padding: 4px 4px 0;
}

.sources-orders-block .source-order-percent {
    font-size: 12px;
}

.month-container {
    flex-grow: 1;
}

.calendar table {
    width: 100%;
}

.options-icon::before {
    content: '\f013';
    font-family: 'Font Awesome 5 Free'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-weight: 900;
}

.vk-lead-photo {
    width: 50px;
}

.address-dialog-overlay {
    .input-required {
        position: relative;
    }

    .input-required::after {
        content: '*';
        position: absolute;
        top: 0;
        color: red;
        left: 110%;
    }
}

.customer-socials {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 5px;
}

.address-list-address-text {
    padding-left: 0 !important;
}

.shipping-intervals {
    &__list {
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        max-height: 250px;
    }

    &__item {
        width: 180px;
    }
}

.form-field-name,
.form-field-input {
    display: block;
}

.popover--with-form.order-shipping__popover {
    .arrow {
        display: none;
    }
}
