.funnel {
    &__label {
        font-size: 14px;
        line-height: calc(16 / 14);
        font-weight: 500;
    }

    &__picture-uploader-wrap {
        a {
            display: inline-block;
            margin-bottom: 7px;
        }
    }

    &__form-group {
        margin-bottom: 24px;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 24px;
        font-weight: 500;
        margin-top: 0;
    }

    &__switcher-state-wrap {
        .switcher-state-label {
            display: flex;
        }

        .switcher-state-trigger {
            flex-grow: 1;
            text-align: center;
        }
    }

    &__change-status-btns-wrap {
        display: flex;

        .btn {
            flex-grow: 1;
            font-size: 13px;
        }
    }
}

.funnel-page__name {
    font-size: 18px;
    margin: 0 0 5px;
}

.funnel-page__header {
    flex-wrap: wrap;
}

.site__enabled-toggle {
    border: 1px solid currentcolor;
    background-color: #fff;
    border-radius: 4px;
}

.site__enabled-toggle--on {
    color: #1ec17b;
}

.site__enabled-toggle--on:hover,
.site__enabled-toggle--on:active,
.site__enabled-toggle--on:focus {
    color: #1ec17b;
}

.site__enabled-toggle--off {
    color: #d33126;
}

.site__enabled-toggle--off:hover,
.site__enabled-toggle--off:active,
.site__enabled-toggle--off:focus {
    color: #d33126;
}

// .funnel__tab-block .nav-tabs {
//  grid-row-gap: 15px;
// }

.funnel__grid-link {
    text-decoration: none;
    color: #242424;

    &:active,
    &:hover {
        text-decoration: none;
        color: #242424;
    }
}

.modal-body-employee-sheduler {
    .fc-header-toolbar {
        display: grid;
        grid-template-columns: 1fr;
    }

    .fc-left {
        margin-bottom: 20px;
    }
}

.booking-journal-empl-name {
    font-family: inherit;
}
