#page-wrapper.page-wrapper--new-dasboard {
    padding: 0;
}

.nav-tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    margin-bottom: 30px;
}

.ibox .ng-tab > a {
    white-space: nowrap;
    padding: 5px 12px;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
}

.nav > .nav-item {
    margin-bottom: 0;
}
