:root {
    --background-color-site: #f9f9f9;
    --color-danger: red;
    --color-default: #242424;
    --color-text: hsl(0deg 0% 59%);
    --color-text-alt: #acaeaf;
    --color-link: #0084f4;
    --color-link-alt: #242424;
    --color-menu-icon: #959ba4;
    --color-menu-icon-hover: #0084f4;
    --color-menu-icon-active: #0084f4;
    --font-size-default: 14px;
    --line-height-default: 16px;
    --font-size-xssmall: 10px;
    --line-height-xssmall: 11px;
    --font-size-xsmall: 11px;
    --line-height-xsmall: 16px;
    --font-size-small: 12px;
    --line-height-small: 16px;
    --font-size-middle: 18px;
    --line-height-middle: 22px;

    /* --shadow-on-box: 0 1px 25px rgb(0 0 0 / 8%); */
    --shadow-on-box: 0 1px 8px rgb(0 0 0 / 5%);
    --shadow-on-box-error: 0 1px 8px #f15959;
    --border-radius-on-box: 4px;
    --border-radius-on-box-middle: 8px;

    /*  --btn-success-background: #2e9dec; */
    --btn-success-background: #2196f3;
    --btn-success-color: #fff;
    --btn-secondary-color: #000;
    --btn-tertiary-color: #acaeaf;
    --input-border-color: #ddd;
    --checkbox-border-color: #e5e5e5;
    --color-btn-disabled: #959ba4;
    --outline: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    --container-wrap-horizontal-padding: 16px;
    --negitive-indents-by-container: calc(-1 * var(--container-wrap-horizontal-padding));
    --border-color-cke-panel: #ebebeb;
}
