.tabs-horizontal {
    .tabs-header-item {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        border: none;
        margin: 0 0 var(--adv-m-1);
        &:not(:last-child){
            margin-right: var(--adv-m-4);
        }
    }

    .tabs-header-item-link {
        padding: var(--adv-m-3) var(--adv-m-4);
        border-radius: var(--adv-rounded-3);
        background-color: #f9f9f9;
        border: none;
        font-size: var(--adv-text-1);
        font-weight: 400;
        color: black;
        margin: 0;
    }

    .tabs-header-item-link {
        color: black;
        text-decoration: none;
        border-bottom: none;

    }

    .tabs-header-active .tabs-header-item-link {
        background-color: black;
    }

    .tabs-header-active .tabs-header-item-link {
        color: white;
    }

    .tabs-content {
        padding-top: var(--adv-m-6);
        padding-left: 0;
        font-size: var(--adv-text-2);
    }
}
