.custom-input-checkbox, .custom-input-radio{
    top: auto;
    vertical-align: middle;
}

:root {
    --checkbox-icon-size-w: 12;
    --checkbox-icon-size-h: 9;
    --checkbox-size: 20;
    --checkbox-border: 1;
}

.custom-input-checkbox:after {
    --size-diff: calc(9 / 5); // стороны галки
    --area-svg-w: (var(--checkbox-size) - var(--checkbox-border) * 2 - (var(--checkbox-icon-size-w) * var(--size-diff)) / 2);
    --area-svg-h: (var(--checkbox-size) - var(--checkbox-border) * 2 - (var(--checkbox-icon-size-h) * var(--size-diff)) / 2);

    position: absolute;
    width: calc(var(--checkbox-icon-size-w) * 1px);
    height: calc(var(--checkbox-icon-size-h) * 1px);
    left: calc(var(--area-svg-w) / 2 * 1px);
    top: calc(var(--area-svg-h) / 2 * 1px);
}


.custom-input-checkbox {
    position: relative;
    width: calc(var(--checkbox-size) * 1px);
    height: calc(var(--checkbox-size) * 1px);
    border: calc(var(--checkbox-border) * 1px) solid var(--cs-6);
    border-radius: var(--adv-rounded-1);
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    box-sizing: border-box;

    &:hover {
        background-image: none;
        background-color: transparent;
    }
}

.custom-input-native:checked ~ .custom-input-checkbox {
    background-image: none;
    background-color: var(--cs-6);
}

.custom-input-native:focus ~ .custom-input-checkbox,
.custom-input-native:focus ~ .custom-input-radio {
    box-shadow: none;
}

.custom-input-native:checked ~ .custom-input-checkbox::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTEgOSIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEgNC4zNjM3N0wzLjgyODQzIDcuMTkyMkwxMC4xOTI0IDAuODI4MjM2IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+");
}

.custom-input-native:checked ~ .custom-input-checkbox {
    background-image: none;
    background-color: var(--cs-6);
    border-color: var(--cs-6);
}


:root {
    --radio-icon-size-w: 8;
    --radio-icon-size-h: 8;
    --radio-size: 20;
    --radio-border: 1;
}


.custom-input-radio:after {
    --size-diff: calc(var(--radio-icon-size-w) / var(--radio-icon-size-h));
    --area-svg-w: (var(--radio-size) - var(--radio-border) * 2 - (var(--radio-icon-size-w) * var(--size-diff)));
    --area-svg-h: (var(--radio-size) - var(--radio-border) * 2 - (var(--radio-icon-size-h) * var(--size-diff)));

    position: absolute;
    width: calc(var(--radio-icon-size-w) * 1px);
    height: calc(var(--radio-icon-size-h) * 1px);
    left: calc(var(--area-svg-w) / 2 * 1px);
    top: calc(var(--area-svg-h) / 2 * 1px);
    display: none;
    margin: 0;
}

.custom-input-radio {
    position: relative;
    width: calc(var(--radio-size) * 1px);
    height: calc(var(--radio-size) * 1px);
    border: calc(var(--radio-border) * 1px) solid var(--cs-6);
    border-radius: 50%;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    margin-right: var(--adv-m-1);
    box-sizing: border-box;

    &:hover {
        background-image: none;
        background-color: transparent;
    }
}


.custom-input-native:checked ~ .custom-input-radio {
    background-image: none;
    background-color: var(--cs-6);
    border-color: var(--cs-6);
}

.custom-input-native:checked ~ .custom-input-radio:after {
    background-color: white;
    display: block;
}

.custom-input-text {
    font-size: var(--adv-text-2);
    vertical-align: middle;
}
.custom-input-checkbox ~ .custom-input-text {
    font-size: var(--adv-text-2);
}

.select-custom select, .select-custom .form-select{
    --_input-height: var(--input-height, var(--adv-form-control-height));
    padding: var(--adv-m-2) 30px var(--adv-m-2) var(--adv-m-2);
    min-height: var(--_input-height);
    border-radius: var(--adv-rounded-2);
    border: 1px solid transparent;
    font-size: var(--adv-text-3);
    box-sizing: border-box;
}

.select-custom::after{
    content: "";
    display: block;
    mask: url('../../images/icons/chevron-right.svg') center no-repeat;
    mask-size: contain;
    background-color: currentColor;
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
    margin-top: -7px;
}

