<div
    class="adv-popover"
    data-ng-mouseenter="popover.popoverIsCanHover ? popover.popoverIsShow = true : null"
    data-ng-mouseleave="popover.popoverIsCanHover ? popover.popoverIsShow = false : null"
    data-ng-class="popover.getClasses()"
    data-ng-style="{
                                        left: popover.position.left,
                                        top: popover.position.top,
                                        right: popover.position.right,
                                        opacity:popover.popoverIsShow ? 1 : 0,
                                        'pointer-events':popover.popoverIsShow ? 'auto' : 'none'}">
    <div class="adv-popover-content">
        <span data-ng-bind="::popover.popoverText"></span>
        <span data-ng-transclude></span>
    </div>
    <div class="adv-popover-tile js-popover-tile">
        <div class="adv-popover-tile__figure" data-ng-style="{'margin-left': popover.position.leftTile}"></div>
    </div>
    <button
        ng-if="popover.popoverShowCross"
        type="button"
        aria-label="{{ ::'Js.Zone.YourCity' | translate }}"
        class="adv-popover-cross icon-cancel-before icon-no-margin"
        ng-click="popover.deactive()">
        <span class="adv-popover-cross__text" data-translate="Js.Modal.Close"></span>
    </button>
</div>
