/* switcher */

.onoffswitch--blue {
    display: inline-block;
    vertical-align: middle;
    width: auto !important;

    .onoffswitch__input {
        display: none;
    }

    .onoffswitch__input:checked + .onoffswitch__label {
        color: #000;
    }

    .onoffswitch__input:checked + .onoffswitch__label::before {
        background-color: #2d9cee;
    }

    .onoffswitch__input:checked + .onoffswitch__label::after {
        transform: translate(16px, -50%);
    }

    /* &__input:checked + &__label:active:after {
        transform: translateX(8px);
    } */

    /* &__label:active:after {
        transform: translateX(8px);
    } */

    .onoffswitch__input:checked + .onoffswitch__label:active::before {
        background-color: #b4effa;
    }

    .onoffswitch__label {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        transition: color 0.1s linear;
        background-color: transparent;
        height: auto;

        span {
            vertical-align: middle;
        }
    }

    .onoffswitch__label::before {
        content: '';
        display: block;
        width: 40px;
        height: 25px;
        background-color: #c8c7cc;
        border-radius: 25px;
        flex-shrink: 0;
        z-index: 1;
        transition: background-color 0.1s linear;
    }

    .onoffswitch__label::after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 5px;
        z-index: 2;
        transition: transform 0.1s linear;
    }

    .onoffswitch__label:active::before {
        background-color: #b4effa;
    }
}

.onoffswitch--remove-br {
    .onoffswitch__label br {
        display: none;
    }
}
