.task-modal-content-new-item {
    min-height: 395px;
    background-color: #fff;
}

.tasks-kanban-column {
    min-width: 318px;
}

.tasks-kanban-column-complete .kanban-column-wrap,
.tasks-kanban-column-complete .kanban-column-header {
    background-color: #fefcdb;
}

.task-kanban {
    .kanbam-task-name-project {
        /* width: calc(100% - 30px - 10px); */

        /* 30px - размер аватарки, 10px - отступ */
    }

    .kanban-task__info-user {
        /* width: calc(100% - 130px); */
    }

    .kanban-task__info-inner {
        overflow: hidden;
        position: relative;
    }

    .kanban-task__info-inner::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 100%) 75%, rgb(255 255 255 / 100%) 100%);
    }

    /* .kanban-task__info-date {
        width: 130px;
    } */
}

.task-modal__header {
    min-width: 141px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
    line-height: 1;
}

.task-modal__observe {
    font-size: 20px;
    display: block;
}

.task-modal__observe-active {
    color: #288dd2;
}

.task-modal__observe-submenu {
    padding: 10px !important;
    min-width: 250px;
}

.task-modal__observe-submenu-title {
    font-size: 13px;
    margin-bottom: 5px;
}

.task-mobile-avatar {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

.task-modal__observe-count-absolute {
    position: absolute;
    top: -15px;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084f4;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    line-height: 1;
}
