<div style="max-width: 850px" is-mobile>
    <div class="ibox float-e-margins">
        <div class="ibox-content sources-orders-block p-l-n">
            <h3 class="sources-orders setting__subtitle">Методы оплаты</h3>

            <div ng-repeat="payment in $ctrl.PaymentMethods" ng-class="{'m-b-md' : isMobile.value}">
                <div ng-class="{'m-b-sm flex middle-xs' : isMobile.value}">
                    <span ng-class="{'flex-grow m-r-sm' : isMobile.value}" ng-if="!$ctrl.showBookingsFn">{{payment.Name}}</span>
                    <a
                        ng-class="{'flex-grow m-r-sm' : isMobile.value}"
                        ng-if="$ctrl.showBookingsFn"
                        href=""
                        ng-click="$ctrl.showBookings(payment.Id); $event.preventDefault();"
                        >{{payment.Name}}</a
                    >
                    <small ng-class="{'flex-shrink-n' : isMobile.value}" class="pull-right source-order-percent"
                        >{{payment.BookingsSumFormat}} ({{payment.Percent}}%)</small
                    >
                </div>
                <div class="progress progress-small">
                    <div ng-style="{width: payment.Percent+'%'}" class="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
