.main-title{
    font-size: var(--adv-h1);
    font-weight: 500;
    letter-spacing: -1px;
    text-align: left;
    padding-inline: var(--adv-m-4);
    padding-top: var(--adv-m-5);
    background-color: var(--cs-4) !important;
}
