<form novalidate name="orderRecipientForm" is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{ 'Admin.Js.OrderRecipient.Recipient' | translate }}</h2>
    </div>
    <div class="modal-body" ng-init="ctrl.form = orderRecipientForm">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label"> {{ 'Admin.Js.OrderRecipient.LastName' | translate }} </label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt-mobile input-alt" ng-model="ctrl.data.LastName" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label"> {{ 'Admin.Js.OrderRecipient.FirstName' | translate }} </label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt-mobile input-alt" ng-model="ctrl.data.FirstName" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label"> {{ 'Admin.Js.OrderRecipient.PatronymicName' | translate }} </label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt-mobile input-alt" ng-model="ctrl.data.Patronymic" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label"> {{ 'Admin.Js.OrderRecipient.Phone' | translate }} </label>
                    <div class="col-xs-12 col-md-9">
                        <input
                            type="tel"
                            ng-model="ctrl.data.Phone"
                            placeholder="+7(999)999-99-99"
                            autocomplete="off"
                            mask_control
                            mask-control-preset="phone"
                            class="form-control input-alt" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="button"
            button-validation-success="ctrl.save()"
            data-button-validation
            disabled
            ng-disabled="!ctrl.formInited || !orderRecipientForm.modified">
            {{ 'Admin.Js.OrderRecipient.Save' | translate }}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{ 'Admin.Js.OrderRecipient.Cancel' | translate }}</button>
    </div>
</form>
