.categories-block {
    margin-bottom: 26px;

    &__list {
        display: grid;

        div[data-as-sortable-item].swipe-line:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .clearfix {
        &::after,
        &::before {
            display: none;
        }
    }
}
