<div class="address-map">
    <points-map
        class="address-map__map"
        data-polygon="addressMap.geoObjectsDeliveryZones"
        data-ya-center="addressMap.center"
        data-ya-after-init="addressMap.onInitMap($target)"
        data-ya-map-key="addressMap.apiKey"
        data-ya-zoom="addressMap.zoom"
        data-ya-options="addressMap.mapOptions"
        data-ya-geo-object-polygons-after-init="addressMap.initGeoObjectPolygons(polygons)"
        data-ya-controls="addressMap.mapControls">
    </points-map>
</div>
