<div class="row middle-xs end-md">
    <div class="col-xs-12 col-md-8">
        <input
            type="button"
            value="{{ ::'Js.Address.Apply' | translate }}"
            class="btn"
            data-ng-class="{'btn-middle btn-submit': !addEditAddressForm.themeAlt,'btn-save btn-primary': addEditAddressForm.themeAlt}"
            data-button-validation
            data-button-validation-success="addEditAddressForm.save()" />
        <input
            type="button"
            value="{{ ::'Js.Address.Cancel' | translate }}"
            class="btn"
            data-ng-class="{'btn-middle btn-action': !addEditAddressForm.themeAlt,'btn-default btn-cancel': addEditAddressForm.themeAlt}"
            data-ng-click="addEditAddressForm.cancelAdding('modalAddress')" />
    </div>
</div>
