.view-partner {
    &__header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
        grid-auto-flow: column;
        gap: 15px;
        align-items: baseline;
    }

    &__title {
        color: var(--color-default);
        margin-bottom: 16px;
        font-size: 15px;
        font-weight: 600;
        line-height: calc(22 / 16);
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
        font-weight: 500;

        &--alt {
            font-weight: 400;
            color: var(--color-text-alt);
        }
    }
}
