:root {
    --icons-color: #acaeaf;
}

.fas.fa-times {
    color: var(--icons-color);
}

.fas.fa-times,
.fa.fa-times {
    &::before {
        content: '';
        mask-image: url('../../../images/icons/close.svg');
        mask-repeat: no-repeat;
        background-color: var(--icons-color);
        display: block;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        mask-size: cover;
    }

    &.fa-m-n {
        &::before {
            margin-left: 0;
        }
    }
}

.fas.fa-calendar-alt {
    &::before {
        content: '';
        display: block;
        width: 15px;
        height: 16px;
        background-color: var(--btn-success-color);
        mask-image: url('../../../images/icons/calendar.svg');
    }
}

.remove-icon {
    color: red;
}

a.select-delete {
    &--middle-size {
        .fa.fa-times::before {
            width: 13px;
            height: 13px;
        }
    }
}

.link-whats__app-icon,
.link-viber-icon,
.link-wazzup-icon {
    fill: #b1b1b1;
    width: 15px;
    height: 15px;
}
