@import '../card/card';

.ui-grid-render-container-body {
    .ui-grid-row-wrap {
        &:last-child .reports-customer {
            margin-bottom: 0;
        }

        .reports-customer {
            margin-bottom: 20px;
        }
    }
}

.reports {
    $self: &;

    &-title {
        font-size: 16px;
        line-height: calc(20 / 16);
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 16px;
    }

    &-graphics-wrap {
        display: grid;
        row-gap: 30px;
    }

    &-graphic-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        > *:first-child {
            font-size: 14px;
            line-height: calc(16 / 14);
            color: var(--color-text-alt);
            font-weight: 400;
        }

        > *:last-child {
            text-align: right;
        }
    }

    &-graphic-section {
        display: grid;
        row-gap: 20px;
    }

    &-graphic-filters {
        margin-bottom: 20px;
    }

    &-graphic-text {
        margin-bottom: 20px;
    }

    /* stylelint-disable */

    &-graphic-card {
        @extend .card;
    }

    /* stylelint-enable */
}
