@import '../../common';
@import '../../_shared/inputs/inputs';

.custom-options {
    &-row {
        display: grid;
        margin-bottom: 15px;
    }

    &-name {
        padding: 0;

        label {
            @extend %control-label;
        }
    }

    &-value {
        padding: 0;
    }

    &-radio-wrap:not(:last-child) {
        margin-bottom: 10px;
    }

    textarea,
    input:not([type='checkbox'], [type='radio']),
    select {
        width: 100%;
    }

    select,
    textarea,
    input,
    input[type='radio'].adv-radio-input:not(:checked) ~ .adv-radio-emul,
    .adv-checkbox-emul {
        @extend %input-alt;
    }
}
