<div>
    <ui-modal-trigger
        data-controller="'ModalAddEditShippingIntervalsCtrl'"
        controller-as="ctrl"
        size="xs-8"
        template-url="../areas/admin/content/src/shippingMethods/components/shippingWithInterval/modals/addEditShippingIntervals/addEditShippingIntervals.html"
        data-resolve="{data: $ctrl.data}"
        data-on-close="$ctrl.changeIntervals(result)">
        <a href="" class="btn btn-action">{{'Admin.Js.ShippingWithInterval.Configure'|translate}}</a>
    </ui-modal-trigger>
</div>
