<div is-mobile class="blocks-constructor-header">{{'Admin.Js.Landings.BlocksConstructor.Goals.YandexMetrica'|translate}}</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Goals.Event'|translate}}</div>
    <input class="blocks-constructor-input" data-e2e="YaMetrikaEvent" type="text" ng-model="$ctrl.yaMetrikaEventName" />
</div>

<div class="blocks-constructor-header">{{'Admin.Js.Landings.BlocksConstructor.Goals.GoogleAnalytics'|translate}}</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Goals.Category'|translate}}</div>
    <input class="blocks-constructor-input" data-e2e="GaEventCategory" type="text" ng-model="$ctrl.gaEventCategory" />
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Goals.Action'|translate}}</div>
    <input class="blocks-constructor-input" data-e2e="GaEventAction" type="text" ng-model="$ctrl.gaEventAction" />
</div>
