<div is-mobile class="row m-b middle-xs" ng-repeat="item in $ctrl.times">
    <div class="col-xs-slim" ng-class="{'m-b-md': isMobile.value}">
        <div>
            <span ng-class="{'control-label': isMobile.value}">{{'Admin.Js.TimesOfWork.DaysOfWeek'|translate}}</span>
        </div>
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Monday, 'btn-default': !item.Monday}"
                ng-click="item.Monday = !item.Monday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Monday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Tuesday, 'btn-default': !item.Tuesday}"
                ng-click="item.Tuesday = !item.Tuesday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Tuesday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Wednesday, 'btn-default': !item.Wednesday}"
                ng-click="item.Wednesday = !item.Wednesday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Wednesday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Thursday, 'btn-default': !item.Thursday}"
                ng-click="item.Thursday = !item.Thursday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Thursday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Friday, 'btn-default': !item.Friday}"
                ng-click="item.Friday = !item.Friday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Friday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Saturday, 'btn-default': !item.Saturday}"
                ng-click="item.Saturday = !item.Saturday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Saturday'|translate}}
            </button>
            <button
                type="button"
                class="btn btn-xs"
                ng-class="{'btn-success': item.Sunday, 'btn-default': !item.Sunday}"
                ng-click="item.Sunday = !item.Sunday; $ctrl.changeDay()">
                {{'Admin.Js.TimesOfWork.Sunday'|translate}}
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-md-7 col-wl-4" ng-class="{'m-b-md': isMobile.value}">
        <div>
            <span ng-class="{'control-label': isMobile.value}">{{'Admin.Js.TimesOfWork.WorkingTime'|translate}}</span>
        </div>
        <div class="row middle-xs">
            <div class="col-xs">
                <span class="form-field-input vertical-interval-middle">
                    <span
                        class="input-group flex-nowrap"
                        data-ng-flatpickr
                        fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}">
                        <span class="flatpickr-custom-wrap">
                            <input
                                type="text"
                                class="form-control input-small input-alt-mobile"
                                autocomplete="off"
                                data-ng-flatpickr-input
                                ng-change="$ctrl.changeTime()"
                                ng-model="item.OpeningTime"
                                ng-required="item.ClosingTime || item.BreakStartTime || item.BreakEndTime"
                                validation-input-text="{{'Admin.Js.TimesOfWork.OpeningTime'|translate}}" />
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                    </span>
                </span>
            </div>
            <span>&mdash;</span>
            <div class="col-xs">
                <span
                    class="input-group flex-nowrap"
                    data-ng-flatpickr
                    fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}">
                    <span class="flatpickr-custom-wrap">
                        <input
                            type="text"
                            class="input-small form-control input-alt-mobile"
                            autocomplete="off"
                            data-ng-flatpickr-input
                            ng-change="$ctrl.changeTime()"
                            ng-model="item.ClosingTime"
                            ng-required="item.OpeningTime || item.BreakStartTime || item.BreakEndTime"
                            validation-input-text="{{'Admin.Js.TimesOfWork.ClosingTime'|translate}}" />
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                </span>
            </div>
            <div ng-if="isMobile.value" class="col-xs-slim m-l-xs">
                <a style="visibility: hidden" class="link link-invert link-decoration-none fas fa-trash"></a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-7 col-wl-4" ng-class="{'m-b-md': isMobile.value}">
        <div>
            <span ng-class="{'control-label': isMobile.value}">{{'Admin.Js.TimesOfWork.Break'|translate}}</span>
        </div>
        <div class="row middle-xs">
            <div class="col-xs">
                <span class="form-field-input vertical-interval-middle">
                    <span
                        class="input-group flex-nowrap"
                        data-ng-flatpickr
                        fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}">
                        <span class="flatpickr-custom-wrap">
                            <input
                                type="text"
                                class="form-control input-small input-alt-mobile"
                                autocomplete="off"
                                data-ng-flatpickr-input
                                ng-change="$ctrl.changeTime()"
                                ng-model="item.BreakStartTime"
                                ng-required="item.BreakEndTime"
                                validation-input-text="{{'Admin.Js.TimesOfWork.StartOfBreak'|translate}}" />
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                    </span>
                </span>
            </div>
            <span>&mdash;</span>
            <div class="col-xs">
                <span
                    class="input-group flex-nowrap"
                    data-ng-flatpickr
                    fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}">
                    <span class="flatpickr-custom-wrap">
                        <input
                            type="text"
                            class="input-small form-control input-alt-mobile"
                            autocomplete="off"
                            data-ng-flatpickr-input
                            ng-change="$ctrl.changeTime()"
                            ng-model="item.BreakEndTime"
                            ng-required="item.BreakStartTime"
                            validation-input-text="{{'Admin.Js.TimesOfWork.EndOfBreak'|translate}}" />
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-clock"></i></span>
                </span>
            </div>
            <div class="col-slim m-l-xs" ng-class="{'col-xs-slim': isMobile.value}">
                <a class="link link-invert link-decoration-none fas fa-trash" ng-click="$ctrl.removeTime($index)"></a>
            </div>
        </div>
    </div>
</div>
<div is-mobile>
    <button type="button" ng-class="{'btn btn-sm btn-success':isMobile.value,'btn btn-save btn-default':!isMobile.value}" ng-click="$ctrl.addTime()">
        <span ng-if="!isMobile.value" class="fa fa-plus"></span>
        {{'Admin.Js.TimesOfWork.Add'|translate}}
    </button>
</div>
