.block-content {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    display: block;
}

.block-content--padding {
    padding: 16px;
}

.block-content--margin {
    margin-bottom: 24px;
}
