.btn-more {
    $self: &;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    color: var(--color-menu-icon);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);

    &.active {
        color: var(--color-menu-icon-active);
    }

    &:hover {
        color: var(--color-menu-icon-active);
    }

    &--xssmall {
        font-size: var(--font-size-default);
        line-height: var(--line-height-default);
    }
}
