.group-list-add {
    margin-bottom: 40px;

    &__item {
        padding: 14px 18px;
        background-color: #fff;
        box-shadow: var(--shadow-on-box);
        border-radius: var(--border-radius-on-box);
        display: block;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
    }

    &__link {
        text-decoration: none;
    }

    &__name {
        color: var(--color-default);
        margin-top: 12px;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: var(--font-size-default);
        line-height: var(--line-height-default);
    }
}
