/* Иконки в orders/edit */
.link-whats__app-icon,
.link-viber-icon,
.link-wazzup-icon,
.link-telegram-icon{
    fill: #b1b1b1;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.link-viber-icon:hover {
    fill: #574e92;
}

.link-whats__app-icon:hover {
    fill: #25d366;
}

.link-wazzup-icon:hover {
    fill: #66bb6a;
}
.link-telegram-icon:hover{
    fill: #0088cc;
}
