.balance-message-wrap {
    --height-message: 73px;

    height: var(--height-message);
}

.balance-message {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 140px);
    background-color: var(--background-color);
    padding: 0 16px;
    grid-gap: 11px;
    position: fixed;
    bottom: 76px;
    left: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    height: var(--height-message);

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(20 / 14);
        text-align: left;
    }
}
