.page-head {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--shadow-on-box);
    margin-bottom: 20px;
    column-gap: 5px;

    &--negitive-indents {
        margin-top: -13px;
        margin-right: var(--negitive-indents-by-container);
        margin-left: var(--negitive-indents-by-container);
        padding: 20px 18px;
    }

    &--sticky {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 100;
        min-height: 64px;
        box-sizing: border-box;
    }

    &__content {
        flex-grow: 1;
        text-align: center;
        width: calc(100% - 52px * 2);
    }

    &__name {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
    }

    &__back &__link--admin {
        color: #1a051d;
        font-size: 16px;
        display: flex;
    }

    &__back,
    &__controls {
        min-width: 60px;
    }

    &__controls-inner {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        justify-content: flex-end;
    }

    &__controls a {
        display: flex;
    }
}

.page-head-popover {
    &__item {
        margin: 10px 0;
    }
}
