.sales-plan-block {
    padding: 0;
    background-color: initial;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
    }

    &__title {
        font-size: var(--font-size-default);
        font-weight: 500;
        line-height: var(--line-height-default);
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        color: var(--color-defaul);
    }

    &__total {
        font-size: var(--font-size-default);
        font-weight: 400;
        line-height: var(--line-height-default);
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        color: var(--color-default);
    }

    &__progress {
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__goal {
        font-size: var(--font-size-xsmall);
        line-height: var(--line-height-xsmall);
        color: var(--color-text);
    }
}
