.statistics-block {
    &__cards-list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 20px;
        padding-right: var(--container-wrap-horizontal-padding);
        padding-left: var(--container-wrap-horizontal-padding);
        margin-right: calc(var(--container-wrap-horizontal-padding) * -1);
        margin-left: calc(var(--container-wrap-horizontal-padding) * -1);
    }

    &__link {
        color: #fff;

        &:hover,
        &:active {
            color: #fff;
        }
    }

    &__body {
        /* padding: 10px 16px; */
        margin-bottom: 12px;

        /*  background-color: var(--btn-success-background);
    color: var(--btn-success-color);
    border-radius: var(--border-radius-on-box); */
    }

    &__card {
        margin: 10px 0 0;
        line-height: 1.3;
        font-size: 14px;
        flex-shrink: 0;
        padding-right: 10px;
    }

    &__card-title {
        margin: 0;
        font-size: 12px;
        white-space: normal;
    }

    &__card-count {
        font-size: 18px;
        font-weight: 500;
    }

    &__card-quantity {
        font-weight: 300;
        font-size: 12px;
    }
}

.statistics-block-carousel {
    &__dots {
        min-height: 16px;
    }

    &__dots-item {
        background-color: #fff;
    }
}

.carousel-inner {
    padding: 10px 16px;
    border-radius: var(--border-radius-on-box);

    &--p-none {
        padding: 0;
    }

    &--bg-white {
        background-color: #fff;
    }
}

.carousel-dots-item {
    /* opacity: 1; */

    .statistics-block-carousel__dots-item {
        background-color: var(--color-text-alt);
    }
}

.carousel-dots-selected {
    .statistics-block-carousel__dots-item {
        background-color: var(--btn-success-background);
    }
}
