.top-panel-balance {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    &__value {
        font-weight: 500;
    }

    &__value--default {
        color: #00c48c;
    }

    &__value--warning {
        color: #f2c94c;
    }

    &__value--danger {
        color: #f00;
    }
}
