<?xml version="1.0" encoding="utf-8" ?>
<LocalizationGroups>
  <Group name="Client">
    <Prefix>Checkout</Prefix>
    <Prefix>CheckoutData</Prefix>
    <Prefix>PrintOrder</Prefix>
    <Prefix>Lead</Prefix>
    <Prefix>Home</Prefix>
    <Prefix>Cart</Prefix>
    <Prefix>Product</Prefix>
    <Prefix>Catalog</Prefix>
    <Prefix>Search</Prefix>
    <Prefix>Brand</Prefix>
    <Prefix>News</Prefix>
    <Prefix>GiftCertificate</Prefix>
    <Prefix>PreOrder</Prefix>
    <Prefix>Bonuses</Prefix>
    <Prefix>Coupon</Prefix>
    <Prefix>Compare</Prefix>
    <Prefix>Wishlist</Prefix>
    <Prefix>Review</Prefix>
    <Prefix>Feedback</Prefix>
    <Prefix>PaymentStatus</Prefix>
    <Prefix>PaymentReceipt</Prefix>
    <Prefix>BuyMore</Prefix>
    <Prefix>RecentlyViews</Prefix>
    <Prefix>Captcha</Prefix>
    <Prefix>Main</Prefix>
    <Prefix>MainPage</Prefix>
    <Prefix>MenuBottom</Prefix>
    <Prefix>Shared</Prefix>
    <Prefix>TopPanel</Prefix>
    <Prefix>UseGlobalVariables</Prefix>
    <Prefix>Inplace</Prefix>
  </Group>
  <Group name="Common">
    <Prefix>Common</Prefix>
    <Prefix>InvalidFileExtension</Prefix>
  </Group>
  <Group name="User">
    <Prefix>User</Prefix>
    <Prefix>MyAccount</Prefix>
    <Prefix>SignInByPhone</Prefix>
    <Prefix>UserLayout</Prefix>
  </Group>
  <Group name="Landings">
    <Prefix>Landings</Prefix>
    <Prefix>Langings</Prefix>
    <Prefix>Landing</Prefix>
    <Prefix>App</Prefix>
    <Prefix>Services</Prefix>
  </Group>
  <Group name="Mobile">
    <Prefix>Mobile</Prefix>
    <Prefix>MobileApp</Prefix>
  </Group>
  <Group name="CreateFunnel">
    <Prefix>CreateFunnel</Prefix>
  </Group>
  <Group name="Core">
    <Prefix>Core</Prefix>
    <Prefix>Edost</Prefix>
  </Group>
  <Group name="AdvantShop">
    <Prefix>AdvantShop</Prefix>
  </Group>
  <Group name="Api">
    <Prefix>Api</Prefix>
  </Group>
  <Group name="Managers">
    <Prefix>Managers</Prefix>
  </Group>
  <Group name="StaticPage">
    <Prefix>StaticPage</Prefix>
  </Group>
  <Group name="Error">
    <Prefix>Error</Prefix>
  </Group>
  <Group name="Infrastructure">
    <Prefix>Infrastructure</Prefix>
  </Group>
  <Group name="Module">
    <Prefix>Module</Prefix>
  </Group>
  <Group name="Admin.Catalog">
    <Prefix>Admin.Product</Prefix>
    <Prefix>Admin.Products</Prefix>
    <Prefix>Admin.ProductName</Prefix>
    <Prefix>Admin.ProductList</Prefix>
    <Prefix>Admin.ProductLists</Prefix>
    <Prefix>Admin.ProductListsName</Prefix>
    <Prefix>Admin.AddProduct</Prefix>
    <Prefix>Admin.Category</Prefix>
    <Prefix>Admin.Catalog</Prefix>
    <Prefix>Admin.CatalogLeftMenu</Prefix>
    <Prefix>Admin.CategoriesTree</Prefix>
    <Prefix>Admin.CategoryName</Prefix>
    <Prefix>Admin.AddCategory</Prefix>
    <Prefix>Admin.Colors</Prefix>
    <Prefix>Admin.Sizes</Prefix>
    <Prefix>Admin.Models</Prefix>
    <Prefix>Admin.Properties</Prefix>
    <Prefix>Admin.PropertyValues</Prefix>
    <Prefix>Admin.Tags</Prefix>
    <Prefix>Admin.TagName</Prefix>
    <Prefix>Admin.Brands</Prefix>
    <Prefix>Admin.BrandName</Prefix>
    <Prefix>Admin.Units</Prefix>
    <Prefix>Admin.Grades</Prefix>
  </Group>
  <Group name="Admin.Orders">
    <Prefix>Admin.Orders</Prefix>
    <Prefix>Admin.Order</Prefix>
    <Prefix>Admin.OrderController</Prefix>
    <Prefix>Admin.OrderReviews</Prefix>
    <Prefix>Admin.OrderSources</Prefix>
    <Prefix>Admin.OrderStatuses</Prefix>
    <Prefix>Admin.Cards</Prefix>
  </Group>
  <Group name="Admin.Customers">
    <Prefix>Admin.Customers</Prefix>
    <Prefix>Admin.Customer</Prefix>
    <Prefix>Admin.CustomersController</Prefix>
    <Prefix>Admin.CustomerFields</Prefix>
    <Prefix>Admin.CustomerFieldValues</Prefix>
    <Prefix>Admin.CustomerGroups</Prefix>
    <Prefix>Admin.CustomerSegments</Prefix>
    <Prefix>Admin.CustomersSegments</Prefix>
    <Prefix>Admin.CustomerTags</Prefix>
  </Group>
  <Group name="Admin.Marketing">
    <Prefix>Admin.Marketing</Prefix>
    <Prefix>Admin.Rules</Prefix>
    <Prefix>Admin.BizProcessRules</Prefix>
    <Prefix>Admin.Bonuses</Prefix>
    <Prefix>Admin.BonusSystem</Prefix>
    <Prefix>Admin.GetBonusSystem</Prefix>
    <Prefix>Admin.Coupons</Prefix>
    <Prefix>Admin.DiscountsByTime</Prefix>
    <Prefix>Admin.DiscountsPriceRange</Prefix>
    <Prefix>Admin.Triggers</Prefix>
    <Prefix>Admin.Funnels</Prefix>
    <Prefix>Admin.SalesFunnel</Prefix>
    <Prefix>Admin.SalesFunnels</Prefix>
    <Prefix>Admin.ManualEmailings</Prefix>
    <Prefix>Admin.Subscribe</Prefix>
    <Prefix>Admin.Subscription</Prefix>
    <Prefix>Admin.EmailingLog</Prefix>
    <Prefix>Admin.SmsTemplates</Prefix>
    <Prefix>Admin.NotificationTemplates</Prefix>
    <Prefix>Admin.NotificationsTemplates</Prefix>
  </Group>
  <Group name="Admin.Import">
    <Prefix>Admin.Import</Prefix>
    <Prefix>Admin.ImportBrands</Prefix>
    <Prefix>Admin.ImportCategories</Prefix>
    <Prefix>Admin.ImportCsv</Prefix>
    <Prefix>Admin.ImportCsvV2</Prefix>
    <Prefix>Admin.ImportCustomers</Prefix>
    <Prefix>Admin.ImportLeads</Prefix>
    <Prefix>Admin.ImportOrders</Prefix>
    <Prefix>Admin.ImportProducts</Prefix>
  </Group>
  <Group name="Admin.Export">
    <Prefix>Admin.ExportFeed</Prefix>
    <Prefix>Admin.ExportFeeds</Prefix>
    <Prefix>Admin.ExportFeeed</Prefix>
    <Prefix>Admin.ExportField</Prefix>
    <Prefix>Admin.ExportCategories</Prefix>
    <Prefix>Admin.ExportCategoriesProgress</Prefix>
  </Group>
  <Group name="Admin.Content">
    <Prefix>Admin.StaticPages</Prefix>
    <Prefix>Admin.StaticBlock</Prefix>
    <Prefix>Admin.StaticPageContent</Prefix>
    <Prefix>Admin.StaticPageName</Prefix>
    <Prefix>Admin.SubBlocks</Prefix>
    <Prefix>Admin.News</Prefix>
    <Prefix>Admin.NewsCategory</Prefix>
    <Prefix>Admin.NewsItem</Prefix>
    <Prefix>Admin.NewsTitle</Prefix>
    <Prefix>Admin.Landing</Prefix>
    <Prefix>Admin.Landings</Prefix>
    <Prefix>Admin.LandingPages</Prefix>
    <Prefix>Admin.Menus</Prefix>
    <Prefix>Admin.Files</Prefix>
    <Prefix>Admin.Templates</Prefix>
    <Prefix>Admin.TemplatesDocx</Prefix>
    <Prefix>Admin.MetaVariables</Prefix>
  </Group>
  <Group name="Admin.Design">
    <Prefix>Admin.Design</Prefix>
    <Prefix>Admin.Designs</Prefix>
    <Prefix>Admin.Carousel</Prefix>
    <Prefix>Admin.Views</Prefix>
    <Prefix>Admin.MainPageProducts</Prefix>
    <Prefix>Admin.MainPageProductsStore</Prefix>
  </Group>
  <Group name="Admin.Shipping">
    <Prefix>Admin.ShippingMethod</Prefix>
    <Prefix>Admin.ShippingMethods</Prefix>
    <Prefix>Admin.ShippingRules</Prefix>
  </Group>
  <Group name="Admin.Payment">
    <Prefix>Admin.PaymentMethod</Prefix>
    <Prefix>Admin.PaymentMethods</Prefix>
  </Group>
  <Group name="Admin.Analytics">
    <Prefix>Admin.Analytics</Prefix>
    <Prefix>Admin.Dashboard</Prefix>
    <Prefix>Admin.CongratulationsDashboardv2</Prefix>
    <Prefix>Admin.Reports</Prefix>
    <Prefix>Admin.CommonStatistic</Prefix>
    <Prefix>Admin.SearchAutocomplete</Prefix>
  </Group>
  <Group name="Admin.Tasks">
    <Prefix>Admin.Tasks</Prefix>
    <Prefix>Admin.TaskGroups</Prefix>
    <Prefix>Admin.SettingsTasks</Prefix>
    <Prefix>Admin.SettingsTask</Prefix>
    <Prefix>Admin.AddTask</Prefix>
    <Prefix>Admin.AddTaskGroup</Prefix>
  </Group>
  <Group name="Admin.Leads">
    <Prefix>Admin.Leads</Prefix>
    <Prefix>Admin.LeadField</Prefix>
    <Prefix>Admin.AddLead</Prefix>
  </Group>
  <Group name="Admin.Warehouse">
    <Prefix>Admin.Warehouse</Prefix>
    <Prefix>Admin.WarehouseGroup</Prefix>
    <Prefix>Admin.WarehouseName</Prefix>
  </Group>
  <Group name="Admin.Booking">
    <Prefix>Admin.Booking</Prefix>
    <Prefix>Admin.BookingCategory</Prefix>
    <Prefix>Admin.BookingEmployees</Prefix>
  </Group>
  <Group name="Admin.Users">
    <Prefix>Admin.Users</Prefix>
    <Prefix>Admin.ManagerRoles</Prefix>
    <Prefix>Admin.AddManagerRole</Prefix>
    <Prefix>Admin.Departments</Prefix>
    <Prefix>Admin.AddDepartment</Prefix>
    <Prefix>Admin.Partners</Prefix>
    <Prefix>Admin.Partner</Prefix>
    <Prefix>Admin.Calls</Prefix>
  </Group>
  <Group name="Admin.Integrations">
    <Prefix>Admin.Modules</Prefix>
    <Prefix>Admin.Module</Prefix>
    <Prefix>Admin.Grastin</Prefix>
    <Prefix>Admin.Zadarma</Prefix>
    <Prefix>Admin.Telphin</Prefix>
    <Prefix>Admin.Telephony</Prefix>
    <Prefix>Admin.Telegram</Prefix>
    <Prefix>Admin.Vk</Prefix>
    <Prefix>Admin.Cms</Prefix>
    <Prefix>Admin.Areas</Prefix>
    <Prefix>Admin.Api</Prefix>
  </Group>
  <Group name="Admin.Settings">
    <Prefix>Admin.Settings</Prefix>
    <Prefix>Admin.SettingsCatalog</Prefix>
    <Prefix>Admin.SettingsApi</Prefix>
    <Prefix>Admin.SettingsApiAuth</Prefix>
    <Prefix>Admin.SettingsCheckout</Prefix>
    <Prefix>Admin.SettingsSeo</Prefix>
    <Prefix>Admin.SettingsSystem</Prefix>
    <Prefix>Admin.SettingsMail</Prefix>
    <Prefix>Admin.SettingsCrm</Prefix>
    <Prefix>Admin.SettingsTelephony</Prefix>
    <Prefix>Admin.SettingsBonus</Prefix>
    <Prefix>Admin.SettingsCoupons</Prefix>
    <Prefix>Admin.SettingsCommon</Prefix>
    <Prefix>Admin.SettingsSearch</Prefix>
    <Prefix>Admin.SettingsTemplate</Prefix>
    <Prefix>Admin.SettingsCustomer</Prefix>
    <Prefix>Admin.SettingsCustomers</Prefix>
    <Prefix>Admin.SeoCharactersCount</Prefix>
    <Prefix>Admin.TextLengthLimit</Prefix>
    <Prefix>Admin.WorkigTime</Prefix>
  </Group>
  <Group name="Admin.Common">
    <Prefix>Admin.Common</Prefix>
    <Prefix>Admin.Shared</Prefix>
    <Prefix>Admin.Error</Prefix>
    <Prefix>Admin.Layout</Prefix>
    <Prefix>Admin.Grid</Prefix>
    <Prefix>Admin.Handlers</Prefix>
    <Prefix>Admin.Controllers</Prefix>
    <Prefix>Admin.Back</Prefix>
    <Prefix>Admin.Cancel</Prefix>
    <Prefix>Admin.Save</Prefix>
    <Prefix>Admin.Delete</Prefix>
    <Prefix>Admin.Edit</Prefix>
    <Prefix>Admin.Add</Prefix>
    <Prefix>Admin.View</Prefix>
    <Prefix>Admin.Choose</Prefix>
    <Prefix>Admin.Yes</Prefix>
    <Prefix>Admin.No</Prefix>
    <Prefix>Admin.Ok</Prefix>
    <Prefix>Admin.Today</Prefix>
    <Prefix>Admin.Yesterday</Prefix>
    <Prefix>Admin.LoadingData</Prefix>
    <Prefix>Admin.ChangesSuccessfullySaved</Prefix>
    <Prefix>Admin.ProgressData</Prefix>
    <Prefix>Admin.UploadPhoto</Prefix>
    <Prefix>Admin.SearchBlock</Prefix>
    <Prefix>Admin.Core</Prefix>
    <Prefix>Admin.Home</Prefix>
    <Prefix>Admin.Account</Prefix>
    <Prefix>Admin.Localization</Prefix>
    <Prefix>Admin.Tour</Prefix>
    <Prefix>Admin.Attachments</Prefix>
    <Prefix>Admin.Service</Prefix>
    <Prefix>Admin.AdminComments</Prefix>
    <Prefix>Admin.TopMenu</Prefix>
    <Prefix>Admin.Certificates</Prefix>
    <Prefix>Admin.Voting</Prefix>
    <Prefix>Admin.Answer</Prefix>
    <Prefix>Admin.Reviews</Prefix>
    <Prefix>Admin.Mobile</Prefix>
    <Prefix>AdminMobile</Prefix>
  </Group>
</LocalizationGroups>