<div is-mobile class="ng-cloak">
    <div ng-if="!isMobile.value">
        <div class="sortable-row" ng-model="$ctrl.items" as-sortable="$ctrl.sortableOptions">
            <div class="payment-row payment-row--without-pl-zero" ng-repeat="item in $ctrl.items track by item.Id" as-sortable-item>
                <div class="row middle-xs between-xs">
                    <div class="flex middle-xs col-xs">
                        <div class="as-sortable-item-handle" as-sortable-item-handle>
                            <icon-move />
                        </div>
                        <span class="shipping-text col-xs-10">
                            <span class="m-r"><i class="fa fa-circle" ng-style="{'color': '#' + item.Color || '000'}"></i></span>
                            <ui-modal-trigger
                                data-controller="'ModalEditDealStatusCtrl'"
                                controller-as="ctrl"
                                template-url="../areas/admin/content/src/settingsCrm/components/dealStatuses/modals/editDealStatus/editDealStatus.html"
                                data-resolve="{item: item}"
                                data-on-close="$ctrl.onEditDealStatus(item, result)"
                                data-e2e-crm="DealStatus"
                                data-e2e-crm-deal-status-id="{{item.Id}}">
                                <a href="">{{item.Name}}</a>
                            </ui-modal-trigger>
                        </span>
                    </div>
                    <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Status == 0">
                        <a
                            href=""
                            class="fa fa-times link-invert link-decoration-none"
                            ng-click="$ctrl.deleteItem(item)"
                            data-e2e-crm="DealStatusDelete"
                            data-e2e-crm-deal-status-delete-id="{{item.Id}}"></a>
                    </div>
                </div>
            </div>
            <div class="payment-row">
                <div class="row middle-xs between-xs">
                    <div class="flex middle-xs col-xs">
                        <span class="shipping-text col-xs-11">
                            <span class="row">
                                <span class="col-xs">
                                    <input type="text" class="form-control" ng-model="$ctrl.newName" data-e2e="DealStatusName" />
                                </span>
                                <span class="">
                                    <color-picker
                                        ng-model="$ctrl.newColor"
                                        options="$ctrl.colorPickerOptions"
                                        validation-input-text="{{'Admin.Js.SettingsCrm.Color'|translate}}"
                                        api="$ctrl.colorPickerApi"
                                        event-api="$ctrl.colorPickerEventApi">
                                    </color-picker>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="flex middle-xs">
                        <a href="" class="btn btn-sm btn-success" ng-click="$ctrl.addItem()" data-e2e="DealStatusAdd">
                            <span class="fa fa-plus"></span> {{'Admin.Js.AddEdit.Add' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="isMobile.value" class="swipe-line-container" ng-model="$ctrl.items" as-sortable="$ctrl.sortableOptions">
        <div ng-repeat="item in $ctrl.items track by item.Id" class="swipe-line" as-sortable-item>
            <div class="swipe-line__inner" data-swipe-line>
                <div class="navigation-item navigation-item--horizontal card card--middle swipe-line__content card--padding-top-bottom-none">
                    <div as-sortable-item-handle class="as-sortable-item-handle navigation-item__icon">
                        <icon-move>
                            <svg
                                class="icon-move"
                                version="1.0"
                                xmlns="http://www.w3.org/2000/svg"
                                width="10.000000pt"
                                height="20.000000pt"
                                viewBox="0 0 10.000000 20.000000"
                                preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,20.000000) scale(0.100000,-0.100000)" fill="#c4c4c4" stroke="none">
                                    <path d="M10 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M60 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M10 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M60 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M10 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M60 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M10 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                    <path d="M60 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                </g>
                            </svg>
                        </icon-move>
                    </div>
                    <ui-modal-trigger
                        data-controller="'ModalEditDealStatusCtrl'"
                        controller-as="ctrl"
                        template-url="../areas/admin/content/src/settingsCrm/components/dealStatuses/modals/editDealStatus/editDealStatus.html"
                        data-resolve="{item: item}"
                        data-on-close="$ctrl.onEditDealStatus(item, result)"
                        data-e2e-crm="DealStatus"
                        data-e2e-crm-deal-status-id="{{item.Id}}">
                        <div class="navigation-item__text flex middle-xs" style="padding: 20px 0">
                            <span class="m-r"><i class="fa fa-circle" ng-style="{'color': '#' + item.Color || '000'}"></i></span>
                            <span class="fs-md">{{item.Name}}</span>
                        </div>
                    </ui-modal-trigger>
                </div>
                <div data-swipe-line-right class="swipe-line__right swipe-line__btn-group" ng-if="item.Id != null && item.Status == 0">
                    <button
                        class="btn btn-sm btn-danger btn--as-swipe-line flex center-xs middle-xs"
                        ng-click="$ctrl.deleteItem(item)"
                        data-e2e-crm="DealStatusDelete"
                        data-e2e-crm-deal-status-delete-id="{{item.Id}}">
                        {{'Admin.Js.SettingsCrm.DeleteDealStage'|translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="m-t-md">
            <div class="setting-label-wrap setting__label control-label">{{'Admin.Js.SettingsCrm.AddDealStage'|translate}}</div>
            <div class="shipping-text">
                <div class="">
                    <input type="text" class="form-control input-alt" ng-model="$ctrl.newName" data-e2e="DealStatusName" placeholder="Название" />
                </div>
            </div>
            <div class="flex middle-xs m-t-sm">
                <div class="flex-grow m-r-sm setting__leads-color-picker custom-color-picker-wrap--top">
                    <color-picker
                        ng-model="$ctrl.newColor"
                        options="$ctrl.colorPickerOptions"
                        validation-input-text="{{'Admin.Js.SettingsCrm.Color'|translate}}"
                        api="$ctrl.colorPickerApi"
                        event-api="$ctrl.colorPickerEventApi">
                    </color-picker>
                </div>
                <a href="" class="btn btn-sm btn-success" ng-click="$ctrl.addItem()" data-e2e="DealStatusAdd">
                    <span class="fa fa-plus"></span> {{'Admin.Js.AddEdit.Add' | translate}}
                </a>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.systemItems" ng-class="{'m-t-md' : isMobile.value}">
        <div class="m-sm m-l-none setting__label">{{'Admin.Js.SettingsCrm.SystemStages' | translate}}</div>
        <div class="">
            <div class="row" ng-repeat="item in $ctrl.systemItems">
                <div class="col-xs-12">
                    <div class="flex payment-row middle-xs between-xs">
                        <div class="flex middle-xs flex-grow">
                            <div style="height: 31px"></div>
                            <span class="shipping-text col-xs-10">
                                <span class="m-r"><i class="fa fa-circle" ng-style="{'color': '#' + item.Color || '000'}"></i></span>
                                <ui-modal-trigger
                                    data-controller="'ModalEditDealStatusCtrl'"
                                    controller-as="ctrl"
                                    template-url="../areas/admin/content/src/settingsCrm/components/dealStatuses/modals/editDealStatus/editDealStatus.html"
                                    data-resolve="{item: item}"
                                    data-on-close="$ctrl.onEditDealStatus(item, result, true)"
                                    data-e2e-crm="DealStatus"
                                    data-e2e-crm-deal-status-id="{{item.Id}}">
                                    <a href="">{{item.Name}}</a>
                                </ui-modal-trigger>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
