.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    &__shop-name {
        font-size: var(--font-size-middle);
        line-height: var(--line-height-middle);
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0;
    }
}
