<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.EditProjectStatus.Title'|translate}}</h2>
    </div>
    <div class="modal-body overflow-hidden">
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-xs-12 col-md-3 control-label">
                    <span class="text-required"> {{'Admin.Js.EditProjectStatus.Name'|translate}} </span>
                </label>
                <div class="col-xs-12 col-md-9">
                    <input
                        type="text"
                        class="form-control input-alt"
                        ng-model="ctrl.item.Name"
                        required
                        validation-input-text="{{'Admin.Js.EditProjectStatus.Name'|translate}}"
                        data-autofocus="!isMobile.value"
                        data-e2e="DealStatusName" />
                </div>
            </div>
            <div class="form-group row color-picker-wrap">
                <label class="col-xs-12 col-md-3 control-label">{{'Admin.Js.TaskStatuses.Color'|translate}}</label>
                <div class="col-xs-12 col-md-9">
                    <color-picker
                        ng-model="ctrl.item.Color"
                        options="ctrl.colorPickerOptions"
                        validation-input-text="{{'Admin.Js.TaskStatuses.Color'|translate}}"
                        api="ctrl.colorPickerApi"
                        event-api="ctrl.colorPickerEventApi">
                    </color-picker>
                </div>
            </div>
            <div class="form-group row" ng-if="ctrl.statusTypeList != null">
                <label class="col-xs-12 col-md-3 control-label">
                    <span class="text-required"> {{'Admin.Js.EditProjectStatus.StatusType'|translate}} </span>
                </label>
                <span class="col-xs-12 col-md-9">
                    <select
                        ng-model="ctrl.item.StatusType"
                        ng-options="s.value as s.label for s in ctrl.statusTypeList"
                        class="form-control input-alt"></select>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            ladda="ctrl.btnSleep"
            type="button"
            data-button-validation-success="ctrl.save()"
            data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
