<?xml version="1.0" encoding="utf-8"?>

<Settings>
    <!-- Дизайн и представление -->
    <SettingSection Title="SectionDesign">
        <Setting Name="MainPageMode" Type="DropDownList">
            <option Title="MainPageModeDefault" Value="Default"/>
            <Value>Default</Value>
        </Setting>
        <Setting Name="MenuStyle" Type="DropDownList">
            <option Title="MenuStyleModern" Value="Modern"/>
            <Value>Modern</Value>
        </Setting>
        <Setting Name="SearchBlockLocation" Type="DropDownList">
            <option Title="SearchNone" Value="None"/>
            <option Title="SearchTopMenu" Value="TopMenu"/>
            <option Title="SearchCatalogMenu" Value="CatalogMenu"/>
            <Value>TopMenu</Value>
        </Setting>
        <Setting Name="IsUseChooseFont" Type="Checkbox">
            <Value>False</Value>
        </Setting>
        <Setting Name="FontMain" Type="TextBox">
            <Value>OpenSans</Value>
        </Setting>
        <Setting Name="ChooseLineHeight" Type="TextBox">
            <Value>1.2</Value>
        </Setting>
        <Setting Name="DisplayToolBarBottom" Type="Checkbox">
            <Value>False</Value>
        </Setting>
        <!-- Скрывать Показывать нижнюю панель -->
        <Setting Name="HideDisplayToolBarBottomOption">
            <Value>True</Value>
        </Setting>
        <!--
      <Setting Name="TopPanel" Type="ImageSelectList">
		    <option Title="Тип 1" Value="Type1" Image="images/settings/topPanel/type1.jpg" />
		    <option Title="Тип 2" Value="Type2" Image="images/settings/topPanel/type2.jpg" />
		    <option Title="Тип 3" Value="Type3" Image="images/settings/topPanel/type3.jpg" />
		    <Value>Type1</Value>
	    </Setting>-->
	    <Setting Name="Header" Type="ImageSelectList">
		    <option Title="Тип 1" Value="Type1" Image="images/settings/header/type1.jpg" />
		    <option Title="Тип 2" Value="Type2" Image="images/settings/header/type2.jpg" />
            <option Title="Тип 3" Value="Type3" Image="images/settings/header/type3.jpg" />
		    <Value>Type1</Value>
	    </Setting>
        <!--<Setting Name="TopMenu" Type="ImageSelectList">
		    <option Title="Тип 1" Value="Type1" Image="images/settings/topMenu/type1.jpg" />
		    <option Title="Тип 2" Value="Type2" Image="images/settings/topMenu/type2.jpg" />
		    <Value>Type1</Value>
	    </Setting>
      -->
    </SettingSection>
    <SettingSection Title="Design">
        <Setting Name="SiteBackgroundFill" Title="Заливка фона серым цветом"
                 Type="Checkbox" IsAdditional="true">
            <Value>False</Value>
        </Setting>
        <Setting Name="ShowTextIconsInHeader" Title="Выводить подписи к иконкам в шапке"
                 Type="Checkbox" IsAdditional="true">
            <Value>True</Value>
        </Setting>
        <Setting Name="ShowCategoryPhotoInMenu" Title="Выводить фото подкатегорий в выпадающем меню"
                 Type="Checkbox" IsAdditional="true">
            <Value>True</Value>
        </Setting>      
        <Setting Name="LogoMaxHeight" Type="TextBox" DataType="int" IsAdditional="true" Title="Максимальная высота логотипа">
            <Value>51</Value>
        </Setting>
        <Setting Name="MenuTopDisplaySubItems" Title="Выводить потомков в статическом меню"
                 Type="Checkbox" IsAdditional="true">
            <Value>False</Value>
        </Setting>      
    </SettingSection>
    <!-- Карусель -->
    <SettingSection Title="SectionCarousel">
        <Setting Name="CarouselVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="CarouselAnimationSpeed" Type="TextBox" DataType="int">
            <Value>500</Value>
        </Setting>
        <Setting Name="CarouselAnimationDelay" Type="TextBox" DataType="int">
            <Value>10000</Value>
        </Setting>
    </SettingSection>
    <!-- Товары на главной -->
    <SettingSection Title="SectionMainPageProcuts">
        <Setting Name="MainPageProductsVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="CountMainPageProductInSection" Type="TextBox" DataType="int">
            <Value>10</Value>
        </Setting>
        <Setting Name="CountMainPageProductInLine" Type="TextBox" DataType="int">
            <Value>5</Value>
        </Setting>
    </SettingSection>
    <!-- Категории на главной -->
    <SettingSection Title="SectionMainPageCategories">
        <Setting Name="MainPageCategoriesVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="CountMainPageCategoriesInSection" Type="TextBox" DataType="int">
            <Value>6</Value>
        </Setting>
        <Setting Name="CountMainPageCategoriesInLine" Type="TextBox" DataType="int">
            <Value>3</Value>
        </Setting>
    </SettingSection>
    <!--Карусель отзывов о товарах-->
    <SettingSection Title="SectionMainPageProductReviews">
        <Setting Name="MainPageProductReviewsVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="CountMainPageProductReviewsInSection" Type="TextBox" DataType="int">
            <Value>10</Value>
        </Setting>
        <Setting Name="CountMainPageProductReviewsInLine" Type="TextBox" DataType="int">
            <Value>3</Value>
        </Setting>
    </SettingSection>
    <SettingSection Title="MainPage">
        <Setting Name="MainPageCategoriesViewMode" Type="DropDownList" Title="Тип отображения категорий на главной" IsAdditional="true">
            <option Title="Плиткой (по умолчанию)" Value="Tile"/>
            <option Title="Списком (в ПК и моб. версии)" Value="List"/>
            <Value>Tile</Value>
        </Setting>
        <Setting Name="CategoryNameModeOnMain" Type="DropDownList" IsAdditional="true" Title="Режим отображения категорий на главной плиткой">
            <option Title="Текст наезжает на картинку" Value="CategoryNameOverlay" />
            <option Title="Текст под картинкой" Value="CategoryNameUnderPhoto" />
            <Value>CategoryNameUnderPhoto</Value>
        </Setting>
        <Setting Name="MainPageCategoriesPosition" Type="DropDownList" IsAdditional="true" Title="Место отображения категорий на главной">
            <option Title="Между каруселью и товарами" Value="BetweenCarouselAndProducts" />
            <option Title="После товаров" Value="AfterProducts" />
            <Value>AfterProducts</Value>
        </Setting>
        <Setting Name="BrandCarouselVisibleCount" Type="TextBox" DataType="int" IsAdditional="true" Title="Количество производителей в строке на главной странице">
            <Value>5</Value>
        </Setting>
        <Setting Name="CarouselAsBackgroundOnMainPage" Title="Карусель в виде подложки на главной странице"
                 Type="Checkbox" IsAdditional="true">
            <Value>False</Value>
        </Setting>
        <Setting Name="CarouselSlidesChangeMode" Type="DropDownList" IsAdditional="true" Title="Способ смены слайда карусели">
            <option Title="По щелчку на стрелки" Value="ClickArrows" />
            <option Title="Динамически курсором" Value="DynamicCursor" />
            <Value>ClickArrows</Value>
        </Setting>
    </SettingSection>
    <!-- Оформление заказа -->
    <SettingSection Title="Checkout">
        <Setting Name="CartType" Type="DropDownList" Title="Js.Builder.CartTypeTitle" IsAdditional="true">
            <option Title="Js.TemplateSettings.CartTypeModern" Value="Modern"/>
            <Value>Modern</Value>
        </Setting>	
        <Setting Name="CheckoutType" Type="DropDownList" Title="Js.Builder.CheckoutTypeTitle" IsAdditional="true">
            <option Title="Js.TemplateSettings.CheckoutTypeModern" Value="Modern"/>
            <Value>Modern</Value>
        </Setting>
        <Setting Name="ShippingDesignMode" Type="DropDownList" Title="Js.Builder.ShippingDesignMode" IsAdditional="true">
            <option Title="Js.TemplateSettings.ShippingDesignMode.Table" Value="Table"/>
            <option Title="Js.TemplateSettings.ShippingDesignMode.Tile" Value="Tile"/>
            <Value>Table</Value>
        </Setting>
        <Setting Name="PaymentDesignMode" Type="DropDownList" Title="Js.Builder.PaymentDesignMode" IsAdditional="true">
            <option Title="Js.TemplateSettings.PaymentDesignMode.Table" Value="Table"/>
            <option Title="Js.TemplateSettings.PaymentDesignMode.Tile" Value="Tile"/>
            <Value>Table</Value>
        </Setting>
    </SettingSection>
    <!-- Карусель  брендов-->
    <SettingSection Title="SectionBrandCarousel">
        <Setting Name="BrandCarouselVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
    </SettingSection>
    <!-- Категории в каталоге -->
    <SettingSection Title="SectionCatalogCategories">
        <Setting Name="CountCategoriesInLine" Type="TextBox" DataType="int">
            <Value>4</Value>
        </Setting>
    </SettingSection>
    <!-- Товары в каталоге -->
    <SettingSection Title="SectionCatalogProducts">
        <Setting Name="ProductsPerPage" Type="TextBox" DataType="int">
            <Value>50</Value>
        </Setting>
        <Setting Name="CountCatalogProductInLine" Type="TextBox" DataType="int">
            <Value>5</Value>
        </Setting>
    </SettingSection>
    <SettingSection Title="Category">
        <Setting Name="ProductCardBackground" Type="DropDownList" IsAdditional="true" Title="Заливка карточки товара">
            <option Title="Не задано" Value="None" />
            <option Title="Фото товара" Value="ProductPhoto" />
            <option Title="Карточка товара" Value="ProductCard" />
            <Value>None</Value>
        </Setting>
        <Setting Name="ShowCategoryPhoto" Type="Checkbox" IsAdditional="true"
                 Title="Показывать фото категории в режиме Плитка">
            <Value>False</Value>
        </Setting>
        <Setting Name="CatalogFilterMode" Type="DropDownList" IsAdditional="true" Title="Режим отображения фильтра">
            <option Title="По-умолчанию" Value="Default" />
            <option Title="Всплывающая панель" Value="Sidebar" />
            <Value>Sidebar</Value>
        </Setting>        
    </SettingSection>
    <!-- Отображать -->
    <SettingSection Title="SectionView">
        <Setting Name="MobileAppBannerVisibility" Type="Checkbox">
            <Value>False</Value>
        </Setting>
        <Setting Name="RecentlyViewVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="NewsVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="NewsSubscriptionVisibility" Type="Checkbox">
            <Value>False</Value>
        </Setting>
    <Setting Name="HideNewsDate" Type="Checkbox">
      <Value>False</Value>
    </Setting>
        <Setting Name="CheckOrderVisibility" Type="Checkbox">
            <Value>False</Value>
        </Setting>
        <Setting Name="GiftSertificateVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Name="WishListVisibility" Type="Checkbox">
            <Value>True</Value>
        </Setting>
    </SettingSection>
    <!-- Лого производителя -->
    <SettingSection Title="SectionBrandLogo">
        <Setting Title="Width" Name="BrandLogoWidth" Type="TextBox" DataType="int">
            <Value>240</Value>
        </Setting>
        <Setting Title="Height" Name="BrandLogoHeight" Type="TextBox" DataType="int">
            <Value>240</Value>
        </Setting>
    </SettingSection>
    <!-- Продукт.Большая фотография -->
    <SettingSection Title="SectionBigProductImages">
        <Setting Title="Width" Name="BigProductImageWidth" Type="TextBox" DataType="int">
            <Value>1000</Value>
        </Setting>
        <Setting Title="Height" Name="BigProductImageHeight" Type="TextBox" DataType="int">
            <Value>1000</Value>
        </Setting>
    </SettingSection>
    <!-- Продукт.Средняя фотография -->
    <SettingSection Title="SectionMiddleProductImages">
        <Setting Title="Width" Name="MiddleProductImageWidth" Type="TextBox" DataType="int">
            <Value>700</Value>
        </Setting>
        <Setting Title="Height" Name="MiddleProductImageHeight" Type="TextBox" DataType="int">
            <Value>700</Value>
        </Setting>
    </SettingSection>
    <!-- Продукт.Маленькая фотография -->
    <SettingSection Title="SectionSmallProductImages">
        <Setting Title="Width" Name="SmallProductImageWidth" Type="TextBox" DataType="int">
            <Value>360</Value>
        </Setting>
        <Setting Title="Height" Name="SmallProductImageHeight" Type="TextBox" DataType="int">
            <Value>360</Value>
        </Setting>
    </SettingSection>
    <!-- Продукт.Самая маленькая фотография -->
    <SettingSection Title="SectionXSmallProductImages">
        <Setting Title="Width" Name="XSmallProductImageWidth" Type="TextBox" DataType="int">
            <Value>120</Value>
        </Setting>
        <Setting Title="Height" Name="XSmallProductImageHeight" Type="TextBox" DataType="int">
            <Value>120</Value>
        </Setting>
    </SettingSection>
    <!-- Категория.Большая фотография -->
    <SettingSection Title="SectionBigCategoryImages">
        <Setting Title="Width" Name="BigCategoryImageWidth" Type="TextBox" DataType="int">
            <Value>1920</Value>
        </Setting>
        <Setting Title="Height" Name="BigCategoryImageHeight" Type="TextBox" DataType="int">
            <Value>348</Value>
        </Setting>
    </SettingSection>
    <!-- Категория.Маленькая фотография -->
    <SettingSection Title="SectionSmallCategoryImages">
        <Setting Title="Width" Name="SmallCategoryImageWidth" Type="TextBox" DataType="int">
            <Value>300</Value>
        </Setting>
        <Setting Title="Height" Name="SmallCategoryImageHeight" Type="TextBox" DataType="int">
            <Value>300</Value>
        </Setting>
    </SettingSection>
    <!-- Кастом опции. Фотография -->
    <SettingSection Title="SectionCustomOptionsImages">
        <Setting Title="Width" Name="CustomOptionsImageWidth" Type="TextBox" DataType="int">
            <Value>100</Value>
        </Setting>
        <Setting Title="Height" Name="CustomOptionsImageHeight" Type="TextBox" DataType="int">
            <Value>100</Value>
        </Setting>
    </SettingSection>
    <!-- Изображение новости -->
    <SettingSection Title="SectionNewsPhotos">
        <Setting Title="Width" Name="NewsImageWidth" Type="TextBox" DataType="int">
            <Value>290</Value>
        </Setting>
        <Setting Title="Height" Name="NewsImageHeight" Type="TextBox" DataType="int">
            <Value>290</Value>
        </Setting>
    </SettingSection>
    <!-- Иконки для оплаты -->
    <SettingSection Title="SectionPaymentIcons">
        <Setting Name="ShowProductsPhotoInCheckoutCart" Type="Checkbox">
            <Value>True</Value>
        </Setting>
        <Setting Title="Width" Name="PaymentIconWidth" Type="TextBox" DataType="int">
            <Value>60</Value>
        </Setting>
        <Setting Title="Height" Name="PaymentIconHeight" Type="TextBox" DataType="int">
            <Value>40</Value>
        </Setting>
    </SettingSection>
    <!-- Иконки для доставки -->
    <SettingSection Title="SectionShippingIcons">
        <Setting Title="Width" Name="ShippingIconWidth" Type="TextBox" DataType="int">
            <Value>60</Value>
        </Setting>
        <Setting Title="Height" Name="ShippingIconHeight" Type="TextBox" DataType="int">
            <Value>40</Value>
        </Setting>
    </SettingSection>
    <!-- Настройки по умолчанию -->
    <SettingSection Title="SectionDesignTransformer" Hidden="true">
        <Setting Name="Theme" Type="TextBox">
            <Value>_none</Value>
        </Setting>
        <Setting Name="ColorScheme" Type="TextBox">
            <Value>_none</Value>
        </Setting>
        <Setting Name="Background" Type="TextBox">
            <Value>_none</Value>
        </Setting>
    </SettingSection>
    <SettingSection Title="SectionColors" Hidden="true">
        <Setting Name="ColorIconWidthDetails" Type="TextBox" DataType="int">
            <Value>24</Value>
        </Setting>
        <Setting Name="ColorIconHeightDetails" Type="TextBox" DataType="int">
            <Value>24</Value>
        </Setting>
    </SettingSection>
    <SettingSection Title="Product">
        <Setting Name="ProductVideosLocation" Type="DropDownList" IsAdditional="true" Title="Выводить видео в карточке товара">
            <option Title="В карусели фотографий (начало)" Value="CarouselStart" />
            <option Title="В карусели фотографий (конец)" Value="CarouselEnd" />
            <option Title="В отдельной вкладке" Value="SeparateTab" />
            <Value>CarouselStart</Value>
        </Setting>
    </SettingSection>
    <!-- Mobile -->
    <SettingSection Title="SectionMobile">
        <Setting Name="Mobile_MainPageCatalogView" Type="TextBox">
            <Value>1</Value>
        </Setting>
    </SettingSection>
    <!-- Настройки категории товаров -->
    <SettingSection Title="SectionProductCategory">
        <!-- Отключает для выбора виды отображения товаров (по принцибу черного списка) -->
        <!-- <Setting Name="UnsupportedViewListTypes" Type="DropDownList">
      <option Title="Tile" Value="0" />
      <option Title="List" Value="1" />
      <option Title="Table" Value="2" />
      <option Title="Single" Value="3" />
    </Setting> -->
        <!-- Тип отображения списка товаров в каталоге (по умолчанию) -->
        <!-- <Setting Name="DefaultCatalogView" Type="CoreSetting">
      <Value>0</Value>
    </Setting> -->
        <!-- Тип отображения списка товаров в поиске (по умолчанию) -->
        <!-- <Setting Name="DefaultSearchView" Type="CoreSetting">
    <Value>0</Value>
  </Setting> -->
    </SettingSection>
  <SettingSection Title="SectionCheckout">
    <Setting Name="ShoppingCartPopupType" Type="DropDownList">
      <option Title="ShoppingCartPopupType.None" Value="0"/>
      <option Title="ShoppingCartPopupType.Sidebar" Value="2"/>
      <Value>Sidebar</Value>
    </Setting>
  </SettingSection>

    <StaticBlocks>
        <StaticBlock Key="NeoTextOnMain2" Name="Текст после карусели производителей на главной странице">
            <![CDATA[        
                <div class="mobile-container-fluid">
                    <div class="row middle-xs">
                        <div class="col-xs-12 col-md-6">
                            <div class="h3">Переходите</div>
                            <p class="h2">на мебель SCANDIA и преображайте ваш интерьер</p>
                            <p class="cs-t-3">
                                Выбирая модульную мебель, вы оптимально используете пространство и повышаете комфорт вашего дома. 
                                Оцените преимущества современных функциональных решений уже сегодня.
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <img data-qazy data-src="./Templates/Neo/images/static-blocks/text-on-main2.png">
                        </div>            
                    </div>
                </div>
            ]]>
        </StaticBlock>
        <StaticBlock Key="NeoFooterBlock" Name="Блок в подвале">
            <![CDATA[
                <div class="footer__static-block-header cs-t-9">Связаться с нами</div>
                <div class="footer__static-block-content cs-t-7">
                    +7999999-99-99<br/>
                    г. Москва, ул. Ленина 56, склад №3<br/>
                    shop-email@shopmail.com
                </div>
            ]]>
        </StaticBlock>
        <StaticBlock Key="NeoMainpageUnderBest" Name="Блок с баннерами под хитами на главной (шаблон Neo)">
        </StaticBlock>
        <StaticBlock Key="NeoMainpageUnderNew" Name="Блок с баннерами под новинками на главной (шаблон Neo)">
        </StaticBlock>
        <StaticBlock Key="NeoMainpageUnderSale" Name="Блок с баннерами под скидками на главной (шаблон Neo)">
        </StaticBlock>
        <StaticBlock Key="NeoMainpageUnderProductlist1" Name="Блок с баннерами под первым списком товаров на главной (шаблон Neo)">
        </StaticBlock>
    </StaticBlocks>
    <Carousel>
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/slide1.jpg"
               DisplayInMobile="False"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="True">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Создаём эксклюзивную мебель" ColorCode="fff" />
            <Description Text="Собственное производство" ColorCode="fff"/>
            <Button Text="ХОЧУ ТАКОЙ ЖЕ" Url="catalog" Blank="true" ButtonColorCode="fff" TextColorCode="000"/>
        </Slide>
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/slide2.jpg"
               DisplayInMobile="False"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="True">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Эко‑мебель на заказ" ColorCode="fff" />
            <Description Text="Натуральные материалы, экологичный дизайн и забота о природе." ColorCode="fff"/>
        </Slide>
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/video1.mp4"
               DisplayInMobile="False"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="True"
               IsVideo="true">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Мебель точно по вашим эскизам" ColorCode="fff" />
            <Description Text="От эскиза до готового изделия, с гарантией качества и точными сроками. От эскиза до готового изделия, с гарантией качества и точными сроками." ColorCode="fff"/>
        </Slide>
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/slide1_mobile.jpg"
               DisplayInMobile="True"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="False">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Эко‑мебель на заказ" ColorCode="fff" Size="26" />
            <Description Text="Натуральные материалы, экологичный дизайн и забота о природе." ColorCode="fff" Size="16"/>
        </Slide>
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/slide2_mobile.jpg"
               DisplayInMobile="True"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="False">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Готовый лофт‑интерьер под ключ" ColorCode="fff" Size="26" />
            <Description Text="От эскиза до готового изделия, с гарантией качества и точными сроками." ColorCode="fff" Size="16"/>
        </Slide>        
        <Slide Path="https://img.advstatic.ru/templates/neo/carousel/14.0.1/video1_mobile.mp4"
               DisplayInMobile="True"
               DisplayInTwoColumns="False"
               DisplayInOneColumn="False"
               IsVideo="true">
            <TextSettings BlockSize="50" />
            <Margin Top="40" Right="40" Bottom="40" Left="40" />
            <Header Text="Готовый лофт‑интерьер под ключ" ColorCode="fff" Size="26" />
            <Description Text="От эскиза до готового изделия, с гарантией качества и точными сроками." ColorCode="fff" Size="16"/>
        </Slide> 
    </Carousel>
    <LogoPicture Path="images/logo_black.svg"></LogoPicture>
  <HiddenSettings>
    <HiddenSetting Name="LimitedCategoryMenu"/>
    <HiddenSetting Name="SearchBlockLocation"/>
    <HiddenSetting Name="MenuStyle"/>
  </HiddenSettings>
    
</Settings>