<form name="formSaveOkMarketExportSettings" novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.saveOkMarketExportSettings.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div ng-class="{'container-fluid' : !isMobile.value}">
            <div class="form-group row middle-xs setting__form-group">
                <div class="col-xs-12 col-md-4 setting__label" ng-class="{'m-b-sm' : isMobile.value}">
                    {{'Admin.Js.saveOkMarketExportSettings.Currency'|translate}}
                </div>
                <div class="col-xs-12 col-md-3">
                    <select
                        class="form-control input-alt"
                        ng-model="ctrl.settings.CurrencyIso3"
                        ng-options="item.Value as item.Text for item in ctrl.settings.Currencies"></select>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div class="col-xs-12 col-md-4 setting__label" ng-class="{'m-b-sm' : isMobile.value}">
                    {{'Admin.Js.saveOkMarketExportSettings.ExportLinkToSite'|translate}}
                </div>
                <div class="col-xs-12 col-md-3 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <select class="form-control input-alt" ng-model="ctrl.settings.ExportLinkToSite" convert-to-number>
                        <option value="0">{{'Admin.Js.saveOkMarketExportSettings.ExportLinkToSite.No'|translate}}</option>
                        <option value="1">{{'Admin.Js.saveOkMarketExportSettings.ExportLinkToSite.Top'|translate}}</option>
                        <option value="2">{{'Admin.Js.saveOkMarketExportSettings.ExportLinkToSite.Bottom'|translate}}</option>
                    </select>

                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'col-xs-1 m-l-sm' : isMobile.value}">
                        Добавит в описание ссылку на страницу сайта с товаром.
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div class="col-xs-12 col-md-4 setting__label" ng-class="{'m-b-sm' : isMobile.value}">
                    {{'Admin.Js.saveOkMarketExportSettings.ExportDescription'|translate}}
                </div>
                <div class="col-xs-12 col-md-3">
                    <select class="form-control input-alt" ng-model="ctrl.settings.ExportDescription" convert-to-number>
                        <option value="0">{{'Admin.Js.saveOkMarketExportSettings.ExportDescription.No'|translate}}</option>
                        <option value="1">{{'Admin.Js.saveOkMarketExportSettings.ExportDescription.Full'|translate}}</option>
                        <option value="2">{{'Admin.Js.saveOkMarketExportSettings.ExportDescription.Short'|translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportUnavailableProducts'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportUnavailableProducts" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportUnavailableProducts'|translate}}</span
                        >
                    </label>
                </div>
            </div>

            <div class="form-group row setting__form-group" ng-if="ctrl.settings.ExportUnavailableProducts === false">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportPreorderProducts'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportPreorderProducts" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportPreorderProducts'|translate}}</span
                        >
                    </label>
                    <help-trigger class="ng-cloak m-l-sm" ng-class="{'col-xs-1' : isMobile.value}">
                        Выгружать или нет товары не в наличии, но доступные под заказ.
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportProductsProperties'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportProperties" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportProductsProperties'|translate}}</span
                        >
                    </label>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportSizeAndColorInName'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportSizeAndColorInName" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportSizeAndColorInName'|translate}}</span
                        >
                    </label>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div ng-if="!isMobile.value" class="col-xs-4">
                    {{'Admin.Js.saveOkMarketExportSettings.ExportSizeAndColorInDescription'|translate}}
                </div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportSizeAndColorInDescription" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportSizeAndColorInDescription'|translate}}</span
                        >
                    </label>
                </div>
            </div>

            <div class="form-group row middle-xs setting__form-group">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportUpdateProductPhotos'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportUpdateProductPhotos" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportUpdateProductPhotos'|translate}}</span
                        >
                    </label>
                    <help-trigger class="ng-cloak m-l-sm" ng-class="{'col-xs-1' : isMobile.value}">
                        <p>Если параметр не установлен, то у существующих в ОК товаров не будут обновляться фотографии, измененные в магазине.</p>
                        <b>Внимание</b>, если параметр установлен - выгрузка будет занимать больше времени.
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-md-4">
                    <h3 class="setting__subtitle">{{'Admin.Js.saveOkMarketExportSettings.ExportTitle'|translate}}</h3>
                </div>
            </div>

            <div class="form-group row middle-xs">
                <div ng-if="!isMobile.value" class="col-xs-4">{{'Admin.Js.saveOkMarketExportSettings.ExportOnShedule'|translate}}</div>
                <div class="col-xs-12 col-md-3" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label">
                        <input class="adv-checkbox-input" type="checkbox" ng-model="ctrl.settings.ExportOnShedule" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value" ng-class="{'flex-grow m-l-sm setting__label' : isMobile.value}"
                            >{{'Admin.Js.saveOkMarketExportSettings.ExportOnShedule'|translate}}</span
                        >
                    </label>
                    <help-trigger class="ng-cloak m-l-sm" ng-class="{'col-xs-1' : isMobile.value}">
                        Выгрузка будет осуществляться раз в сутки в 12:00.
                    </help-trigger>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="button"
            data-button-validation
            data-button-validation-success="ctrl.save()"
            ladda="ctrl.btnLoading">
            {{'Admin.Js.saveOkMarketExportSettings.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.saveOkMarketExportSettings.Cancel'|translate}}
        </button>
    </div>
</form>
