.aside-image {
    border-radius: 50%;
    width: 64px;
    height: 64px !important;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-figure {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    padding: 18px;
    margin: 0;
    background-color: #fff;
    grid-column-gap: 16px;

    &__photo-wrap {
        height: 64px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__caption {
        font-weight: 500;
        font-size: 16px;
    }
}

.product-menu {
    background-color: #fff;
    padding: 0;

    .chips-list {
        padding-left: 18px;
        padding-right: 18px;
    }
}

.category-label {
    padding-left: 30px;
    display: inline-flex;
    align-items: center;
}

.product-markers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.info-about-product-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    grid-gap: 10px;
    margin-bottom: 15px;
}

.product-offers__add {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.product-photos__add-item {
    margin-left: 0;
    display: block;

    + .product-photos__add-item {
        margin-top: 10px;
    }
}

.product-photos__header {
    margin-bottom: 15px;
}

.product-photos__add-new {
    text-align: center;
}

.product-discount {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .btn {
        border-width: 0 !important;
    }

    .btn:first-child:not(.product-currency-active) {
        border-left-width: 2px !important;
    }
}

.properties-item {
    margin-bottom: 20px;
}

.properties-new-item {
    margin-bottom: 10px;
    font-weight: 500;
}

.properties-group {
    margin-bottom: 10px;
}

.properties-item-name,
.properties-item-value .btn {
    font-size: var(--font-size-default);
}

.properties-item-name {
    margin-bottom: 10px;
}

.properties-block-add-item,
.properties-block-add-item-btn {
    margin-bottom: 20px;
}

.properties-group--add-new-item {
    margin-top: 15px;
    margin-bottom: 0;
}

.product-mobile {
    &__link-help {
        padding-left: 0;
        font-size: 12px;
        opacity: 0.7;
    }

    &__form-group {
        margin-bottom: 24px;
    }

    &__ui-grid-custom-wrap {
        /* .ui-grid-custom--default .ui-grid-row-wrap{
            padding: 0 16px;
        } */

        .ui-grid-custom-edit-enabled {
            margin-bottom: 0;
        }

        .ui-grid-cell-contents {
            justify-content: flex-start;
            height: auto;

            &:last-child.ui-grid-cell-contents--with-icons {
                justify-content: center;
                height: 100%;
            }
        }

        .form-row {
            margin-bottom: 12px;
        }
    }
}

.product-block-state,
.product-color-select-wrap {
    padding: 10px 10px 0;
    background: #fff;
    border-radius: var(--border-radius-on-box);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.product-color-select-wrap {
    padding-bottom: 10px;
}

.product-block-state--pad-none {
    padding: 0;
}

.pic-hover-color {
    color: #000 !important;
}

.fas.fa-times.pic-hover-color::before {
    background-color: #000;
}

.items-list:not(.as-sortable-drag) {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.rel-product-item {
    position: relative;
}

.item-block {
    background: #fff;
    border-radius: var(--border-radius-on-box);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-on-box);
}

.item-block__figure {
    text-align: center;
    margin-top: 10px;
}

.item-block__name {
    padding: 10px;
}

.product-block__new-trigger {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-block--center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-hover-effect {
    display: flex;
    align-items: center;
}

.picture-icon-edit {
    font-size: 16px;
}

.product-photos--mobile {
    display: flex;
    flex-direction: column;
}

.product-photos__head {
    order: 20;
    margin-bottom: 15px;
}

.product-photos__filter {
    order: 10;
}

.product-photos__body {
    order: 30;
}

.dropdown.ui-select-bootstrap.open {
    z-index: 3000;
}

.product__price-margin-in-numbers {
    box-shadow: var(--shadow-on-box);

    .form-control {
        border-width: 0 !important;
        border-right-width: 2px !important;
    }

    .btn,
    .input-group-addon {
        border-width: 0;
    }
}

.pseudo-category {
    padding: 2px 5px;

    &--active {
        background-color: #c9e3f6;
    }
}

.product-reviews {
    &__text-overflow {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 280px;
    }
}

.product-video-player-code-wrap {
    iframe {
        aspect-ratio: 16 / 9;
        height: 100%;
        width: 100%;
    }
}

.properties-group__drop-down-list summary {
    display: inline-flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;

    .properties-group {
        margin: 0 !important;
    }

    &::after {
        position: relative;
        top: 0.5px;
        content: '\25BA';
        display: block;
        margin-left: 10px;
    }

    &::marker {
        display: none;
    }
}

details[open].properties-group__drop-down-list > summary {
    &::after {
        content: '\25BC';
    }
}

#properties .properties-item .ui-select-container .ui-select-match-item span:not(.close) {
    white-space: normal;
    word-break: break-all;
}

/* stylelint-disable */
.product-download-link {
    overflow: hidden;
}

.product-download-link__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}
/* stylelint-enable */
