.sidebar-wrap {
    background-image: linear-gradient(to bottom, rgb(97 151 188 / 92%), rgb(8 51 93 / 80%)), url('bg.jpg');
}

.sidebar {
    background-image: linear-gradient(to bottom, rgb(97 151 188 / 92%), rgb(8 51 93 / 80%)), url('bg.jpg');
}

.sidebar::-webkit-scrollbar-thumb {
    border: 1px solid rgb(255 255 255 / 10%); /* should match background, can't be transparent */
    background-color: #5492bf;
}

.sidebar::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, rgb(97 151 188 / 92%), rgb(8 51 93 / 80%));
}

.sidebar__name {
    color: #e9e8f4;
}

.sidebar__counter .new-item {
    background-color: #41759b;
    color: #e9e8f4;
}

.sidebar__link:hover {
    color: #cdcbe4;
}

.sidebar__link:hover .sidebar__name {
    color: #e9e8f4;
}

.sidebar__link--subitem .sidebar__name {
    color: #e9e8f4;
}

.sidebar__link--simple {
    color: #e9e8f4;
}

.sidebar__link--simple:hover {
    color: #e9e8f4;
}

.sidebar__trigger {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.sidebar__trigger:hover,
.sidebar__trigger--active,
.sidebar__trigger--active:hover {
    background-color: rgb(49 98 134);
}

.sidebar__trigger:active {
    background-color: rgb(49 98 134);
    opacity: 0.7;
}

.sidebar__trigger--subitems {
    border-color: rgb(255 255 255 / 10%);
}

.sidebar.sidebar--compact:hover .sidebar__trigger {
    border-color: rgb(255 255 255 / 10%);
}

.sidebar--compact .sidebar__icon--left,
.sidebar__icon svg {
    color: #e9e8f4;
}

.sidebar__item--open {
    background-color: rgb(255 255 255 / 10%);
}

.sidebar__item--selected {
    background-color: rgb(255 255 255 / 10%);
}

.sidebar__category-item-name,
.sidebar__name--link {
    color: #a3a4a9;
}

.sidebar--simple .sidebar__item--selected {
    border-left-color: #399ee2;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
    background: linear-gradient(to bottom, rgb(97 151 188 / 92%), rgb(8 51 93 / 80%));
    color: #e9e8f4;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
    background: linear-gradient(to bottom, rgb(97 151 188 / 92%), rgb(8 51 93 / 80%));
}

.sidebar-action__inner {
    border: 1px solid rgb(255 255 255 / 10%);
}

.sidebar-unit-modal-trigger:hover .sidebar-unit-modal-trigger__icon {
    color: #bbb;
}

.sidebar-unit-modal-trigger__icon {
    color: #fff;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
    color: currentcolor;
}
