.product-item {
    --font-size-text-product-item: 12px;
    --margin-row: 5px;

    word-break: break-all;

    %product-properties {
        font-size: var(--font-size-text-product-item);
        line-height: calc(14 / 12);
    }

    &--m-b-md {
        margin-bottom: 16px;
    }

    &__header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        grid-column-gap: 10px;
        color: var(--color-default);
        text-decoration: none;
    }

    &__title {
        display: block;
        font-size: 16px;
        line-height: calc(19 / 16);
        font-weight: 500;
        // margin-bottom: 2px;
        margin-bottom: 5px;
        word-break: break-all;
    }

    &__link {
        text-decoration: none;

        &:hover,
        &:active,
        &:visited {
            color: var(--color-link);
        }
    }

    &__row {
        // margin-bottom: 16px;
    }

    &__col {
        &--text-right {
            text-align: right;
        }
    }

    &__art {
        @extend %product-properties;

        margin-bottom: 5px;
        color: var(--color-text-alt);

        + * {
            margin-top: 0;
        }
    }

    &__color + &__size {
        margin-top: var(--margin-row);
    }

    &__dimensions,
    &__weight {
        @extend %product-properties;
    }

    &__text,
    &__amount,
    &__amount-text,
    &__size,
    &__color,
    &__brand {
        --font-size-text-product-item: 12px;

        @extend %product-properties;
    }

    &__price,
    &__cost {
        text-align: right;
        font-size: 14px;
        line-height: calc(20 / 14);
        font-weight: 500;
    }

    &__price,
    &__cost,
    &__amount-wrap {
        word-break: break-all;
    }

    &--with-control-horizontal {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 10px;
    }

    &__col--leftcontrol-righttext {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 160px auto;
    }

    &__customer-options {
        @extend %product-properties;

        & > div {
            margin-top: var(--margin-row);
        }

        & > div:first-child {
            margin-top: 0 !important;
        }
    }

    &__avalablity {
        color: var(--color-danger);
    }

    &__footer {
        // padding-top: 8px;
        padding-top: 5px;
        margin-top: 0 !important;
    }
}
