.address-list-item:first-child {
    border-top: 0;
    padding-top: 0;
}

.address-list-item__data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.address-controls-item:first-child {
    margin-left: 0;
}

.address-list-radio-wrap {
    display: inline-block;
    vertical-align: middle;
}

.address-controls-item {
    margin-bottom: 10px;
    text-align: right;
}

.modal-body,
.order-customer {
    .address-list-item__data,
    .address-controls-container {
        flex-basis: 100%;
        max-width: 100%;
    }

    .address-controls-container {
        text-align: right;
        margin-top: 15px;
    }
}

.order-customer .address-list-add {
    margin-bottom: 20px;
}
