<div ng-style="ctrl.readonly ? {'text-align': 'center'} : {}">
    <div class="row m-b-md">
        <div class="col-xs-12" ng-if="!ctrl.readonly">
            <span class="form-field-name vertical-interval-xsmall block">{{ ::'Js.Order.OrderReview.Rate' | translate }}</span>
        </div>
        <div class="col-xs-12">
            <ul
                class="rating"
                data-rating
                data-max="5"
                data-ng-model="ctrl.review.Ratio"
                data-current="{{ctrl.review.Ratio}}"
                data-readonly="{{ctrl.readonly}}">
                <li class="rating-item icon-star-before" data-ng-class="{'rating-item-selected': 5 <= rating.current}"></li>
                <li class="rating-item icon-star-before" data-ng-class="{'rating-item-selected': 4 <= rating.current}"></li>
                <li class="rating-item icon-star-before" data-ng-class="{'rating-item-selected': 3 <= rating.current}"></li>
                <li class="rating-item icon-star-before" data-ng-class="{'rating-item-selected': 2 <= rating.current}"></li>
                <li class="rating-item icon-star-before" data-ng-class="{'rating-item-selected': 1 <= rating.current}"></li>
            </ul>
        </div>
    </div>
    <div class="row m-b-md" ng-if="!ctrl.readonly">
        <div class="col-xs-12">
            <span class="form-field-name vertical-interval-xsmall block">{{ ::'Js.Order.OrderReview.Text' | translate }}</span>
        </div>
        <div class="col-xs-12">
            <span class="form-field-input vertical-interval-xsmall block">
                <textarea
                    style="resize: vertical"
                    class="textarea-small"
                    data-ng-model="ctrl.review.Text"
                    readonly
                    ng-readonly="ctrl.readonly"></textarea>
            </span>
        </div>
    </div>
    <div class="row" ng-if="ctrl.readonly">
        <div class="col-xs-12">
            <span class="form-field-input vertical-interval-xsmall block" data-ng-bind="ctrl.review.Text"></span>
        </div>
    </div>
    <div class="row" ng-if="!ctrl.readonly">
        <div class="col-xs-12">
            <input style="width: 100%" type="button" value="Отправить" class="btn btn-middle btn-submit" data-ng-click="ctrl.addReview()" />
        </div>
    </div>
</div>
