.content {
    &__group-list-add {
        margin-bottom: 24px;
    }

    &__sales-plan {
        margin-bottom: 20px;

        .ibox {
            margin-bottom: 0;
        }
    }

    &__statistics {
        margin-bottom: 26px;
    }
}

.container-bottom-fixed {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &--relative {
        position: relative !important;
    }

    &--fixed {
        position: fixed !important;
    }
}

/* .container-wrap:focus-within + .container-bottom-fixed {
  position: relative;
} */

.container-wrap {
    min-height: calc(100vh - 76px);

    /* min-height: calc(var(--min-full-height) - var(--container-bottom-fixed, 76px)); */
}
%container-out--mobile {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    overflow-x: hidden;
    transform: translateX(-50vw);
}

.container-out--mobile {
    @extend %container-out--mobile;
}

.container-out--mobile-top {
    margin-top: -16px;
}
