@use "sass:color";
@use 'sass:meta';
@import '../../../../../../design/colors/_colorScheme.scss';

$colorValueChange: getDefaultColorValueChange() !default;

$c1: #4b4f58;
$c2: #e2e3e4;
$c3: #94969b;
$c4: #fff;
$c5: #26282b;
$c6: #156196;
$c7: #bfc0c1;
$c9: #e20000;
$c10: #f3f3f3;
$c11: #f8f8f8;
$c12: #f8b643;

@include color-scheme-text( '1',  $c1);
@include color-scheme-text( '2',  $c2);
@include color-scheme-text( '3',  $c3);
@include color-scheme-text( '4',  $c4);
@include color-scheme-text( '5',  $c5);
@include color-scheme-text( '6',  $c6);
@include color-scheme-text( '7',  $c7);
@include color-scheme-text( '8',  $c1);

@include color-scheme-link( '1',  $c6,  $c1,  color.adjust($c1, $lightness: $colorValueChange));
@include color-scheme-link( '2', $c1,  $c6,  color.adjust($c6, $lightness: - $colorValueChange));
@include color-scheme-link( '3',  $c3,  $c6,  color.adjust($c6, $lightness: - $colorValueChange));
@include color-scheme-link( '4',  $c1,  $c1, active $c1,  $c1);
@include color-scheme-link ( '5',  $c9,  color.adjust($c9, $lightness: $colorValueChange),  color.adjust($c9, $lightness: - $colorValueChange));
@include color-scheme-link( '6',  $c6,  $c4,  $c4,  $c4);
@include color-scheme-link( '7',  $c1,  $c1,  $c1,  $c1);

@include color-scheme-bg( '1',  $c11,  color.adjust($c11, $lightness: - $colorValueChange),  color.adjust($c11, $lightness: - $colorValueChange));
@include color-scheme-bg( '2',  $c1,  color.adjust($c1, $lightness: $colorValueChange),  color.adjust($c1, $lightness: - $colorValueChange));
@include color-scheme-bg( '3',  $c10,  color.adjust($c10, $lightness: $colorValueChange),  color.adjust($c10, $lightness: - $colorValueChange));
@include color-scheme-bg( '4',  $c11,  color.adjust($c11, $lightness: $colorValueChange),  color.adjust($c11, $lightness: - $colorValueChange));
@include color-scheme-bg( '5',  color.adjust($c11, $lightness: - $colorValueChange),  $c11,  color.adjust($c11, $lightness: - $colorValueChange));
@include color-scheme-bg( '6',  $c9,  color.adjust($c9, $lightness: $colorValueChange),  color.adjust($c9, $lightness: - $colorValueChange));
@include color-scheme-bg( '7',  $c4,  color.adjust($c4, $lightness: - $colorValueChange), color.adjust($c4, $lightness: - $colorValueChange));
@include color-scheme-bg( '8',  $c3,  color.adjust($c3, $lightness: $colorValueChange), color.adjust($c3, $lightness: - $colorValueChange));
@include color-scheme-bg ( '9',  $c4,  color.adjust($c4, $lightness: - $colorValueChange),  darken($c4, $colorValueChange ));
@include color-scheme-bg( '10',  $c12,  color.adjust($c12, $lightness: $colorValueChange),  color.adjust($c12, $lightness: - $colorValueChange));
@include color-scheme-bg( '11',  $c4,  color.adjust($c6, $lightness: $colorValueChange),  color.adjust($c6, $lightness: - $colorValueChange));

@include color-scheme-gradient( '1',  'to bottom',  inspect((#{$c4} 0%, #{$c11} 50%, #{$c10} 100%)));

@include color-scheme-button( 'add',  $c6,  $c4,  color.adjust($c6, $lightness: $colorValueChange),  $c4,  color.adjust($c6, $lightness: - $colorValueChange),  $c4,  $c2,  $c3);
@include color-scheme-button( 'action',  $c1,  $c4,  color.adjust($c1, $lightness: $colorValueChange),  $c4,  color.adjust($c1, $lightness: - $colorValueChange),  $c4,  $c2,  $c3);
@include color-scheme-button( 'buy',  $c6,  $c4,  color.adjust($c6, $lightness: $colorValueChange),  $c4,  color.adjust($c6, $lightness: - $colorValueChange),  $c4,  $c2,  $c3);
@include color-scheme-button( 'confirm',  $c9,  $c4,  color.adjust($c9, $lightness: $colorValueChange),  $c4,  color.adjust($c9, $lightness: - $colorValueChange),  $c4,  $c2,  $c3);
@include color-scheme-button( 'submit',  $c6,  $c4,  color.adjust($c6, $lightness: $colorValueChange),  $c4,  color.adjust($c6, $lightness: - $colorValueChange),  $c4,  $c2,  $c3);

@include color-scheme-borders-color('1', $c2, $c2, $c2);
@include color-scheme-borders-color('2', $c12, $c12, $c12);

tr, td, th {
    border-color: $c2;
}

a {
    color: #156196;
}

a:hover {
    color: #4b4f58;
}

a:active {
    color: #575b66;
}