<form name="formAddTagsToCustomers">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">
            <span data-ng-if="ctrl.tagData.IsEditMode"
                >{{'Admin.Js.Tags.AddEdit.Tag' | translate}} <strong data-ng-bind="ctrl.tagData.Name"></strong
            ></span>
            <strong data-ng-if="!ctrl.tagData.IsEditMode" data-ng-bind="'Admin.Js.Tags.AddEdit.NewTag' | translate"></strong>
        </h2>
    </div>
    <div class="modal-body" data-is-mobile>
        <div class="row category-row setting__form-group" ng-if="ctrl.dataLoaded">
            <div class="col-xs-12 col-sm-3 setting-label-wrap">
                <label for="TagName" class="form-label-block setting__label">
                    {{'Admin.Js.Tags.AddEdit.TagName' | translate}}
                    <span class="text-required"></span
                ></label>
            </div>
            <div class="col-xs-12 col-sm-9">
                <input
                    class="form-control required input-alt"
                    id="TagName"
                    type="text"
                    url-generator
                    url-path="ctrl.tagData.UrlPath"
                    ng-model="ctrl.tagData.Name"
                    url-generator-enabled="ctrl.tagData.UrlPath.length > 0 ? false : true"
                    validation-input-text="{{'Admin.Js.Tags.AddEdit.TagName'|translate}}"
                    required />
            </div>
        </div>

        <div class="row category-row setting__form-group setting--label-with-checkbox-reverse">
            <div class="col-xs-11 col-sm-3">
                <label for="TagEnabled" class="form-label-block setting__label">{{'Admin.Js.Tags.AddEdit.Activity' | translate}}</label>
            </div>
            <div class="col-xs-1 col-sm-9">
                <label class="adv-checkbox-label form-label-block">
                    <input type="checkbox" id="TagEnabled" class="adv-checkbox-input" ng-model="ctrl.tagData.Enabled" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>

        <div class="row category-row setting__form-group setting--label-with-checkbox-reverse">
            <div class="col-xs-11 col-sm-3">
                <label for="TagVisibilityForUsers" class="form-label-block setting__label"
                    >{{'Admin.Js.Tags.AddEdit.VisibilityForUsers' | translate}}</label
                >
            </div>
            <div class="col-xs-1 col-sm-9">
                <label class="adv-checkbox-label form-label-block">
                    <input type="checkbox" id="TagVisibilityForUsers" class="adv-checkbox-input" ng-model="ctrl.tagData.VisibilityForUsers" />
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>

        <div class="row category-row setting__form-group">
            <div class="col-xs-12 col-sm-3 setting-label-wrap">
                <label for="TagSortOrder" class="form-label-block setting__label">{{'Admin.Js.Tags.AddEdit.Sorting' | translate}}</label>
            </div>
            <div class="col-xs-12 col-sm-9">
                <input type="text" id="TagSortOrder" class="form-control input-alt" ng-model="ctrl.tagData.SortOrder" />
            </div>
        </div>

        <div class="row category-row setting__form-group">
            <div class="col-xs-12 col-sm-3 setting-label-wrap">
                <span class="setting__label">{{'Admin.Js.Tags.AddEdit.Description' |translate}}</span>
            </div>
            <div class="col-xs-12 col-sm-9">
                <textarea class="wysiwyg" ckeditor="" ng-model="ctrl.tagData.Description"></textarea>
            </div>
        </div>

        <div class="row category-row setting__form-group">
            <div class="col-xs-12 col-sm-3 setting-label-wrap">
                <span class="setting__label">{{'Admin.Js.Tags.AddEdit.ShortDescription' | translate}}</span>
            </div>
            <div class="col-xs-12 col-sm-9">
                <textarea class="wysiwyg" ckeditor="" ng-model="ctrl.tagData.BriefDescription"></textarea>
            </div>
        </div>

        <div class="row category-row setting__form-group">
            <div class="col-xs-12 col-sm-3 setting-label-wrap">
                <label for="URL" class="form-label-block setting__label" ng-class="{'flex': isMobile.value}"
                    >{{'Admin.Js.Tags.AddEdit.Synonym' | translate}} <span class="text-required"></span
                ></label>
            </div>
            <div class="col-xs-12 col-sm-9">
                <label ng-if="isMobile.value" class="input-group form-label-block card card--form-control setting--m-b-none">
                    <span
                        ng-class="{'p-b-xs':isMobile.value}"
                        class="input-group-addon fs-xs card__label setting__input-group-addon"
                        ng-bind="ctrl.tagPageUrl"></span>
                    <input
                        type="text"
                        id="URL"
                        ng-model="ctrl.tagData.UrlPath"
                        class="form-control card__input"
                        validation-input-text="{{'Admin.Js.Tags.AddEdit.Synonym' | translate}}"
                        required />
                </label>

                <input
                    ng-if="!isMobile.value"
                    type="text"
                    id="URL"
                    ng-model="ctrl.tagData.UrlPath"
                    required
                    validation-input-text="{{'Admin.Js.Tags.AddEdit.Synonym' | translate}}"
                    class="form-control required input-alt" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-3">
                <label class="adv-checkbox-label">
                    <input type="checkbox" ng-model="ctrl.tagData.DefaultMeta" class="adv-checkbox-input" />
                    <span class="adv-checkbox-emul" data-e2e="tagDefaultMeta"></span>
                    <span data-ng-class="{'m-l-xs': isMobile.value}" class="setting__label"
                        >{{'Admin.Js.Tags.AddEdit.UseDefaultMeta' | translate}}</span
                    >
                </label>
            </div>
        </div>
        <div class="ng-cloak m-t-md" ng-if="!ctrl.tagData.DefaultMeta">
            <div>
                <div class="row category-row setting__form-group">
                    <div class="col-xs-12 col-sm-3 text-required setting-label-wrap">
                        <label for="SeoTitle" class="form-label-block setting__label">{{'Admin.Js.Category.Index.SeoTitle' | translate}}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input
                            type="text"
                            id="SeoTitle"
                            ng-model="ctrl.tagData.SeoTitle"
                            textcomplete=""
                            textcomplete-data="ctrl.metaMetaVariablesCompleteList"
                            ng-disabled="ctrl.tagData.DefaultMeta"
                            class="form-control input-alt"
                            validation-input-text="{{'Admin.Js.Category.Index.SeoTitle' | translate}}"
                            required />
                    </div>
                </div>
            </div>
            <div>
                <div class="row category-row setting__form-group">
                    <div class="col-xs-12 col-sm-3 text-required setting-label-wrap">
                        <label for="SeoH1" class="form-label-block setting__label">{{'Admin.Js.Category.Index.SeoH1' | translate}}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input
                            type="text"
                            ng-disabled="ctrl.tagData.DefaultMeta"
                            ng-model="ctrl.tagData.SeoH1"
                            id="SeoH1"
                            textcomplete=""
                            textcomplete-data="ctrl.metaMetaVariablesCompleteList"
                            required
                            validation-input-text="{{'Admin.Js.Category.Index.SeoH1' | translate}}"
                            class="form-control input-alt" />
                    </div>
                </div>
            </div>
            <div>
                <div class="row category-row setting__form-group">
                    <div class="col-xs-12 col-sm-3 setting-label-wrap">
                        <label for="SeoKeywords" class="form-label-block setting__label">{{'Admin.Js.Category.Index.SeoKeywords' | translate}}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input
                            type="text"
                            id="SeoKeywords"
                            ng-model="ctrl.tagData.SeoKeywords"
                            ng-disabled="ctrl.tagData.DefaultMeta"
                            textcomplete=""
                            textcomplete-data="ctrl.metaMetaVariablesCompleteList"
                            class="form-control input-alt" />
                    </div>
                </div>
            </div>
            <div>
                <div class="row category-row setting__form-group">
                    <div class="col-xs-12 col-sm-3 setting-label-wrap">
                        <label for="SeoDescription" class="form-label-block setting__label"
                            >{{'Admin.Js.Category.Index.SeoDescription' | translate}}</label
                        >
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input
                            type="text"
                            id="SeoDescription"
                            ng-model="ctrl.tagData.SeoDescription"
                            ng-disabled="ctrl.tagData.DefaultMeta"
                            textcomplete=""
                            textcomplete-data="ctrl.metaMetaVariablesCompleteList"
                            class="form-control input-alt" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-offset-3" data-ng-bind-html="ctrl.metaDescriptionHtml"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="button"
            data-button-validation
            data-button-validation-success="ctrl.send(ctrl.tagData)"
            ladda="ctrl.isProcessTag">
            <span ng-bind="ctrl.tagData.IsEditMode ? ('Admin.Js.AddEdit.Save'|translate) : ('Admin.Js.AddEdit.Add'|translate)"></span>
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
