.link-back {
    &__icon-wrap {
        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-color: #242424;
            mask-image: url('../../../images/icons//back.svg');
        }
    }

    &__icon {
        display: none;
    }

    &__text {
        display: none;
    }
}
