.notification-balance {
    background: #fff5ea;
    position: relative;
    padding: 20px 0;
    z-index: 33;

    &__close {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translate(0, -50%);
        color: #f79e1b;
        background: transparent;
        border: 0;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
    }
}
