@import '../../../../styles/_shared/layout/layout';

.ui-grid-cell-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui-grid-custom--default {
    .ui-grid-row-wrap {
        padding: 22px 16px;

        @extend %container-out--mobile;

        & + .ui-grid-row-wrap {
            border-top: 1px solid #e8e8e8;
        }
    }
}

ui-grid-custom-delete {
    display: flex;
    justify-content: flex-end;
}

.ui-grid-custom-footer,
.ui-grid-empty-text {
    margin-bottom: 16px;
    display: block;
}
