@import '../../../../../../Content/styles/buttons';

.btn {
    $self: &;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 0; // for Safari
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 9px;
    padding-right: 8px;

    &.ui-select-match-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-md {
        padding-top: 6px;
        padding-bottom: 7px;
    }

    &-default {
        border: 1px solid var(--input-border-color);

        &--active {
            color: var(--btn-success-color);
            background-color: var(--btn-success-background);

            &:hover,
            &:focus,
            &:active,
            &:active:focus {
                color: var(--btn-success-color);
                background-color: var(--btn-success-background);
            }
        }
    }

    &-success,
    &-primary {
        &:focus,
        &:active:focus {
            box-shadow: var(--outline);
        }

        &:disabled {
            background-color: #bbb;
            border-color: #eee;
            color: #31373d;
        }

        &:not(.btn-outline, [disabled]) {
            color: var(--btn-success-color);
            background-color: var(--btn-success-background);
            border-color: var(--btn-success-background);
        }
    }

    &-check:focus + &-success,
    &-check:checked + &-success:focus,
    &-check:active + &-success:focus,
    .show > &-success.dropdown-toggle:focus {
        box-shadow: var(--outline);
    }

    &-secondary {
        color: var(--btn-secondary-color);
        background-color: transparent;

        #{$self}-check:focus + #{$self}-secondary,
        &:focus,
        &:active,
        &:active:focus {
            background-color: transparent;
            color: var(--btn-secondary-color);
            box-shadow: var(--outline);
        }
    }

    &-tertiary {
        color: var(--btn-tertiary-color);
        background-color: transparent;

        #{$self}-check:focus + #{$self}-tertiary,
        &:focus,
        &:active,
        &:active:focus {
            background-color: transparent;
            color: var(--btn-tertiary-color);
            box-shadow: var(--outline);
        }
    }

    &-group-sm > &,
    &-sm {
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 8px;
    }

    &--only-icon {
        align-items: center;
        justify-content: center;
        border: 0;
        padding: 0;
        line-height: 1;
        min-width: 24px;
        min-height: 24px;
        font-size: 0;

        &:hover,
        &:active,
        &:disabled {
            color: var(--color-btn-disabled);
            background-color: transparent;
            box-shadow: none;
        }

        #{$self}-text {
            display: none;
        }
    }

    &--full-width {
        width: 100%;
    }

    &--with-icon {
        display: inline-flex;
        align-items: center;
    }

    &-icon {
        /* margin-right: 5px; */
        font-size: 0;
        line-height: 0;
    }

    &--horizontal-padding-zero {
        padding-left: 0;
        padding-right: 0;
    }
}

input[type='button' i],
input[type='submit' i] {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
}

.btn-link {
    border: 0;
    background-color: transparent;
    cursor: pointer;

    .btn-icon {
        color: var(--color-link);
    }

    &:disabled {
        .btn-icon {
            color: #ccc;
        }
    }
}

.btn-xsmall {
    font-size: 13px;
}

.btn-success.btn-outline {
    color: var(--btn-success-background);
    border-color: var(--btn-success-background);
}

.ui-select-bootstrap > .ui-select-match > .btn {
    justify-content: flex-start;
}

.btn-danger {
    min-width: 0;
}

.ng-modified .page-head__controls .btn--save {
    color: var(--color-link);
}

.btn-danger.btn--horizontal-padding-zero:not(.btn--with-icon) {
    &:active,
    &:focus,
    &:hover {
        padding-left: 10px;
        position: relative;
        left: -10px;
        width: calc(100% + 20px);
    }
}

.btn-save--not-dropdown {
    border-radius: 3px !important;
}

.btn-white {
    &:active,
    &:focus {
        border-color: #e7eaec;
    }
}
