<div>
    <input
        class="form-control"
        type="tel"
        data-e2e="gridFilterItemInput"
        autocomplete="off"
        data-ng-model="$ctrl.item.filter.term"
        data-ng-keydown="$ctrl.eventListen($event)"
        data-validation-disabled="true"
        data-mask-control
        data-mask-control-preset="phone"
        data-on-accept="$ctrl.item.filter.term = mask.unmaskedValue; $ctrl.apply([{name: $ctrl.item.filter.name, value: $ctrl.item.filter.term}], $ctrl.item, true)"
        data-ng-change="!mask.configGlobal.enablePhoneMask ? $ctrl.apply([{name: $ctrl.item.filter.name, value: $ctrl.item.filter.term}], $ctrl.item, true) : null"/>
</div>
