<div class="form-horizontal container-fluid date-time-filter-block">
    <div class="form-group">
        <div class="row ui-grid-filter-row middle-xs top-sm">
            <label class="control-label col-xs-1 ui-grid-filter-text text-nowrap" for="gridFilterDateFrom">
                {{'Admin.Js.UiGridCustom.From'|translate}}
            </label>
            <div class="col-xs-11">
                <div
                    class="input-group date-time-filter-block__input-group"
                    ng-flatpickr
                    fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}"
                    fp-on-value-update="$ctrl.applyTime($ctrl.item, 'H:i')"
                    fp-on-change="$ctrl.applyTime($ctrl.item, 'H:i')">
                    <span class="flatpickr-custom-wrap">
                        <input type="text" data-e2e="timeFilterFrom" class="form-control" ng-flatpickr-input ng-model="$ctrl.item.filter.term.from" />
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row ui-grid-filter-row middle-xs top-sm">
            <label class="control-label col-xs-1 ui-grid-filter-text text-nowrap" for="gridFilterDateTo">
                {{'Admin.Js.UiGridCustom.To'|translate}}
            </label>
            <div class="col-xs-11">
                <div
                    class="input-group date-time-filter-block__input-group"
                    ng-flatpickr
                    fp-opts="{enableTime: true, noCalendar: true, dateFormat: 'H:i', startDateFormat: 'H:i', time_24hr: true, defaultHour: 12, defaultMinute: 0, wrap: true}"
                    fp-on-value-update="$ctrl.applyTime($ctrl.item, 'H:i')"
                    fp-on-change="$ctrl.applyTime($ctrl.item, 'H:i')">
                    <span class="flatpickr-custom-wrap">
                        <input type="text" data-e2e="timeFilterFrom" class="form-control" ng-flatpickr-input ng-model="$ctrl.item.filter.term.to" />
                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                    </span>
                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
