@use '../../_common/variables';

.lp-cart-trigger {
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 10px;

    &:hover {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 80%);
        color: #808080;
    }

    &--fixed {
        position: fixed;
        z-index: 250;
        top: 100px;
        right: 16px;
    }

    &__count {
        position: absolute;
        border-radius: 50%;
        padding: 2px;
        color: #fff;
        background-color: rgb(242 62 53);
        text-align: center;
        min-width: 20px;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -6px;
        bottom: -6px;
    }
}

.lp-cart {
    &__header {
        margin-bottom: 22px;
        text-transform: uppercase;
    }

    &__item {
        padding-left: 8px;
        padding-right: 8px;

        &:last-child {
            .lp-cart__col {
                border-bottom: 1px solid rgb(216 216 216);

                &--collapse {
                    border-bottom: 0;
                }
            }
        }
    }

    &__item-title {
        margin-bottom: 8px;
    }

    &__col {
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid rgb(216 216 216);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &--delete {
            min-width: 36px;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
    }

    &-properties {
        font-size: 16px;
        list-style: none;
        padding: 0;
        margin: 8px 0 0;
    }

    &__delete {
        &--icon {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            color: #8f969c;

            &:hover {
                color: #000;
            }
        }
    }

    &__spinbox {
        .spinbox-input {
            border-radius: 4px;
            border: solid 1px #d8d8d8;
            padding: 12px 18px;
            line-height: normal;
            box-sizing: border-box;
            width: 100%;
            font-size: 18px;
        }

        .spinbox-more,
        .spinbox-less {
            color: #8f969c;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }

    &__empty {
        text-align: center;
    }

    &__loader {
        position: absolute;
        inset: 0;
        background-color: rgb(255 255 255 / 50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__error {
        color: #e20a0a;
        padding-top: 24px;
    }
}

.lp-cart-result,
.lp-cart-btn-confirm {
    padding-top: 12px;
    font-weight: 600;
}

.lp-cart-btn-confirm {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.lp-cart-bill {
    font-size: 16px;
    text-align: center;

    &__price {
        &--old {
            text-decoration: line-through;
        }

        &--new,
        &--default {
            font-weight: 600;
        }
    }

    &__discount {
        margin-top: 12px;
        color: #ce1a1a;
    }
}

.lp-cart-cards-form {
    &__title {
        margin-bottom: 8px;
    }

    &__widget {
        .input-small {
            border-radius: 4px;
            border: solid 1px #d8d8d8;
            padding: 12px 18px;
            line-height: normal;
            box-sizing: border-box;
            width: 100%;
            font-size: 18px;
        }
    }
}

.adv-modal {
    .lp-cart-modal {
        max-width: 740px;
        width: 100%;

        &__header,
        &__content,
        &__footer {
            border: 0;
        }

        &__header {
            padding: 24px;
        }

        &__content {
            padding: 0 24px;
        }

        &__footer {
            padding: 0 24px 24px;
        }
    }
}

.lp-cart-spinbox__unit,
.lp-cart__unit-block {
    text-align: center;
    font-size: 18px;
}

.lp-cart-spinbox {
    &__unit {
        margin-top: 8px;
    }

    &__error {
        text-align: center;
        color: #f23e35;
    }
}

.menu-state--opened {
    .lp-cart-trigger {
        display: none;
    }
}

.mobile-version .lp-cart-modal {
    .lp-cart__spinbox .spinbox-input,
    .lp-cart-cards-form__widget .input-small,
    .lp-btn {
        padding: 6px 12px;
    }
}

@media #{variables.$viewport-sm} {
    .lp-cart-result,
    .lp-cart-btn-confirm,
    .lp-cart__error {
        padding-top: 32px;
    }

    .lp-cart-bill {
        &__price {
            &--old,
            &--new,
            &--default {
                display: block;
            }
        }

        &__discount-value {
            display: block;
        }
    }

    .adv-modal {
        .lp-cart-modal {
            &__header {
                padding: 32px;
            }

            &__content {
                padding: 0 32px;
            }

            &__footer {
                padding: 0 32px 32px;
            }
        }
    }

    .lp-cart-trigger {
        padding: 20px;

        &--fixed {
            top: 84px;
            right: 64px;
        }

        &__count {
            padding: 4px;
            right: 0;
            bottom: 0;
        }
    }
}
