.lead-events--mobile {
    .ibox-content:not(.lead-events__nothing-found-block) {
        background-color: transparent;
        padding: 0;
        border: 0;
    }
}

.lead-events__item {
    white-space: nowrap;
    align-items: flex-end;
}

.lead-events {
    display: flex;
    overflow-x: auto;
    padding-bottom: 12px;

    &::-webkit-scrollbar-thumb {
        background-color: #dbdcde;
    }

    // &::-webkit-scrollbar {
    //  appearance: none;
    //  &:vertical {
    //    width: 6px;
    //  }
    //  &:horizontal {
    //    height: 6px;
    //  }
    // }
}

.lead-events-group__title {
    color: var(--color-text-alt);
}

.lead-events-item {
    margin-bottom: 20px;

    &__time {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__from-create-date {
        color: #acaeaf;
        font-style: normal;
    }

    .crm-old-status:not(:empty),
    .crm-new-status:not(:empty) {
        display: inline-block;
        padding: 3px 5px;
        border-radius: 3px;
        background-color: #e3eefb;
        margin-bottom: 5px;
    }
}

.leads-col-fixed-size-sm {
    flex-basis: 70px;
    max-width: 70px;
}

.add-event-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    .dropdown-toggle {
        height: 100%;
        width: 32px;

        &::after {
            display: none;
        }
    }
}

.input-add-event-wrap {
    width: 100%;
}

.input-add-event {
    padding-left: 40px !important;
    padding-right: 120px !important;
}

.add-even-btn-wrap {
    position: absolute;
    right: 0;
}

.lead-events-filter__input {
    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.lead-events__item__count_label {
    margin-left: 3px;
    font-size: 14px;
    font-weight: normal;
}

.modal {
    .lead-events {
        max-width: calc(100vw - 35px);
    }
}

.lead-events-progress {
    min-height: 150px;
}
