<div>
    <div>
        <a href="javascript:void(0);" ng-click="$ctrl.modalOpen('RemindModuleShowNotificationForm' + $ctrl.productId);" class="btn btn-middle btn-submit" id="NotificationBtn">
            Уведомить о поступлении
        </a>
    </div>
    <div class="container-fluid" data-modal-control data-modal-class="rad-notification-modal" data-append-modal-class="remind-about-receipt-adv-modal-container" id="{{'RemindModuleShowNotificationForm' + $ctrl.productId}}">
        <div class="row">
            <div class="col-xs-12">
                <div class="remind-about-receipt-adv-modal-inner" ng-switch="$ctrl.currentPage">
                    <div ng-switch-when="main">
                        <a href="" class="adv-modal-close adv-modal-close-main icon-cancel-after link-text-decoration-none adv-close-outside remind-about-receipt-adv-modal-close remind-about-receipt-adv-modal-close-main" data-ng-click="modal.close()" data-ng-if="::modal.crossEnable === true" data-translate="Js.Modal.Close">Закрыть</a>
                        <div class="modal-header modal-header js-modal-header remind-about-receipt-modal-header" style="text-align:center;" data-modal-header="">
                            <div class="modal-header-icon remind-about-receipt-modal-header-icon"></div>
                        </div>
                        <div class="container-fluid remind-about-receipt-modal-wrap">
                            <div class="remind-about-receipt-modal-text center-aligner">
                                {{$ctrl.form.HeaderForm}}
                            </div>
                            <div class="row remind-about-receipt-row" ng-if="$ctrl.form.ShowEmailInForm">
                                <span class="col-xs-12 form-field-input vertical-interval-middle">
                                    <input type="email" class="input-small remind-about-receipt-input-small" ng-model="$ctrl.FormRequest.Email" placeholder="Email" autocomplete="email" required />
                                </span>
                            </div>
                            <div class="row remind-about-receipt-row" ng-if="$ctrl.form.ShowNameInForm">
                                <span class="col-xs-12 form-field-input vertical-interval-middle">
                                    <input type="text" class="input-small remind-about-receipt-input-small" ng-model="$ctrl.FormRequest.Name" placeholder="Имя" autocomplete="name" required />
                                </span>
                            </div>
                            <div class="row remind-about-receipt-row" ng-if="$ctrl.form.ShowSurnameInForm">
                                <span class="col-xs-12 form-field-input vertical-interval-middle">
                                    <input type="text" class="input-small remind-about-receipt-input-small" ng-model="$ctrl.FormRequest.Surname" placeholder="Фамилия" autocomplete="surname" required />
                                </span>
                            </div>
                            <div class="row remind-about-receipt-row" ng-if="$ctrl.form.ShowPhoneNumberInForm">
                                <span class="col-xs-12 form-field-input vertical-interval-middle">                 
                                    <input autocomplete="tel"
                                           class="input-small remind-about-receipt-input-small"
                                           data-mask-control="true"
                                           data-mask-control-preset="phone"
                                           data-ng-model="$ctrl.FormRequest.PhoneNumber"
                                           data-ng-required="true" id="Phone"
                                           maxlength="70"
                                           name="Phone" placeholder="Номер телефона"
                                           type="text" value="+7 495 800 20 00 "
                                           required="required">
                                </span>
                            </div>
                            <div class="row remind-about-receipt-row" ng-if="$ctrl.form.ShowCommentInForm">
                                <span class="col-xs-12 form-field-input vertical-interval-middle">
                                    <input type="text" class="input-small remind-about-receipt-input-small" ng-model="$ctrl.FormRequest.Comment" placeholder="Дополнительная информация" required />
                                </span>
                            </div>
                            <div class="row remind-about-receipt-row">
                                <span class="col-xs-12">
                                    <button type="button" class="btn btn-middle btn-submit vertical-interval-middle" button-validation-success="$ctrl.sending();" data-button-validation>
                                        Уведомить о поступлении
                                    </button>
                                </span>
                            </div>
                            <label class="row remind-about-receipt-row" data-ng-if="$ctrl.form.IsShowUserAgreementText">
                                <span class="col-xs-12 vertical-interval-middle">
                                    <span class="form-field-input">
                                        <input class="custom-input-native" type="checkbox" data-ng-model="$ctrl.FormRequest.Agreement" 
                                               name="agreement" data-ng-init="$ctrl.FormRequest.Agreement=false"
                                               data-ng-value="$ctrl.FormRequest.Agreement" data-ng-required="$ctrl.form.IsShowUserAgreementText" />
                                        <span class="custom-input-checkbox"></span>
                                        <span data-ng-bind-html="$ctrl.form.UserAgreementText"></span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div ng-switch-when="success">
                        <a href="" class="adv-modal-close adv-modal-close-success icon-cancel-after link-text-decoration-none adv-close-outside remind-about-receipt-adv-modal-close remind-about-receipt-adv-modal-close-success" data-ng-click="modal.close()" data-ng-if="::modal.crossEnable === true" data-translate="Js.Modal.Close">Закрыть</a>
                        <div class="modal-success">
                            <div class="modal-success-icon remind-about-receipt-modal-success-icon"></div>
                            <div class="modal-success-text remind-about-receipt-modal-success-text"><p data-ng-bind-html="$ctrl.form.AfterFormTextForUser"></p></div>
                            <button type="button" class="btn btn-middle btn-submit vertical-interval-middle modal-success-button remind-about-receipt-modal-success-button" ng-click="modal.close();" style="font-size: 16px; font-weight: bold; width: 410px; margin-left: 40px; height: 42px; background-color: #434142;">
                                <span>Спасибо</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>