.nav-tabs,
.chips-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: scroll;

    &__item {
        white-space: nowrap;
    }
}

.chips-list {
    // padding: 0 0 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.nav-link,
.chip {
    --chip-font-size: 14px;
    --chip-line-height: 1.2;
    --chip-color: #1a051d;
    --chip-color-active: #fff;
    --chip-backround-color: transparent;
    --chip-backround-color-active: #2e9dec;
    --chip-font-weight: 500;
    --chip-border-radius: 6px;

    display: inline-flex;
    padding: 7px 14px 6px;
    border-radius: var(--chip-border-radius);
    font-size: var(--chip-font-size);
    line-height: var(--chip-line-height);
    font-weight: var(--chip-font-weight);
    background-color: var(--chip-backround-color);
    text-decoration: none;
    color: var(--chip-color);

    &:hover {
        color: var(--chip-color);
    }

    &--active {
        color: var(--chip-color-active);
        background-color: var(--chip-backround-color-active);
        text-decoration: none;

        &:hover {
            color: var(--chip-color-active);
        }
    }
}

.nav-tabs-wrap.nav-tabs-wrap--chips .nav-tabs {
    padding-top: 0;
    padding-bottom: 20px;

    &::after,
    &::before {
        display: none !important;
    }

    .nav-link {
        border-radius: var(--chip-border-radius);
        white-space: nowrap;
    }

    .nav-item.active {
        .nav-link {
            color: var(--chip-color-active);
            background-color: var(--chip-backround-color-active);
            text-decoration: none;
            border-radius: var(--chip-border-radius);

            &:hover {
                color: var(--chip-color-active);
            }
        }
    }
}

.tab-warning {
    color: #f15959;
}
