<form novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">Комментарий</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-class="{'m-r m-l': !isMobile.value}">
            <div class="form-group">
                <textarea elastic-text class="form-control input-alt-mobile" rows="4" ng-model="ctrl.text" data-e2e="leadCommentText"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-action btn-sm" ng-click="ctrl.save(ctrl.id, ctrl.text)" data-e2e="leadCommentEditSave">Сохранить</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" data-e2e="leadCommentEditCancel">
            {{'Admin.Js.AddEdit.Cancel' | translate}}
        </button>
    </div>
</form>
