<form name="formAddEditAdditionalSettingsCity" novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditCitiesAdditionalSettings.Header'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-init="ctrl.init(formAddEditAdditionalSettingsCity)">
            <div
                class="form-group setting__form-group"
                ng-show="'RU'.localeCompare(ctrl.settings.CountryIso2, undefined, { sensitivity: 'accent' }) === 0">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.FiasId'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt" ng-model="ctrl.settings.FiasId" />
                    </div>
                </div>
            </div>
            <div
                class="form-group setting__form-group"
                ng-show="'RU'.localeCompare(ctrl.settings.CountryIso2, undefined, { sensitivity: 'accent' }) === 0">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.KladrId'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt" ng-model="ctrl.settings.KladrId" />
                    </div>
                </div>
            </div>
            <div class="form-group setting__form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.ShippingZones'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <input type="text" data-e2e="ShippingZones" class="form-control input-alt" ng-model="ctrl.settings.ShippingZones" />
                    </div>
                </div>
            </div>
            <div class="form-group setting__form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.ShippingZonesIframe'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <textarea
                            rows="2"
                            data-e2e="ShippingZonesIframe"
                            class="form-control input-alt r-v"
                            ng-model="ctrl.settings.ShippingZonesIframe"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group setting__form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.CityAddressPoints'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <input
                            type="text"
                            data-e2e="CountryAddressPoints"
                            class="form-control input-alt"
                            ng-model="ctrl.settings.CityAddressPoints" />
                    </div>
                </div>
            </div>
            <div class="form-group setting__form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label"
                        >{{'Admin.Js.AddEditCity.CityAddressPointsIframe'|translate}}</label
                    >
                    <div class="col-xs-12 col-md-9">
                        <textarea
                            rows="2"
                            data-e2e="CountryAddressPointsIframe"
                            class="form-control input-alt r-v"
                            ng-model="ctrl.settings.CityAddressPointsIframe"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group setting__form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddEditCity.CityDescription'|translate}}</label>
                    <div class="col-xs-12 col-md-9">
                        <textarea
                            rows="2"
                            data-e2e="CityDescription"
                            ng-model="ctrl.settings.CityDescription"
                            ckeditor="{height: 100}"
                            class="wysiwyg"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            data-e2e="btnSave"
            class="btn btn-save btn-primary"
            ladda="ctrl.btnSleep"
            type="button"
            data-button-validation-success="ctrl.save()"
            disabled
            ng-disabled="!formAddEditAdditionalSettingsCity.modified"
            data-button-validation
            ng-style="isMobile.value ? {'grid-column': '1', 'grid-row': '1'} : {}">
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button
            data-e2e="btnCancel"
            class="btn btn-sm btn-default"
            type="button"
            ng-click="ctrl.return(formAddEditAdditionalSettingsCity.modified)"
            ng-style="isMobile.value ? {'grid-column': '2', 'grid-row': '1'} : {}">
            {{'Admin.Js.AddEditCity.MainSettings'|translate}}
        </button>
        <button
            data-e2e="btnCancel"
            class="btn btn-default btn-cancel"
            type="button"
            ng-click="ctrl.close()"
            ng-style="isMobile.value ? {'grid-column': 'span 2', 'grid-row': '2'} : {'margin-left':'5px'}">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
