<form name="formAddEditAdditionalSettingsRegion" novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditRegions.AdditionalSettings.Header'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-init="ctrl.init(formAddEditAdditionalSettingsRegion)">
            <div
                class="form-group setting__form-group"
                ng-show="'RU'.localeCompare(ctrl.settings.CountryIso2, undefined, { sensitivity: 'accent' }) === 0">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label"
                        >{{'Admin.Js.AddEditRegions.AdditionalSettings.FiasId'|translate}}</label
                    >
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt" ng-model="ctrl.settings.FiasId" />
                    </div>
                </div>
            </div>
            <div
                class="form-group setting__form-group"
                ng-show="'RU'.localeCompare(ctrl.settings.CountryIso2, undefined, { sensitivity: 'accent' }) === 0">
                <div class="row">
                    <label class="col-xs-12 col-md-3 control-label setting__label"
                        >{{'Admin.Js.AddEditRegions.AdditionalSettings.KladrId'|translate}}</label
                    >
                    <div class="col-xs-12 col-md-9">
                        <input type="text" class="form-control input-alt" ng-model="ctrl.settings.KladrId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            data-e2e="btnSave"
            class="btn btn-save btn-primary"
            ladda="ctrl.btnSleep"
            type="button"
            data-button-validation-success="ctrl.save()"
            disabled
            ng-disabled="!formAddEditAdditionalSettingsRegion.modified"
            data-button-validation
            ng-style="isMobile.value ? {'grid-column': '1', 'grid-row': '1'} : {}">
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button
            data-e2e="btnCancel"
            class="btn btn-sm btn-default"
            type="button"
            ng-click="ctrl.return(formAddEditAdditionalSettingsRegion.modified)"
            ng-style="isMobile.value ? {'grid-column': '2', 'grid-row': '1'} : {}">
            {{'Admin.Js.AddEditRegions.MainSettings'|translate}}
        </button>
        <button
            data-e2e="btnCancel"
            class="btn btn-default btn-cancel"
            type="button"
            ng-click="ctrl.close()"
            ng-style="isMobile.value ? {'grid-column': 'span 2', 'grid-row': '2'} : {'margin-left':'5px'}">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
