$heightTabsBuilder: 64px;

.new-builder-trigger {
    background-color: #2d9cee !important;
    color: #fff !important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%) !important;
    z-index: 999 !important;

    &:hover {
        background-color: #6ac0ff !important;
        color: #fff !important;
    }
}

.new-builder-dialog {
    .modal-content {
        padding: 0;
    }
}

.sidebar--builder {
    line-height: 1;
}

.new-builder {
    font-family: Rubik, sans-serif;
    height: 100%;
    color: #4b4f58;
    line-height: 1;

    &__columns {
        display: grid;
        grid-template-columns: 262px calc(100% - 262px);
        height: 100%;
        box-sizing: border-box;
    }

    input [type='text'],
    input[type='password'],
    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='number'],
    input[type='tel'],
    input[type='url'],
    textarea,
    .form-field-input-text {
        color: #4b4f58;
    }

    &__menu {
        background-color: #f9f9f9;
    }

    &__menu-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__menu-item {
        display: block;
        position: relative;
        padding: 16px 28px 16px 24px;
        font-size: 14px;
        border-bottom: 1px solid #efeff4;
        cursor: pointer;
        background-color: #f9f9f9;
        color: #666;
        line-height: 1.5;

        &--active {
            background-color: #fff;
            color: #2d9cee;
        }

        svg {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        .new-builder__icon-error {
            color: #f15959;
            right: 40px;
        }
    }

    @media (height >= 800px) {
        &__menu-item {
            padding: 20px 36px 20px 32px;
        }
    }

    &__content {
        padding: 25px 40px;
        display: none;
        background-color: #fff;
        font-size: 14px;
        color: #4b4f58;

        &.tab-content-active {
            display: block;
        }

        .popover-title {
            font-size: 16px;
            color: #4b4f58;

            &--inside-content {
                margin: -9px -14px 9px;
            }
        }

        .popover-content {
            font-size: 14px;
            color: #4b4f58;
        }

        a {
            color: #2d9cee;
        }

        &-field-link {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__content-title {
        /* important для того чтоб стили шаблона не переопределяли эти стили */
        font-size: 18px !important;
        color: #000 !important;
        margin-bottom: 16px !important;
        text-align: left !important;
        text-transform: none !important;
        font-family: Rubik, sans-serif !important;
        letter-spacing: normal !important;
    }

    &__content-field {
        margin-bottom: 20px;
        position: relative;

        .flex {
            display: flex;
        }
    }
    // &__content-other-fields {
    //    padding: 10px 0 0 0;
    // }

    &__field-menu-style-label {
        & + & {
            margin-left: 20px;
        }
    }

    &__field-menu-style-input {
        display: none;
    }

    &__field-menu-style-input:checked ~ &__field-menu-style-image-wrap {
        border-color: #2d9cee;
    }

    &__field-menu-style-image-wrap {
        /* background-color: #F9F9F9;
        border-width: 1px;
        border-style: solid;
        border-color: #EFEFF4;
        box-sizing: border-box;
        border-radius: 4px; */
        display: block;
        /* width: 80px;
        height: 80px; */
        /* margin-bottom: 10px;
        cursor: pointer; */
        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    &__field-menu-style-text {
        display: block;
        font-size: 12px;
        text-align: center;
        color: #000;
    }

    &__link,
    &__link:hover {
        color: #2d9cee;
    }

    &__link-red,
    &__link-red:hover {
        color: red;
    }
    /* color view */
    .color-viewer {
        margin-left: -3px;
        margin-right: -3px;
    }

    .color-viewer-item-block,
    .color-viewer-inner {
        border-radius: 50% !important;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .color-viewer-item-wrap,
    .color-viewer-item-block {
        font-size: 0;
    }

    .color-viewer-inner {
        margin: 1px;
    }
    /* form fields */
    .form-field-name {
        font-size: 16px;
        color: #8a8a8f;
        margin-bottom: 7px;

        &--inline-block {
            display: inline-block;
            vertical-align: middle;
        }

        &--small {
            font-size: 13px;
        }
    }

    .form-field {
        &--inline-block {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .form-field-group {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr ); */
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
        grid-gap: 10px;

        .form-field {
            margin-bottom: 0;
        }
    }

    .form-field-phone {
        font-size: 14px;
    }
    /* select */
    .select-custom {
        select {
            background-color: #f9f9f9 !important;
            color: #000 !important;
            padding: 13px 40px 13px 20px !important;
            font-size: 16px !important;
            border: 1px solid #efeff4 !important;
            border-radius: 4px !important;
            height: auto !important;

            &:hover,
            &:focus {
                background-color: #f9f9f9 !important;
                color: #000 !important;
                padding: 13px 40px 13px 20px !important;
                font-size: 16px !important;
                border: 1px solid #efeff4 !important;
                border-radius: 4px !important;
            }
        }

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.10032 0.577411C1.77489 0.251975 1.24725 0.251975 0.921812 0.577411C0.596375 0.902848 0.596375 1.43049 0.921812 1.75592L5.92181 6.75592C6.24725 7.08136 6.77489 7.08136 7.10032 6.75592L12.1003 1.75592C12.4258 1.43049 12.4258 0.902848 12.1003 0.577411C11.7749 0.251975 11.2472 0.251975 10.9218 0.577411L6.51107 4.98816L2.10032 0.577411Z' fill='%232D9CEE'/%3E%3C/svg%3E");
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            margin: 0 !important;
            mask: none !important;
            width: 13px !important;
            height: 14px !important;
        }
    }

    .spinbox-block {
        .spinbox-input {
            background-color: #f9f9f9 !important;
            color: #000 !important;
            padding: 13px 40px 13px 20px !important;
            font-size: 16px !important;
            border: 1px solid #efeff4 !important;
            border-radius: 4px !important;
            height: auto !important;
            box-sizing: border-box;
        }
        .spinbox-more, .spinbox-less {
            padding: 0;
        }

        .spinbox__arrows {
            margin-left: 10px;
        }
    }

    .form-field-textarea {
        background-color: #f9f9f9;
        border-radius: 4px;
        border: 1px solid #efeff4;
        padding: 13px 20px;
        font-size: 16px;
        height: auto;
    }

    .form-field-input {
        background-color: #f9f9f9 !important;
        border-radius: 4px;
        border: 1px solid #efeff4 !important;
        padding: 13px 20px;
        font-size: 16px;
    }

    .form-field-radio-label {
        position: relative;
        padding-left: 37px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        input {
            display: none;

            &:checked ~ .form-field-radio-emul::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #2d9cee;
            }
        }

        &--block {
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #efeff4;
        }

        .form-field-label-text {
            font-size: 14px;
        }
    }

    .form-field-radio-none {
        display: none;
    }

    .form-field-label-image {
        padding: 0 0 10px;

        img {
            border-width: 1px;
            border-style: solid;
            border-color: #efeff4;
            cursor: pointer;
        }

        & > input:checked ~ img {
            border-color: #2d9cee;
        }
    }

    &__logogenerator-btn {
        /* прописано через important чтоб стили шаблнов не перезаписывали кнопку */
        display: inline-block !important;
        vertical-align: middle !important;
        text-decoration: none !important;
        border: 0 !important;
        text-align: center !important;
        border-radius: 0.3125rem !important;
        line-height: 1.3 !important;
        box-sizing: border-box !important;
        cursor: pointer !important;
        background: #2d9cee !important;
        color: #fff !important;
        font-weight: normal !important;
        font-family: Rubik, sans-serif !important;
        box-shadow: none !important;
        transition: none !important;
        font-size: 14px;
        padding: 12px;

        &:hover {
            background-color: #6ac0ff !important;
            color: #fff !important;
            display: inline-block !important;
            vertical-align: middle !important;
            text-decoration: none !important;
            border: 0 !important;
            text-align: center !important;
            border-radius: 0.3125rem !important;
            line-height: 1.3 !important;
            box-sizing: border-box !important;
            cursor: pointer !important;
            font-weight: normal !important;
            box-shadow: none !important;
        }
    }

    &__content-section {
        margin-bottom: 25px;
    }
}

.new-builder-progressbar,
.new-builder-progressbar__bar {
    border-radius: 4px;
    overflow: hidden;
}

.new-builder-progressbar__track {
    background-color: #f9f9f9;
    height: 52px;
}

.new-builder-progressbar__marker--inside {
    color: #000;
    border: 1px solid #efeff4;
}

.new-builder-progressbar__bar {
    background-color: #2d9cee;
}

.builder-btn-cofirm {
    background-color: #2d9cee;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;

    &:hover {
        background-color: #6ac0ff;
    }
}

.builder-btn-cancel {
    background-color: #efefef;
    color: rgb(75 79 88);
    border-radius: 4px;
    border: 0;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;

    &:hover {
        background-color: #dedcdc;
    }
}

.new-builder_scrollbar-block {
    overflow-y: auto;
    background-color: #f9f9f9;

    &::-webkit-scrollbar {
        /* скроллбар */
        appearance: none;
        width: 6px;
        height: 2px;
        background-color: #efeff4;
    }

    &::-webkit-scrollbar-thumb {
        /* ползунок */
        background-color: #79c3f9;
        border-radius: 10px;
        box-shadow: 0 0 1px rgb(255 255 255 / 50%);
    }
}
