@use 'sass:color';

a.social {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    font-size: 16px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;

    & .social__name {
        display: none;
        font-size: 13px;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    &--call {
        background-color: rgb(5 90 152);

        &:hover {
            background-color: color.adjust(rgb(5 90 152), $lightness: 15%);
        }
    }

    &--vkontakte {
        vertical-align: bottom;

        &:hover {
            opacity: .8;
        }
    }

    &--whatsapp {
        background-color: rgb(0 230 118);

        &:hover {
            background-color: color.adjust(rgb(0 230 118), $lightness: 15%);
        }
    }

    &--viber {
        background-color: rgb(123 66 169);

        &:hover {
            background-color: color.adjust(rgb(123 66 169), $lightness: 15%);
        }
    }

    &--max {
        background: linear-gradient(
                90deg,
                #5a8cff -16.1%,
                #43d6ff 16.36%,
                #8f3fff 76.63%
        );

        &:hover {
            background: linear-gradient(
                    90deg,
                    color.adjust(#5a8cff, $lightness: 15%) -16.1%,
                    color.adjust(#43d6ff, $lightness: 15%) 16.36%,
                    color.adjust(#8f3fff, $lightness: 15%) 76.63%
            );
        }
    }

    &--facebook {
        background-color: rgb(63 92 150);

        &:hover {
            background-color: color.adjust(rgb(63 92 150), $lightness: 15%);
        }
    }

    &--youtube {
        background-color: hsl(0deg 100% 50%);

        &:hover {
            background-color: color.adjust(hsl(0deg 100% 50%), $lightness: 15%);
        }
    }

    &--X {
        vertical-align: bottom;
        &:hover {
            --circle-fill: #474545;
        }
    }

    &--instagram {
        background-color: #d10869;

        &:hover {
            background-color: color.adjust(#d10869, $lightness: 15%);
        }
    }

    &--telegram {
        background-color: #35ace1;

        &:hover {
            background-color: color.adjust(#35ace1, $lightness: 15%);
        }
    }

    &--odnoklassniki {
        background-color: #ee8208;

        &:hover {
            background-color: color.adjust(#ee8208, $lightness: 15%);
        }
    }

    &--rutube {
        background-color: #1c232b;

        &:hover {
            background-color: color.adjust(#1c232b, $lightness: 15%);
        }
    }

    &--yandexzen {
        background-color: #000;

        &:hover {
            background-color: color.adjust(#000, $lightness: 15%);
        }
    }
}
