<ng-form data-ng-attr-name="{{$ctrl.formName}}" data-ng-attr-id="{{$ctrl.formName}}">
    <div data-ng-init="$ctrl.form = $ctrl.getForm($ctrl.formName)">
        <div class="form-group" ng-repeat="control in $ctrl.fields track by $index">
            <div class="row middle-xs" data-ng-if="control.controlType === 'input'">
                <div class="col-xs-12 col-md-3">
                    <label
                        class="control-label"
                        data-ng-if="control.label != null"
                        data-ng-attr-for="{{control.id}}"
                        data-ng-bind="control.label"></label>
                </div>
                <div class="col-xs-12 col-md-6 relative flex middle-xs">
                    <input
                        class="form-control input-alt-mobile"
                        data-ng-attr-type="{{control.type}}"
                        data-ng-attr-id="{{control.id}}"
                        data-ng-attr-name="{{control.name}}"
                        ng-required="control.required"
                        data-ng-disabled="control.disabled"
                        data-set-attributes="control.attributes"
                        data-ng-model="control.model" />
                </div>
            </div>

            <div class="row middle-xs" data-ng-if="control.controlType === 'dropdown'">
                <div class="col-xs-12 col-md-3">
                    <label
                        class="control-label"
                        data-ng-if="control.label != null"
                        data-ng-attr-for="{{control.id}}"
                        data-ng-bind="control.label"></label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <select
                        class="form-control input-alt-mobile"
                        data-ng-attr-id="{{control.id}}"
                        data-ng-attr-name="{{control.name}}"
                        ng-required="control.required"
                        data-ng-disabled="control.disabled"
                        data-ng-options="option.key for option in control.options"
                        data-ng-model="control.model"></select>
                </div>
            </div>
            <div class="row middle-xs" data-ng-if="control.controlType === 'textarea'">
                <div class="col-xs-12 col-md-3">
                    <label
                        class="control-label"
                        data-ng-if="control.label != null"
                        data-ng-attr-for="{{control.id}}"
                        data-ng-bind="control.label"></label>
                </div>
                <div class="col-xs-12 col-md-6 relative flex middle-xs">
                    <textarea
                        class="form-control input-alt-mobile"
                        data-ng-attr-id="{{control.id}}"
                        data-ng-attr-name="{{control.name}}"
                        data-ng-required="control.required"
                        data-ng-disabled="control.disabled"
                        data-ng-model="control.model"></textarea>
                </div>
            </div>
            <label class="adv-radio-label" data-ng-if="control.controlType === 'radio'">
                <input
                    class="adv-radio-input"
                    data-ng-value="control.value"
                    data-ng-model="control.model"
                    data-ng-attr-name="{{control.name}}"
                    data-ng-checked="control.checked"
                    data-ng-required="control.required"
                    data-ng-disabled="control.disabled"
                    type="radio" />
                <span class="adv-radio-emul input-alt-mobile"></span>
                <span class="custom-input-text" data-ng-bind="control.label"></span>
            </label>

            <label class="adv-checkbox-label" data-ng-if="control.controlType === 'checkbox'">
                <input
                    class="adv-checkbox-input"
                    data-ng-value="control.value"
                    data-ng-model="control.model"
                    data-ng-attr-name="{{control.name}}"
                    data-ng-checked="control.checked"
                    data-ng-required="control.required"
                    data-ng-disabled="control.disabled"
                    type="checkbox" />
                <span class="adv-checkbox-emul"></span>
                Отслеживать изменения товара
            </label>
        </div>
    </div>
</ng-form>
