.compare-control {
    &__icon {
        display: flex;
        &::after {
            content: "";
            mask-image: url('../../../../images/icons/compare.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 18px;
            background-color: currentColor;
            cursor: pointer;
        }
    }
}

.compare-state-not-add{
    color:var(--cs-7);
}
