<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.SelectTypeWarehouse.Title' | translate}}</h2>
</div>
<div class="modal-body">
    <div>
        <ui-grid-custom
            grid-unique-id="mGridWT"
            grid-on-init="ctrl.gridOnInit(grid)"
            grid-options="ctrl.gridOptions"
            grid-row-identificator="'TypeId'"
            grid-url="'warehouse/getwarehousetypes'"
            grid-extend-ctrl="ctrl"
            grid-selection-enabled="false">
            <ui-grid-custom-override-control class="ng-cloak">
                <div class="card card--gap-row-sm card--p-18">
                    <div class="flex between-xs center-xs">
                        <div class="flex-grow card__col">{{row.entity.TypeName}}</div>
                        <div class="card__col card__col--end setting--align-center">
                            <a href="" ng-click="grid.appScope.$ctrl.gridExtendCtrl.choose(row.entity.TypeId, row.entity.TypeName)">
                                {{'Admin.Js.SelectTypeWarehouse.Select' | translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </ui-grid-custom-override-control>
        </ui-grid-custom>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
</div>
