@import '../../../../../../../../scripts/_partials/shipping/styles/shipping';
@import '../../common';
@import '../../atomic';

.shipping-list {
    display: block;
}

.shipping-progress {
    display: flex;
    // justify-content: center;
}

.shipping-item {
    $self: &;

    @extend %form-row;

    &-input {
        width: 100%;
        box-sizing: border-box;
    }

    // .custom-input-radio {
    //  margin-right: 8px;
    // }

    &-icon {
        display: none;
        min-width: 52px;
        word-break: break-all;
    }

    &-title {
        padding-bottom: 0;
    }

    &-time {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    &-input-price {
        margin-left: 0;
    }

    &-more {
        font-size: 14px;
    }

    &-additional {
        margin-top: 10px;

        .shipping-control-select {
            width: 200px;

            select {
                width: 200px;
            }
        }
    }

    &-settings {
        flex-grow: 1;
    }

    &-description {
        font-size: var(--font-size-default);
        padding-bottom: 0;

        &--flex {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &-label-text {
        display: block;

        @extend %control-label;

        font-weight: normal;
    }

    &-info {
        flex-grow: 1;
        padding-bottom: 0;

        .shipping-item-title.control-label {
            margin-top: 3px;
        }

        .shipping-template-name.control-label {
            font-weight: 400 !important;
        }
    }

    &-note {
        margin-top: 25px;
    }

    /* display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: flex-start;

    &-icon {
        width: 52px;
    }

    &-info {
        padding-left: 0;
    }

    &-input-price {
        margin-left: 0;
    } */
}
