@import '../../../../../../../Content/src/_partials/admin-comments/styles/admin-comments';

.admin-comment {
    &-item {
        & > .row {
            display: grid;
            grid-template-columns: 70px 1fr;
            column-gap: 18px;
        }

        &__data,
        &__avatar {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }

        &__header {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: space-between;
            column-gap: 5px;
            margin-bottom: 5px;
        }
    }
}
