.shops {
    $self: &;

    &__list {
        display: grid;
        gap: 10px;
        list-style-type: none;
        margin: 0 0 20px;
        padding: 10px 0;
    }

    &__list-item {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: 10px 0;

        &.active {
            #{$self}__header-item-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__header-item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-right: 15px;
    }

    &__shop-address {
        font-style: normal;
    }

    &__shop-name {
        font-weight: 600;
    }
}
