.wishlist-page__productview {
    .mobile-product-view-item__controls {
        top: 44px;
        right: 10px;
    }
    .wishlist-remove{
        border-radius: 4px;
        width: 32px;
        height: 32px;
    }
}
