.modules-container {
    margin-left: -15px;
    margin-right: -15px;
}

.modules-list {
    min-height: 76vh;
    background-color: #fff;
    padding: 23px 25px;
}

.item-module-wrap {
    padding: 0 15px;
    margin-bottom: 30px;

    .item-module {
        &-img {
            height: 155px;
            border: 1px #ededed solid;
            border-radius: 6px;
        }

        &-name {
            height: 54px;
        }

        &-price {
            line-height: 1;
        }
    }
}

.item-module {
    position: relative;
}

.item-module .green {
    color: #51a351;
}

.item-module .item-module-remove {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 24px;
    color: red;
    display: none;
}

.item-module .item-module-install {
    position: absolute;
    left: -10px;
    top: -10px;
    font-size: 18px;
    color: green;
    display: none;
}

.item-module .item-module-update {
    position: absolute;
    left: -10px;
    top: 20px;
    font-size: 18px;
    color: blue;
    display: none;
}

.item-module:hover .item-module-remove {
    display: block;
}

.item-module:hover .item-module-install {
    display: block;
}

.item-module:hover .item-module-update {
    display: block;
}

.item-module-price {
    margin-bottom: 10px;
}

.item-module-activity {
    text-align: center;
    position: relative;
}

.marker-list__container {
    position: absolute;
    top: -10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.marker-list__row {
    margin-bottom: 5px;
    float: right;
}

.marker {
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    background-color: #f05454;
}

.modules-unavailable {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__icon-warn {
        font-size: 48px;
        color: #F8AC59;
    }

    &__title {
        font-weight: 600;
    }
}
