@use '../settings';
@use '../functions/util';

.footer-menu-head {
    font-size: settings.$font-size-xmedium;
    margin: 0 0 util.rem-calc(20px);
    cursor: pointer;
}

.footer-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu-item {
    padding: 0;
    margin: 0 0 util.rem-calc(20px);
    list-style: none;
    font-size: settings.$font-size-normal;
}

.footer-menu-icon-block {
    display: inline-block;
    margin-right: util.rem-calc(5px);
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
}

.footer-menu-icon {
    display: block;
}
