@use '../settings';
@use '../functions/util';

.site-footer-top-level-wrap {
    position: relative;
    z-index: 10;
}

.site-footer-top-level-inner {
    padding-top: util.rem-calc(50px);
    padding-bottom: util.rem-calc(30px);
}

.footer-bottom-level-inner {
    padding-top: util.rem-calc(40px);
    padding-bottom: util.rem-calc(40px);
}

.footer-gifts-item {
    margin-top: util.rem-calc(30px);

    &:first-child {
        margin-top: util.rem-calc(53px);
    }
}

.footer-menu-link {
    vertical-align: middle;
}

.site-footer-mobile-app-links {
    padding-top: 30px;
}
