@use '../settings';
@use '../functions/util';

.login-block-auth,
.login-block-registration {
    padding-bottom: util.rem-calc(20px);
}

.login-block-registration {
    border-radius: settings.$border-radius-base;
    padding-left: util.rem-calc(40px);
    padding-right: util.rem-calc(40px);
    padding-top: util.rem-calc(20px);
}

.login-block-registration-text {
    margin-bottom: settings.$margin-value-base;
}

.login-block-auth {
    .form-field-name {
        font-size: settings.$font-size-medium;
    }

    .auth-social__title {
        font-size: 1.375rem;
    }
}
