.adv-modal-floating,
.adv-modal {
    .modal-product-video {
        min-width: 750px;
        min-height: 470px;
        max-width: 1000px;
        max-height: 700px;

        .modal-content {
            box-sizing: border-box;
            width: 100%;
        }

        .carousel-product-video-in-modal--wrap {
            flex-grow: 1;
        }

        .products-view-video-wrap {
            flex-grow: 1;
            flex-shrink: 0;
            width: 100%;
        }

        .carousel-inner {
            margin: 0 auto;
        }

        .video-embed {
            margin-top: 15px;
        }
    }
}

@media (width <= 750px) {
    .modal-product-video {
        min-width: 480px;
        min-height: 310px;
    }
}

@media (width <= 895px) {
    .modal-product-video {
        width: 100%;
    }
}

/* product video */
.video-embed {
    position: relative;
    padding-top: 25px;

    .embed-container {
        padding-bottom: 0;
    }
}

.mobile-version {
    .modal-product-video {
        .products-view-video-item {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .video-embed {
            flex-grow: 1;
            margin: 0;
            height: 70vh;
        }

        .video-description {
            margin: 0;
            padding-top: 10px;
        }
    }
}

@media (orientation: portrait) {
    .mobile-version {
        .modal-product-video {
            .video-embed iframe {
                aspect-ratio: 9 / 16;
            }
        }
    }
}
