@use '../settings';
@use '../functions/util';

.pagenumberer {
    font-size: settings.$font-size-xmedium;
    margin-bottom: util.rem-calc(30px);

    &.center {
        text-align: center;
    }

    .page-all {
        padding-left: 10px;
    }
}

.pagenumberer-item {
    padding: util.rem-calc(10px) util.rem-calc(15px);
    line-height: 1;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
}

.pagenumberer-selected {
    border-color: #e2e3e4;
    border-radius: settings.$border-radius-base;
}

.pagenumberer-next,
.pagenumberer-prev {
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
    }
}

.pagenumberer-next-text,
.pagenumberer-prev-text {
    display: none;
}
