<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">
            {{ ctrl.mode == "add" ? ('Admin.Js.AddEditProductList.Adding'|translate) : ('Admin.Js.AddEditProductList.Editing'|translate) }}
        </h2>
    </div>
    <div class="modal-body">
        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div class="col-xs-slim col-md-3 flex-shrink-1 flex flex-nowrap middle-xs" ng-class="{'flex-grow p-l-xs' : isMobile.value}">
                    <label for="addEditProductListShuffle" ng-class="{'flex-grow' : isMobile.value}">
                        {{'Admin.Js.EditMainPageList.ShuffleList'|translate}}
                    </label>
                    <help-trigger class="ng-cloak m-l-xs" use-template="true" data-title="{{'Admin.Js.EditMainPageList.ShuffleList'|translate}}">
                        <span class="help-content" ng-bind-html="'Admin.Js.EditMainPageList.ShuffleListHint'|translate"></span>
                    </help-trigger>
                </div>
                <div class="relative col-xs-slim relative flex middle-xs first-xs last-sm">
                    <label class="adv-checkbox-label flex">
                        <input
                            id="addEditProductListShuffle"
                            type="checkbox"
                            ng-model="ctrl.shuffleList"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label for="addEditProductListName" class="col-xs-12 col-md-3 control-label"
                ><span class="text-required">{{'Admin.Js.AddEditProductList.Name'|translate}}</span></label
            >
            <div class="col-xs-12 col-md-9">
                <input
                    id="addEditProductListName"
                    type="text"
                    data-e2e="NameProductList"
                    placeholder=""
                    ng-model="ctrl.name"
                    class="form-control input-alt-mobile"
                    required="required"
                    validation-input-text="{{'Admin.Js.AddEditProductList.Name'|translate}}"
                    data-autofocus="!isMobile.value"
                    data-url-generator
                    data-url-generator-enabled="true"
                    data-url-path="ctrl.urlPath" />
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div class="col-xs-slim col-md-3 flex-shrink-1" ng-class="{'p-l-xs' : isMobile.value}">
                    <label for="addEditProductListEnabled">{{'Admin.Js.AddEditProductList.Activity'|translate}}</label>
                </div>

                <div class="relative col-xs-slim relative flex middle-xs first-xs last-sm">
                    <label class="adv-checkbox-label flex" data-e2e="SwitchOnOffProductList">
                        <input id="addEditProductListEnabled" type="checkbox" ng-model="ctrl.enabled" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div class="col-xs-slim col-md-3 flex-shrink-1" ng-class="{'p-l-xs' : isMobile.value}">
                    <label for="addEditProductListShowOnMainPage">{{'Admin.Js.AddEditProductList.ShowOnMainPage'|translate}}</label>
                </div>

                <div class="relative col-xs-slim relative flex middle-xs first-xs last-sm">
                    <label class="adv-checkbox-label flex" data-e2e="SwitchOnOffProductList">
                        <input
                            id="addEditProductListShowOnMainPage"
                            type="checkbox"
                            ng-model="ctrl.showOnMainPage"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label for="addEditProductListDescription" class="col-xs-12 col-md-3 control-label"
                >{{'Admin.Js.AddEditProductList.Description'|translate}}</label
            >
            <div class="col-xs-12 col-md-9">
                <textarea id="addEditProductListDescription" ng-model="ctrl.description" class="wysiwyg" ckeditor></textarea>
            </div>
        </div>
        <div class="form-group row setting__form-group">
            <label for="addEditProductListSortOrder" class="col-xs-12 col-md-3 control-label"
                >{{'Admin.Js.AddEditProductList.Sorting'|translate}}</label
            >
            <div class="col-xs-12 col-md-9">
                <input
                    id="addEditProductListSortOrder"
                    type="text"
                    placeholder=""
                    ng-model="ctrl.sortOrder"
                    class="form-control input-alt-mobile"
                    data-e2e="SortProductList" />
            </div>
        </div>

        <div class="form-group row setting__form-group">
            <label for="addEditProductListUrlPath" class="col-xs-12 col-md-3 control-label" data-ng-class="{'text-required': ctrl.mode === 'edit'}"
                >{{'Admin.Js.AddEditProductList.UrlPath'|translate}}</label
            >
            <div class="col-xs-12 col-md-9" data-ng-if="!isMobile.value">
                <label class="input-group flex-grow">
                    <span class="input-group-addon fs-xs">{{ctrl.url}}</span>
                    <input
                        id="addEditProductListUrlPath"
                        type="text"
                        class="form-control"
                        data-ng-model="ctrl.urlPath"
                        data-e2e="ProductListMetaKey"
                        data-ng-required="ctrl.mode === 'edit'" />
                </label>
            </div>
            <div class="col-xs-12 col-md-9" data-ng-if="isMobile.value">
                <div class="card card--form-control">
                    <div class="card__label p-b-xs">{{ctrl.url}}</div>
                    <div class="">
                        <input
                            id="addEditProductListUrlPath"
                            type="text"
                            class="card__input"
                            data-ng-model="ctrl.urlPath"
                            data-e2e="ProductListMetaKey"
                            data-ng-required="ctrl.mode === 'edit'" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row middle-xs" ng-class="{'control-label' : !isMobile.value}">
                <div class="relative col-xs-slim col-md-offset-3 relative flex middle-xs" ng-class="{'p-r-xs' : isMobile.value}">
                    <label class="adv-checkbox-label flex" data-e2e="SwitchOnOffProductList">
                        <input
                            id="addEditProductDefaultMeta"
                            type="checkbox"
                            ng-model="ctrl.defaultMeta"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
                <div class="flex-shrink-1" ng-class="{'col-xs-slim' : isMobile.value}">
                    <label for="addEditProductDefaultMeta" class="pointer">{{'Admin.Js.AddEditProductList.UseDefaultMeta'|translate}}</label>
                </div>
            </div>
        </div>
        <div class="brand-seo-custom-block ng-cloak m-t-md" ng-if="!ctrl.defaultMeta">
            <div class="form-group row setting__form-group">
                <label for="addEditProductListH1" class="col-xs-12 col-md-3 control-label text-required"
                    >{{'Admin.Js.AddEditProductList.H1'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="addEditProductListH1"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.H1"
                        data-e2e="ProductListH1"
                        required="required"
                        validation-input-text="{{'Admin.Js.AddEditProductList.H1'|translate}}" />
                </div>
            </div>
            <div class="form-group row setting__form-group">
                <label for="addEditProductListMetaHeader" class="col-xs-12 col-md-3 control-label text-required"
                    >{{'Admin.Js.AddEditProductList.MetaHeader'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="addEditProductListMetaHeader"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.Title"
                        data-e2e="ProductListTitle"
                        required="required"
                        validation-input-text="{{'Admin.Js.AddEditProductList.MetaHeader'|translate}}" />
                </div>
            </div>
            <div class="form-group row setting__form-group">
                <label for="addEditProductListMetaKeywords" class="col-xs-12 col-md-3 control-label"
                    >{{'Admin.Js.AddEditProductList.MetaKeywords'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="addEditProductListMetaKeywords"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.MetaKeywords"
                        data-e2e="ProductListMetaKey" />
                </div>
            </div>
            <div class="form-group row setting__form-group">
                <label for="addEditProductListMetaDescription" class="col-xs-12 col-md-3 control-label"
                    >{{'Admin.Js.AddEditProductList.MetaDescription'|translate}}</label
                >
                <div class="col-xs-12 col-md-9">
                    <input
                        id="addEditProductListMetaDescription"
                        type="text"
                        class="form-control input-alt-mobile"
                        ng-model="ctrl.MetaDescription"
                        data-e2e="ProductListMetaDesc" />
                </div>
            </div>
            <div class="form-group row setting__form-group">
                <div class="col-xs-12 col-md-offset-3">{{'Admin.Js.AddEditProductList.SEOAvailableVariables'|translate}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            data-e2e="ProductListSave"
            type="button"
            data-button-validation-success="ctrl.save()"
            data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" data-e2e="ProductListCancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
