// .card-channel-inner {
//  position: absolute;
//  left: 0;
//  top: 0;
//  z-index: 2;
//  width: 100%;
//  transition: left 0.3s, height 3s;
// }

// .card-channel-details {
//  position: absolute;
//  top: 0;
//  left: 100%;
//  z-index: 1;
//  transition: left 0.3s, visibility 3s, height 3s;
//  width: 100%;
// }

.card-channel {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 15px 16px 19px;
    text-align: left;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: #eaeced;

        & .card-channel__title {
            color: #2d9cee;
        }
    }

    .card-channel__title,
    .card-channel__text {
        text-align: left;
    }

    .card-channel__title {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
    }

    .card-channel__text {
        font-size: 12px;
        line-height: 20px;
        color: #676a6c;
    }

    .card-channel__tariff {
        color: #bababa;
    }

    &__icon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #299def;
    }
}

.card-channel__title--font-middle {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

@media (width >= 300px) and (width <= 768px) {
    .card-channel {
        border-radius: 8px;
    }
}
