.sidebar-user-close {
    display: none;
}

.sidebar-action {
    background-color: transparent;
    padding: 20px;

    &__inner {
        padding: 17px;
        border-radius: 3px;
        border: 1px solid #3a4a59;
        width: 100%;
        box-sizing: border-box;
        background: url('../../../../../../../Content/src/_partials/sidebar-user/images/diamon.jpg') 90% center no-repeat;
    }

    &__text {
        text-align: left;
        color: #fff;
        font-size: 13px;
    }

    &__text-mark {
        color: #17ace8;
    }
}

.sidebar-user-trigger {
    cursor: pointer;
}

.sidebar-user-main {
    border-bottom: 1px #ddd solid;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sidebar-user-photo-wrap {
    text-align: center;
    margin-bottom: 15px;
}

.sidebar-user-name {
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.sidebar-user-position {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-user-btn {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-user-col-left,
.sidebar-user-col-right {
    padding-bottom: 10px;
}

.sidebar-user-col-left {
    text-align: right;
}
