<div class="modal-header" is-mobile>
    <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
    <h2 class="modal-header-title">Выбор города</h2>
</div>
<div class="modal-body modal-body--alt">
    <div is-mobile ng-if="ctrl.showGrid">
        <ui-grid-custom
            grid-unique-id="selectCity"
            grid-row-identificator="'CityId'"
            grid-options="ctrl.gridOptions"
            grid-on-init="ctrl.gridOnInit(grid)"
            grid-params="ctrl.gridParams"
            grid-url="'cities/getCitiesInSelectCityModal'"
            grid-extend-ctrl="ctrl"
            grid-on-preinit="ctrl.onGridPreinit(grid)"
            grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <div class="card card--gap-row-sm grid g-xs m-b-md">
                    <div class="card__title g-col-12" ng-bind="row.entity.CityName"></div>
                    <div class="card__title g-col-12" ng-bind="row.entity.RegionName"></div>
                </div>
            </ui-grid-custom-override-control>
        </ui-grid-custom>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.SelectCustomer.Cancel'|translate}}</button>
</div>
