<form is-mobile name="leedShippingAddress">
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ShippingsCity.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.ShippingsCity.City'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.data.City"
                                required
                                validation-input-text="{{'Admin.Js.ShippingsCity.City'|translate}}"
                                autocompleter-address
                                on-select="ctrl.processCity(item)"
                                ng-change="ctrl.processCity()" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.ShippingsCity.Region'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.data.Region"
                                required
                                validation-input-text="{{'Admin.Js.ShippingsCity.Region'|translate}}"
                                autocompleter
                                on-type="region" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.ShippingsCity.Country'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.data.Country"
                                required
                                validation-input-text="{{'Admin.Js.ShippingsCity.Country'|translate}}"
                                autocompleter
                                on-type="country" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="row order-customer-form__row form-group">
                            <div class="col-xs-12">
                                <label class="control-label text-left">{{'Admin.Js.ShippingsCity.District'|translate}}</label>
                            </div>
                            <div class="col-xs-12">
                                <input
                                    type="text"
                                    class="form-control input-alt"
                                    ng-model="ctrl.data.District"
                                    validation-input-text="{{'Admin.Js.ShippingsCity.District'|translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="control-label text-left">{{'Admin.Js.ShippingsCity.Address'|translate}}</label>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="form-control input-alt" ng-model="ctrl.data.Street" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md">
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <label class="control-label text-left text-required">Индекс</label>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="form-control input-alt" ng-model="ctrl.data.Zip" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <label class="control-label text-left">Дом</label>
                        <input type="text" class="form-control input-alt" ng-model="ctrl.data.House" maxlength="50" />
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label class="control-label text-left">Стр./корп.</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control input-alt" ng-model="ctrl.data.Structure" maxlength="10" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label class="control-label text-left">Квартира</label>
                                <input type="text" class="form-control input-alt" ng-model="ctrl.data.Apartment" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label class="control-label text-left">Подъезд</label>
                        <input type="text" class="form-control input-alt" ng-model="ctrl.data.Entrance" maxlength="10" />
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label class="control-label text-left">Этаж</label>
                        <input type="text" class="form-control input-alt" ng-model="ctrl.data.Floor" maxlength="10" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
