.sidebar-wrap {
    background-image: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%)), url('bg.jpg');
}

.sidebar {
    background-image: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%)), url('bg.jpg');
}

.sidebar::-webkit-scrollbar-thumb {
    border: 1px solid rgb(255 255 255 / 10%); /* should match background, can't be transparent */
    background-color: #1c2664;
}

.sidebar::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));
}

.sidebar__name {
    color: #e9e8f4;
}

.sidebar__counter .new-item {
    background-color: #fc586e;
    color: #e9e8f4;
}

.sidebar__link:hover {
    color: #cdcbe4;
}

.sidebar__link:hover .sidebar__name {
    color: #e9e8f4;
}

.sidebar__link--subitem .sidebar__name {
    color: #e9e8f4;
}

.sidebar__link--simple {
    color: #e9e8f4;
}

.sidebar__link--simple:hover {
    color: #e9e8f4;
}

.sidebar__trigger {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.sidebar__trigger:hover,
.sidebar__trigger--active,
.sidebar__trigger--active:hover {
    background-color: rgb(66 51 161 / 20%);
}

.sidebar__trigger:active {
    background-color: rgb(66 51 161 / 20%);
    opacity: 0.7;
}

.sidebar__trigger--subitems {
    border-color: rgb(255 255 255 / 10%);
}

.sidebar__icon {
    color: #e9e8f4;
}

.sidebar__item--open {
    background-color: rgb(255 255 255 / 10%);
}

.sidebar__item--selected {
    background-color: rgb(255 255 255 / 10%);
}

.sidebar__category-item-name,
.sidebar__name--link {
    color: #a3a4a9;
}

.sidebar--simple .sidebar__item--selected {
    border-left-color: #399ee2;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__name {
    background: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));
    color: #e9e8f4;
}

.sidebar.sidebar--compact.sidebar--simple .sidebar__name::after {
    background: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));
}

.sidebar-action__inner {
    border: 1px solid rgb(255 255 255 / 10%);
}

.sidebar-unit-modal-trigger:hover .sidebar-unit-modal-trigger__icon {
    color: #5b6e80;
}

.sidebar-unit-modal-trigger__icon {
    color: #fff;
}

.mobile-version .sidebar__link:hover .sidebar__icon {
    color: currentcolor;
}
