$bgSidebar: #5343b3;
$bgGradient: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));
$bgImageUrl: url('bg.jpg');
$bgCount: #fc586e;
$colorCount: #e9e8f4;
$iconColor: #fff;
$iconHover: #5b6e80;
$colorHoverLink: #cdcbe4;
$colorName: #e9e8f4;
$colorIcon: #e9e8f4;
$borderColor: rgb(255 255 255 / 10%);
$bgItemHover: rgb(66 51 161 / 20%);
$borderColorSubitem: rgb(255 255 255 / 10%);
$bgItemOpen: rgb(255 255 255 / 10%);
$bgItemSelected: rgb(255 255 255 / 10%);
$colorNameDefault: #e9e8f4;
$colorCategoryName: #a3a4a9;
$colorBorderSelectedMenuSimpleMode: #399ee2;
$bgTooltip: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));
$bgScrollbar: #1c2664;
$borderColorScrollbar: rgb(255 255 255 / 10%);
$bgScrollbarTrack: linear-gradient(to bottom, rgb(28 38 100 / 92%), rgb(90 9 34 / 92%));

.sidebar-wrap {
    background-image: $bgGradient, $bgImageUrl;
}

.sidebar {
    background-image: $bgGradient, $bgImageUrl;

    &::-webkit-scrollbar-thumb {
        border: 1px solid $borderColorScrollbar; /* should match background, can't be transparent */
        background-color: $bgScrollbar;
    }

    &::-webkit-scrollbar-track {
        background-image: $bgScrollbarTrack;
    }

    &__name {
        color: $colorNameDefault;
    }

    &__counter {
        .new-item {
            background-color: $bgCount;
            color: $colorCount;
        }
    }

    &__link {
        &:hover {
            color: $colorHoverLink;

            .sidebar__name {
                color: $colorName;
            }
        }

        &--subitem {
            .sidebar__name {
                color: $colorName;
            }
        }
    }

    &__link--simple {
        color: $colorIcon;

        &:hover {
            color: $colorIcon;
        }
    }

    &__trigger {
        border-bottom: 1px solid $borderColor;

        &:hover,
        &--active,
        &--active:hover {
            background-color: $bgItemHover;
        }

        &:active {
            background-color: $bgItemHover;
            opacity: 0.7;
        }

        &--subitems {
            border-color: $borderColorSubitem;
        }
    }

    &__icon {
        color: $colorIcon;
    }

    &__item {
        &--open {
            background-color: $bgItemOpen;
        }

        &--selected {
            background-color: $bgItemSelected;
        }
    }

    &__category-item-name,
    &__name--link {
        color: $colorCategoryName;
    }

    &--simple {
        .sidebar {
            &__item--selected {
                border-left-color: $colorBorderSelectedMenuSimpleMode;
            }
        }
    }

    &.sidebar--compact.sidebar--simple {
        .sidebar__name {
            background: $bgTooltip;
            color: $colorNameDefault;

            &::after {
                background: $bgTooltip;
            }
        }
    }
}

.sidebar-action {
    &__inner {
        border: 1px solid $borderColor;
    }
}

.sidebar-unit-modal-trigger {
    &:hover &__icon {
        color: $iconHover;
    }

    &__icon {
        color: $iconColor;
    }
}

.mobile-version {
    .sidebar__link:hover {
        .sidebar__icon {
            color: currentcolor;
        }
    }
}
