.geo-mode {
    $self: &;

    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;

    &--fetching {
        position: relative;
        opacity: 0.6;
        pointer-events: none;
        &::after {
            position: absolute;
            transform: translate(-50%, -50%);
            left: calc(50% - 13px);
            top: calc(50% - 13px);
            font-size: 26px;
        }
    }


    &--fetching#{$self}--mobile {
        &::after {
            top: calc(75% - 13px);
        }
    }

    &--mobile {
        padding: 15px;

        #{$self}__header {
            font-size: 12px;
            margin-bottom: 5px;
        }

        #{$self}__btn-group {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        #{$self}__btn-inactive {
            background-color: #fff;
        }

        #{$self}__shipping-point-wrap,
        #{$self}__address-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 5px;
        }

        #{$self}__address {
            font-size: 14px;
            font-weight: normal;

            &--hidden {
                visibility: hidden;
            }

            &--visible {
                visibility: visible;
            }
        }

        #{$self}__change-btn {
            font-size: 14px;
            font-weight: bold;
        }
    }

    &--desktop {
        position: relative;

        #{$self}__icon {
            width: 24px;
            height: 32px;
            mask: url("data:image/svg+xml,%3Csvg width='24' height='32' viewBox='0 0 24 32' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.817 0H12.1308C12.5114 0.03125 12.9258 0.04 13.2714 0.081875C17.4252 0.58625 20.8677 3.32063 22.3614 7.2125C22.772 8.28188 22.9914 9.41937 23.0552 10.5594C23.1133 11.6131 22.9552 12.6256 22.6389 13.6231C22.5327 13.9585 22.4229 14.2927 22.3095 14.6256C22.0777 15.3069 21.7295 16.1325 21.4908 16.6756C21.0879 17.5931 20.5439 18.6806 19.8589 19.9381C17.5908 24.1 14.8877 28.1912 12.1852 31.8856C12.1485 31.9356 12.0872 31.9737 12.0014 32H11.932C11.8479 31.9667 11.7962 31.9371 11.777 31.9112C10.9625 30.8012 10.2485 29.7969 9.63517 28.8981C7.30954 25.4919 5.06954 21.9875 3.21954 18.2969C2.71371 17.2881 2.23912 16.221 1.79579 15.0956C1.70912 14.876 1.54475 14.3852 1.30266 13.6231C0.98329 12.6163 0.826415 11.5962 0.88829 10.5319C1.03829 7.95062 2.03829 5.50312 3.80079 3.60437C5.62162 1.64271 7.8785 0.471875 10.5714 0.091875C10.9552 0.0375 11.4008 0.034375 11.817 0ZM15.9445 11.105C15.9445 10.0509 15.5258 9.04003 14.7805 8.29469C14.0351 7.54935 13.0242 7.13062 11.9702 7.13062C10.9161 7.13062 9.9052 7.54935 9.15986 8.29469C8.41452 9.04003 7.99579 10.0509 7.99579 11.105C7.99579 12.1591 8.41452 13.17 9.15986 13.9153C9.9052 14.6606 10.9161 15.0794 11.9702 15.0794C13.0242 15.0794 14.0351 14.6606 14.7805 13.9153C15.5258 13.17 15.9445 12.1591 15.9445 11.105Z' fill='currentColor'/%3E%3C/svg%3E");
        }

        #{$self}__content-stretch {
            flex-grow: 1;
        }

        #{$self}__label {
            color: #5f5e5e;
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 1.1;
            font-weight: 500;
        }

        #{$self}__address {
            font-size: 18px;
            line-height: 1.1;
            font-weight: 500;

            &--hidden {
                visibility: hidden;
            }

            &--visible {
                visibility: visible;
            }
        }

        #{$self}__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 25px;
        }

        #{$self}__address-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 5px;
        }

        #{$self}__btn-group {
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        #{$self}__change-btn {
            text-decoration: none;
            line-height: 1;
            border-bottom-width: 1px;
            border-color: currentcolor;
            border-style: solid;
            padding: 0;
            font-size: 14px;

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
}
