@import '../../../../../../../../scripts/_partials/payment/styles/payment';
@import '../../common';
@import '../../atomic';

.payment-item {
    /* display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    justify-content: flex-start; */
    @extend %form-row;
    // .custom-input-radio {
    //  margin-right: 8px;
    // }

    &-radio {
        padding-top: 0;
    }

    &-icon {
        display: none;
        min-width: 52px;
        word-break: break-all;
    }

    &-title {
        @extend %control-label;
    }

    &-info {
        padding-top: 0;
        padding-bottom: 0;
        flex-grow: 1;

        .payment-item-title {
            margin-top: 3px;
            margin-bottom: 0 !important;
        }

        .payment-item-description {
            margin-top: 10px;
        }

        .payment-control.payment-custom-option {
            display: flex;
            flex-direction: column;

            span {
                display: inline-block;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }

    &-description {
        padding-top: 0;
        font-size: var(--font-size-default);
    }

    &-additional + &-description {
        margin-top: 10px;
    }

    .payment-custom-option {
        /*       &:first-child {
            padding-top: 0;
        } */
    }
}

.form-group .payment-details-item.input-alt {
    margin-top: 10px;
}
