<h2 class="reports-title m-b setting__subtitle">Брони</h2>
<div class="reports-graphic" is-mobile>
    <div class="booking-analytics-common__list" ng-class="{'flex-column': isMobile.value}">
        <div
            class="booking-analytics-common__list-item"
            ng-class="{pointer: $ctrl.isShowAllBookings(), 'width-auto' : isMobile.value}"
            ng-click="$ctrl.showAllBookings()">
            Доход (сумма всех броней)<br /><span class="booking-analytics-common__value" ng-bind="$ctrl.Data.SumAllBookingsFormated"></span>
        </div>
        <div
            class="booking-analytics-common__list-item"
            ng-class="{pointer: $ctrl.isShowPaidBookings(), 'width-auto' : isMobile.value}"
            ng-click="$ctrl.showPaidBookings()">
            Оплачено (сумма оплаченных броней)<br /><span class="booking-analytics-common__value" ng-bind="$ctrl.Data.SumPaidBookingsFormated"></span>
        </div>
        <div class="booking-analytics-common__list-item" ng-class="{'width-auto' : isMobile.value}">
            Кол-во броней<br /><span
                class="booking-analytics-common__value"
                ng-bind="$ctrl.Data.CountAllBookings !== null ? $ctrl.Data.CountAllBookings : '-'"></span>
        </div>
        <div class="booking-analytics-common__list-item" ng-class="{'width-auto' : isMobile.value}">
            Средний чек<br /><span class="booking-analytics-common__value" ng-bind="$ctrl.Data.AverageSumBookingsFormated"></span>
        </div>
        <div
            class="booking-analytics-common__list-item"
            ng-class="{pointer: $ctrl.isShowCancelledBookings(), 'width-auto' : isMobile.value}"
            ng-click="$ctrl.showCancelledBookings()">
            Сумма отмененных броней<br /><span class="booking-analytics-common__value" ng-bind="$ctrl.Data.SumCancelledBookingsFormated"></span>
        </div>
        <div
            class="booking-analytics-common__list-item"
            ng-class="{pointer: $ctrl.isShowCancelledAndPaidBookings(), 'width-auto' : isMobile.value}"
            ng-click="$ctrl.showCancelledAndPaidBookings()">
            Оплачено (сумма по отмененным броням)<br /><span
                class="booking-analytics-common__value"
                ng-bind="$ctrl.Data.SumCancelledAndPaidBookingsFormated"></span>
        </div>
        <div class="booking-analytics-common__list-item" ng-class="{'width-auto' : isMobile.value}">
            Кол-во отмененных броней<br /><span
                class="booking-analytics-common__value"
                ng-bind="$ctrl.Data.CountCancelledBookings !== null ? $ctrl.Data.CountCancelledBookings : '-'"></span>
        </div>
    </div>
</div>
