<div data-is-mobile="">
    <div class="m-t m-b-sm">{{'Admin.Js.OrderStatusHistory.Title'|translate}}</div>
    <ui-grid-custom
        grid-unique-id="gridStatusHistory"
        grid-on-init="$ctrl.gridOnInit(grid)"
        grid-filter-enabled="false"
        grid-pagination-enabled="false"
        grid-selection-enabled="false"
        grid-params="{orderId:$ctrl.orderId}"
        grid-options="$ctrl.gridOptions"
        grid-url="'orders/getOrderStatusHistory'"
        grid-empty-text="'Admin.Js.OrderStatusHistory.NoEntries'|translate">
        <ui-grid-custom-override-control class="ng-cloak" ng-if="isMobile.value">
            <div class="card m-b-md">
                <div class="card__row" data-ng-if="row.entity.Date != null">
                    <div data-ng-bind="'Admin.Js.Order.Date' | translate"></div>
                    <div data-ng-bind="row.entity.Date"></div>
                </div>
                <div class="card__row" data-ng-if="row.entity.PreviousStatus != null">
                    <div data-ng-bind="'Admin.Js.Order.PreviousStatus' | translate"></div>
                    <div data-ng-bind="row.entity.PreviousStatus"></div>
                </div>
                <div class="card__row" data-ng-if="row.entity.NewStatus != null">
                    <div data-ng-bind="'Admin.Js.Order.NewStatus' | translate"></div>
                    <div data-ng-bind="row.entity.NewStatus"></div>
                </div>
                <div class="card__row" data-ng-if="row.entity.CustomerName != null">
                    <div data-ng-bind="'Admin.Js.Order.UserChangedStatus' | translate"></div>
                    <div data-ng-bind="row.entity.CustomerName"></div>
                </div>
                <div class="card__row" data-ng-if="row.entity.Basis != null && row.entity.Basis.length > 0">
                    <div data-ng-bind="'Admin.Js.Order.Base' | translate"></div>
                    <div data-ng-bind="row.entity.Basis"></div>
                </div>
            </div>
        </ui-grid-custom-override-control>
    </ui-grid-custom>
</div>
