@use '../../../../styles/settings';
@use '../../../../styles/functions/util';

.cart-discount {
    .cart-mini-result-value {
        color: #ce1515;
    }
}

.cart-mini {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: settings.$font-size-normal;
}

.cart-mini-main-link {
    display: inline-block;
    padding: util.rem-calc(5px) util.rem-calc(10px) util.rem-calc(5px) util.rem-calc(6px);
    text-decoration: none;
    position: relative;
    z-index: 20;
    border: settings.$border-width solid #e2e3e4;
    border-radius: settings.$border-radius-base;

    &::before {
        font-size: settings.$font-size-medium;
    }

    &:hover {
        text-decoration: none;
    }
}

.cart-mini-block {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    box-shadow: settings.$box-shadow-base;
    border-radius: settings.$border-radius-base;
    text-align: left;
    min-width: 330px;
    top: -3px;
    right: -3px;
    padding-top: util.rem-calc(40px);
}

.cart-mini-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: hidden;

    .cart-mini-item .row {
        margin: 0;
    }
}

.cart-mini-processing {
    opacity: 0;
}

.cart-mini-photo,
.cart-mini-info {
    padding: util.rem-calc(5px);
    font-size: settings.$font-size-small;
}

.cart-mini-photo {
    margin: 0;
    text-align: center;
}

.cart-mini-result-name {
    font-weight: bold;
}

.cart-mini-name {
    font-size: settings.$font-size-base;
}

.cart-mini-result-block {
    background-color: #ebebec;
    padding: util.rem-calc(15px);
    border-bottom-left-radius: settings.$border-radius-base;
    border-bottom-right-radius: settings.$border-radius-base;
}

.cart-mini-buttons {
    margin-top: util.rem-calc(5px);
}

.cart-mini-scrollbar {
    max-height: util.rem-calc(240px);
    position: relative;
    overflow: auto;
}

.cart-mini-scrollbar-block {
    padding: util.rem-calc(5px) 0;
    position: relative;
}

.cart-mini-fixed {
    position: fixed;
    top: -40px;
}

.cart-full {
    width: 100%;
    padding: 0;
    margin: 0 0 settings.$margin-value-base;
    table-layout: fixed;
    border: 0;

    &-help-trigger {
        .help-trigger-icon {
            padding: 0;
            height: auto;
            width: auto;

            &--svg {
                width: 18px;
                height: 19px;
            }
        }
    }

    & &-wishlist {
        font-size: 16px;
        cursor: pointer;

        .wishlist-checkbox {
            cursor: pointer;
        }
    }

    &-items {
        display: grid;
        row-gap: 15px;
    }
}

.cart-full-header-item,
.cart-full-body-item {
    padding: util.rem-calc(25px) 0;
    border-width: 0 0 util.rem-calc(1px);
    border-bottom: util.rem-calc(1px) #e2e3e4 solid;
    box-sizing: border-box;
}

.cart-full-header-item {
    font-weight: bold;
    font-size: settings.$font-size-medium;
}

.cart-full-product {
    text-align: left;
}

.cart-full-sku {
    display: none;
    margin-top: 5px;
}

.cart-full-price,
.cart-full-cost {
    text-align: right;
    width: 15%;
}

.cart-full-amount {
    text-align: center;
    width: 15%;
}

.cart-full-remove {
    font-size: settings.$font-size-xmedium;
    width: util.rem-calc(76px);
    text-align: right;

    .icon-cancel-circled-before {
        display: inline-flex;
        justify-content: center;

        &::before {
            margin-right: 0;
        }
    }
}

.cart-full-photo {
    position: relative;
    padding-right: util.rem-calc(25px);
    text-align: center;
}

.cart-full-name-link {
    font-size: settings.$font-size-xmedium;
}

.cart-full-body {
    .cart-full-price,
    .cart-full-cost {
        font-size: settings.$font-size-xmedium;
    }
}

.cart-full-properties {
    display: table;
    padding: 0;
    margin: util.rem-calc(5px) 0 0;
    list-style-type: none;
}

.cart-full-properties-item {
    display: table-row;
}

.cart-full-properties-name,
.cart-full-properties-value {
    display: table-cell;
    vertical-align: middle;

    /* padding-bottom: $padding-base; */
    padding-bottom: 0.2rem;
}

.cart-full-properties-name {
    padding-right: settings.$padding-base;
}

.cart-full-discount {
    color: #e20a0a;
}

.cart-full-coupon {
    padding-right: settings.$padding-base;
}

.cart-full-coupon-text {
    line-height: 1.2;
    margin-bottom: util.rem-calc(15px);
}

.checkout-gift-button {
    .btn {
        padding: 0.7188rem 0.625rem;
    }
}

.cart-full-bonus {
    text-align: right;
}

.cart-full-addition {
    padding: util.rem-calc(20px) 0;
    border-width: 0 0 util.rem-calc(1px);
    border-bottom: util.rem-calc(1px) #e2e3e4 solid;
}

.cart-full-result-block,
.cart-full-remove {
    border-width: 0 0 util.rem-calc(1px);
}

.cart-full-error,
.cart-amount-error,
.cart-mini-amount-error {
    color: #e20a0a;
}

.cart-full-error,
.cart-amount-error {
    padding-top: settings.$padding-base;
    padding-bottom: settings.$padding-base;
}

.cart-amount-error {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    &.cart-amount-error-mobile {
        position: relative;
        left: auto;
    }
}

.cart-full-error {
    text-align: left;
}

.cart-full-buttons {
    padding-bottom: settings.$margin-value-base;
    text-align: right;
}

.cart-full-empty,
.cart-full-loading {
    text-align: center;
    font-size: settings.$font-size-xmedium;
    padding: 5rem 0;
}

.cart-amount-error-wrap {
    position: relative;
    line-height: 1;
}

.cart-full-result-name {
    font-size: settings.$font-size-medium;
}

.cart-full-result-price {
    font-size: settings.$font-size-big;
    font-weight: bold;
    line-height: 1;
}

.cart-full-result-block,
.cart-full-summary-fields {
    padding: settings.$padding-base;
    text-align: right;
}

.cart-full-result-block {
    padding-right: settings.$padding-base;
}

.cart-full-summary-name,
.cart-full-summary-price {
    font-size: settings.$font-size-medium;

    &--coupon {
        display: inline-flex;
        align-items: center;

        .cart-full-help-trigger {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.cart-full-loading-text::before {
    animation: cart-full-loading 2s infinite linear;
}

.cart-full-price-rule {
    font-size: settings.$font-size-base;
    margin: util.rem-calc(5px) 0 0;
}

/* mobile-cart */

.cart-full-mobile {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    // override
    &.panel {
        display: flex;
    }

    .cart-full-mobile-photo,
    .cart-full-mobile-body,
    .cart-full-mobile-inputs {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }

    .cart-full-mobile-photo {
        width: 22%;
        padding-right: 10px;
    }

    .cart-full-mobile-body {
        width: 78%;
        padding-right: 10px;

        &--full-width {
            width: 100%;
            padding-right: 0;
        }
    }

    .cart-full-mobile-inputs {
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .cart-full-mobile-name-link {
        font-size: settings.$font-size-xmedium;
    }

    .cart-full-mobile-item-cost {
        font-size: 1em;
        font-weight: bold;
        margin-top: 8px;
    }

    .cart-full-mobile-item-price {
        font-size: settings.$font-size-medium;
        text-align: right;
    }

    .cart-full-mobile-item-reviews {
        font-size: settings.$font-size-small;
    }

    .cart-full-mobile-properties-item {
        font-size: settings.$font-size-normal;
        list-style: none;
        margin-bottom: 2px;
    }

    .cart-full-mobile-properties {
        margin: 5px 0;
        padding: 0;
    }

    .cart-full-mobile-remove {
        font-size: 0;
    }

    .cart-full-mobile-price-rule {
        font-size: util.rem-calc(12px);
        margin: util.rem-calc(5px) 0 0;
        text-align: right;
    }

    &__row {
        display: flex;
        margin: 5px 0;
        font-size: settings.$font-size-medium;
    }
}

/* .cart-full-mobile-coupon {
    .checkout-gift-button {
        margin: 10px 0;
    }
} */

.cart-full-mobile-coupon-text {
    text-align: center;
    margin: 0 0 10px;
}

.cart-full-mobile-summary-name,
.cart-full-mobile-result-name {
    display: inline-block;
}

.cart-full-mobile-buttons {
    padding: 0.625rem 0;
    text-align: center;
}

.cart-full-mobile-buttons .btn {
    padding: 0 24px;
    line-height: 47px;
    text-transform: uppercase;
}

.cart-full-mobile-result-price {
    font-weight: bold;
    font-size: settings.$font-size-big;
}

@keyframes cart-full-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes cart-full-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes cart-full-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.cart-full-amount-control {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 130px;

    &--with-unit {
        width: 90px !important;
        margin-right: 20px !important;
        padding-right: 7px;

        .spinbox-input {
            width: 90px !important;
        }

        .spinbox__arrows {
            margin: 0;
        }
    }
}

.cart-full-mobile-inputs .spinbox-input {
    min-width: 35px;
}

.cart-full-mobile-inputs .cart-full-mobile-inputs {
    width: 21%;
}

.cart-full-mobile-inputs span {
    /* bottom: 8px; */
    position: relative;
}

.bonus-card-plus-amount {
    padding: 0 0 10px 25px;
}

.bonus-card-plus-amount .bonus-card-plus-price {
    font-weight: bold;
}

.cart-mini-empty {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

body.swal2-no-backdrop .swal2-shown.swal2-top.mobile-cart-popover-container {
    right: 0;
    top: 41px;
    left: 0;
    transform: none;
}

.mobile-cart-popover {
    transform: none;
    left: 0;
    border-radius: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .swal2-header {
        display: none;
    }

    &.swal2-popup.swal2-toast,
    .swal2-content {
        width: 100%;
    }

    .swal2-content {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

.cart-fullcartmessage {
    background-color: #f6d7d7;
}

.order-history-body-item.order-history-body-item-cost {
    position: relative;
    padding-right: 14px;

    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

.cart-add--with-spinbox {
    --cart-add-spinbox-br-width: 3px;

    border-radius: 5px;
}

.cart-add__spinbox-block {
    width: 100%;
    position: relative;

    .spinbox__arrows {
        position: static;
        inset: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
    }

    .spinbox-button-disabled {
        opacity: 1;

        &::before {
            opacity: 0.5;
        }
    }

    .spinbox-input-wrap {
        padding: 0;
    }

    .spinbox-more,
    .spinbox-less {
        border-color: var(--_cart-add-spinbox-br-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--_cart-add-spinbox-width);
        height: var(--_cart-add-spinbox-height);
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::before {
            mask-image: none;
            background: none;
            margin-right: 0;
            font-weight: 600;
            font-size: 26px;
            cursor: pointer;
            color: var(--_cart-add-spinbox-color);
        }
    }

    .spinbox-more {
        border-left-style: solid;
        border-left-width: var(--_cart-add-spinbox-br-width);
        right: 0;

        &::before {
            content: '+';
        }
    }

    .spinbox-less {
        border-right-style: solid;
        border-right-width: var(--_cart-add-spinbox-br-width);
        padding-bottom: 6px;
        left: 0;

        &::before {
            content: '\2013';
        }
    }
}

.cart-add__spinbox-input {
    color: var(--_cart-add-spinbox-color);
    background-color: var(--cart-add-spinbox-input-bg, inherit);
    border: none;
    width: 100%;
    padding-left: var(--_cart-add-spinbox-width);
    padding-right: var(--_cart-add-spinbox-width);
    line-height: 1.3;
    text-align: center;

    &:hover {
        box-shadow: none;
    }
}

.cart-help-trigger-popover {
    &.top-right {
        border-bottom-right-radius: 0 !important;

        .arrow {
            right: -1px !important;
        }
    }
}

.cart-full-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1;

    .icon-heart-after {
        &::after {
            margin-left: 0;
        }
    }
}

.cart-add__button-loading {
    width: var(--_cart-add-width, initial);

    &::before,
    &::after {
        display: none;
    }
}

.cart-add--with-spinbox-theme-standart {
    --cart-add-spinbox-br-width: 0px;

    font-weight: 700;
    border-radius: var(--_cart-add-rounded);
    overflow: hidden;

    .cart-add__button-add,
    .cart-add__spinbox-input,
    .cart-add__button-loading {
        width: 100%;
        box-sizing: border-box;
    }

    .cart-add__spinbox-input {
        border-width: var(--_cart-add-spinbox-main-br-width);
        border-radius: var(--_cart-add-rounded);
    }

    .spinbox-more,
    .spinbox-less {
        padding-bottom: 2px;

        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 2px;
            background-color: var(--_cart-add-spinbox-color);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .spinbox-more {
        &::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 2px;
            background-color: var(--_cart-add-spinbox-color);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .cart-add__inner {
        display: inline-flex;
    }
}

.cart-add--separate-with-spinbox {
    display: flex;
    gap: 10px;

    .cart-add__spinbox-input {
        width: calc(2ch + var(--_cart-add-spinbox-width) + var(--_cart-add-spinbox-width));
        padding-inline: calc(var(--_cart-add-spinbox-width) - 2ch);
    }
}

.cart-add__inner {
    width: 100%;
}

.cart-add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;

    &--with-spinbox-state-update {
        background-color: var(--_cart-add-background, transparent);
    }

    .spinbox-block {
        margin: 0;
    }
}

.cart-add-container {
    --_cart-add-container-width: var(
            --cart-add-container-width,
            max(calc(var(--_cart-add-width) + var(--cart-add-pad-left, 10px) + var(--cart-add-pad-right, 10px)), calc(var(--_cart-add-spinbox-width) + var(--_cart-add-spinbox-width) + 3ch))
    );

    --_cart-add-height: var(--cart-add-height, initial);
    --_cart-add-spinbox-color: var(--cart-add-spinbox-color, currentColor);
    --_cart-add-spinbox-br-color: var(--cart-add-spinbox-br-color, var(--_cart-add-spinbox-color));
    --_cart-add-spinbox-main-br-width: var(--cart-add-spinbox-main-br-width, 1px);
    --_cart-add-spinbox-br-width: var(--cart-add-spinbox-br-width, 0px);
    --_cart-add-spinbox-width: var(--cart-add-spinbox-width, 24px);
    --_cart-add-spinbox-height: var(--cart-add-spinbox-height, 100%);
    --_cart-add-spinbox-input-bg: var(--cart-add-spinbox-input-bg, #f9f9f9);
    --_cart-add-width: var(--cart-add-width, 100%);
    --_cart-add-rounded: var(--cart-add-rounded, 5px);
    --_cart-add-background: var(--cart-add-background, rgb(238 238 238 / 30%));

    width: var(--_cart-add-container-width, 100%);
}


.cart-add--simple {
    height: var(--_cart-add-height);
}


.cart-add__button-add,
.cart-add__spinbox-input,
.cart-add__button-loading {
    height: var(--_cart-add-height);
}

.cart-mini-amount-control {
    display: none;
}

.sidebars-container {
    .cart-mini-count {
        .cart-mini-amount-control {
            display: block;
        }
    }
}
