@use '../../themes';
@use '../../../../styles/functions/util';
@use '../../../../styles/settings';

$bgTop: (height util.rem-calc(537px), bg (url('../images/headerImage.jpg') no-repeat center top / cover));

@include themes.theme-background($bgTop, null);

.site-footer {
    &::before {
        content: '';
        display: block;
        position: absolute;
        background: url('../images/footerImage.jpg') no-repeat center bottom;
        height: 132px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
