<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.Tasks.EditTask.AddObserver'|translate}}</h2>
</div>
<div class="modal-body">
    <div>
        <ui-select
            class="input-alt"
            multiple
            ng-click="ctrl.parentCtrl.getUiSelectCtrl($select)"
            tabindex="100"
            ng-model="ctrl.parentCtrl.observerIds"
            convert-to-number
            on-select="ctrl.model = $model"
            on-remove="ctrl.model = $model">
            <ui-select-match placeholder="{{'Admin.Js.Tasks.ModalEditTaskCtrl.NoObservers'|translate}}">{{$item.label}}</ui-select-match>
            <ui-select-choices position="up" repeat="s.value as s in ctrl.parentCtrl.managersObserve | greedysearch: $select.search">
                <div>{{s.label}}</div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary ladda-button" type="button" ng-click="ctrl.changeObserver(ctrl.model)">
        {{'Admin.Js.SettingsTasks.Save'|translate}}
    </button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Tasks.EditTask.Cancel'|translate}}</button>
</div>
