.shipping-points-list {
    display: grid;
    row-gap: 16px;

    &__error {
        text-align: center;
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__empty {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }

    &__inner {
        &--initialization {
            .points-filters {
                pointer-events: none !important;
            }
        }

        &--without-map {
            .points-list-map__row {
                grid-template-columns: 1fr;
            }
        }
    }
}

.shipping-point {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
    border-width: 0 !important;

    &--selected {
        font-weight: bold;
    }
}

.shipping-points-list-plug {
    display: flex;
    font-size: 35px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
