.iframe-wrap {
    &--negitive-indents {
        margin-right: var(--negitive-indents-by-container);
        margin-left: var(--negitive-indents-by-container);
    }
}

.iframe-isloaded {
    position: static;

    & + .spinner-icon {
        display: none;
    }
}
