@import './defFuncValues';
@import './function';

html {
    font-size: $hfs;

    /* height: 100%;
  min-height: 100%; */
}

body {
    /* color: #3a3c44; */
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;

    /* height: 100%;
  min-height: 100vh; */
    position: relative;
    transition: left 0.1s;
}

figure {
    margin: 0;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}

label {
    position: relative;
    display: inline-block;
}

strong,
b {
    font-weight: bold;
}

.wrapper {
    /* height: 100%; */
    position: relative;
}

#layout {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    min-height: var(--min-full-height, 100vh);
}

#content {
    flex-grow: 1;
}

a {
    text-decoration: none;

    // tap highlighting color on touchdevice
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.img-not-resize {
    max-height: none;
    max-width: none;
}

.input-wrap {
    width: 100%;
    display: inline-block;

    &.login {
        border-bottom: 1px solid #cdcdcd;
    }

    input {
        padding: 19px 0;
    }
}

.nav-root {
    font-weight: bold;
    font-size: toEm(16);
    padding: 0;
    text-align: center;
    position: absolute;
    inset: 0 100px;
    margin: auto;
}

.toggle_sidebar {
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}

.toggle_sidebar.active {
    left: 0;
    right: auto;
}

.toggle-sidebar-icon {
    position: absolute;
    font-size: toEm(15);
    font-weight: normal;
    width: 20px;
    height: 14px;
    inset: 0;
    margin: auto;
}

.phoneBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 60px;
    top: 0;

    .phone-link {
        box-sizing: content-box;
        position: absolute;
        height: 16px;
        width: 16px;
        margin: auto;
        padding: 15px;
        padding-top: 12px;
        padding-bottom: 18px;
        border-radius: 50%;
        font-size: toEm(16);
        inset: 0;
        text-decoration: none;
        color: currentcolor;

        &:hover {
            text-decoration: none;
        }
    }
}

.cartBtn {
    position: absolute;
    height: 50px;
    width: 60px;
    right: 15px;
    top: 0;

    .cart-link {
        position: absolute;
        text-decoration: none;
        border-radius: 50%;
        font-size: toEm(16);
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: currentcolor;

        &:hover {
            text-decoration: none;
        }
    }

    .cart-count {
        position: relative;
        border-width: 1px;
        border-style: solid;
        padding: toEm(2) toEm(5);
        display: inline-block;
        font-family: Arial, sans-serif;
        border-radius: 2px;

        .border {
            content: '';
            position: absolute;
            left: -3px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 3px;
            height: 3px;
            border-width: 1px;
            border-right-width: 0;
            border-bottom-width: 0;
            border-style: solid;
            transform: rotate(-45deg);
        }
    }
}

menu {
    padding: 0;
    margin: 0;
}

.myaccount-link {
    padding: 0 24px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    line-height: toEm(48);
    color: white;
    border-color: #484a52;
    overflow: hidden;
    position: relative;
    font-size: toEm(18);

    &:hover,
    &:active {
        background: #232429;
        text-decoration: none;
    }
}

.price {
    display: block;
    margin-top: toEm(5);
    line-height: 1.5;
    font-size: 18px;
}

.cart-popup-carousel .price {
    line-height: 1;
}

.bonus-string-sum {
    height: 0; // чтобы слева от бонусов не было пробела
    margin-top: -18px;
}

.price-old {
    text-decoration: line-through;
    display: block;
    font-weight: normal;
    font-size: 12px;

    .price-number,
    .price-currency {
        text-decoration: line-through;
    }
}

.price-current {
    display: block;
}

.price-discount {
    font-size: 12px;
}

.prod-photo {
    display: inline-flex;
    width: 40%;
    vertical-align: middle;
    margin: 0 4% 0 0;
    text-align: center;
    position: relative;
    align-items: center;
}

.prod-name {
    font-size: toEm(18);
}

.prod-text {
    display: inline-block;
    width: 54%;
    vertical-align: middle;
}

.product-view-mobile-tile__item .prod-text {
    width: 100%;
}

.catalog-product-item .prod-colors-wrap {
    margin-top: 10px;
}

.mobile-body {
    display: contents;

    & > div {
        flex-grow: 1;
    }
}

.product-view-mobile-tile__item .prod-colors-wrap {
    display: flex;
    justify-content: center;
}

.product-view-mobile-tile__item .prod-colors {
    flex-basis: 100%;
    max-width: 100%;
}

.product-view-mobile-tile__item .carousel-inner {
    margin-left: auto;
    margin-right: auto;
}

.city-selector-input {
    input[type='text'] {
        border: none;
        text-indent: toEm(10);
        padding: toEm(7) 0 toEm(1);
        padding-top: toEm(5);

        /* height: toEm(32px); */
    }

    &.active + .city-selector-panel {
        margin-top: toEm(10);

        /* height: toEm(150px);
    -moz-transition: height 0.25s ease-in;
    -o-transition: height 0.25s ease-in;
    -webkit-transition: height 0.25s ease-in;
    transition: height 0.25s ease-in; */
    }
}

.city-selector-panel {
    /* height: 0; */

    /* -moz-transition: height 0.15s ease-out;
  -o-transition: height 0.15s ease-out;
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out; */
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    overflow-y: scroll;

    a {
        border: none;
    }
}

.footer-links {
    text-align: center;

    .footer-link {
        font-size: toEm(12);
    }
}

.carousel-mobile-dots {
    margin-bottom: 6px !important;
}

.good-select-emulate-text {
    font-family: Arial, sans-serif;
}

.price-number,
.price-currency {
    display: inline-block;
}

.block-usr-txt {
    margin: 10px 0;
}

.pagenumberer {
    text-align: center;
    margin: 20px 0;
}

.page-all {
    display: block;
    float: none !important;
    margin-top: 19px;
    margin-bottom: 10px;
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
}

.video-embed iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.block {
    margin: 0 10px;
}

.block-head {
    padding: 10px 20px;
    font-size: 21px;
}

/* Стили для оформления заказов */
.row .col-xs-4.col-p-v {
    display: none;
}

.mobile-block > label {
    display: block;
}

.zone-dialog-items {
    display: flex;
    flex-flow: row wrap;
}

.zone-dialog-item {
    width: 50%;
    box-sizing: border-box;
}

.mobile-content-padding {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 18px;
    padding-left: 18px;
    max-width: 100%;
}

.page-title {
    /* font-weight: bold;
  font-size: 1.56667em;
  text-align: center;
  padding: 10px 0; */
}

.shipping-item-additional .shipping-control-select {
    width: 160px;
}

/* https://bugs.chromium.org/p/chromium/issues/detail?id=613885 */
select {
    transition: none;
}

.mobile-container-fluid {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    .page-title {
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.right-bonus-column {
    padding-top: 5px;
    width: 100%;
}

.bonus-img {
    width: 100%;
    text-align: center;
}

.bonus-img img {
    padding-right: 20px;
    padding-left: 20px;
}

.site-body-cell-to-center {
    padding: 10px;
}

.site-body-cell-to-center .h2 {
    text-align: center;
}

.p-l-xs {
    padding-left: 0.625rem;
}

.p-r-xs {
    padding-right: 0.625rem;
}

.category-description {
    display: block;
    padding: 8px 17.333px;
}

.category-not-found-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

#properties .properties-item > .row > .col-xs-5 {
    width: 41.6667%;
}

.nav-root a {
    color: #fff;
}

.login-block-registration-text {
    margin-bottom: 10px;
}

.login-block-registration {
    padding: 10px;
}

#footer {
    margin-top: 15px;
    border-top: 1px solid #e9e9eb;
    flex-grow: 0;
}

.mobile-menu-trigger {
    color: #fff;
}

.product-price.details-payment .half-cell .details-payment-cell,
.product-price.details-payment .half-cell .details-amount {
    margin-bottom: 20px;
}

.product-price.details-payment .details-payment-inline .btn-action {
    margin-top: 12px;
}

.zone-dialog-link,
.zone-dialog-link:hover {
    color: #fff;
}

.select-custom--fat select {
    padding-top: 15px;
    padding-bottom: 14px;
}

/* .product-view-mobile-list__item .mobile-prod-artno {
    padding: 7px 0;
} */

.subscribe-block {
    margin-top: 12px;
    padding: 10px;
}

.related-product-title-wrap {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

.staticpage-title {
    padding-left: 18px;
    padding-right: 18px;
}

/* перенес из styles/views/brands.scss */
.breads {
    display: none;
}

.scroll-always-visible::-webkit-scrollbar {
    appearance: none;
    width: 100px;
    height: 2px;
}

.scroll-always-visible::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    box-shadow: 0 0 1px rgb(255 255 255 / 50%);
}

.rating {
    line-height: 1;
}

.mobile-tabs-vertical .tabs-header-item-link {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: currentcolor;
}

.spinner {
    position: relative;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
        content: '';
        display: block;
        background: rgb(255 255 255 / 50%);
        width: 100%;
        z-index: 10;
    }
}

.spinner-after::after {
    content: '\e80b';
    left: 50%;
    top: 50%;
    font-size: 35px;
    animation: spinShipping 2s infinite linear;
    text-shadow: none;
    font-family: advantshopfonts, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    line-height: 1;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
}

.get-bonus-card-block {
    .breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
}

.get-bonus-card-block .site-body-cell-to-center {
    padding-left: 0;
    padding-right: 0;
}

.custom-input-native {
    margin-right: 5px;
}

.price-new {
    margin-bottom: 0;
}

.price-unknown {
    font-size: 16px;
    font-weight: normal;
}

.col-p-v-mobile {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.wishlist-custom-input-text {
    display: none !important;
}

.wishlist-control .icon-heart-after::after {
    font-size: 20px;
}

.wishlist-title-row + .products-view-list .products-view-tile {
    margin-top: 0;
}

.mobile-product-view-item-image-wrap {
    position: relative;
}

.wishlist-control {
    border-radius: 4px;
}

.wishlist-control .svg {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fff;
}

.details-availability + .details-wishlist {
    position: absolute;
    right: 0.625rem;
    top: -5px;
    padding-left: 0;
    padding-right: 0;
}

.color-red {
    color: red !important;
}

.mobile-container-size-viewport {
    width: 100vw;
}

.mobile-container-size-viewport,
.main-content {
    flex-grow: 1;
}

.flex-grow {
    flex-grow: 1;
}

.copyright-block {
    padding: 14px;
    font-size: 12px;
}

// https://stackoverflow.com/a/47818418
// detect only ios
@supports (-webkit-touch-callout: none) {
    input:not([type='button'], [type='submit']) {
        // set font-size, because prevent zooming on focus in ios
        font-size: 16px;
    }
}

.visible-none {
    display: none;
}

.registration-user-agreement-form-control,
.registration-block-item-checkbox,
.registration-bonus-form-control {
    .form-field-input {
        display: flex;
    }

    .custom-input-checkbox {
        top: 0;
    }

    .custom-input-checkbox + span.registration-user-agreement-text {
        word-break: break-all;
    }
}

.visibility-hidden {
    visibility: hidden;
}
/* stylelint-disable */
#giftcertificatePreview {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* stylelint-enable */

.mobile-overlap {
    position: relative;
    z-index: 2998;
}

.adv-modal .adv-modal-inner {
    &.buy-one-click-dialog,
    &.callback-dialog,
    &.pre-order-dialog {
        min-width: auto;
        max-width: 100vw !important;
    }
}

.storeclosed-top {
    padding: 15px 0;
    font-size: 16px;
}

.storeclosed-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.storeclosed-col {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

.storeclosed-text-align {
    text-align: center;
}

.storeclosed-link {
    text-decoration: solid;
    text-decoration-line: underline;

    &:hover {
        color: inherit;
        opacity: 0.7;
        text-decoration: solid;
        text-decoration-line: underline;
    }
}

.in-iframe .mobile-product-view-item-image-block::-webkit-scrollbar,
.in-iframe .breadcrumbs__inner::-webkit-scrollbar {
    appearance: none;
    width: 100px;
    height: 2px;
}

.in-iframe .mobile-product-view-item-image-block::-webkit-scrollbar-thumb,
.in-iframe .breadcrumbs__inner::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    box-shadow: 0 0 1px rgb(255 255 255 / 50%);
}

.in-iframe body::-webkit-scrollbar {
    appearance: none;
    width: 2px;
}

.in-iframe body::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    box-shadow: 0 0 1px rgb(255 255 255 / 50%);
}

// ckeditor plugin
.ckeditor-yt-embed-wrap {
    max-width: none !important;
    max-height: none !important;
    aspect-ratio: 16/9;
}

.spinbox-button-disabled {
    opacity: 0.5;
}

.showhidepass {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    font-size: 18px;
    color: #c4c9cc;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

body:has(input:not([type='button'], [type='submit'], [type='reset'], [type='radio'], [type='checkbox']):focus) .bottom-panel {
    display: none;
}

.cart-add-container {
    --cart-add-container-width: 100%;
    --_cart-add-height: var(--cart-add-height, 38px);
}

@supports (-webkit-touch-callout: none) {
    input,
    textarea,
    select {
        font-size: 16px !important;
    }
}
