<div class="price-amount-cart" data-ng-class="{'price-amount-cart-mobile': priceAmountCart.isMobile}">
    <div class="price-amount-cart__row" data-ng-repeat="item in priceAmountCart.items track by $index">
        <span data-ng-if="item.Mode!='bycartsum'">
            При заказе товара <a data-ng-href="{{item.Url}}" class="price-amount-cart__name">{{item.Name}} {{item.ColorName}} {{item.SizeName}}</a> от
            <span class="price-amount-cart__amount">{{item.Amount}}</span> <span class="price-amount-cart__unit">{{item.Unit}}</span> цена
            <span class="price-amount-cart__price">{{item.Price}}</span>
            <span data-ng-if="item.Discount != null"
                >(<span class="price-amount-cart__discount">скидка <span class="price-amount-cart__discount-value">{{item.Discount}}</span></span
                >)</span
            >
        </span>
        <span data-ng-if="item.Mode=='bycartsum'">
            При заказе от <span class="price-amount-cart__cartsum">{{item.CartSum}}</span> цена
            <a data-ng-href="{{item.Url}}" class="price-amount-cart__name">{{item.Name}} {{item.ColorName}} {{item.SizeName}}</a>
            <span class="price-amount-cart__price">{{item.Price}}</span>
            <span data-ng-if="item.Discount != null"
                >(<span class="price-amount-cart__discount">скидка <span class="price-amount-cart__discount-value">{{item.Discount}}</span></span
                >)</span
            >
        </span>
    </div>
</div>
