<div>
    <form name="preorderform" novalidate="novalidate">
        <div class="preorder-text">
            <div
                data-ng-if="preOrderForm.field.PreOrderTextStaticBlock.CanUseInplace"
                class="static-block {{preOrderForm.field.PreOrderTextStaticBlock.CssClass}}"
                data-static-block-key="preOrderForm.field.PreOrderTextStaticBlock.Key"
                data-ng-bind-html="preOrderForm.field.PreOrderTextStaticBlock.Content"
                {{preOrderForm.field.PreOrderTextStaticBlock.InplaceAttributes}}></div>
            <div
                data-ng-if="!preOrderForm.field.PreOrderTextStaticBlock.CanUseInplace && preOrderForm.field.PreOrderTextStaticBlock.Content"
                class="static-block {{preOrderForm.field.PreOrderTextStaticBlock.CssClass}}"
                data-ng-bind-html="preOrderForm.field.PreOrderTextStaticBlock.Content"></div>
        </div>
        <label class="row middle-xs" ng-init="preOrderForm.form = preorderform">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name input-required vertical-interval-small">{{'Js.PreOrder.FirstName' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small">
                    <input class="input-small" data-ng-model="preOrderForm.data.FirstName" id="firstName" name="firstName" required type="text" />
                </span>
            </span>
        </label>
        <label class="row middle-xs">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name vertical-interval-small">{{'Js.PreOrder.LastName' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small">
                    <input class="input-small" data-ng-model="preOrderForm.data.LastName" id="lastName" name="lastName" type="text" />
                </span>
            </span>
        </label>
        <label class="row middle-xs">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name input-required vertical-interval-small">{{'Js.PreOrder.Email' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small">
                    <input
                        class="input-small"
                        data-ng-model="preOrderForm.data.Email"
                        id="email"
                        name="email"
                        pattern="^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)|(admin)$"
                        required
                        type="email" />
                </span>
            </span>
        </label>
        <label class="row middle-xs">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name input-required vertical-interval-small">{{'Js.PreOrder.Phone' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small">
                    <input
                        class="input-small"
                        data-ng-model="preOrderForm.data.Phone"
                        id="phone"
                        name="phone"
                        required
                        type="tel"
                        placeholder="{{ :: 'Js.Phone.PhonePlaceholder' | translate }}"
                        data-mask-control="preOrderForm.field.EnablePhoneMask"
                        data-mask-control-preset="phone" />
                </span>
            </span>
        </label>
        <label class="row middle-xs">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name vertical-interval-small">{{'Js.PreOrder.Comment' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small">
                    <textarea class="input-small" data-ng-model="preOrderForm.data.Comment" style="resize: vertical"></textarea>
                </span>
            </span>
        </label>
        <label class="row middle-xs" ng-if="preOrderForm.field.IsShowUserAgreementText">
            <span class="col-xs-12 col-sm-4"> </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-xsmall">
                    <input
                        type="checkbox"
                        data-ng-model="preOrderForm.data.Agreement"
                        class="custom-input-native"
                        data-ng-init="preOrderForm.data.Agreement = preOrderForm.field.AgreementDefaultChecked"
                        required />
                    <span class="custom-input-checkbox"></span>
                    <span ng-bind-html="preOrderForm.field.UserAgreementText"></span>
                </span>
            </span>
        </label>
        <label class="row middle-xs" ng-if="preOrderForm.field.EnableCaptchaInPreOrder">
            <span class="col-xs-12 col-sm-4">
                <span class="form-field-name input-required vertical-interval-small">{{'Js.PreOrder.CaptchaCode' | translate}}</span>
            </span>
            <span class="col-xs-12 col-sm-8">
                <span class="form-field-input vertical-interval-small" data-bind-html-compile="preOrderForm.captchaHtml"> </span>
            </span>
        </label>
        <label class="row middle-xs">
            <span class="col-xs-12 col-sm-8 col-sm-offset-4 pre-order-dialog-buttons">
                <span class="form-field-input vertical-interval-small">
                    <button
                        type="button"
                        data-ladda="preOrderForm.isValid"
                        class="btn btn-small btn-submit"
                        data-button-validation="preOrderForm.validateInput()"
                        data-button-validation-success="preOrderForm.send()">
                        {{'Js.PreOrder.Send' | translate}}
                    </button>
                </span>
            </span>
        </label>
    </form>
</div>
