<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddCustomerGroup.AddGroupUsers'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group row setting__form-group">
            <label class="col-xs-12 col-md-3 control-label setting__label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.NameUserGroup'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-9">
                <input
                    type="text"
                    data-ng-model="ctrl.name"
                    data-e2e="CustomerGroupName"
                    class="form-control input-alt"
                    required="required"
                    validation-input-text="{{'Admin.Js.AddCustomerGroup.NameUserGroup'|translate}}"
                    data-autofocus="!isMobile.value" />
            </div>
        </div>
        <div class="form-group row setting__form-group">
            <label class="col-xs-12 col-md-3 control-label setting__label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.Discount'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-9">
                <div class="input-group">
                    <input
                        type="text"
                        data-ng-model="ctrl.discount"
                        data-e2e="CustomerGroupDiscount"
                        class="form-control input-alt"
                        validation-input-text="{{'Admin.Js.CustomerGroups.BaseDiscount'|translate}}"
                        required="required" />
                    <div class="input-group-addon" ng-style="isMobile.value ? {'border': '0'} : null">%</div>
                </div>
            </div>
        </div>
        <div class="form-group row setting__form-group">
            <label class="col-xs-12 col-md-3 control-label setting__label">
                <span class="text-required">{{'Admin.Js.AddCustomerGroup.MinOrderAmount'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-9">
                <div class="form-control-wrap">
                    <div class="input-group">
                        <input
                            type="text"
                            data-ng-model="ctrl.minimumOrderPrice"
                            data-e2e="CustomerGroupMinOrderPrice"
                            class="form-control input-alt"
                            validation-input-text="{{'Admin.Js.AddCustomerGroup.MinOrderAmount'|translate}}"
                            required="required" />
                        <div class="input-group-addon" ng-if="ctrl.currency != null" ng-style="isMobile.value ? {'border': '0'} : null">
                            <span ng-bind="ctrl.currency"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isMobile.value && ctrl.mode=='edit'" class="form-group row setting__form-group">
            <div class="col-xs-12">
                <ui-modal-trigger
                    data-controller="'ModalAddEditCustomerGroupCategoryDiscountCtrl'"
                    controller-as="ctrl"
                    size="middle"
                    template-url="../areas/admin/content/src/customergroups/modal/addEditCustomerGroupCategoryDiscount/addEditCustomerGroupCategoryDiscount.html"
                    data-resolve="{'CustomerGroupId': ctrl.groupId}">
                    <a href="" class="">{{'Admin.Js.CustomerGroups.SetDiscountForCategory'|translate}}</a>
                </ui-modal-trigger>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="button"
            data-e2e="CustomerGroupOK"
            data-button-validation-success="ctrl.addCustomerGroup()"
            data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" data-e2e="CustomerGroupCancel" ng-click="ctrl.close()">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
