@use '../../../../styles/settings';
@use '../../../../styles/functions/util';


.address-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    overflow: visible;

    &-wrap {
        &--in-progress {
            position: relative;
            pointer-events: none;
            opacity: .6;

            &:after {
                left: calc(50% - 25px);
                top: calc(50% - 25px);
                font-size: 35px;
                margin: 0;
            }
        }
    }

    &__map {
        flex-grow: 1;
        pointer-events: none;

        &--hidden {
            opacity: 0;
        }
    }

    &__map-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% - 18px), calc(-50% - 18px));
        font-size: 30px;

        .icon-spinner-before {
            &::before {
                margin: 0;
            }
        }
    }

    &__plug {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 30px;
    }

    &__transclude-footer-wrap {
        position: sticky;
        bottom: 0;
        z-index: 1;
    }
}

.address-list-modal {
    width: 100%;

    .modal-content {
        padding-bottom: 0 !important;
    }

    &__footer {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

.address-list-item {
    padding: 0 0 util.rem-calc(20px);
    margin: 0;

    &--not-allow {
        opacity: 0.7;
    }

    &:first-child {
        border-top: 1px #ededee solid;
        padding-top: util.rem-calc(20px);
    }
}

.address-list-address-text {
    display: inline-block;
    font-size: 14px;
    padding-left: 5px;
}

.address-list-address-text-error {
    display: block;
    font-size: 11px;
    color: red;
}

.address-list-change-text {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.address-controls-item {
    font-size: 14px;
    margin-left: util.rem-calc(20px);
}

.address-empty {
    font-size: settings.$font-size-xmedium;
    padding: settings.$padding-base 0;
}

.address-dialog {
    min-width: 34vw;

    .modal-header {
        border: none;
        border-radius: 2px 2px 0 0;
        min-width: auto;
    }

    .modal-footer {
        border: none;
        min-width: auto;

        .row.end-md {
            margin: 0;
        }
    }

    .modal-footer .btn-cancel {
        padding: 6px 12px 8px;
        margin-left: 2px;
        font-size: 12px;
        font-weight: 600;
        color: #2f4050;
    }

    .modal-content {
        padding-bottom: 0 !important;
    }
}

.mobile-version {
    /* stylelint-disable */
    .address-controls-item {
        font-size: 13px;
        margin-left: 0;
    }

    .address-controls-remove-icon,
    .address-controls-remove-text {
        color: #ed1b24 !important;
    }

    .address-controls-remove-text {
        display: none;
    }

    .address-controls-remove-icon {
        &::before {
            content: '';
            display: inline-block;
            mask: url("data:image/svg+xml,%3Csvg width='20' height='20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 486.4 486.4'%3E%3Cpath color='currentColor' fill='currentColor' d='M446,70H344.8V53.5c0-29.5-24-53.5-53.5-53.5h-96.2c-29.5,0-53.5,24-53.5,53.5V70H40.4c-7.5,0-13.5,6-13.5,13.5 S32.9,97,40.4,97h24.4v317.2c0,39.8,32.4,72.2,72.2,72.2h212.4c39.8,0,72.2-32.4,72.2-72.2V97H446c7.5,0,13.5-6,13.5-13.5 S453.5,70,446,70z M168.6,53.5c0-14.6,11.9-26.5,26.5-26.5h96.2c14.6,0,26.5,11.9,26.5,26.5V70H168.6V53.5z M394.6,414.2 c0,24.9-20.3,45.2-45.2,45.2H137c-24.9,0-45.2-20.3-45.2-45.2V97h302.9v317.2H394.6z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M243.2,411c7.5,0,13.5-6,13.5-13.5V158.9c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v238.5 C229.7,404.9,235.7,411,243.2,411z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M155.1,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9 C141.6,390.1,147.7,396.1,155.1,396.1z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M331.3,396.1c7.5,0,13.5-6,13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v208.9 C317.8,390.1,323.8,396.1,331.3,396.1z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-color: currentcolor;
            width: 20px;
            height: 20px;
        }
    }

    .address-controls-edit-icon,
    .address-controls-edit-text {
        margin-right: 10px;
    }

    .address-controls-edit-text {
        display: none;
    }

    .address-controls-edit-icon {
        &::before {
            content: '';
            display: inline-block;
            mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgPgo8cGF0aCBmaWxsPSJjdXJyZW5Db2xvciIgZD0iTTQyMi45NTMsMTc2LjAxOWMwLjU0OS0wLjQ4LDEuMDktMC45NzUsMS42MTItMS40OThsMjEuNzcyLTIxLjc3MmMxMi44ODMtMTIuODgzLDEyLjg4My0zMy43NzEsMC00Ni42NTQKCQlsLTQwLjQzNC00MC40MzRjLTEyLjg4My0xMi44ODMtMzMuNzcxLTEyLjg4My00Ni42NTMsMGwtMjEuNzcyLDIxLjc3MmMtMC41MjMsMC41MjMtMS4wMTgsMS4wNjQtMS40OTgsMS42MTNMNDIyLjk1MywxNzYuMDE5eiIvPgo8cG9seWdvbiBmaWxsPSJjdXJyZW5Db2xvciIgcG9pbnRzPSIxMTQuMzE3LDM5Ny42ODQgMTU3LjMxNyw0NDAuNjg0IDEwNi42NTgsNDQ4LjM0MiA1Niw0NTYgNjMuNjU4LDQwNS4zNDEgNzEuMzE2LDM1NC42ODMiLz4KPHBvbHlnb24gZmlsbD0iY3VycmVuQ29sb3IiIHBvaW50cz0iMzQ5LjE0MywxMjUuNTM1IDExOC45ODIsMzU1LjY5NCAxMDYuNTQxLDM0My4yNTMgMzM2LjcwMSwxMTMuMDk0IDMyNC4yNiwxMDAuNjUzIDgxLjY1OSwzNDMuMjUzIAoJCTE2OC43NDcsNDMwLjM0MSA0MTEuMzQ4LDE4Ny43NCIvPjwvc3ZnPg==');
            background-repeat: no-repeat;
            background-color: currentcolor;
            width: 20px;
            height: 20px;
        }
    }

    #addressListModal,
    #modalAddress {
        padding: 0;
        display: block;

        &:not(.adv-modal--floating-animation) {
            animation: modal-backdor-show 0.5s ease-in-out;

            .address-list-modal,
            .address-dialog {
                animation: floating 0.5s ease-in-out;
                max-height: calc(100% - 60px);
                overflow: auto;
                position: absolute;
                left: 0;
                bottom: 0;
                justify-content: flex-end;
                box-shadow: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &--admin-mode {
                    background: transparent;
                }
            }
        }

        .modal-header {
            background-color: #fff;
        }

        .modal-footer {
            position: sticky;
            bottom: 0;
            top: 0;
            z-index: 111111;
            border-top: 1px solid #ddd;
            padding: 20px;
            background-color: #fff;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .row.end-md {
                margin-right: -0.625rem;
                margin-left: -0.625rem;
            }

            .end-md .col-xs-12 {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 5px;

                .btn-cancel {
                    padding: 5px 8px 5px 9px;
                    font-size: 14px;
                    line-height: 21px;
                    margin: 0;
                    font-weight: 400;
                    color: #0078bd;
                }
            }
        }

        .modal-content {
            border-radius: 0;
            display: block;
            height: auto;

            /* overflow: unset; */
            flex-grow: unset;
            padding: 20px;
            box-sizing: border-box;
        }

        @keyframes floating {
            from {
                transform: translate3d(0px, 100%, 0px);
            }
            to {
                transform: none;
            }
        }

        @keyframes modal-backdor-show {
            from {
                background-color: rgb(0 0 0 / 0%);
            }

            to {
                background-color: rgb(0 0 0 / 20%);
            }
        }
    }

    .address-list-modal {
        &__footer {
            border-top: 0;
        }
    }

    .address-map {
        --map-height: 50vh;
        .points-map {
            --height-map: 50vh;
        }
    }

    .add-edit-address {
        &__content {
            &--map {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 20px;
            }
        }

        &__locate-btn {
            display: grid !important;
        }

        &__map-wrap {
            height: 50vh;
        }

        &__form-control {
            &--inside-label {
                position: relative;

                .form-control {
                    padding-top: 30px;
                }

                label.control-label {
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    transition-property: top, font-size;
                    transition-duration: 200ms;
                    transition-timing-function: ease;
                }

                &:not(.show-placeholder),
                &:focus-within {
                    label.control-label {
                        top: 30%;
                    }

                    .form-field-name {
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .address-dialog {
        .modal-content {
            padding-bottom: 0 !important;
        }
    }

    /* stylelint-enable */
}

@media (width >= 62em) {
    .adv-modal,
    .adv-modal-floating {
        .address-dialog {
            max-width: 41vw !important;
        }
    }
}

.address-dialog:has(.add-edit-address__content--map) {
    max-width: 1164px !important;
}

/* address map */
.address-map {
    --map-height: 625px;

    width: 100%;
    height: var(--map-height);
    position: relative;
    text-align: center;

    &__map {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;

        &::before {
            margin: 0 !important;
        }
    }
}

.add-edit-address {
    &__content {
        &--map {
            display: grid;
            grid-template-columns: minmax(350px, 450px) minmax(510px, 606px);
            min-height: clamp(350px, 625px, 700px);
            column-gap: 30px;
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &__locate-btn {
        display: none !important;
        grid-template-columns: 20px 1fr;
        align-items: center;
        column-gap: 8px;
        padding: 0 !important;
        margin-bottom: 15px;
    }

    &__locate-spinner {
        font-size: 15px;
        line-height: 1.34;
    }
}

.mobile-version .add-edit-address {
    &__content {
        &--map {
            display: flex;
            flex-direction: column-reverse;
            row-gap: 20px;
        }
    }

    &__locate-btn {
        display: grid !important;
    }

    &__map-wrap {
        height: 50vh;
    }

    &__form-control {
        &--inside-label {
            position: relative;

            .form-control {
                padding-top: 30px;
            }

            label.control-label {
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                transition-property: top, font-size;
                transition-duration: 200ms;
                transition-timing-function: ease;
            }

            &:not(.show-placeholder),
            &:focus-within {
                label.control-label {
                    top: 30%;
                }

                .form-field-name {
                    font-size: 11px;
                }
            }
        }
    }
}

.mobile-version .address-dialog {
    .modal-content {
        padding-bottom: 0 !important;
    }
}
