<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddExportFeed.NewExport'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group row setting__form-group">
                <div class="col-xs-12 col-md-3 control-label setting__label">
                    <span class="text-required">{{'Admin.Js.AddExportFeed.Name'|translate}}</span>
                </div>
                <div class="col-xs-12 col-md-9">
                    <input
                        type="text"
                        placeholder=""
                        ng-model="ctrl.name"
                        class="form-control input-alt"
                        data-e2e="ExportAddName"
                        required
                        validation-input-text="{{'Admin.Js.AddExportFeed.Name'|translate}}"
                        data-autofocus="!isMobile.value"
                        maxlength="250" />
                </div>
            </div>
            <div class="form-group row setting__form-group" ng-if="ctrl.exportfeedTypes.length > 1">
                <div class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddExportFeed.Format'|translate}}:</div>
                <div class="col-xs-12 col-md-9">
                    <select
                        data-e2e="ExportAddFormat"
                        ng-model="ctrl.type"
                        ng-options="s.label for s in ctrl.exportfeedTypes track by s.value"
                        class="form-control input-alt"></select>
                    <div class="p-t-xs" ng-if="ctrl.type.value == 'Csv' || ctrl.type.value == 'CsvV2' || ctrl.type.value == 'YandexMarket'">
                        <a href="" ng-href="{{ctrl.getInstructionLink(ctrl.type.value)}}" target="_blank" class="link-academy link-invert">
                            <span class="adv-panel-info-icon-custom"></span>
                            <span>{{'Admin.Js.AddExportFeed.InstructionCsv'|translate}} {{ctrl.type.label}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row setting__form-group">
                <div class="col-xs-12 col-md-3 control-label setting__label">{{'Admin.Js.AddExportFeed.Description'|translate}}</div>
                <div class="col-xs-12 col-md-9">
                    <textarea
                        placeholder=""
                        ng-model="ctrl.description"
                        class="form-control input-alt"
                        data-e2e="ExportAddDesc"
                        maxlength="250"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.add()" data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
