<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.ExportOptions.Title'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.NotesForSale'|translate}} </label>

                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexSalesNote" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.NotesForSale'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.NotesForYandexMarket'|translate}}</p>
                        <p>"{{'Admin.Js.ExportOptions.ElementUsedFor'|translate}}"</p>
                        <p>{{'Admin.Js.ExportOptions.AllowedTextLength'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.OptionalElement'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ExamplePrepayment'|translate}}</p>
                        <p>
                            <a href="http://www.advantshop.net/help/pages/yandex-market-sales-note" target="_blank">
                                {{'Admin.Js.ExportOptions.InstructionNotes'|translate}}
                            </a>
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.InternationalMarkingCode'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.Gtin" maxlength="50" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="Google GTIN"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.ForGoogleMerchantCenter'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ReadMore'|translate}}</p>
                        <p>
                            <a href="https://support.google.com/merchants/answer/160161?hl=ru#valid" target="_blank"
                                >{{'Admin.Js.ExportOptions.GTIN'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.Mpn'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.Mpn" maxlength="50" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="Google Mpn"
                        use-template="true">
                        <p>
                            <a href="https://support.google.com/merchants/answer/6324482?hl=ru" target="_blank">
                                {{'Admin.Js.ExportOptions.ReadMore'|translate}}
                            </a>
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.CategoryGoogleMerchantCenter'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.GoogleProductCategory" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.GoogleProductClassification'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.AttributeDefinesCategory'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ForGoogleMerchantCenter'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ReadMore'|translate}}</p>
                        <p>
                            <a href="https://support.google.com/merchants/answer/160081?hl=ru" target="_blank"
                                >{{'Admin.Js.ExportOptions.GoogleProductCategory'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.GoogleAvailabilityDate'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <div
                        class="input-group"
                        ng-class="{'flex-nowrap' : isMobile.value}"
                        ng-flatpickr
                        fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: true}">
                        <span class="flatpickr-custom-wrap" ng-class="{'flex-grow' : isMobile.value}">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-flatpickr-input
                                ng-model="ctrl.data.ExportOptions.GoogleAvailabilityDate" />
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                    </div>

                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.GoogleAvailabilityDate'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.GoogleAvailabilityDateHint'|translate}}</p>
                        <p>
                            <a href="https://support.google.com/merchants/answer/6324470" target="_blank"
                                >{{'Admin.Js.ExportOptions.ReadMore'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexMarketPrefix'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexTypePrefix" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.TypeOrCategory'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.TypePrefix'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.TransferCorrectly'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.OptionalElement'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ReadMore'|translate}}</p>
                        <p>
                            <a href="https://yandex.ru/support/partnermarket/elements/vendor-name-model.xml" target="_blank"
                                >{{'Admin.Js.ExportOptions.OfferName'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexMarketModel'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexModel" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.Model'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.ElementModel'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.UsedToTransfer'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ReadMore'|translate}}</p>
                        <p>
                            <a href="https://yandex.ru/support/partnermarket/elements/vendor-name-model.xml" target="_blank"
                                >{{'Admin.Js.ExportOptions.OfferName'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.Product.YandexMarketName'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexName" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.Product.NameOfProduct'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.Product.ElementName'|translate}}</p>
                        <p>{{'Admin.Js.Product.TransferProductName'|translate}}</p>
                        <p>{{'Admin.Js.Product.MoreInfo'|translate}}</p>
                        <p>
                            <a href="https://yandex.ru/support/partnermarket/elements/vendor-name-model.xml" target="_blank"
                                >{{'Admin.Js.Product.OfferName'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.Product.YandexMarketDeliveryDays'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" maxlength="5" ng-model="ctrl.data.ExportOptions.YandexDeliveryDays" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.Product.YandexDeliveryDays'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.Product.DeliveryDaysPrecept'|translate}}</p>
                        <p>{{'Admin.Js.Product.ThisParameterUsedForYandexMarketDeliveryDays'|translate}}</p>
                        <p>{{'Admin.Js.Product.IfProductDeliveryDaysIsEmpty'|translate}}</p>
                        <p>{{'Admin.Js.Product.MoreInfo'|translate}}</p>
                        <p>
                            <a href="https://yandex.ru/support/partnermarket/elements/delivery-options.html" target="_blank"
                                >{{'Admin.Js.Product.YandexDeliveryDaysDocumentation'|translate}}</a
                            >
                        </p>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.Bid'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <input type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.Bid" />
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.Bid'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.TransferBid'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ConditionalCentsAsValue'|translate}}</p>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.DimensionNamingConventions'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <select type="text" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexSizeUnit">
                        <option value="">{{'Admin.Js.ExportOptions.NotChosen'|translate}}</option>
                        <optgroup label="{{'Admin.Js.ExportOptions.ByCountry'|translate}}">
                            <option value="AU">AU</option>
                            <option value="DE">DE</option>
                            <option value="EU">EU</option>
                            <option value="FR">FR</option>
                            <option value="Japan">Japan</option>
                            <option value="INT">INT</option>
                            <option value="IT">IT</option>
                            <option value="RU">RU</option>
                            <option value="RU_COM">RU_COM</option>
                            <option value="UK">UK</option>
                            <option value="US">US</option>
                        </optgroup>
                        <optgroup label="{{'Admin.Js.ExportOptions.TypeOfMeasurement'|translate}}">
                            <option value="INCH">INCH</option>
                            <option value="CM">CM</option>
                            <option value="HEIG">HEIG</option>
                            <option value="Height">Height</option>
                            <option value="Months">Months</option>
                            <option value="Round">Round</option>
                            <option value="Years">Years</option>
                        </optgroup>
                    </select>
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.Designations'|translate}}"
                        use-template="true">
                        - {{'Admin.Js.ExportOptions.ByCountry'|translate}}:<br />
                        {{'Admin.Js.ExportOptions.AU'|translate}}<br />
                        {{'Admin.Js.ExportOptions.DE'|translate}}<br />
                        {{'Admin.Js.ExportOptions.EU'|translate}}<br />
                        {{'Admin.Js.ExportOptions.FR'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Japan'|translate}}<br />
                        {{'Admin.Js.ExportOptions.INT'|translate}}<br />
                        {{'Admin.Js.ExportOptions.IT'|translate}}<br />
                        {{'Admin.Js.ExportOptions.RU'|translate}}<br />
                        {{'Admin.Js.ExportOptions.UK'|translate}}<br />
                        {{'Admin.Js.ExportOptions.US'|translate}}<br />
                        - {{'Admin.Js.ExportOptions.TypeOfMeasurement'|translate}}:<br />
                        {{'Admin.Js.ExportOptions.INCH'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Height'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Months'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Round'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Years'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label ng-if="!isMobile.value" class="col-xs-12 col-md-3 control-label">
                    {{'Admin.Js.ExportOptions.ProductForAdults'|translate}}
                </label>
                <div class="col-xs" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label control-checkbox" ng-class="{'flex-grow' : isMobile.value}">
                        <input type="checkbox" ng-model="ctrl.data.ExportOptions.Adult" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.ExportOptions.ProductForAdults'|translate}}</span>
                    </label>
                    <help-trigger
                        class="ng-cloak"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.ProductForAdults'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.ElementAdult'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.ForSexualNeeds'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.OptionalElement'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.NotesForYandexMarketGoogleMerchantCenter'|translate}}</p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label ng-if="!isMobile.value" class="col-xs-12 col-md-3 control-label">
                    {{'Admin.Js.ExportOptions.ManufacturerWarranty'|translate}}
                </label>
                <div class="col-xs" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label control-checkbox" ng-class="{'flex-grow' : isMobile.value}">
                        <input type="checkbox" ng-model="ctrl.data.ExportOptions.ManufacturerWarranty" class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.ExportOptions.ManufacturerWarranty'|translate}}</span>
                    </label>
                    <help-trigger
                        class="ng-cloak"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.ManufacturerWarranty'|translate}}"
                        use-template="true">
                        <p>{{'Admin.Js.ExportOptions.ElementManufacturerWarranty'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.MarkingProducts'|translate}}</p>
                        <p>{{'Admin.Js.ExportOptions.OptionalElement'|translate}}</p>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row middle-xs">
                <label ng-if="!isMobile.value" class="col-xs-12 col-md-3 control-label">
                    {{'Admin.Js.ExportOptions.YandexProductDiscounted'|translate}}
                </label>
                <div class="col-xs" ng-class="{'flex middle-xs' : isMobile.value}">
                    <label class="adv-checkbox-label control-checkbox" ng-class="{'flex-grow' : isMobile.value}">
                        <input
                            type="checkbox"
                            ng-model="ctrl.data.ExportOptions.YandexProductDiscounted"
                            class="adv-checkbox-input control-checkbox" />
                        <span class="adv-checkbox-emul"></span>
                        <span ng-if="isMobile.value">{{'Admin.Js.ExportOptions.YandexProductDiscounted'|translate}}</span>
                    </label>
                    <help-trigger
                        class="ng-cloak"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.YandexProductDiscounted.HelpTitle'|translate}}"
                        use-template="true">
                        {{'Admin.Js.ExportOptions.YandexProductDiscounted.YouCanPlaceDiscountedProducts'|translate}}<br />
                        {{'Admin.Js.ExportOptions.YandexProductDiscounted.BothLikeNewAndUsedProducts'|translate}}
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="ctrl.data.ExportOptions.YandexProductDiscounted">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexProductDiscountCondition'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <select
                        type="text"
                        class="form-control input-alt"
                        ng-model="ctrl.data.ExportOptions.YandexProductDiscountCondition"
                        convert-to-number
                        ng-options="s.value as s.label for s in ctrl.data.YandexDiscountConditions"
                        ng-required="ctrl.data.ExportOptions.YandexProductDiscounted"
                        validation-input-text="{{'Admin.Js.ExportOptions.YandexProductDiscountCondition'|translate}}"></select>
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.YandexProductDiscountCondition.HelpTitle'|translate}}"
                        use-template="true">
                        <b>{{'Admin.Js.ExportOptions.YandexProductDiscountCondition.Refurbished'|translate}}</b><br />
                        {{'Admin.Js.ExportOptions.YandexProductDiscountCondition.Refurbished.Specified'|translate}}<br />
                        <b>{{'Admin.Js.ExportOptions.YandexProductDiscountCondition.UsedType'|translate}}</b><br />
                        {{'Admin.Js.ExportOptions.YandexProductDiscountCondition.UsedType.Workable'|translate}}
                    </help-trigger>
                </div>
            </div>
        </div>
        <div
            class="form-group"
            ng-show="ctrl.data.ExportOptions.YandexProductDiscounted && ctrl.data.ExportOptions.YandexProductDiscountCondition != 0">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexProductQuality'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value}">
                    <select
                        type="text"
                        class="form-control input-alt"
                        ng-model="ctrl.data.ExportOptions.YandexProductQuality"
                        convert-to-number
                        ng-options="s.value as s.label for s in ctrl.data.YandexProductQualityTypes"></select>
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.YandexProductDiscountCondition.HelpTitle'|translate}}"
                        use-template="true">
                        <div ng-bind-html="'Admin.Js.ExportOptions.YandexProductQuality.Help'|translate"></div>
                    </help-trigger>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="ctrl.data.ExportOptions.YandexProductDiscounted">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexProductDiscountReason'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <textarea
                        class="form-control input-alt"
                        style="resize: vertical; min-height: 100px"
                        ng-model="ctrl.data.ExportOptions.YandexProductDiscountReason"
                        ng-required="ctrl.data.ExportOptions.YandexProductDiscounted"
                        validation-input-text="{{'Admin.Js.ExportOptions.YandexProductDiscountReason'|translate}}"></textarea>
                    <help-trigger
                        class="ng-cloak help-trigger-icon-abs"
                        ng-class="{'m-l-xs p-l-sm' : isMobile.value}"
                        data-title="{{'Admin.Js.ExportOptions.YandexProductDiscountReason.HelpTitle'|translate}}"
                        use-template="true">
                        <b style="color: #f00">{{'Admin.Js.ExportOptions.YandexProductDiscountReason.Attention'|translate}}</b>
                        {{'Admin.Js.ExportOptions.YandexProductDiscountReason.InformationMustBeComprehensive'|translate}}
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.Expiry'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" maxlength="25" ng-model="ctrl.data.ExportOptions.YandexMarketExpiry" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.Expiry.Expiry'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Expiry.ExpiryFormat'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Expiry.OtherExamples'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Expiry.FifteenDays'|translate}}<br />
                        {{'Admin.Js.ExportOptions.Expiry.TwoYears'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.WarrantyPeriod'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" maxlength="25" ng-model="ctrl.data.ExportOptions.YandexMarketWarrantyDays" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.WarrantyPeriod.WarrantyPeriod'|translate}}<br />
                        {{'Admin.Js.ExportOptions.WarrantyPeriod.WarrantyFormat'|translate}}<br />
                        {{'Admin.Js.ExportOptions.WarrantyPeriod.OtherExamples'|translate}}<br />
                        {{'Admin.Js.ExportOptions.WarrantyPeriod.FifteenDays'|translate}}<br />
                        {{'Admin.Js.ExportOptions.WarrantyPeriod.TwoYears'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.WarrantyConditions'|translate}} </label>
                <div class="col-xs relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <textarea
                        class="form-control input-alt"
                        maxlength="500"
                        ng-model="ctrl.data.ExportOptions.YandexMarketCommentWarranty"></textarea>
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.WarrantyConditions.WarrantyConditions'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.ExpiryDate'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input
                        type="text"
                        class="form-control input-alt"
                        maxlength="25"
                        ng-model="ctrl.data.ExportOptions.YandexMarketPeriodOfValidityDays" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.ExpiryDate.ExpiryDate'|translate}} {{'Admin.Js.ExportOptions.ExpiryDate.ForExample'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ExpiryDate.ExpiryFormat'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ExpiryDate.OtherExamples'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ExpiryDate.FifteenDays'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ExpiryDate.TwoYears'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.ServiceLife'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" maxlength="25" ng-model="ctrl.data.ExportOptions.YandexMarketServiceLifeDays" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.ServiceLife.ServiceLife'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ServiceLife.ServiceFormat'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ServiceLife.OtherExamples'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ServiceLife.FifteenDays'|translate}}<br />
                        {{'Admin.Js.ExportOptions.ServiceLife.TwoYears'|translate}}<br />
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.TNVEDCode'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="text" class="form-control input-alt" maxlength="10" ng-model="ctrl.data.ExportOptions.YandexMarketTnVedCode" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.TNVEDCode.TNVEDCode'|translate}}
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.SalesQuantum'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="number" class="form-control input-alt" max="100" ng-model="ctrl.data.ExportOptions.YandexMarketStepQuantity" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.SalesQuantum.SalesQuantum'|translate}}
                        <a href="https://yandex.ru/support/marketplace/assortment/fields/quantum.html" target="_blank"
                            >{{'Admin.Js.ExportOptions.SalesQuantum.ReadMore'|translate}}</a
                        >
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.MinQuantity'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="number" class="form-control input-alt" max="30" ng-model="ctrl.data.ExportOptions.YandexMarketMinQuantity" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.MinQuantity.MinQuantity'|translate}}
                        <a href="https://yandex.ru/support/marketplace/assortment/fields/quantum.html" target="_blank"
                            >{{'Admin.Js.ExportOptions.MinQuantity.ReadMore'|translate}}</a
                        >
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row middle-xs">
                <label class="col-xs-12 col-md-3 control-label"> {{'Admin.Js.ExportOptions.YandexMarketCategoryId'|translate}} </label>
                <div class="col-xs-12 col-md-4 relative" ng-class="{'flex middle-xs' : isMobile.value,' m-r-md' : !isMobile.value}">
                    <input type="number" class="form-control input-alt" ng-model="ctrl.data.ExportOptions.YandexMarketCategoryId" />
                    <help-trigger class="ng-cloak help-trigger-icon-abs" ng-class="{'m-l-xs p-l-sm' : isMobile.value}" use-template="true">
                        {{'Admin.Js.ExportOptions.YandexMarketCategoryId.Hint'|translate}}
                        <a href="https://market-feed-processor-prod.s3.yandex.net/async_template/category-tree.ru.xlsx" target="_blank"
                            >{{'Admin.Js.ExportOptions.YandexMarketCategoryId.ListHint'|translate}}</a
                        >
                        <a href="https://yandex.ru/support2/marketplace/ru/assortment/fields/#market-category" target="_blank"
                            >{{'Admin.Js.ExportOptions.YandexMarketCategoryId.ReadMore'|translate}}</a
                        >
                    </help-trigger>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" data-button-validation-success="ctrl.save()" data-button-validation>
            {{'Admin.Js.AddEdit.Save'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.AddEdit.Cancel'|translate}}</button>
    </div>
</form>
