.flatpickr {
    $self: &;

    &-custom-wrap + .input-group-addon {
        background-color: var(--btn-success-background);
        color: var(--btn-success-color);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &-custom-wrap {
        input {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

    &-custom-clear {
        display: flex;
        align-items: center;
    }

    &-custom__toggle {
        background-color: var(--btn-success-background);
    }

    &-calendar {
        input,
        select {
            border: 0 !important;
        }

        #{$self}-current-month {
            padding-top: 0;
        }
    }
}
