@use '../../../../styles/functions/util';

.custom-options {
    $self: &;

    &-list {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &-row {
        display: table-row;
    }

    &-name,
    &-value {
        display: table-cell;
        vertical-align: middle;
    }

    &-name {
        padding: util.rem-calc(5px) util.rem-calc(5px) util.rem-calc(5px) 0;
    }

    &-value {
        padding: util.rem-calc(5px) 0 util.rem-calc(5px) util.rem-calc(5px);
    }

    &--additional-goods {
        #{$self}-list {
            display: grid !important;
            row-gap: 20px;
        }

        #{$self}-name,
        #{$self}-list,
        #{$self}-value,
        #{$self}-row {
            display: block;
        }

        #{$self}-name {
            padding: 0;
            display: block !important;

            > label {
                font-weight: normal;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 1.1 !important;
            }
        }

        #{$self}-value {
            padding: 0;
        }

        #{$self}-inner {
            display: grid;
            row-gap: 10px;
        }

        #{$self}-control {
            display: flex;
            align-items: center;
            column-gap: 16px;
            padding: 16px 16px 16px 20px;
            border-radius: 15px;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            background: #fff;

            .adv-checkbox-emul,
            .adv-radio-emul {
                margin-right: 0;
            }

            .custom-input-native:focus ~ .custom-input-checkbox {
                box-shadow: none !important;
            }

            .custom-input-checkbox,
            .custom-input-radio {
                &:hover {
                    box-shadow: none !important;
                }
            }

            &--pointer {
                cursor: pointer;
            }
        }

        #{$self}-control-info {
            display: grid;
            row-gap: 12px;
            flex-grow: 1;
        }

        #{$self}-img-wrap {
            max-width: 70px;

            > img {
                display: block;
            }
        }

        #{$self}-text-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 5px;
        }

        #{$self}-text {
            display: grid;
            row-gap: 6px;
            padding-top: 0 !important;
        }

        #{$self}-price {
            font-size: 14px;
            font-weight: bolder;
            line-height: 1.1;
        }

        #{$self}-title {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.1;
        }

        #{$self}-item-description {
            font-size: 14px;
            line-height: 1.2;
        }

        #{$self}-item-counter {
            width: 110px;
            cursor: auto;

            .spinbox-input {
                pointer-events: none !important;
            }

            .spinbox-button-disabled {
                opacity: 0.5;
            }
        }
    }


}
