/* stylelint-disable */
#themeTrigger {
    display: none;
}
/* stylelint-enable */
.theme-trigger-switcher-wrap {
    cursor: pointer;
    display: flex;
}

.theme-trigger-icon {
    &::before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url('../../../../images/theme-trigger-icon-light.svg');
        background-size: cover;
        transform: translate(16px, -1px);
    }
}
/* stylelint-disable */
#themeTrigger:checked + .theme-trigger-switcher .theme-trigger-icon {
    &::before {
        background: url('../../../../images/theme-trigger-icon-dark.svg');
        transform: translate(-3px, -1.5px);
        background-size: cover;
    }
}
/* stylelint-enable */
.theme-trigger-switcher {
    display: inline-block;
    position: relative;
    width: 44px;
    border-radius: 20px;
    height: 24px;
    cursor: pointer;
    background: #2e9dec;
}
/* stylelint-disable */
#themeTrigger:checked + .theme-trigger-switcher {
    background: #464646;
}
/* stylelint-enable */
