.module-card {
    &__name {
        font-size: 16px;
        line-height: calc(18 / 15);
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__price {
        margin-bottom: 10px;
    }

    &__activity {
        margin-bottom: 16px;
    }

    &__description {
        font-size: 12px;
        line-height: calc(15 / 12);
        color: var(--color-text-alt);
    }

    &__btns-wrap {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 18px), 1fr));
        gap: 18px;
        margin-top: 10px;
    }
}

.marker-list__container {
    position: absolute;
    left: 0;
    top: 0;
}

.marker-list__row {
    margin-bottom: 5px;
    float: left;
}

.marker {
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 4px;
    font-size: 10px;
    display: inline-block;
    background-color: #f05454;
}
