.analytics-page {
    &__filters {
        margin-bottom: 30px;
    }

    &__telephony,
    &__product-report,
    &__profit,
    &__avgcheck,
    &__orders-analysis,
    &__rfm {
        display: grid;
        row-gap: 30px;
        margin-bottom: 30px;
    }

    &__special-grid {
        display: grid;
        grid-template-columns: 1fr 60px 60px;
        grid-column-gap: 10px;
        align-items: center;
    }

    &__special-grid-header {
        display: grid;
        grid-template-columns: 1fr 60px 60px;
        grid-column-gap: 10px;
        align-items: center;
        padding: 0 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}
