.category-page {
    &__title {
        font-size: 18px;
        line-height: calc(20 / 18);
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 24px;
    }

    &__description {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    &__property-groups-content {
        min-height: auto;
    }

    &__ibox {
        margin-bottom: 20px;
    }

    &__form-group {
        margin-bottom: 24px;
    }

    &__label {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .property-groups,
    .seo {
        margin-bottom: 10px;
    }

    .picture-uploader-middle {
        .picture-uploader-wrap {
            max-width: 120px;

            &::before {
                display: none;
            }
        }
    }
}
