.animation-img {
    vertical-align: middle;
    transition: -webkit-transform ease 3s;
    transition: transform ease 3s;
    transition:
        transform ease 3s,
        -webkit-transform ease 3s;
}

.create-site {
    &__list-tabs {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    // &__tabs-item {
    //    margin-right: 16px;
    // }

    &__preview {
        overflow: hidden;
        position: relative;
        border-radius: var(--border-radius-on-box);
        max-height: 200px;
    }

    &__price {
        color: var(--color-text-alt);
    }

    &__nama-link {
        color: var(--color-default);
        text-decoration: none;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 24px;
        font-weight: 500;
        margin-top: 0;
    }

    &__label {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: calc(16 / 14);
        font-weight: 500;
    }

    &__custom-footer-style-for-btn {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -35px;
    }
}

.create__sites-block-content {
    display: flex;
    flex-direction: column-reverse;
}

.create__sites-carousel-list {
    display: flex;
}

.create__site-title {
    white-space: normal;
}

.create__site-img-wrap {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create__sites-carousel-item {
    font-size: 14px;
    line-height: 1;
    min-width: calc(100vw - 32px);
}

.create__sites-carousel-item-inner {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.create__sites-right-block {
    margin-bottom: 20px;
}

.create__sites-btn-wrap {
    width: 48%;
}

.create-sites-carousel__dots-item {
    opacity: 0.2;

    &.carousel-dots-selected {
        opacity: 1;
    }
}

.create-site-item__link {
    color: #d4d4d4;

    &:hover {
        color: #d4d4d4;
    }
}

.create-funnel {
    &__modal-body {
        .form-group {
            margin-bottom: 15px;
        }
    }
}

.template-item--popular {
    position: relative;

    &::before {
        position: absolute;
        content: 'Хит';
        padding: 5px 10px;
        display: inline-block;
        background-color: #cd0303;
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
        right: -20px;
        top: 10px;
        z-index: 100;
    }
}

.template-item--premium {
    position: relative;

    &::after {
        position: absolute;
        content: 'Премиальный';
        padding: 5px 10px;
        display: inline-block;
        background-color: #816fcf;
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
        right: -20px;
        top: 10px;
        z-index: 100;
    }
}

.template-item--popular.template-item--premium {
    &::before {
        top: 48px;
    }
}
