.dashboard-site {
    background: #fff;
    box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding: 16px;
    margin-top: 24px;

    &__block {
        > .col-xs-slim {
            flex-shrink: 1;
        }
    }

    .landing-link-iframe {
        max-width: none;
    }

    &__icon {
        color: var(--color-link);
        padding: 0 0 0 10px;
    }

    &__name-text,
    &__type-text {
        display: block;
    }

    &__type-text {
        color: var(--color-text);
    }
}

.dashboard-site-content {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.dashboard-site-name {
    padding: 0 18px;
    flex-grow: 1;
    line-height: 1.3;
}

.add-new-site-wrap {
    .add-new-site {
        /* width: 200px; */
        height: 200px;
        border: 1px solid #eee;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #fff;
    }

    .dashboard__icon--plus {
        position: relative;
        height: 72px;
        width: 72px;
        max-width: none;
        margin: 0 auto 20px;
        flex: none;
    }

    .dashboard__icon--plus::before,
    .dashboard__icon--plus::after {
        content: '';
        position: absolute;
        display: block;
        background-color: #c3c3c3;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .dashboard__icon--plus::before {
        width: 72px;
        height: 5px;
    }

    .dashboard__icon--plus::after {
        height: 72px;
        width: 5px;
    }
}

.dashboard-total-sites--mobile {
    margin-top: 24px;
    text-align: right;
    font-size: 16px;
}

.dashboard-total-sites--mobile + .dashboard__list-sites {
    margin-top: 0;
}
