.design-domain-link {
    padding: 30px 0 30px 60px;
    font-size: 16px;
}

.design-form-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.tpl-table {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;

    .btn-sm {
        font-size: 14px;
        min-width: 70px;
        padding: 5px;
    }

    .btn--only-icon {
        min-width: 12px;
        width: 12px;
    }

    &__th {
        font-weight: normal;
        color: var(--color-text-alt);
        padding: 12px 6px 0;
        text-align: left;
        font-size: 12px;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 6px;
        }
    }

    &__td {
        padding: 6px 4px;
        font-size: 14px;

        span {
            word-wrap: break-word;
            word-break: break-all;
            hyphens: auto;
        }

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 6px;
        }
    }
}

.design-templateshop {
    &__title {
        margin-left: 18px;
    }

    &__content {
        background-color: #fff;
        padding: 14px 18px;
    }

    &__note {
        color: var(--color-text-alt);
        margin-bottom: 12px;
    }

    &__picture {
        padding: 0;
        margin: 0 0 20px;
    }
}

.design-preview {
    position: relative;
    max-height: 200px;

    &--overflow {
        overflow: hidden;
    }
}

.design {
    &__form-group {
        margin-bottom: 24px;
    }
}

.design-theme-files-block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 15px;
}

.design-theme-files-item {
    vertical-align: top;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 14px;
}

.design-theme-files-item:first-child {
    margin-left: 0;
}

.design-theme-files-item .design-theme-files-item-preview {
    padding: 3px;
    height: 90px;
}

.design-theme-files-item .design-theme-files-remove {
    float: right;
    font-size: 13px;
    text-decoration: none;
    display: none;
    display: block;
    position: absolute;
    top: 0;
    right: 3px;
}

.design-theme-files-item-name {
    font-size: 12px;
}

@media (width >= 420px) {
    .tpl-table {
        &__th,
        &__td {
            font-size: 14px;
            padding: 5px 8px;
        }

        .btn-sm {
            font-size: 14px;
            padding: 5px 8px;
            min-width: 100px;
        }
    }
}

.design-theme-treeview-item {
    padding: 5px 0 5px 10px;
}

.design-theme-treeview-item .fa-folder-open {
    color: #d6be08;
    font-size: 14px;
}

.design-theme-treeview-item a {
    color: #475761;
    text-decoration: none;
}

.design-theme-treeview-sub-item {
    padding: 5px 0 0 20px;
}

.tpl-site-online {
    height: 1449px;
    width: 1316px;
    transform: scale(calc(var(--min-full-height-raw) / 1449 / 2.14));
    transform-origin: 0 0;
    pointer-events: none;
}
