@import '../../../../../../../styles/views/errors';

.err {
    &-code {
        margin-top: 0;
    }

    &-txt {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    &-reasons {
        display: grid;
        justify-content: center;
    }

    &-reasons-list {
        text-align: left;
        margin-top: 10px;
    }

    &-reasons-list,
    &-reasons-title {
        font-size: 18px;
    }
}
