.funnel-domain-link {
    padding: 30px 0 30px 60px;
    font-size: 16px;
}

.funnel-form-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.tpl-table {
    background-color: #fff;
    width: 100%;

    &__th {
        font-weight: normal;
        color: var(--color-text-alt);
        padding: 12px 6px 0;
        text-align: left;

        &:first-child {
            padding-left: 18px;
        }

        &:last-child {
            padding-right: 18px;
        }
    }

    &__td {
        padding: 6px;
        font-size: 16px;

        &:first-child {
            padding-left: 18px;
        }

        &:last-child {
            padding-right: 18px;
        }
    }
}

.funnel-templateshop {
    &__title {
        margin-left: 18px;
    }

    &__content {
        background-color: #fff;
        padding: 14px 18px;
    }

    &__note {
        color: var(--color-text-alt);
        margin-bottom: 12px;
    }

    &__picture {
        padding: 0;
        margin: 0 0 20px;
    }
}

.funnel-preview {
    position: relative;
    max-height: 200px;

    &--overflow {
        overflow: hidden;
    }
}

.funnel {
    &__name {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
        color: #1a051d;
        margin: 0;
    }

    &__siteEnabled {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;

        &--enabled {
            color: #00c48c;
        }

        &--not-enabled {
            color: #d33126;
        }
    }

    &__input-radio {
        display: none;
    }

    &__tab-block {
        // .nav-link {
        //  margin: 0 16px;
        // }

        .navigation-item__icon {
            margin-right: 19px;
        }
    }

    &-modal__input-label {
        margin-bottom: 10px;
        font-weight: 500;
    }
}

.landing-link-iframe {
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    max-width: none;
}

.landing-block-preview {
    padding: 0;
    border: 0;
    margin: 0;
    pointer-events: none;
    height: 1000px;
    width: 1170px;
    transform: scale(0.313) !important;
    transform-origin: 0 0;
}
