.home-shopname__link {
    font-weight: 500;
    font-size: var(--font-size-middle);
    line-height: var(--line-height-middle);
    color: var(--color-default);
    text-decoration: none;
}

.home__head {
    padding: 10px 0;
}

.dashboard-content {
    &__progress-bar {
        background: linear-gradient(to right, #3d8af6 0%, #3d8af6 20%, #fff 20%, #fff 100%);
        width: 100%;
        border: 1px solid #c3c3c3;
        height: 13px;
        border-radius: 8px;
        margin-bottom: 12px;
    }

    &__progress-bar--step-1 {
        background: linear-gradient(to right, #3d8af6 0%, #3d8af6 40%, #fff 40%, #fff 100%);
    }

    &__progress-bar--step-2 {
        background: linear-gradient(to right, #3d8af6 0%, #3d8af6 60%, #fff 60%, #fff 100%);
    }

    &__progress-bar--step-3 {
        background: linear-gradient(to right, #3d8af6 0%, #3d8af6 80%, #fff 80%, #fff 100%);
    }

    &__progress-bar--step-4 {
        background: linear-gradient(to right, #3d8af6 0%, #3d8af6 100%, #fff 100%, #fff 100%);
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.01em;
        margin-top: 0;
        margin-bottom: 0;

        &--m-b-sm {
            margin-bottom: 12px;
        }

        &--sub {
            font-weight: 500;
            font-size: 18px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        margin: 0;
        color: #acaeaf;

        &--sub {
            font-size: 11px;
        }
    }

    &__item {
        margin-bottom: 24px;
        background: #fff;
        color: #000;
        border-radius: 8px;

        &--p-md {
            padding: 24px 16px;
        }

        &--shadow {
            box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
        }

        &--flex {
            display: flex;
        }
    }

    &__progress-bar-wrapper {
        margin-bottom: 32px;
    }

    &__form-item {
        margin-top: 24px;

        &--title {
            display: block;
            font-weight: 500;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 12px;
        }

        .form-control {
            border: 1px solid #c3c3c3;
            width: 100%;
            filter: drop-shadow(0 1px 8px rgb(0 0 0 / 5%));
            border-radius: 4px;
        }
    }

    &__btn-blue-wrap {
        margin-top: 14px;

        .btn {
            width: 100%;
        }
    }

    &__help-block {
        display: flex;
        margin-top: 26px;
    }

    &__help-icon {
        display: flex;
        width: 12px;
        height: 12px;
        color: #000;
    }

    &__help-link {
        margin-left: 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-decoration: none;
        color: #0084f4;
    }

    &__social-links-wrap {
        margin-top: 16px;
        display: flex;
    }

    &__social-link {
        margin-right: 12px;
        display: block;
    }
}

.sales-plan-block {
    &__title {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 500;
        margin-top: 0;
    }

    &__total {
        font-size: 18px;
    }

    &__goal {
        font-size: 13px;
    }
}
