.module-card {
    $self: &;

    &--link {
        position: relative;

        #{$self}__img-wrap {
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        #{$self}__activity {
            position: relative;
            display: flex;
            z-index: 2;
        }
    }
}
