.modules-page {
    &__modules-list {
        display: grid;
        gap: 16px;
    }

    &__title {
        font-size: 16px;
        line-height: calc(19 / 16);
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 14px;
        line-height: calc(18 / 14);
        margin-bottom: 23px;
    }

    &__empty {
        display: grid;
        row-gap: 22px;
        padding: 29px;
    }

    &__empty-text {
        color: var(--color-text-alt);
        font-size: 12px;
        line-height: calc(16 / 12);
    }
}
