.module-details {
    &__header {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 100px 1fr;
        font-weight: 500;
        background-color: #fff;
        padding-top: 10px;
        padding-left: var(--container-wrap-horizontal-padding);
        padding-right: var(--container-wrap-horizontal-padding);
        margin-left: calc(var(--container-wrap-horizontal-padding) * -1);
        margin-right: calc(var(--container-wrap-horizontal-padding) * -1);
    }

    &__form-group {
        margin-bottom: 24px;
    }

    &__name {
        font-size: 15px;
        line-height: calc(18 / 15);
        margin-bottom: 10px;
    }

    &__activity {
        margin-bottom: 10px;
    }

    &__header-content {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &__btn-style-none {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    &__chips-list {
        background-color: #fff;
        padding-left: var(--container-wrap-horizontal-padding);
        padding-right: var(--container-wrap-horizontal-padding);
        padding-bottom: 12px;
        padding-top: 12px;
        margin-left: calc(var(--container-wrap-horizontal-padding) * -1);
        margin-right: calc(var(--container-wrap-horizontal-padding) * -1);
        margin-bottom: 16px;
    }

    &__content-wrap {
        width: 100%;
        overflow: auto;

        .product-currency-active {
            background-color: #2d9ced;
            color: #fff;

            &:hover {
                background-color: #2d9ced;
                color: #fff;
            }
        }
    }

    &__grid-buttons-block {
        display: grid;
        grid-template-columns: 26px 26px;
        grid-column-gap: 10px;
    }

    &__label {
        font-size: 14px;
        line-height: 1.1;
        font-weight: 500;
    }

    &__item-self-center {
        align-self: center;
    }

    &__row-reverse {
        flex-direction: row-reverse;
    }

    &__subtitle {
        font-size: 1.45rem;
        padding-top: 1px;
        font-weight: 400;
    }

    &__content {
        &--desktop {
            /* width: 1024px; */
        }

        h1,
        h2 {
            font-weight: 500;
            font-size: 16px;
            line-height: calc(19 / 16);
            margin-top: 0;
            margin-bottom: 15px;
        }

        h3 {
            font-weight: 500;
            font-size: 15px;
            line-height: calc(16 / 14);
        }
    }

    &__nosettings-block {
        margin-top: 10px;
    }

    .page-name-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        margin-bottom: 16px;
    }

    .page-name-block-item-main {
        .page-name-block-text {
            margin-bottom: 0;
        }
    }

    .sticky-page-name .page-name-block-item-additional {
        display: grid;
        grid-gap: 5px;
        white-space: normal;
        flex-shrink: 1;

        .btn {
            padding: 5px 9px;
        }
    }

    .modules-btn-save-common {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 100;
        width: 24px;
        height: 24px;
        overflow: hidden;

        .btn {
            display: block;
            min-width: 24px;
            min-height: 24px;
            max-width: 24px;
            max-height: 24px;
            overflow: hidden;
            background-color: transparent;
            color: transparent;
            border: 0;

            &:disabled,
            &[disabled] {
                &::after {
                    background-color: var(--color-btn-disabled);
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 24px;
                height: 24px;
                mask-image: url('../../images/icons/done.svg');
                mask-size: contain;
                background-color: var(--btn-success-background);
            }
        }
    }
}

.api-item {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.api-item.get {
    background-color: #edf4ff;
}

.api-item.get .method {
    background: #61affe;
}

.api-item.post {
    background: rgb(73 204 144 / 10%);
}

.api-item.post .method {
    background: #49cc90;
}

.api-item .method {
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    min-width: 60px;
    padding: 6px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: method;
}

.api-item .path {
    align-items: center;
    color: #3b4151;
    font-family: monospace;
    font-weight: 600;
    padding: 0 10px;
    font-size: 13px;
    grid-area: path;
    word-break: break-all;
}

.api-item .description {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 12px;
    grid-area: description;
    padding: 0 10px;
}

.api-item .details {
    display: none;
    font-size: 13px;
    padding: 10px 15px;
}

.api-item .details .row-tb {
    background: #fff;
    padding: 5px 10px;
    margin: 5px 0 10px;
}

.api-item .api-item__btn {
    grid-area: btn;
}

.api-item .api-item__header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 50px 60px 1fr 1fr;
    grid-template-areas: 'btn method path path' '. . description description';
}

.ui-grid-menu-button {
    display: none;
}

.module {
    &__label {
        font-size: 14px;
        line-height: calc(16 / 14);
        font-weight: 500;
    }

    &__subtitle {
        font-size: 18px !important;
        margin-bottom: 24px;
        font-weight: 500;
        margin-top: 0;
    }

    &--m-b-sm {
        margin-bottom: 10px;
    }

    &--m-l-md {
        margin-left: 15px;
    }

    &--m-none {
        margin: 0;
    }

    &--m-b-none {
        margin-bottom: 0;
    }

    &__spacial-grid-block {
        display: grid;
        grid-template-columns: 1fr 30px 30px;
        grid-gap: 10px;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        align-items: center;
    }

    &__adv-checkbox-eye-emul {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        border-radius: 0;

        &::after {
            content: '';
            display: none;
            width: 100%;
            height: 100%;
            background-image: url('../../../../../Content/images/icon/adv-checkbox-eye-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../../../../../Content/images/icon/adv-checkbox-eye-close-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__adv-checkbox-required-emul {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        border-radius: 0;

        &::after {
            content: '';
            display: none;
            width: 100%;
            height: 100%;
            background-image: url('../../../../../Content/images/icon/adv-checkbox-required-true-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../../../../../Content/images/icon/adv-checkbox-required-false-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__price-margin-in-numbers {
        box-shadow: var(--shadow-on-box);

        .form-control {
            border-width: 0 !important;
            border-right-width: 2px !important;
        }

        .btn {
            border-width: 0;
        }

        &--more-btns {
            box-shadow: var(--shadow-on-box);

            .form-control {
                border-width: 0 !important;
            }

            .btn {
                border-width: 0 !important;
                border-left-width: 2px !important;
            }
        }
    }

    &__help-trigger-icon-end {
        .help-trigger-icon-wrap {
            justify-content: flex-end;
        }
    }

    &__supplier-of-happiness-grid-special {
        display: grid;
        grid-template-columns: 1fr 70px 100px;
        grid-row-gap: 5px;
        align-items: center;
        grid-template-areas: 'category needImport extraChargeInPercents' '. . extraChargeInNumbers';

        & > div:first-child {
            padding-right: 10px;
        }

        .category {
            grid-area: category;
        }

        .needImport {
            grid-area: needImport;
        }

        .extraChargeInPercents {
            grid-area: extraChargeInPercents;
        }

        .extraChargeInNumbers {
            grid-area: extraChargeInNumbers;
        }
    }
}

input[type='checkbox'].module__adv-checkbox-eye-input,
input[type='checkbox'].module__adv-checkbox-required-input {
    width: 30px !important;
    height: 30px !important;
}

input[type='checkbox'].module__adv-checkbox-eye-input:checked ~ .module__adv-checkbox-eye-emul,
input[type='checkbox'].module__adv-checkbox-required-input:checked ~ .module__adv-checkbox-required-emul {
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::before {
        display: none;
    }

    &::after {
        display: block;
    }
}

div.form-group.control-label {
    margin-bottom: 24px !important;
}

div.control-label .col-xs-slim.clear-gap-left-xs {
    flex-grow: 1;
}

div.control-label label.setting-label-wrap {
    font-weight: 400;
}

.clear-gap-left-xs {
    padding-left: 0;
    font-weight: 400;
}

.module-btn-save-with-icon {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.module__btn-add-with-icon {
    color: #fff;
    background: #2e9dec;
    border: none;
    border-radius: 4px;
    padding: 2px 4px;

    svg {
        position: relative;
        top: 1px;
    }
}
