.order-page {
    $self: &;

    &--create {
        display: grid;
        grid-template-areas: 'header' 'orderItems' 'orderInfo' 'additionally';

        #{$self}__order-info-wrap {
            grid-area: orderInfo;
        }

        .page-head {
            grid-area: header;
        }

        #{$self}__order-items {
            grid-area: orderItems;
        }

        #{$self}__additionally {
            grid-area: additionally;
        }

        #{$self}__header {
            margin-bottom: 25px;
        }
    }

    /* &__header {
    margin-bottom: 10px;
  } */

    .category-title,
    &__title {
        color: var(--color-default);
        margin-bottom: 16px;
        font-size: 15px;
        font-weight: 600;
        line-height: calc(22 / 16);

        // padding: 5px 0;
        // font-size: 22px;
        // line-height: calc(40 / 22);
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
    }

    &__order-date {
        color: var(--color-text-alt);
        margin-bottom: 2px;
    }

    &__order-number {
        font-size: 34px;
        line-height: calc(40 / 34);
        font-weight: 700;
    }

    &__info-status {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -11px 18px;

        > * {
            margin: 0 11px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5px;
    }

    &__bonus-card,
    &__order-info {
        margin-bottom: 16px;
    }

    // &__order-btns-wrap {
    //   display: grid;
    //   grid-gap: 10px;
    // }
    .category-content {
        margin-bottom: 15px;

        textarea.form-control {
            height: auto !important;
        }
    }

    .supplierOfHappinessSendOrder .block-additional-parameters-row {
        margin-bottom: 24px;
    }

    .block-additional-parameters-row {
        margin-bottom: 2px;

        .block-additional-parameters-name {
            font-size: 14px;
            line-height: calc(20 / 14);
            margin-bottom: 5px;
        }

        .block-additional-parameters-value {
            margin-bottom: 5px;
        }
    }
}

// .order-contacts__variants {
//   display: flex;
//   margin: -5px;
//   flex-wrap: wrap;
// }

// .order-contacts__variants-item {
//   margin: 5px;
// }

// .order-contacts__address {
//   width: calc(100% - 68px);
// }

// .order-contacts__address-trigger {
//   width: 50px;
// }

// .order-nav {
//   text-align: center;
// }

// .order-nav__control {
//   display: inline-block;
//   vertical-align: middle;
// }

// .order-nav__control--disabled {
//   color: var(--color-text-alt);
// }

// .block--mobile-transparent {
//   background-color: transparent;
// }

// .order-btn--min-width {
//   min-width: 190px;
// }
.custom-options-radio-wrap {
    .adv-radio-label {
        display: flex;
        align-items: center;

        .custom-input-text {
            line-height: 1.5;
        }
    }

    .adv-radio-emul {
        top: 0 !important;
        transform: none !important;
    }
}

.custom-options-checkbox-wrap {
    display: flex !important;
    align-items: center !important;

    .custom-input-text {
        line-height: 1.5;
    }

    .adv-checkbox-emul.ng-hide + span {
        padding-left: 0 !important;
    }
}

.custom-options-name {
    .control-label {
        font-size: 18px;
        padding-left: 4px;
    }
}

.form-group--with-iframe {
    overflow: scroll;

    iframe {
        min-width: 750px;
    }
}

/* stylelint-disable */
.product-download-link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}
/* stylelint-enable */
