.setting {
    &--m-t-sm {
        margin-top: 10px;
    }

    &--m-b-sm {
        margin-bottom: 10px;
    }

    &--m-b {
        margin-bottom: 15px;
    }

    &--m-t-none {
        margin-top: 0 !important;
    }

    &--m-none {
        margin: 0 !important;
    }

    &--m-b-none {
        margin-bottom: 0 !important;
    }

    &--m-l-xs {
        margin-left: 5px;
    }

    &--m-r-xs {
        margin-right: 5px;
    }

    &__lite-gray-label {
        font-weight: 500;
        color: #acaeaf;
    }

    &--flex-justiy-end {
        display: flex;
        justify-content: flex-end;
    }

    &--flex-justiy-start {
        display: flex;
        justify-content: flex-start;
    }

    &--flex-justiy-center {
        display: flex;
        justify-content: center;
    }

    &--flex-align-center {
        display: flex;
        align-items: center;
    }

    &--p-r-lg {
        padding-right: 45px !important;
    }

    &--grid-span-grey {
        opacity: 0.7;
        display: block;
        font-size: 12px;
        margin-top: 5px;
    }

    &__hide {
        display: none !important;
    }

    &__tab-list {
        padding: 0;
    }

    &__tab-item {
        list-style-type: none;
    }

    &__upload-picture-grid {
        display: grid;
        grid-template-columns: 91px 1fr;
        grid-column-gap: 24px;
    }

    &__tab-link {
        padding: 7px 14px 6px;
        color: #1a051d;
        font-weight: 500;
        border-radius: 6px;
        display: inline-block;

        &--active {
            color: #fff;
            background: #2e9dec;
        }
    }

    &__width-100 {
        width: 100%;
    }

    &__font-weight--xs {
        font-weight: 400;
    }

    &__color-picker-mobile-version-wrap {
        .color-picker-wrapper .color-picker-panel.color-picker-panel-left {
            left: -50px;
        }
    }

    &--overflow-hidden {
        overflow: hidden;
    }

    &--flex-row-reverse {
        flex-direction: row-reverse;
    }

    &--flex-column-reverse {
        flex-direction: column-reverse;
    }

    &--align-center {
        align-items: center;
    }

    &--align-top {
        align-self: flex-start;
    }

    &--align-item-center {
        align-self: center;
    }

    &--flex-column {
        flex-direction: column;
    }

    &--help-link {
        padding-left: 0;
        font-size: 12px;
        opacity: 0.7;

        svg {
            flex-shrink: 0;
        }
    }

    &-label-wrap {
        margin-bottom: 10px;
    }

    &-label-inline-block {
        display: inline-block;
        margin-bottom: 14px;
    }

    &-form-input-wrap {
        &__mobile {
            display: flex;
            align-items: center;

            &--flex-wrap {
                flex-wrap: wrap;
            }
        }
    }

    &__label,
    label {
        font-size: 14px;
        line-height: calc(16 / 14);
        font-weight: 500;
    }

    &__text-overflow {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 280px;
    }

    &__btns-with-textbox-left {
        box-shadow: var(--shadow-on-box);

        .form-control {
            border-width: 0 !important;
            border-left-width: 2px !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        .btn {
            border-width: 0;
        }

        .input-group-btn .btn:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    &__form-group {
        margin-bottom: 24px;

        .color-picker-input {
            border: none !important;
            box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
        }

        .product-currency-active {
            background-color: #2d9ced;
            color: #fff;
        }

        /* .ui-select-match-close {
      font-size: 0 !important;
    } */

        .eml-srv-tbl {
            width: auto !important;
        }
    }

    &__property-group-item.selected {
        background: #f0f0f0;
    }

    &-size-text {
        font-size: 11px;
        line-height: calc(12 / 11);
        color: var(--color-text-alt);
        margin-bottom: 16px;
    }

    &-favicon-wrap,
    &-logo-wrap {
        /* picture-uploader {
      > div {
        display: grid;
        grid-template-columns: 91px 1fr;
        grid-column-gap: 24px;
      }
    } */

        .picture-uploader-wrap {
            display: grid;
            align-items: center;
            justify-content: center;
            width: 91px;
        }
    }

    .setting-size-text {
        &--max-content {
            margin-bottom: 0;
            flex-basis: 100%;
        }
    }

    .adv-checkbox-label {
        font-weight: 400;
    }

    &--label-with-checkbox-reverse {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;

        .setting__label {
            font-weight: 400;
        }

        .col-xs-1 {
            flex-basis: auto;
            max-width: none;
            padding-right: 0;
        }
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 24px;

        /* padding-top: 1px; */
        font-weight: 500;
        margin-top: 0;
    }

    &__color-icon-block {
        border: 1px solid #ced1d2;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        display: block;
    }

    &__color-icon {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: block;
    }

    &__brands-img-wrap {
        border: 1px solid #eee;
        background-color: #fff;
        padding: 5px;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input-group-addon {
        border: none;
        background: transparent;
        padding: 0;
    }

    &__spacial-grid-block {
        display: grid;
        grid-template-columns: 1fr 30px 30px 30px;
        grid-gap: 10px;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        align-items: center;
    }

    &__mobile-ui-ace-textarea {
        .ui-ace-textarea-wrap {
            height: 200px;
        }
    }

    &__item-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 7px;
        margin-bottom: 10px;
    }

    &__item-block-inner {
        border: 1px solid #c3c3c3;
        padding: 7px 5px;
    }

    &__item-block-figure {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__item-block-name {
        padding: 15px 0;
    }

    &__item-block-name-link {
        color: #676a6c;
    }

    &__custom-tabs-block {
        .nav-link {
            border: none;
            font-size: 13px;
            padding: 10px;
        }

        .nav-tabs .active .nav-link {
            border-color: #2e9dec;
            background-color: #2e9dec;
            color: #fff;
        }

        .nav-tabs {
            overflow: visible;
        }
    }

    /*  &__leads-color-picker {
    .color-picker-input {
      text-align: center;
      border: none !important;
      box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
    }
  } */

    &__ui-select-wrap {
        .ui-select-search {
            width: 100% !important;
        }
    }

    &__block {
        display: block !important;
    }

    &__link-icon-download {
        padding: 18px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__social-picture-uploader > div {
        display: flex;
        align-items: center;

        .picture-uploader-wrap {
            padding: 10px;
            border: 1px solid #c3c3c3;
            margin-bottom: 10px;
            text-align: center;
            border-radius: 4px;
            width: 91px;
            background: #fff;
            box-sizing: border-box;
        }

        .picture-uploader-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 38px;
        }
    }

    &__ui-select-width-normal {
        .ui-select-search {
            width: 100% !important;
        }
    }

    &__price-margin-in-numbers {
        box-shadow: var(--shadow-on-box);

        .form-control {
            border-width: 0 !important;
            border-right-width: 2px !important;
            border-style: solid !important;
            border-color: var(--input-border-color) !important;
        }

        .btn {
            border-width: 0;
        }
    }

    &__brand-pictureUploader-wrap {
        .picture-uploader-wrap {
            display: grid;
            align-items: center;
            justify-content: center;
            width: 91px;
            background-color: #fff;
            margin: 0;
            border: 0;
            padding: 10px;
            box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
        }

        .picture-uploader-buttons-add {
            display: inline-block;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 8px;
        }
    }

    &__table-wrap {
        overflow-x: scroll;

        .table-bordered {
            border: 1px solid #ebebeb;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td {
            background-color: #f5f5f6;
            border-bottom-width: 1px;
        }

        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 1px solid #e7e7e7;
        }

        .table > thead > tr > th {
            padding: 8px;
            line-height: 1.4;
            border-bottom: 1px solid #ddd;
            vertical-align: bottom;
        }

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            border-top: 1px solid #e7eaec;
            line-height: 1.4;
            padding: 8px;
            vertical-align: top;
        }
    }

    &__special-label::after {
        content: '*';
        color: #f15959;
        padding-left: 4px;
    }
}

input[type='checkbox'].setting__adv-checkbox-eye-input,
input[type='checkbox'].setting__adv-checkbox-required-input,
input[type='checkbox'].setting__adv-checkbox-pencil-input {
    width: 30px !important;
    height: 30px !important;
}

.setting__adv-checkbox-eye-emul {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::after {
        content: '';
        display: none;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-eye-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-eye-close-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.setting__adv-checkbox-required-emul {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::after {
        content: '';
        display: none;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-required-true-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-required-false-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.setting__adv-checkbox-pencil-emul {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::after {
        content: '';
        display: none;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-pencil1-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/adv-checkbox-pencil2-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

input[type='checkbox'].setting__adv-checkbox-eye-input:checked ~ .setting__adv-checkbox-eye-emul,
input[type='checkbox'].setting__adv-checkbox-required-input:checked ~ .setting__adv-checkbox-required-emul,
input[type='checkbox'].setting__adv-checkbox-pencil-input:checked ~ .setting__adv-checkbox-pencil-emul,
input[type='checkbox'].setting__adv-checkbox-pc-input:checked ~ .setting__adv-checkbox-pc-emul,
input[type='checkbox'].setting__adv-checkbox-mobile-input:checked ~ .setting__adv-checkbox-mobile-emul {
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::before {
        display: none;
    }

    &::after {
        display: block;
    }
}

.jstree-advantshop-li-grable .jstree-anchor,
.jstree-advantshop-li-grable .jstree-clicked {
    background: none !important;
    padding: 0 !important;
}

.swipe-line .jstree-anchor {
    display: flex !important;
    transition: none;
}

.jstree-advantshop .jstree-advantshop-li-grable .jstree-anchor::after,
.jstree-advantshop .jstree-advantshop-li-grable .jstree-icon {
    left: 43px !important;
    top: 18px !important;
}

.modal-body .jstree-advantshop .jstree-advantshop-li-grable .jstree-anchor::after {
    left: 23px !important;
    top: 4px !important;
}

.setting__adv-checkbox-pc-emul {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::after {
        content: '';
        display: none;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/vidjet-pc-on.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/vidjet-pc-off.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.setting__adv-checkbox-mobile-emul {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::after {
        content: '';
        display: none;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/vidjet-mobile-on.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../../../../../Content/images/icon/vidjet-mobile-off.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.api-item {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

.api-item{
    .api-item__header {
        cursor: pointer;
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 8px;
        grid-template-areas:
        'method path'
        '. description';
    }
    &:has(.api-label) .api-item__header{
        grid-template-areas:
        'method path'
        '. description'
        '. label';
    }
}

.api-label{
    grid-area: label;
}

.api-item.get {
    background-color: #edf4ff;
}

.api-item.get .method {
    background: #61affe;
}

.api-item.post {
    background: rgb(73 204 144 / 10%);
}

.api-item.post .method {
    background: #49cc90;
}

.api-item .method {
    border-radius: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    min-width: 60px;
    padding: 6px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: method;
}

.api-item .path {
    align-items: center;
    color: #3b4151;
    font-family: monospace;
    font-weight: 600;
    padding: 0 10px;
    font-size: 13px;
    grid-area: path;
    word-break: break-all;
}

.api-item .description {
    color: #3b4151;
    font-family: sans-serif;
    font-size: 12px;
    grid-area: description;
    padding: 0 10px;
}

.api-item .details {
    display: none;
    font-size: 13px;
    padding: 10px 15px;
    overflow-x: scroll;

    h3,
    h4,
    h5,
    p {
        font-size: 13px;
    }
}

.api-item .details .row-tb {
    padding: 5px 10px;
    margin: 5px 0 10px;
}

.tabs-navigation .tab-content {
    display: none;
}

.tabs-navigation .tab-content-show {
    display: block !important;
}

/* .swipe-line__right .links-edit .btn-success {
  border-radius: 0;
} */

.form-control[disabled],
.form-control[readonly] {
    background-color: #e3e3e3;
}

.setting__spinbox {
    .spinbox-input {
        box-shadow: none;
        background-color: #fff;
        background-image: none;
        border: 1px solid #c3c3c3;
        border-radius: 1px;
        color: #31373d;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s;
        font-size: 14px;
        width: 100%;
        display: block;
    }

    .spinbox-input:focus {
        border-color: #2d9cee !important;
    }

    .spinbox-more,
    .spinbox-less {
        color: #2d9cee;
    }

    .spinbox__arrows .spinbox-button-disabled,
    .spinbox-more:focus,
    .spinbox-less:focus {
        color: #676a6c;
    }

    .icon-up-open-before::before,
    .icon-up-open-after::after {
        content: '\e803';
    }

    .icon-down-open-before::before,
    .icon-down-open-after::after {
        content: '\e800';
    }

    [class^='icon-'],
    [class^='icon-']:focus,
    [class*=' icon-'],
    [class*=' icon-']:focus {
        text-decoration: unset;
    }

    [class^='icon-']::before,
    [class^='icon-']::after,
    [class*=' icon-']::before,
    [class*=' icon-']::after {
        font-family: advantshopfonts, sans-serif;
    }
}

.adv-checkbox-label .setting__label,
.adv-checkbox-label + .setting__label {
    font-weight: 400;
}

.shipping-location-item {
    display: inline-flex;
    align-items: center;

    .fa-times::before {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }
}

.shipping-extend-input-hidden {
    display: none;
}

.setting-form {
    &__picture-uploader-wrap {
        display: grid;
    }
}

.employee-sheduler-fullcalendar {
    overflow-x: scroll;
    padding-bottom: 15px;

    .fc-view-container {
        min-width: 800px;
    }
}

.booking-analytics-table-wrap {
    overflow: scroll;
}

.booking-analytics-table {
    border: 1px solid #c3c3c3;
    table-layout: fixed;
    min-width: 850px;
    margin-bottom: 20px;
    border-bottom-width: 0;
}

.booking-analytics-table__thead,
.booking-analytics-table__tbody {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 150px 120px;
    padding: 10px;
    grid-column-gap: 10px;
    box-sizing: border-box;
}

.booking-analytics-table__thead {
    border-bottom: 1px solid #c3c3c3;
    background: #d8d8d8;
}

.booking-analytics-table__tbody {
    border-bottom: 1px solid #c3c3c3;
}

.help-block-wrap .help-block {
    font-weight: 400;
    font-style: italic;
}

.settings-container-mobile {
    flex-direction: column;
    gap: 15px;
}

.settings-group-column-mobile {
    width: 100%;
    min-width: auto;
    margin-bottom: 20px !important;
}

.settings-group-header-mobile {
    font-size: 15px;
}

.settings-child-item-mobile {
    margin-left: 15px !important;
    margin-bottom: 5px;
}

.settings-item-mobile {
    margin-bottom: 10px;
}

.settings-parent-item {
    margin-bottom: 5px;
}

.api-title--advanced {
    display: flex;
    gap: 10px;
    align-items: center;
}

.api-label {
    display: inline-flex;
    padding: 2px 4px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;

    &--danger {
        color: var(--setting-title-label-color, #fff);
        background-color: var(--setting-title-label-bgcolor, #f05454);
    }

    &--warning {
        color: var(--setting-title-label-color, #fff);
        background-color: var(--setting-title-label-bgcolor, #ffcb6d);
    }
}

.setting-title {
    margin-bottom: 24px;

    .setting__subtitle {
        margin: 0;
    }
}
