.settings-menu {
    &__title {
        margin-bottom: 10px;
    }

    &__note {
        margin-bottom: 10px;
    }

    &__add {
        margin-bottom: 20px;
    }

    &__edit-pages {
        margin-bottom: 20px;
    }
}
