.tasks-navbar {
    .chips-list {
        padding-top: 12px;
    }

    .chips-list__item {
        position: relative;
    }

    .chips-list__item .chip .leads-count-label {
        position: absolute;
        top: -12px;
        right: 3px;
        background: #e31409;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 11px;
        padding: 5px;
        min-width: 22px;
        box-sizing: border-box;
    }
}

.admin-comment-item {
    margin-bottom: 4px;
}

.admin-comment-item__avatar {
    width: 50px;
    margin-right: 16px;
}

.admin-comment-item div.row {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: var(--shadow-on-box);
    color: var(--color-default);
    padding: 18px 16px;
    text-decoration: none;
    border: none;
}

.admin-comment-item__avatar img {
    border-radius: 50%;
}

.admin-comment-item-name {
    display: block;
}

.admin-comment-item-date {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 500;
}

.admin-comment-item__mobile-comment {
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
    margin-top: 10px;
    flex-grow: 1;
    width: 100%;
}

.admin-comment-item-answer {
    display: block;
    margin-top: 10px;
    font-size: 12px;

    span {
        opacity: 0.7;
        font-weight: 500;
    }
}

.admin-comment-item__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.admin-comment-item-link {
    font-size: 13px;
    margin-right: 8px;
    font-weight: 500;
}
