.js-readmore-inner-content,
.js-readmore-inner-content > * {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.readmore-expanded {
    .readmore-content {
        max-height: 2000px !important;
    }

    .js-readmore-inner-content > * {
        -webkit-line-clamp: initial;
    }
}

.readmore-content {
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: linear;
    transition-delay: 0;
    position: relative;
}

.readmore-link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.readmore-unvisible {
    position: absolute;
    visibility: hidden;
}

.readmore-reset {
    .js-readmore-inner-content,
    .js-readmore-inner-content > * {
        -webkit-line-clamp: initial;
    }
}

.readmore-clamp {
    .js-readmore-inner-content,
    .js-readmore-inner-content > * {
        -webkit-line-clamp: var(--line-clamp);
    }
}
