<?xml version="1.0"?>

<configuration>
    <system.web.webPages.razor>
        <pages pageBaseType="AdvantShop.Web.Infrastructure.Razor.WebViewPage">
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="AdvantShop.Extensions" />
                <add namespace="AdvantShop.Web.Infrastructure.Extensions" />
                <add namespace="AdvantShop.Core.Common.Extensions" />
                <add namespace="AdvantShop.Core.Controls" />
                <add namespace="AdvantShop.Core.UrlRewriter" />
                <add namespace="AdvantShop.Core.Services.InplaceEditor" />
                <add namespace="AdvantShop.Configuration" />
                <add namespace="AdvantShop.ViewModel.Shared" />
                <add namespace="AdvantShop.Core.Services.Catalog" />
                <add namespace="BotDetect.Web.Mvc" />
                <add namespace="AdvantShop.Localization" />
                
                <add namespace="AdvantShop" />
                <add namespace="AdvantShop.Customers" />
                <add namespace="AdvantShop.Web.Infrastructure.Admin.Buttons" />
                <add namespace="AdvantShop.Web.Admin.Extensions" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
</configuration>