<form name="addEditePromoNPlusM" is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddEditYandexPromo.NewPromoNPlusM'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div ng-class="{'container-fluid' : !isMobile.value}">
            <div class="form-horizontal">
                <div class="form-group setting__form-group" ng-if="ctrl.error != ''">
                    <div class="row">
                        <label class="col-xs error" style="text-align: center">
                            <span ng-if="ctrl.error != ''" ng-bind-html="ctrl.error" style="{{isMobile.value ? 'color:red;' : ''}}"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Name'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <input
                                type="text"
                                placeholder=""
                                ng-model="ctrl.promo.Name"
                                class="form-control input-alt"
                                required
                                validation-input-text="{{'Admin.Js.AddEditYandexPromo.Name'|translate}}"
                                autofocus />
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span>{{'Admin.Js.AddEditYandexPromo.Description'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <textarea
                                style="resize: vertical; min-height: 3.2rem"
                                ng-model="ctrl.promo.Description"
                                maxlength="500"
                                class="form-control input-alt"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span>{{'Admin.Js.AddEditYandexPromo.PromoUrl'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <input type="text" ng-model="ctrl.promo.PromoUrl" class="form-control input-alt" />
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span>{{'Admin.Js.AddEditYandexPromo.StartDate'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <div
                                ng-if="!isMobile.value"
                                style="display: inline-block; width: 250px; position: relative; vertical-align: middle; min-height: 34px">
                                <div
                                    class="input-group"
                                    ng-flatpickr
                                    fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                    <span class="flatpickr-custom-wrap">
                                        <input type="text" class="form-control input-alt" ng-flatpickr-input ng-model="ctrl.promo.StartDate" />
                                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                    </span>
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div
                                ng-if="isMobile.value"
                                class="input-group"
                                ng-flatpickr
                                fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                <span class="flatpickr-custom-wrap flex-grow">
                                    <input type="text" class="form-control input-alt" ng-flatpickr-input ng-model="ctrl.promo.StartDate" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span>{{'Admin.Js.AddEditYandexPromo.ExpirationDate'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <div
                                ng-if="!isMobile.value"
                                style="display: inline-block; width: 250px; position: relative; vertical-align: middle; min-height: 34px">
                                <div
                                    class="input-group"
                                    ng-flatpickr
                                    fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                    <span class="flatpickr-custom-wrap">
                                        <input type="text" class="form-control input-alt" ng-flatpickr-input ng-model="ctrl.promo.ExpirationDate" />
                                        <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                    </span>
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div
                                ng-if="isMobile.value"
                                class="input-group"
                                ng-flatpickr
                                fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y.m.d H:i', wrap: true, enableTime: true}">
                                <span class="flatpickr-custom-wrap flex-grow">
                                    <input type="text" class="form-control input-alt" ng-flatpickr-input ng-model="ctrl.promo.ExpirationDate" />
                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                </span>
                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}</span>
                        </label>
                        <div
                            class="col-xs-6 col-md-1 relative setting__spinbox"
                            style="padding-left: 0.625rem"
                            ng-class="{'flex middle-xs' : isMobile.value}">
                            <div
                                data-spinbox
                                data-value="ctrl.promo.RequiredQuantity"
                                data-update-fn="ctrl.updateCount(value)"
                                data-step="1"
                                data-max="24"
                                data-min="1"
                                ng-class="{'flex-grow' : isMobile.value}"
                                validation-text="{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}"></div>
                            <help-trigger
                                class="ng-cloak help-trigger-icon-abs m-l-sm"
                                ng-class="{'col-xs-1' : isMobile.value}"
                                data-title="{{'Admin.Js.AddEditYandexPromo.RequiredQuantity'|translate}}">
                                <div class="help-content">
                                    Количество товаров (в штуках), которое нужно приобрести, чтобы получить подарок. Максимально допустимое значение —
                                    24. Значение по умолчанию — 1 (один товар).
                                </div>
                            </help-trigger>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.FreeQuantity'|translate}}</span>
                        </label>
                        <div
                            class="col-xs-6 col-md-1 relative setting__spinbox"
                            style="padding-left: 0.625rem"
                            ng-class="{'flex middle-xs' : isMobile.value}">
                            <div
                                data-spinbox
                                data-value="ctrl.promo.FreeQuantity"
                                data-update-fn="ctrl.updateCount(value)"
                                data-step="1"
                                data-max="24"
                                data-min="1"
                                ng-class="{'flex-grow' : isMobile.value}"
                                validation-text="{{'Admin.Js.AddEditYandexPromo.FreeQuantity'|translate}}"></div>
                            <help-trigger
                                class="ng-cloak help-trigger-icon-abs m-l-sm"
                                ng-class="{'col-xs-1' : isMobile.value}"
                                data-title="{{'Admin.Js.AddEditYandexPromo.FreeQuantity'|translate}}">
                                <div class="help-content">
                                    Количество товаров, которые покупатель получит в подарок. Максимально допустимое значение — 24.
                                </div>
                            </help-trigger>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Products'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <span style="padding-right: 0.3rem">
                                {{ctrl.promo.ProductIDs.length == 0 || ctrl.promo.ProductIDs == null ?
                                ('Admin.Js.AddEditYandexPromo.NotSelected'|translate) : ctrl.promo.ProductIDs.length + ' ' +
                                ('Admin.Js.AddEditYandexPromo.Prods'|translate)}}
                            </span>
                            <ui-modal-trigger
                                size="middle"
                                data-controller="'ModalProductsSelectvizrCtrl'"
                                data-controller-as="ctrl"
                                data-resolve="{value:{itemsSelected: ctrl.promo.ProductIDs}}"
                                on-close="ctrl.addProductsModal(result); addEditePromoNPlusM.$setDirty();"
                                template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html">
                                <a data-e2e="AddProducts"> ({{'Admin.Js.AddEditYandexPromo.Add'|translate}}) </a>
                            </ui-modal-trigger>
                            <a
                                data-e2e="ClearProducts"
                                ng-if="ctrl.promo.ProductIDs.length != 0 && ctrl.promo.ProductIDs != null"
                                ng-click="ctrl.removeProducts();addEditePromoNPlusM.$setDirty();">
                                ({{'Admin.Js.AddEditYandexPromo.Clear'|translate}})
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-group setting__form-group">
                    <div class="row middle-xs">
                        <label class="col-xs-12 col-md-3" ng-class="{'setting-label-wrap setting__label' : isMobile.value}">
                            <span class="text-required">{{'Admin.Js.AddEditYandexPromo.Categories'|translate}}</span>
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <span style="padding-right: 0.3rem">
                                {{ctrl.promo.CategoryIDs.length == 0 || ctrl.promo.CategoryIDs == null ?
                                ('Admin.Js.AddEditYandexPromo.NotSelected'|translate) : ctrl.promo.CategoryIDs.length + ' ' +
                                ('Admin.Js.AddEditYandexPromo.Categs'|translate)}}
                            </span>
                            <ui-modal-trigger
                                size="middle"
                                data-controller="'ModalSelectCategoriesCtrl'"
                                data-controller-as="ctrl"
                                data-resolve="{params:{selectedIds: ctrl.promo.CategoryIDs}}"
                                on-close="ctrl.addCategoriesModal(result); addEditePromoNPlusM.$setDirty();"
                                template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html">
                                <a data-e2e="AddCategories"> ({{'Admin.Js.AddEditYandexPromo.Add'|translate}}) </a>
                            </ui-modal-trigger>
                            <a
                                data-e2e="ClearCategories"
                                ng-if="ctrl.promo.CategoryIDs.length != 0 && ctrl.promo.CategoryIDs != null"
                                ng-click="ctrl.removeCategories();addEditePromoNPlusM.$setDirty();">
                                ({{'Admin.Js.AddEditYandexPromo.Clear'|translate}})
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            data-e2e="ButtonSave"
            class="btn btn-save btn-primary"
            ng-disabled="addEditePromoNPlusM.$pristine"
            type="button"
            data-button-validation-success="ctrl.save()"
            data-button-validation>
            {{'Admin.Js.AddEditYandexPromo.Ok'|translate}}
        </button>
        <button data-e2e="ButtonCancel" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.AddEditYandexPromo.Cancel'|translate}}
        </button>
    </div>
</form>
