<div class="sortable-row shipping-methods-list ng-cloak" ng-model="$ctrl.methods" as-sortable="$ctrl.sortableOptions" is-mobile>
    <div ng-if="!isMobile.value" ng-repeat="item in $ctrl.methods" as-sortable-item class="card shipping-methods-list__item">
        <div class="payment-row middle-xs between-xs shipping-methods-list__row row">
            <div class="flex middle-xs col-xs shipping-methods-list__data">
                <div class="as-sortable-item-handle shipping-methods-list__drag" as-sortable-item-handle>
                    <icon-move />
                </div>
                <div class="shipping-icon shipping-methods-list__icon">
                    <a href="shippingmethods/edit/{{item.ShippingMethodId}}"><img ng-if="item.Icon != null" ng-src="{{item.Icon}}" alt="" /></a>
                </div>
                <span data-e2e="ShippingName" class="shipping-text shipping-methods-list__info">
                    <a class="shipping-methods-list__name" href="shippingmethods/edit/{{item.ShippingMethodId}}">{{item.Name}}</a>
                    <span class="payment-text-grey shipping-methods-list__type">{{item.ShippingType}}</span>
                    <span class="m-l-xs text-danger font-bold shipping-methods-list__warning">{{item.WarningMessage}}</span>
                </span>
            </div>
            <div class="flex middle-xs col-xs-slim col-fixed-size-sm shipping-methods-list__switch">
                <div data-e2e="ShippingEnabled" class="shipping-switcher">
                    <switcher-state
                        on-change="$ctrl.setEnabled(item.ShippingMethodId, checked)"
                        text-off="{{'Admin.Js.ShippingMethods.List.Off'|translate}}"
                        text-on="{{'Admin.Js.ShippingMethods.List.On'|translate}}"
                        checked="item.Enabled"></switcher-state>
                </div>
            </div>
            <div class="flex middle-xs col-fixed-size-ls shipping-methods-list__delete" data-e2e="DeleteShippingMethod">
                <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="$ctrl.deleteMethod(item.ShippingMethodId)"></a>
            </div>
        </div>
    </div>
    <div ng-if="isMobile.value" ng-repeat="item in $ctrl.methods" as-sortable-item class="swipe-line" style="margin-bottom: 3px">
        <div class="swipe-line__inner" data-swipe-line>
            <div class="swipe-line__content shipping-methods-list__card card card--middle">
                <div class="as-sortable-item-handle" as-sortable-item-handle>
                    <icon-move>
                        <svg
                            class="icon-move"
                            xmlns="http://www.w3.org/2000/svg"
                            width="10.000000pt"
                            height="20.000000pt"
                            viewBox="0 0 10.000000 20.000000"
                            preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,20.000000) scale(0.100000,-0.100000)" fill="#c4c4c4" stroke="none">
                                <path d="M10 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M60 175 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M10 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M60 125 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M10 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M60 75 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M10 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                                <path d="M60 25 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
                            </g>
                        </svg>
                    </icon-move>
                </div>
                <a
                    class="navigation-item__text flex flex-column flex-grow shipping-methods-list__link"
                    href="shippingmethods/edit/{{item.ShippingMethodId}}"
                    data-e2e="ShippingName">
                    <span class="shipping-methods-list__name">{{item.Name}}</span>
                    <span class="payment-text-grey shipping-methods-list__type">{{item.ShippingType}}</span>
                    <span class="m-l-xs text-danger font-bold shipping-methods-list__warning">{{item.WarningMessage}}</span>
                </a>
                <div class="shipping-methods-list__switch">
                    <div data-e2e="ShippingEnabled" class="shipping-switcher">
                        <switch-on-off
                            theme="blue"
                            on-click="$ctrl.setEnabled(item.ShippingMethodId, state)"
                            checked="item.Enabled"
                            data-id="{{item.ShippingMethodId}}"></switch-on-off>
                    </div>
                </div>
            </div>
            <div data-swipe-line-right class="swipe-line__right swipe-line__btn-group">
                <button
                    class="btn btn-sm btn-danger btn--as-swipe-line flex center-xs middle-xs"
                    ng-click="$ctrl.deleteMethod(item.ShippingMethodId)"
                    data-e2e="DeleteShippingMethod">
                    Удалить
                </button>
            </div>
        </div>
    </div>
</div>
