:root {
  --cs-1: #363636;
  --cs-2: #E5E2E0;
  --cs-3: #94969b;
  --cs-4: #fff;
  --cs-5: #2C2C2C;
  --cs-6: #4b4f58;
  --cs-7: #B9B9B9;
  --cs-8: #595959;
  --cs-9: #4b4f58;
  --cs-10: #f3f3f3;
  --cs-11: #f9f9f9;
  --cs-12: #f8b643;
  --cs-13: #000000;
}

.cs-t-1 {
  color: #363636;
}

.mobile-version .cs-t-1--mobile {
  color: #363636;
}

.cs-t-2 {
  color: #E5E2E0;
}

.mobile-version .cs-t-2--mobile {
  color: #E5E2E0;
}

.cs-t-3 {
  color: #94969b;
}

.mobile-version .cs-t-3--mobile {
  color: #94969b;
}

.cs-t-4 {
  color: #fff;
}

.mobile-version .cs-t-4--mobile {
  color: #fff;
}

.cs-t-5 {
  color: #2C2C2C;
}

.mobile-version .cs-t-5--mobile {
  color: #2C2C2C;
}

.cs-t-6 {
  color: #4b4f58;
}

.mobile-version .cs-t-6--mobile {
  color: #4b4f58;
}

.cs-t-7 {
  color: #B9B9B9;
}

.mobile-version .cs-t-7--mobile {
  color: #B9B9B9;
}

.cs-t-8 {
  color: #fff;
}

.mobile-version .cs-t-8--mobile {
  color: #fff;
}

.cs-t-9 {
  color: #f9f9f9;
}

.mobile-version .cs-t-9--mobile {
  color: #f9f9f9;
}

a,
.link {
  color: #363636;
}
a:hover,
.link:hover {
  color: #000000;
}
a:active,
.link:active {
  color: rgb(66.75, 66.75, 66.75);
}

.cs-l-1,
.cs-l-d-1 {
  color: #363636;
}
.cs-l-1:hover,
.cs-l-d-1:hover {
  color: #000000;
}
.cs-l-1:active,
.cs-l-d-1:active {
  color: rgb(66.75, 66.75, 66.75);
}
.cs-l-1.cs-selected,
.cs-l-d-1.cs-selected {
  color: #000000;
}

.cs-l-d-1,
.cs-l-ds-1 {
  border-bottom-color: #363636;
}
.cs-l-d-1:hover,
.cs-l-ds-1:hover {
  border-bottom-color: #000000;
}
.cs-l-d-1:active,
.cs-l-ds-1:active {
  border-bottom-color: rgb(66.75, 66.75, 66.75);
}

.cs-l-2,
.cs-l-d-2 {
  color: #363636;
}
.cs-l-2:hover,
.cs-l-d-2:hover {
  color: #4b4f58;
}
.cs-l-2:active,
.cs-l-d-2:active {
  color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.cs-l-2.cs-selected,
.cs-l-d-2.cs-selected {
  color: #4b4f58;
}

.cs-l-d-2,
.cs-l-ds-2 {
  border-bottom-color: #363636;
}
.cs-l-d-2:hover,
.cs-l-ds-2:hover {
  border-bottom-color: #4b4f58;
}
.cs-l-d-2:active,
.cs-l-ds-2:active {
  border-bottom-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-l-3,
.cs-l-d-3 {
  color: #94969b;
}
.cs-l-3:hover,
.cs-l-d-3:hover {
  color: #4b4f58;
}
.cs-l-3:active,
.cs-l-d-3:active {
  color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.cs-l-3.cs-selected,
.cs-l-d-3.cs-selected {
  color: #4b4f58;
}

.cs-l-d-3,
.cs-l-ds-3 {
  border-bottom-color: #94969b;
}
.cs-l-d-3:hover,
.cs-l-ds-3:hover {
  border-bottom-color: #4b4f58;
}
.cs-l-d-3:active,
.cs-l-ds-3:active {
  border-bottom-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-l-4,
.cs-l-d-4 {
  color: #fff;
}
.cs-l-4:hover,
.cs-l-d-4:hover {
  color: #fff;
}
.cs-l-4:active,
.cs-l-d-4:active {
  color: #fff;
}
.cs-l-4.cs-selected,
.cs-l-d-4.cs-selected {
  color: #fff;
}

.cs-l-d-4,
.cs-l-ds-4 {
  border-bottom-color: #fff;
}
.cs-l-d-4:hover,
.cs-l-ds-4:hover {
  border-bottom-color: #fff;
}
.cs-l-d-4:active,
.cs-l-ds-4:active {
  border-bottom-color: #fff;
}
.cs-l-d-4.cs-selected,
.cs-l-ds-4.cs-selected {
  color: #fff;
}

.cs-l-5,
.cs-l-d-5 {
  color: #4b4f58;
}
.cs-l-5:hover,
.cs-l-d-5:hover {
  color: #363636;
}
.cs-l-5:active,
.cs-l-d-5:active {
  color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-l-5.cs-selected,
.cs-l-d-5.cs-selected {
  color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-l-d-5,
.cs-l-ds-5 {
  border-bottom-color: #4b4f58;
}
.cs-l-d-5:hover,
.cs-l-ds-5:hover {
  border-bottom-color: #363636;
}
.cs-l-d-5:active,
.cs-l-ds-5:active {
  border-bottom-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-l-d-5.cs-selected,
.cs-l-ds-5.cs-selected {
  color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-l-6,
.cs-l-d-6 {
  color: #4b4f58;
}
.cs-l-6:hover,
.cs-l-d-6:hover {
  color: #fff;
}
.cs-l-6:active,
.cs-l-d-6:active {
  color: #fff;
}
.cs-l-6.cs-selected,
.cs-l-d-6.cs-selected {
  color: #fff;
}

.cs-l-d-6,
.cs-l-ds-6 {
  border-bottom-color: #4b4f58;
}
.cs-l-d-6:hover,
.cs-l-ds-6:hover {
  border-bottom-color: #fff;
}
.cs-l-d-6:active,
.cs-l-ds-6:active {
  border-bottom-color: #fff;
}
.cs-l-d-6.cs-selected,
.cs-l-ds-6.cs-selected {
  color: #fff;
}

.cs-l-7,
.cs-l-d-7 {
  color: #fff;
}
.cs-l-7:hover,
.cs-l-d-7:hover {
  color: #fff;
}
.cs-l-7:active,
.cs-l-d-7:active {
  color: #fff;
}
.cs-l-7.cs-selected,
.cs-l-d-7.cs-selected {
  color: #fff;
}

.cs-l-d-7,
.cs-l-ds-7 {
  border-bottom-color: #fff;
}
.cs-l-d-7:hover,
.cs-l-ds-7:hover {
  border-bottom-color: #fff;
}
.cs-l-d-7:active,
.cs-l-ds-7:active {
  border-bottom-color: #fff;
}
.cs-l-d-7.cs-selected,
.cs-l-ds-7.cs-selected {
  color: #fff;
}

.cs-bg-1 {
  background-color: #4b4f58;
}

.cs-bg-i-1 {
  background-color: #4b4f58;
}
.cs-bg-i-1:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-bg-i-1:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.cs-bg-i-1.cs-selected {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.mobile-version .cs-bg-1--mobile {
  background-color: #4b4f58;
}
.mobile-version .cs-bg-i-1--mobile {
  background-color: #4b4f58;
}
.mobile-version .cs-bg-i-1--mobile:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-1--mobile:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.mobile-version .cs-bg-i-1--mobile.cs-selected--mobile {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-bg-2 {
  background-color: #363636;
}

.cs-bg-i-2 {
  background-color: #363636;
}
.cs-bg-i-2:hover {
  background-color: rgb(66.75, 66.75, 66.75);
}
.cs-bg-i-2:active {
  background-color: rgb(41.25, 41.25, 41.25);
}
.cs-bg-i-2.cs-selected {
  background-color: rgb(41.25, 41.25, 41.25);
}

.mobile-version .cs-bg-2--mobile {
  background-color: #363636;
}
.mobile-version .cs-bg-i-2--mobile {
  background-color: #363636;
}
.mobile-version .cs-bg-i-2--mobile:hover {
  background-color: rgb(66.75, 66.75, 66.75);
}
.mobile-version .cs-bg-i-2--mobile:active {
  background-color: rgb(41.25, 41.25, 41.25);
}
.mobile-version .cs-bg-i-2--mobile.cs-selected--mobile {
  background-color: rgb(41.25, 41.25, 41.25);
}

.cs-bg-3 {
  background-color: #f3f3f3;
}

.cs-bg-i-3 {
  background-color: #f3f3f3;
}
.cs-bg-i-3:hover {
  background-color: hsl(0, 0%, 100.2941176471%);
}
.cs-bg-i-3:active {
  background-color: rgb(230.25, 230.25, 230.25);
}
.cs-bg-i-3.cs-selected {
  background-color: rgb(230.25, 230.25, 230.25);
}

.mobile-version .cs-bg-3--mobile {
  background-color: #f3f3f3;
}
.mobile-version .cs-bg-i-3--mobile {
  background-color: #f3f3f3;
}
.mobile-version .cs-bg-i-3--mobile:hover {
  background-color: hsl(0, 0%, 100.2941176471%);
}
.mobile-version .cs-bg-i-3--mobile:active {
  background-color: rgb(230.25, 230.25, 230.25);
}
.mobile-version .cs-bg-i-3--mobile.cs-selected--mobile {
  background-color: rgb(230.25, 230.25, 230.25);
}

.cs-bg-4 {
  background-color: #f9f9f9;
}

.cs-bg-i-4 {
  background-color: #f9f9f9;
}
.cs-bg-i-4:hover {
  background-color: hsl(0, 0%, 102.6470588235%);
}
.cs-bg-i-4:active {
  background-color: rgb(236.25, 236.25, 236.25);
}
.cs-bg-i-4.cs-selected {
  background-color: rgb(236.25, 236.25, 236.25);
}

.mobile-version .cs-bg-4--mobile {
  background-color: #f9f9f9;
}
.mobile-version .cs-bg-i-4--mobile {
  background-color: #f9f9f9;
}
.mobile-version .cs-bg-i-4--mobile:hover {
  background-color: hsl(0, 0%, 102.6470588235%);
}
.mobile-version .cs-bg-i-4--mobile:active {
  background-color: rgb(236.25, 236.25, 236.25);
}
.mobile-version .cs-bg-i-4--mobile.cs-selected--mobile {
  background-color: rgb(236.25, 236.25, 236.25);
}

.cs-bg-5 {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}

.cs-bg-i-5 {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-bg-i-5:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-bg-i-5:active {
  background-color: #4b4f58;
}
.cs-bg-i-5.cs-selected {
  background-color: #4b4f58;
}

.mobile-version .cs-bg-5--mobile {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-5--mobile {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-5--mobile:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-5--mobile:active {
  background-color: #4b4f58;
}
.mobile-version .cs-bg-i-5--mobile.cs-selected--mobile {
  background-color: #4b4f58;
}

.cs-bg-6 {
  background-color: #4b4f58;
}

.cs-bg-i-6 {
  background-color: #4b4f58;
}
.cs-bg-i-6:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-bg-i-6:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.cs-bg-i-6.cs-selected {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.mobile-version .cs-bg-6--mobile {
  background-color: #4b4f58;
}
.mobile-version .cs-bg-i-6--mobile {
  background-color: #4b4f58;
}
.mobile-version .cs-bg-i-6--mobile:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-6--mobile:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.mobile-version .cs-bg-i-6--mobile.cs-selected--mobile {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-bg-7 {
  background-color: #fff;
}

.cs-bg-i-7 {
  background-color: #fff;
}
.cs-bg-i-7:hover {
  background-color: hsl(0, 0%, 105%);
}
.cs-bg-i-7:active {
  background-color: rgb(242.25, 242.25, 242.25);
}
.cs-bg-i-7.cs-selected {
  background-color: rgb(242.25, 242.25, 242.25);
}

.mobile-version .cs-bg-7--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-7--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-7--mobile:hover {
  background-color: hsl(0, 0%, 105%);
}
.mobile-version .cs-bg-i-7--mobile:active {
  background-color: rgb(242.25, 242.25, 242.25);
}
.mobile-version .cs-bg-i-7--mobile.cs-selected--mobile {
  background-color: rgb(242.25, 242.25, 242.25);
}

.cs-bg-8 {
  background-color: #fff;
}

.cs-bg-i-8 {
  background-color: #fff;
}
.cs-bg-i-8:hover {
  background-color: rgb(161.1811594203, 162.9347826087, 167.3188405797);
}
.cs-bg-i-8:active {
  background-color: rgb(134.8188405797, 137.0652173913, 142.6811594203);
}
.cs-bg-i-8.cs-selected {
  background-color: rgb(134.8188405797, 137.0652173913, 142.6811594203);
}

.mobile-version .cs-bg-8--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-8--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-8--mobile:hover {
  background-color: rgb(161.1811594203, 162.9347826087, 167.3188405797);
}
.mobile-version .cs-bg-i-8--mobile:active {
  background-color: rgb(134.8188405797, 137.0652173913, 142.6811594203);
}
.mobile-version .cs-bg-i-8--mobile.cs-selected--mobile {
  background-color: rgb(134.8188405797, 137.0652173913, 142.6811594203);
}

.cs-bg-9 {
  background-color: #fff;
}

.cs-bg-i-9 {
  background-color: #fff;
}
.cs-bg-i-9:hover {
  background-color: hsl(0, 0%, 105%);
}
.cs-bg-i-9:active {
  background-color: rgb(242.25, 242.25, 242.25);
}
.cs-bg-i-9.cs-selected {
  background-color: rgb(242.25, 242.25, 242.25);
}

.mobile-version .cs-bg-9--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-9--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-9--mobile:hover {
  background-color: hsl(0, 0%, 105%);
}
.mobile-version .cs-bg-i-9--mobile:active {
  background-color: rgb(242.25, 242.25, 242.25);
}
.mobile-version .cs-bg-i-9--mobile.cs-selected--mobile {
  background-color: rgb(242.25, 242.25, 242.25);
}

.cs-bg-10 {
  background-color: #f8b643;
}

.cs-bg-i-10 {
  background-color: #f8b643;
}
.cs-bg-i-10:hover {
  background-color: rgb(248.9153846154, 191.5461538462, 91.5846153846);
}
.cs-bg-i-10:active {
  background-color: rgb(247.0846153846, 172.4538461538, 42.4153846154);
}
.cs-bg-i-10.cs-selected {
  background-color: rgb(247.0846153846, 172.4538461538, 42.4153846154);
}

.mobile-version .cs-bg-10--mobile {
  background-color: #f8b643;
}
.mobile-version .cs-bg-i-10--mobile {
  background-color: #f8b643;
}
.mobile-version .cs-bg-i-10--mobile:hover {
  background-color: rgb(248.9153846154, 191.5461538462, 91.5846153846);
}
.mobile-version .cs-bg-i-10--mobile:active {
  background-color: rgb(247.0846153846, 172.4538461538, 42.4153846154);
}
.mobile-version .cs-bg-i-10--mobile.cs-selected--mobile {
  background-color: rgb(247.0846153846, 172.4538461538, 42.4153846154);
}

.cs-bg-11 {
  background-color: #fff;
}

.cs-bg-i-11 {
  background-color: #fff;
}
.cs-bg-i-11:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.cs-bg-i-11:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.cs-bg-i-11.cs-selected {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.mobile-version .cs-bg-11--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-11--mobile {
  background-color: #fff;
}
.mobile-version .cs-bg-i-11--mobile:hover {
  background-color: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.mobile-version .cs-bg-i-11--mobile:active {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.mobile-version .cs-bg-i-11--mobile.cs-selected--mobile {
  background-color: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}

.cs-g-1 {
  background-image: linear-gradient(to bottom, rgb(86.7331288344, 91.3588957055, 101.7668711656) 0%, #4b4f58 50%, rgb(63.2668711656, 66.6411042945, 74.2331288344) 100%);
}

.btn-add {
  color: #fff;
  background: #4b4f58;
}
.btn-add:hover {
  color: #fff;
  background: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.btn-add:active {
  color: #fff;
  background: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.btn-add:disabled, .btn-add.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.btn-action {
  color: #fff;
  background: #363636;
}
.btn-action:hover {
  color: #fff;
  background: rgb(66.75, 66.75, 66.75);
}
.btn-action:active {
  color: #fff;
  background: rgb(41.25, 41.25, 41.25);
}
.btn-action:disabled, .btn-action.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.btn-buy {
  color: #363636;
  background: #f9f9f9;
}
.btn-buy:hover {
  color: #fff;
  background: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.btn-buy:active {
  color: #fff;
  background: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.btn-buy:disabled, .btn-buy.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.feature\:site-background-fill .btn-buy,
.products-view-item--fill-productcard .btn-buy {
  color: #363636;
  background: #fff;
}
.feature\:site-background-fill .btn-buy:hover,
.products-view-item--fill-productcard .btn-buy:hover {
  color: #fff;
  background: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.feature\:site-background-fill .btn-buy:active,
.products-view-item--fill-productcard .btn-buy:active {
  color: #fff;
  background: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.feature\:site-background-fill .btn-buy:disabled, .feature\:site-background-fill .btn-buy.btn-disabled,
.products-view-item--fill-productcard .btn-buy:disabled,
.products-view-item--fill-productcard .btn-buy.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.btn-confirm {
  color: #fff;
  background: #4b4f58;
}
.btn-confirm:hover {
  color: #fff;
  background: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.btn-confirm:active {
  color: #fff;
  background: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.btn-confirm:disabled, .btn-confirm.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.btn-submit {
  color: #fff;
  background: #4b4f58;
}
.btn-submit:hover {
  color: #fff;
  background: rgb(86.7331288344, 91.3588957055, 101.7668711656);
}
.btn-submit:active {
  color: #fff;
  background: rgb(63.2668711656, 66.6411042945, 74.2331288344);
}
.btn-submit:disabled, .btn-submit.btn-disabled {
  color: #94969b;
  background: #E5E2E0;
}

.cs-br-1 {
  border-color: #E5E2E0 #E5E2E0 #E5E2E0 #E5E2E0 !important;
}

.cs-br-2 {
  border-color: #f8b643 #f8b643 #f8b643 #f8b643 !important;
}

tr,
td,
th {
  border-color: #E5E2E0;
}

select.cs-bg-2 {
  color: #fff;
}

:root {
  --btn-bg: #f9f9f9;
  --btn-color: #4b4f58;
  --btn-bg-hover: rgb(242.25, 242.25, 242.25);
  --btn-color-hover: #4b4f58;
  --btn-bg-active: rgb(229.5, 229.5, 229.5);
  --btn-color-active: #4b4f58;
}

.menu-dropdown-root {
  background-color: #4b4f58;
}

html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) {
  color: #fff;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-t-1,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-l-2,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-l-3,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-list,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .site-head-inner--type2 .icon-search-block,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .harmonica-tile-dots,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) a:not(.menu-dropdown-root),
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .select-custom {
  color: #fff;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-general-submenu a {
  color: #363636;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-general-item:hover a,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-general-item:hover .harmonica-tile-dots {
  color: #363636;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-bg-4 .cs-t-1,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-bg-4 .cs-l-2,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-bg-4 .cs-l-3,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .cs-bg-4 a,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-list .cs-t-1,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-list .cs-l-2,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-list .cs-l-3,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-list a {
  color: initial;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .icon-search-block,
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .menu-dropdown-link-wrap {
  color: initial;
}
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) [type=text], html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) [type=search],
html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .autocompleter-sub, html:not(.root-menu--active) .feature\:carousel--as-background .site-head:not(.is-pinned) .autocompleter-sub a {
  color: var(--cs-1);
}

input:not([type=button]):not([type=submit]),
textarea,
body .flatpickr-custom__toggle,
.select-custom > select {
  --_cs-input-bg: var(--cs-input-bg, #f9f9f9);
  --_cs-input-border: var(--cs-input-border, #f9f9f9);
  background-color: var(--_cs-input-bg);
  border-color: var(--_cs-input-border);
}

select.cs-bg-2, body .select-custom {
  color: var(--_cs-input-text, #363636);
}

.cs-inputs-invert, .checkout-cart {
  --cs-input-bg: #fff;
  --cs-input-border: #f3f3f3;
}

.products-view-item--fill-productcard,
.product-categories-slim--fill-productcard,
.catalog-product-item--fill-productcard,
.details-actions-list,
.cart-page__products-summary {
  --cs-input-bg: #fff;
  --btn-bg: #fff;
  --btn-color: #4b4f58;
  --price-amount-even-bg: var(--cs-4);
  --price-amount-odd-bg: var(--cs-4);
}

.products-view-item--fill-productcard,
.products-view-item--fill-productphoto .products-view-pictures,
.products-view-item--fill-productphoto .mobile-product-view-item-image-inner,
.product-categories-slim--fill-productcard,
.product-categories-slim--fill-productphoto .product-categories-item-picture-slim,
.catalog-product-item--fill-productcard,
.catalog-product-item--fill-productphoto .cat-image-wrap,
.catalog-product-item--fill-productphoto .prod-photo {
  background-color: var(--product-view-bg, #f9f9f9);
}

.feature\:site-background-fill {
  --btn-bg: rgb(242.25, 242.25, 242.25);
  --btn-bg-hover: rgb(229.5, 229.5, 229.5);
  --cs-input-bg: #fff;
  --cs-input-border: #fff;
}
.feature\:site-background-fill .products-view-item--fill-productcard {
  --cs-input-bg: #f9f9f9;
}
.feature\:site-background-fill .products-view-item--fill-productcard,
.feature\:site-background-fill .products-view-item--fill-productphoto .products-view-pictures,
.feature\:site-background-fill .payment-item,
.feature\:site-background-fill .shipping-item {
  background-color: var(--product-view-bg, #fff);
}
.feature\:site-background-fill input:not([type=button]):not([type=submit]) {
  --_cs-input-bg: var(--cs-input-bg, #fff);
}
.feature\:site-background-fill .btn-buy {
  background-color: var(--btn-bg, #fff);
}
.feature\:site-background-fill .btn-buy:hover {
  background-color: var(--cs-6, #4b4f58);
}

.site-footer-wrap .subscribe-block input[type=email],
#footer .subscribe-block input[type=email] {
  --cs-input-bg: var(--cs-8);
  --cs-input-border: var(--cs-8);
}

.mobile-version .page-title.cs-bg-4--mobile {
  background-color: transparent;
}

.site-head.is-pinned {
  --cs-input-bg: #f9f9f9;
  --cs-input-border: #f9f9f9;
}