@use '../../../../styles/settings';
@use '../../../../styles/functions/util';

.subscribe-block {
    padding: util.rem-calc(15px) util.rem-calc(25px);
    margin-top: 0.5rem;
    border-radius: settings.$border-radius-base;

}

.subscribe-block__form {
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: 1fr;
    align-items: center;
}

.subscribe-block--wide {
    .subscribe-block__form {
        grid-template-columns: max-content 1fr min-content;

        .subscribe-block__checkbox-list {
            grid-column: 2 / -1;
        }
    }
}

.subscribe-block-text {
    font-size: settings.$font-size-xmedium;
    line-height: 1.1;
}
