<div class="payment-control payment-custom-option">
    <span class="form-field-name m-b-xs" data-ng-class="{'input-required': paymentTemplate.payment.RequiredPaymentDetails}">
        {{ ::'Js.Payment.Bill.Company' | translate }}
    </span>
    <input
        class="input-small input-alt-mobile"
        type="text"
        ng-required="paymentTemplate.payment.RequiredPaymentDetails"
        data-ng-model="paymentTemplate.payment.CompanyName"
        data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.CompanyName)" />
</div>
<div class="payment-control payment-custom-option">
    <span class="form-field-name m-b-xs" data-ng-class="{'input-required': paymentTemplate.payment.RequiredPaymentDetails}">
        {{ ::'Js.Payment.Bill.INN' | translate }}
    </span>
    <input
        class="input-small input-alt-mobile"
        type="text"
        pattern="^[\d,\.]*$"
        ng-required="paymentTemplate.payment.RequiredPaymentDetails"
        data-ng-model="paymentTemplate.payment.INN"
        data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.INN)" />
</div>
<div class="payment-control payment-custom-option">
    <span class="form-field-name m-b-xs"> {{ ::'Js.Payment.Bill.Kpp' | translate }} </span>
    <input
        class="input-small input-alt-mobile"
        type="text"
        pattern="^[\d,\.]*$"
        data-ng-model="paymentTemplate.payment.Kpp"
        data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.Kpp)" />
</div>
