<div class="payment-control payment-custom-option">
    <span class="block m-b-xs">{{ ::'Js.Payment.BillBy.Company' | translate }}</span>
    <input
        class="input-small input-alt-mobile"
        type="text"
        data-ng-model="paymentTemplate.payment.CompanyName"
        data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.CompanyName)" />
</div>
<div class="payment-control payment-custom-option">
    <span class="block m-b-xs">{{ ::'Js.Payment.BillBy.UNP' | translate }}</span>
    <input
        class="input-small input-alt-mobile"
        type="text"
        data-ng-model="paymentTemplate.payment.UNP"
        data-ng-keyup="paymentTemplate.changePrepare($event, paymentTemplate.payment.UNP)" />
</div>
