/* AUTH */

/* .auth-root,
.auth-body,
.auth-container {
    height: 100%;
} */

@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/variables-dark';
@import '../../../../node_modules/bootstrap/scss/maps';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/utilities';
@import '../../../../node_modules/bootstrap/scss/helpers';
@import '../../../../node_modules/bootstrap/scss/utilities/api';
@import '../../../../node_modules/bootstrap/scss/alert';

//.showhidepass {
//    .showhidepass {
//        position: absolute;
//        top: 0;
//        bottom: 0;
//        right: 10px;
//        font-size: 21px;
//        color: #c4c9cc;
//        cursor: pointer;
//        display: flex;
//        align-items: center;
//        text-decoration: none;
//
//        &:hover {
//            text-decoration: none;
//        }
//        &::-ms-reveal,
//        &::-ms-clear {
//            display: none;
//        }
//    }
//}

.auth-body {
    display: flex;
    min-width: 0;
    position: relative;
    height: var(--min-full-height);
    font-family: OpenSans, sans-serif;
    line-height: 1.4286;
    font-size: 13px;
    color: #676a6c;
    flex-direction: column;
}

.auth-body #toast-container {
    top: 20px;
}

.auth-block-bg {
    flex-grow: 1;
}

.auth-picture {
    position: absolute;
    display: block;
    width: 100%;

    & img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (width >= 769px) {
    .auth-body {
        flex-direction: row;
    }

    .auth-picture {
        position: static;
    }
}

.auth-title {
    font-size: 26px;
    color: #fff;
    font-family: OpenSans, sans-serif;
    font-weight: 100;
    text-align: left;
    margin-bottom: 23px;
}

.content-error {
    max-width: 580px;
    flex-basis: 580px;
    padding: 20px;
    box-sizing: content-box;
}

.auth-container-wrap {
    max-width: 480px;
    padding: 0;
    flex-grow: 1;
    width: 100%;
}

.login__blocks-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login__copyright-text {
    margin-bottom: 40px;
    text-align: center;
    font-size: 13px;
    color: #c8c7cc;
}

.login__copyright-text a {
    color: #c8c7cc;
    text-decoration: none;
}

.auth-field,
.auth-body .captcha-txt input {
    width: 100%;
    font-family: ClearSans, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    padding: 14px 24px;
    color: #676a6c;
    border-width: 1px;
    border-color: rgb(0 0 0 / 10%);
    border-style: solid;
}

.auth-body .captcha-txt input {
    margin-bottom: 0;
    margin-top: 20px;
}

.auth-field.ng-not-empty {
    color: #2f4050;
}

.auth-field-password::-ms-reveal {
    display: none;
}

.loginscreen .captcha-txt {
    padding-top: 5px;
}

.btn-auth {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background-color: rgb(45 156 238);
    border-radius: 2px;
    border: 0;
    padding: 13px 0;
    width: 100%;
    line-height: 1.3333;
}

.btn-auth:hover {
    color: #fff;
    background-color: rgb(45 156 238 / 70%);
}

.btn-auth:disabled {
    opacity: 0.5;
    background-color: rgb(45 156 238);
}

[disabled].btn-auth {
    cursor: pointer;
}

.auth-text {
    text-align: center;
}

.auth-text,
.forget-link {
    font-size: 13px;
    color: #2d9cee;
}

.forget-link {
    text-decoration: none;
}

.forget-link:hover {
    color: #2d9cee;
    text-decoration: underline;
}

/***********   */
.admin-login-block {
    border-radius: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        color: #2d9cee;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 21px;
        line-height: 1.1;
        font-weight: 600;
        color: rgb(0 0 0);
        margin: 30px 0 20px;
        text-align: center;
    }

    &__version,
    &__project {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        color: #000;
        text-align: center;
    }

    &__project {
        &-link {
            color: #2d9cee;
            background-color: transparent;
            border: none;
            text-decoration: none;
        }
    }

    &__form {
        background-color: rgb(255 255 255);
        padding: 0 36px 30px;
        height: 100%;

        .validation-summary-errors {
            padding: 10px;

            ul {
                padding-left: 25px;
                margin: 0;
                text-align: left;
            }
        }
    }
    &__form-control{
        position: relative;
        margin-bottom: 20px;
    }
}

.admin-forgot__pas-block {
    .admin-login-block {
        &__subtitle {
            margin: 0 0 20px;
        }
    }

    .auth-text {
        color: #000;
    }
}

.admin-login-title-block {
    padding: 80px 36px 114px;
    background-color: rgb(255 255 255);
}

@media (width <= 420px) {
    .admin-login-title-block {
        padding-top: 5vw;
    }
}

.admin-login__version {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    width: 100%;

    .version {
        color: rgb(0 0 0 / 0%);
        word-break: break-all;
        line-height: 1.43;
    }
}

@media (width <= 768px) {
    .admin-login-title-block {
        background-color: transparent;
    }

    .auth-container-wrap {
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: column;
    }

    .admin-login-block {
        &__form {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding-top: 47px;
            position: relative;
            top: -15px;
        }

        &__title,
        &__version,
        &__project {
            color: #fff;
            position: relative;
        }

        &__project {
            span {
                color: rgb(244 244 244 / 70%);
            }

            &-link {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .admin-login__version {
        background-color: #fff;
    }
}

@media (width <= 575px) {
    .admin-login-title-block {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, transparent, #00000096);
            width: 100%;
            height: 100%;
        }
    }
}

@media (width >= 769px) {
    .admin-login-title-block {
        padding-bottom: 80px;
        background-color: rgb(255 255 255);
    }

    .admin-login__version {
        z-index: 999;
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 40%;
        text-align: left;
    }
}

@media (width >= 1200px) {
    .admin-login__version {
        max-width: 60%;
    }
}

button,
input,
a {
    &:focus {
        outline: none;
    }
}
