$border-color: #c3c3c3;
$border-default: 1px solid $border-color;

.pagination {
    > .active > a,
    > .active > span,
    > .active > a:hover,
    > .active > span:hover,
    > .active > a:focus,
    > .active > span:focus {
        background-color: #f4f4f4;
        border-color: #ddd;
        color: inherit;
        cursor: default;
        z-index: 2;
    }

    > li > a,
    > li > span {
        background-color: #fff;
        border: $border-default;
        color: inherit;
        float: left;
        line-height: 1.4286;
        margin-left: -1px;
        padding: 4px 10px;
        position: relative;
        text-decoration: none;
    }
}
