.select-main-site {
    background-color: #fff;
    border: 1px solid #efeff4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px 16px;
    max-width: 368px;
    position: relative;

    .select-main-site__icon {
        cursor: pointer;
        top: calc(50% - 4px);
        right: 25px;
    }

    .dashoboard-dropdown__block {
        display: none;
        position: absolute;
        padding-left: 18px;
        padding-right: 18px;
        background-color: #fff;
        right: -1px;
        flex-wrap: wrap;
        border: 1px solid #efeff4;
        top: 100%;
        width: 100vw;
        max-width: 368px;
    }

    .dashoboard-dropdown__item-wrap {
        border: 0;
        background-color: transparent;
        padding: 0;
        border-bottom: 1px solid #efeff4;
        width: 100%;
        display: flex;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .dashoboard-dropdown__item {
        border: 0;
        background-color: transparent;
        width: 100%;
        padding: 10px 0;
    }

    .select-main-site__block {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        padding-right: 40px;
    }

    .open {
        .select-main-site__icon {
            transform: rotate(180deg);
        }

        .dashoboard-dropdown__block {
            display: flex;
        }
    }
}

.select-main-site__title {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #8a8a8f;
}

.select-main-site__text {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000;
}

.select-main-site__select-domain-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90px;
}
