#toast-container {
    top: 70px;
    left: 12px;
    right: 12px;
    bottom: auto;

    .toast {
        width: 100%;
    }

    .toast-close-button {
        right: 0 !important;
        top: -0.3em !important;
        font-size: 30px !important;
    }
}
