<div class="modal-header" is-mobile>
    <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.ChangeLeadSalesFunnel.Header'|translate}}</h2>
</div>
<div class="modal-body" is-mobile>
    <div class="m-b-xs" ng-class="{'control-label' : isMobile.value}">{{'Admin.Js.ChangeLeadSalesFunnel.SalesFunnel'|translate}}</div>
    <div class="m-b" ng-class="{'m-b-md' : isMobile.value}">
        <select
            class="form-control input-alt"
            ng-model="ctrl.salesFunnelId"
            ng-options="s.value as s.label for s in ctrl.funnels"
            ng-change="ctrl.getDealStatuses()"
            data-e2e="leadsEditSalesFunnel"></select>
    </div>
    <div class="m-b-xs" ng-class="{'control-label' : isMobile.value}">{{'Admin.Js.ChangeLeadSalesFunnel.DealStatus'|translate}}</div>
    <div class="m-b" ng-class="{'m-b-md' : isMobile.value}">
        <select
            class="form-control input-alt"
            ng-model="ctrl.dealStatusId"
            ng-options="s.value as s.label for s in ctrl.statuses"
            ng-change="ctrl.changeDealStatus()"
            data-e2e="leadsEditDealStatus"></select>
    </div>

    <div class="m-b" ng-if="ctrl.showCreateOrderOnFinalSuccess">
        <label class="adv-checkbox-label">
            <input id="check7" type="checkbox" class="adv-checkbox-input control-checkbox" ng-model="ctrl.createOrderOnFinalSuccess" />
            <span class="adv-checkbox-emul"></span>
            <span class="m-l-xs">Создавать заказ</span>
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.save()" ng-disabled="ctrl.btnSaveDisabled" data-e2e="leadsEditSave">
        {{'Admin.Js.AddEdit.Save'|translate}}
    </button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()" data-e2e="leadsEditCancel">
        {{'Admin.Js.AddEdit.Cancel'|translate}}
    </button>
</div>
