<div is-mobile ng-class="{'m-t-md' : isMobile.value}">
    <h3 ng-class="{'setting__subtitle' : isMobile.value}">Источники лидов</h3>

    <div ng-if="isMobile.value" class="analytics-page__special-grid-header">
        <span>Источник</span>
        <span class="text-center">Кол-во</span>
        <span class="text-center">%</span>
    </div>

    <ui-grid-custom
        grid-unique-id="grid"
        grid-row-identificator="'Id'"
        grid-on-init="$ctrl.gridOnInit(grid)"
        grid-options="$ctrl.gridOptions"
        grid-url="'leads/GetLeadsListSources'"
        grid-params="{leadsListId: $ctrl.leadsListId}"
        grid-extend-ctrl="$ctrl"
        grid-filter-enabled="false"
        grid-pagination-enabled="false"
        grid-selection-enabled="false">
        <ui-grid-custom-override-control class="ng-cloak">
            <div class="card card--gap-row-sm m-b-xs">
                <div class="analytics-page__special-grid">
                    <div>{{row.entity.Name}}</div>
                    <div class="text-center">{{row.entity.LeadsCount}}</div>
                    <div class="text-center">{{row.entity.PercentLeads}}</div>
                </div>
            </div>
        </ui-grid-custom-override-control>
    </ui-grid-custom>
</div>
