@import '../../../../../../Content/src/_shared/switch-on-off/styles/switch-on-off';

.onoffswitch {
    $self: &;

    &--default {
        height: 15px;
        width: 28px !important;

        #{$self}-checkbox:checked + #{$self}-label #{$self}-switch {
            right: 3px;
        }

        #{$self}-checkbox:checked + #{$self}-label {
            background-color: #2d9cee;
        }

        #{$self}-switch {
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 0;
            transition: right 0.1s ease-in 0s;
        }

        #{$self}-label {
            border: 0;
            border-radius: 30px;
            background-color: #c8c7cc;
            height: 16px;
        }

        #{$self}-inner-on,
        #{$self}-inner-off {
            display: none !important;
        }
    }

    &__input:checked + &__label {
        &::after {
            transform: translateX(13px) !important;
            top: 3px !important;
        }
    }

    &__label {
        &::before {
            width: 29px !important;
            height: 15px !important;
        }

        &::after {
            width: 9px !important;
            height: 9px !important;
            top: 7px !important;
            left: 3px !important;
        }
    }
}
