.shipping-methods-list {
    &__drag,
    &__info {
        margin-right: 15px;
    }

    &__name {
        display: block;
        color: var(--color-link-alt);
    }

    &__type {
        color: var(--color-text-alt);
        font-size: 12px;
    }

    &__info {
        line-height: 1.3;
    }

    &__link {
        display: block;
        color: #242424;
        text-decoration: none;

        &:hover {
            color: #242424;
            text-decoration: none;
        }
    }

    &__card {
        background-color: #fff;
        padding: 18px 16px;
        border-radius: 8px;
        box-shadow: 0 1px 8px rgb(0 0 0 / 5%);
        text-decoration: none;
        border: none;
        display: grid;
        grid-template-columns: 30px 1fr 50px;
        grid-column-gap: 19px;
        align-items: center;
    }

    &__switch {
        .onoffswitch__label {
            top: -5px;
        }
    }
}
