.sidebars-container {
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        bottom: var(--container-bottom-fixed, 0); // from setCssCustomProps.directive
        left: 0;
        right: 0;
        overflow: auto;
        z-index: 101;

        &--main-menu {
            --background-color: #fafafb;

            background-color: var(--background-color);
        }
    }

    &--activated {
        .sidebar {
            display: block;
        }
    }
}
