<div is-mobile ng-class="{'flex middle-xs' : isMobile.value}">
    <ui-modal-trigger
        data-controller="'ModalAddEditMenuItemCtrl'"
        controller-as="ctrl"
        template-url="../areas/admin/content/src/menus/modal/addEditMenuItem/addEditMenuItem.html"
        data-resolve="{ params: {id: $ctrl.id, menuType: $ctrl.type}}"
        data-on-close="$ctrl.editMenuItem()">
        <button
            type="button"
            aria-label="Редактировать"
            ng-if="!isMobile.value"
            class="btn-icon link-invert fas fa-pencil-alt link-decoration-none menu-item-action-item"></button>
    </ui-modal-trigger>

    <button
        type="button"
        ng-if="!isMobile.value"
        aria-label="Удалить"
        class="btn-icon link-invert fas fa-times link-decoration-none m-l-sm menu-item-action-item"
        ng-click="$ctrl.deleteMenuItem()"></button>
    <button
        type="button"
        ng-if="isMobile.value"
        class="menu-item-action-item btn btn-sm btn-danger btn--as-swipe-line flex center-xs middle-xs"
        style="height: 60px"
        ng-click="$ctrl.deleteMenuItem()">
        Удалить
    </button>
</div>
