.product-pic-list-sortable {
    &:not(.as-sortable-dragging) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }

    &--one-row:not(.as-sortable-dragging) {
        grid-template-columns: 1fr;
    }

    &--small-gap {
        grid-gap: 10px;
    }
}

.product-block {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: var(--border-radius-on-box-middle);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-block-figure {
    padding: 0;
    margin: 0;
}

.product-block-figure-link {
    text-align: center;
}

.product-block-figure-img {
    vertical-align: middle;
}

.product-pic-list-item {
    // https://dev.to/timhecker/grid-cell-issue-with-white-space-nowrap--text-overflow-ellipsis-52g6
    min-width: 0;
    box-shadow: var(--shadow-on-box);
    border-radius: var(--border-radius-on-box-middle);
}

.picture-hover-effect,
.item-block-remove,
.product-pic-list-item-controls {
    position: absolute;
    background: #fff;
    border-radius: var(--border-radius-on-box-middle);
    padding: 5px;
    top: 5px;
    right: 5px;
}

.product-pic-list-item-name {
    padding: 0 10px 10px;
    background: #fff;
    border-radius: var(--border-radius-on-box-middle);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.product-pic__cols {
    grid-template-columns: calc(100% - 32px) min-content;
}

.product-empty-block {
    max-width: calc(50% - 9px);
}

.product-pic-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
