<form novalidate is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Rule.AddRule'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-class="{'m-r m-l' : !isMobile.value}">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-12 col-md-2 control-label m-b-xs"> {{'Admin.Js.Rule.Rule'|translate}} </label>
                    <div class="col-xs-12 col-md-10">
                        <select
                            data-e2e="RuleSelect"
                            ng-options="item.Value as item.Text for item in ctrl.RuleTypes"
                            class="form-control input-alt"
                            ng-model="ctrl.RuleType"
                            ng-init="ctrl.RuleType">
                            <option selected="selected" value="" style="opacity: 0.3" disabled>{{'Admin.Js.Rule.SelectARule'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            type="submit"
            button-validation
            button-validation-success="ctrl.saveRule();"
            ladda="ctrl.btnLoading"
            data-e2e="addTemplate">
            {{'Admin.Js.Rule.Add'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Rule.Cancel'|translate}}</button>
    </div>
</form>
