@use '../../../../styles/settings';
@use '../../../../styles/functions/util';
@use '../../../../styles/spinner';

.order-history {
    width: 100%;
    table-layout: fixed;
    border: 0;

    &__spinner {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}

.order-history-header-item,
.order-history-body-item {
    text-align: left;
    padding: util.rem-calc(15px) 0 util.rem-calc(15px) util.rem-calc(10px);
    font-size: settings.$font-size-medium;
    word-break: break-word;
    width: 100%;
}

.order-history-body-item-row:hover {
    background: #f3f3f3;
}

.order-history-body-item {
    cursor: pointer;
    border: 0;
}

.order-history-body-item .order-history-track-number {
    font-size: settings.$font-size-normal;
}

.order-history-details-orderdate {
    font-size: settings.$font-size-normal;
    display: block;
}

.order-history-header-item {
    font-weight: bold;
    border-width: 0 0 util.rem-calc(1px) 0;
    border-bottom: util.rem-calc(1px) #ededee solid;

    &:first-child {
        border-radius: settings.$border-radius-base 0 0 settings.$border-radius-base;
    }

    &:last-child {
        border-radius: 0 settings.$border-radius-base settings.$border-radius-base 0;
    }
}

.order-history-trigger-details {
    padding-right: util.rem-calc(15px);
    width: util.rem-calc(30px);
}

.order-history-footer-item {
    text-align: right;
    border: 0;
}

.order-history-footer-text {
    font-size: settings.$font-size-medium;
}

.order-history-footer-result {
    font-size: settings.$font-size-large;
    font-weight: bold;
}

.order-history-footer-note {
    font-size: settings.$font-size-small;
}

.order-history-id {
    /* width: util.rem-calc(80px); */
}

.order-history-empty-text {
    margin-bottom: settings.$margin-value-base;
}

.order-history-details-header {
    font-size: settings.$font-size-large;
}

.order-history-details-header-selected {
    font-weight: bold;
}

.order-history-details-info {
    margin-top: settings.$margin-value-alt;
}

.order-history-details-info-block {
    margin-right: settings.$margin-value-base;
    font-size: settings.$font-size-medium;
    margin-bottom: 10px;
}

.order-history-details-info-title {
    font-weight: bold;
    margin-bottom: 0;
}

.order-history-details-info-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
}

.order-history-payment-info-block {
    .order-history-details-info-title {
        margin-bottom: 10px;
    }
}

.order-history-details-info-row {
    display: table-row;
}

.order-history-details-info-name,
.order-history-details-info-value {
    display: table-cell;
    vertical-align: middle;
    padding: 4px 0;
}

.order-history-details-info-name {
    padding-right: settings.$padding-base;
}

.order-history-details-products {
    margin-top: settings.$margin-value-alt;
}

.order-history-details-products-header {
    font-size: settings.$font-size-large;
    font-weight: bold;
}

.order-history-details-result-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-table;
}

.order-history-details-result {
    text-align: right;
}

.order-history-details-result-row {
    display: table-row;
}

.order-history-details-result-name,
.order-history-details-result-value {
    display: table-cell;
    vertical-align: middle;
}

.order-history-details-result-name {
    padding-right: settings.$padding-base;
    font-size: settings.$font-size-medium;
}

.order-history-details-result-value {
    font-size: settings.$font-size-medium;
}

.order-history-details-result-selected {
    font-weight: bold;
    font-size: settings.$font-size-large;
}

.order-history-details-print {
    font-size: settings.$font-size-normal;
}

.order-history-header-item--hidden-xs {
    display: none !important;
}

.order-history-header-item--visible-xs {
    display: table-cell !important;
}

@media (width >= 48em) {
    .order-history-header-item--visible-sm {
        display: table-cell !important;
    }

    .order-history-header-item--hidden-sm {
        display: none !important;
    }
}

.order-history-details-products .cart-full-header-item,
.order-history-details-products .cart-full-body-item {
    padding-left: 10px;
}

.order-history-details-products .cart-full {
    table-layout: auto;
}

@media (width <= 768px) {
    .order-history-details-products .cart-full-cost {
        width: 40%;
    }

    .order-history-details-products .cart-full-amount {
        width: 30%;
    }
}

.mobile-version .order-history-details {
    .cart-mini-result-block {
        border-color: #e2e3e4;
    }
}

.order-photos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
}

.order-photos__item {
    flex-basis: 80px;
    max-width: 80px;
    height: 80px;
    padding: 6px;
    position: relative;
}

.order-photos__delete {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid currentcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.order-photos__wrap-thumbs {
    display: inline-flex;
    border: 1px solid;
    font-size: 0;
    border-radius: settings.$border-radius-base;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}
