<form name="formAddTagsToProducts">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.RemoveTagsToProducts.RemovingTags' | translate}}</h2>
    </div>
    <div class="modal-body" style="{{isMobile.value ? '' : 'min-height: 180px;'}}">
        <div ng-if="ctrl.productsTags.length === 0">{{'Admin.Js.RemoveTagsToProducts.MessageEmpty' | translate}}</div>
        <div ng-if="ctrl.productsTags.length !== 0" class="form-group ng-cloak">
            <ui-select multiple class="input-alt" sortable="true" ng-model="ctrl.selectedTags" data-e2e="SelectTag">
                <ui-select-match placeholder="{{'Admin.Js.RemoveTagsToProducts.SelectTags'|translate}}">{{$item.Name}}</ui-select-match>
                <ui-select-choices repeat="tag in ctrl.productsTags | filter:$select.search">{{tag.Name}}</ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.removeTags()" ng-disabled="ctrl.selectedTags.length === 0">
            {{'Admin.Js.RemoveTagsToProducts.RemoveTags' | translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.RemoveTagsToProducts.Cancel' | translate}}
        </button>
    </div>
</form>
