<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Settings.NotifyEMails.SMSNotifications.TemplateChange'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label text-required setting__label"
                    >{{'Admin.Js.Settings.NotifyEMails.SMSNotifications.OrderStatus'|translate}}</label
                >
                <div class="col-xs-12 col-md-10">
                    <select
                        ng-options="s.StatusID as s.StatusName for s in ctrl.orderStatuses"
                        ng-model="ctrl.template.OrderStatusId"
                        class="form-control input-alt"></select>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row setting--label-with-checkbox-reverse">
                <label for="3" class="col-xs-11 col-md-2 control-label setting__label setting--m-none"
                    >{{'Admin.Js.Settings.NotifyEMails.SMSNotifications.Active'|translate}}</label
                >
                <div class="col-xs-1 col-md-10">
                    <label class="adv-checkbox-label">
                        <input id="3" type="checkbox" ng-model="ctrl.template.Enabled" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label setting__label">
                    <span class="text-required">{{'Admin.Js.Settings.NotifyEMails.SMSNotifications.SMSText'|translate}}</span>
                    <count-sms sms-text="ctrl.template.SmsText"></count-sms>
                    <!--<span>Символов {{ctrl.SmsLength}}({{ctrl.CountSms}} смс)</span>-->
                </label>
                <div class="col-xs-12 col-md-10">
                    <textarea ng-model="ctrl.template.SmsText" class="form-control input-alt" required validation-input-text="Текст sms"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            data-e2e="saveTemplate"
            class="btn btn-save btn-primary"
            type="button"
            data-button-validation-success="ctrl.save()"
            data-button-validation>
            {{ctrl.mode == "add" ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}
        </button>
        <button data-e2e="cancelTemplate" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
