<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.AddPropertyGroup.AddGroupProperties'|translate}}</h2>
</div>
<div class="modal-body" is-mobile>
    <div>
        <div ng-class="{'form-label form-label--block m-b-sm' : isMobile.value,'m-b' : !isMobile.value}">
            {{'Admin.Js.AddPropertyGroup.SelectGroup'|translate}}
        </div>
        <div class="form-group">
            <select data-ng-model="ctrl.group" data-ng-options="s.label for s in ctrl.groups" class="form-control input-alt m-b-xs"></select>
            {{'Admin.Js.Directory'|translate}}
            <a href="./settingscatalog?catalogTab=properties" target="_blank">{{'Admin.Js.AddPropertyGroup.ProductProperties'|translate}}</a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-save btn-primary" data-ng-if="ctrl.emptyGroup !== ctrl.group" type="button" ng-click="ctrl.addPropertyGroup()">
        {{'Admin.Js.AddPropertyGroup.AddGroup'|translate}}
    </button>
    <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Category.Cancel'|translate}}</button>
</div>
