<div>
    <button type="button" class="btn btn-xsmall btn-submit"  data-ng-click="yandexDeliveryWidget.showModal()">
        {{ ::('Js.ShippingTemplate.SelectPickupPoint'|translate)}}
    </button>

    <div data-ng-bind="yandexDeliveryWidget.yandexShipping.SelectedPoint.Address"></div>
    <read-more
        class="shipping-item-description cs-t-3"
        data-max-height="30"
        data-speed="1s"
        data-ng-if="yandexDeliveryWidget.yandexShipping.SelectedPoint.Description">
        <span data-ng-bind-html="yandexDeliveryWidget.yandexShipping.SelectedPoint.Description"></span>
    </read-more>
    <input
        data-ng-if="yandexDeliveryWidget.yandexIsSelected"
        class="shipping-extend-input-hidden"
        type="text"
        data-ng-model="yandexDeliveryWidget.yandexShipping.PickpointAddress"
        required
        readonly
        data-validation-input-text="{{ ::'Js.ShippingTemplate.SelectPickupPoint.NotSelected' | translate }}" />
</div>
