.cart-mini-list-mobile {
    .cart-mini-block {
        position: static;
        top: auto;
        right: auto;
        padding-top: 0;
        box-shadow: none;
        border-radius: 0;
        min-width: 0;

        &:has(.cart-mini-empty) {
            background-color: inherit;
        }
    }

    .cart-mini-result-block {
        background-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .cart-mini-scrollbar {
        max-height: none;
    }

    .cart-mini-item {
        padding-left: 0.375rem;
        padding-right: 60px;
        position: relative;
    }

    .cart-mini-item + .cart-mini-item {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .cart-mini-remove {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 21px;
    }

    .cart-mini-photo {
        padding-left: 0;
        padding-right: 0;
    }

    .cart-mini-photo,
    .cart-mini-info {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cart-mini-info {
        font-size: 12px;
    }

    .cart-mini-result-name {
        font-weight: normal;
    }

    .cart-mini-result-value {
        font-size: 14px;
    }

    .cart-mini-result-total-price {
        font-weight: bold;
    }

    .cart-mini-result-row {
        text-align: right;
    }

    .cart-mini-scrollbar-block {
        padding-top: 0;
        padding-bottom: 0;
    }

    .cart-mini-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .cart-mini-btn-cart,
    .cart-mini-btn-checkout {
        width: 48%;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.cart-full-checkout .cart-full-mobile {
    padding: 0.6667em 0;
}

.cart-full-wishlist {
    width: 100%;
    margin-bottom: 0;
}
.mobile-product-view-item__btn-wrap{
    .cart-add--separate-with-spinbox{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;

        .cart-add__spinbox {
            position: relative;
        }
        .spinbox-input-wrap{
            padding: 0;
        }
        .spinbox__arrows{
            margin: 0;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0;
        }
        .spinbox-more,
        .spinbox-less {
            position: absolute;
            top: 0;
            padding: 10px 5px 10px;

            &::before {
                width: 14px;
                height: 2px;
                margin: 0;
            }
        }
        .spinbox-less{
            left: 0;
        }
        .spinbox-more{
            right: 0;
        }
    }
}
.products-view-mobile-modern-list{
    .cart-add--separate-with-spinbox{
        flex-direction: row;
        justify-content: start;
    }
    .spinbox-block{
        margin: 0;
    }
}

.cart-mini-amount-control {
    display:none;
}

.sidebars-container {
    .cart-mini-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3px 0;

        .cart-mini-amount-control {
            display: block;
            margin-left: 5px;
        }

        &:has(.cart-mini-amount-control) .cart-mini-count-value {
            display: none;
        }

        .spinbox-block {
            position: relative;

            .spinbox-more {
                position: absolute;
                right: 0 !important;
                top: 50% !important;
                transform: translateY(-50%);

                &:before {
                    position: static !important;
                }
            }

            .spinbox-less {
                position: absolute;
                left: 0 !important;
                top: 50% !important;
                transform: translateY(-50%);

                &:before {
                    position: static !important;
                }
            }

            .spinbox-input-wrap {
                padding: 0;
            }

            .spinbox__arrows {
                margin: 0;
            }

            .spinbox-input {
                text-align: center;
            }
        }
    }
}

.cart-add-container {
    --cart-add-container-width: 100%;
}
.cart-mini-module {
    padding-inline: 0.9375rem;
}
