.categories-root-wrap {
    z-index: 100;
}

.categories-root {
    padding-left: 13px;
    padding-right: 13px;

    &__header {
        padding: 0.6667em 1em;
    }

    &__header-title {
        font-size: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
        padding-top: 15px;
        padding-bottom: 15px;

        &--blocks-mode {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 10px;
            align-items: stretch;
        }
    }

    &__item {
        margin-left: 8px;
        padding: 10px 15px;
        border-radius: 18px;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            text-decoration: none;
        }

        &--blocks-mode {
            margin: 0;
        }
    }

    &__item-inner {
        width: 100%;

        &--blocks-mode {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;

        &--blocks-mode {
            white-space: normal;
        }
    }

    &__item-name,
    &__item-icon-wrap {
        text-align: center;
        width: 100%;
    }

    &__item-icon-wrap {
        width: 56px;
        height: 56px;
        padding: 10px;
        box-sizing: border-box;
        display: inline-block;

        &--blocks-mode {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &--with-icon &__item {
        white-space: nowrap;
        flex: 0 0 80px;
        justify-content: center;
        padding-right: 0.821rem;
        padding-left: 0.821rem;
        text-align: center;
        border: none;
        max-width: 50%;
    }
}
