.sidebar.sidebar-catalog-filter {
    display: grid;
    grid-auto-rows: auto 1fr auto;

    .catalog-filter-in-progress {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }
}

.sidebar-catalog-filter.sidebar--without-footer {
    grid-auto-rows: auto 1fr;
}

.sidebar-catalog-filter.sidebar--without-header {
    grid-auto-rows: 1fr auto;
}

.sidebar-catalog-filter.sidebar--without-footer.sidebar--without-header {
    grid-auto-rows: 1fr;
}

.catalog-filter-header {
    display: none;
}

.catalog-filter-content {
    border-width: 0;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.catalog-filter-trigger-wrap--mobile {
    text-align: right;
}

.catalog-filter-trigger--mobile {
    background-color: transparent;
    padding: 10px 0;
    position: relative;
    border: 0;
    display: inline-block;
}

.catalog-filter-block-header,
.catalog-filter-block-content,
.catalog-filter-footer {
    padding-left: 16px;
    padding-right: 16px;
}

.catalog-filter-block-content-checkbox,
.catalog-filter-block-content-color {
    margin-left: 0;
}

.catalog-filter-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .btn {
        width: 48%;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.catalog-filter-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-input-text,
.catalog-filter-block-title,
.catalog-filter-question-description,
.catalog-filter-block-content .ngrs-value {
    font-size: 13px;
}

.catalog-filter {
    .shipping-progress {
        height: 100%;
    }
}

.catalog-filter-block-header::after {
    right: 15px;
}

.catalog-filter-progress {
    margin-top: -60px;
}

.catalog-filter-row__label {
    align-items: baseline;
}
