.news-block {
    padding: 0 13px;
    margin-top: 30px;

    .block-head {
        padding: 0;
    }

    .news-block-date {
        margin-top: 5px;
    }
}

.news-block-row {
    font-size: 14px;
}

.allNews {
    font-size: 12px;
}
