@use 'sass:math';
@use '../../../../styles/functions/util';

.products-view-meta {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.cart-popup-product-sku {
    text-align: left;
    margin-bottom: 0;
    font-size: 13px;
}

.products-view-meta-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.products-view-meta-item {
    padding: 0 10px;
    margin: 0;
    border-style: solid;
    border-width: 0 0 0 1px;
    display: inline-block;
    vertical-align: middle;

    &:first-child {
        padding-left: 0;
        border-left: 0;
    }
}

.products-view-tile .color-viewer-list,
.products-view-tile .color-viewer {
    justify-content: center;
}

.products-view-tile .select-custom .color-viewer-list,
.products-view-tile .select-custom .color-viewer {
    justify-content: start;
}

.products-view-tile .products-view-item {
    padding-left: 0 !important;
}

.products-view-tile .products-view-labels {
    position: static;
}

.mobile-product-view-item .products-view-labels,
.product-related-products .mobile-product-view-item .products-view-labels {
    margin-top: 5px;
    position: absolute;
    top: 7px;
    left: 0;
    right: auto;
    z-index: 2;

    .products-view-label.availability {
        padding: 0;
    }
}

.products-view {
    .mobile-product-view-item {
        .products-view-label {
            text-align: left;
        }
    }
}

.products-view-label {
    margin-bottom: util.rem-calc(5px);
    color: #fff;
    font-weight: bold;

    /* text-align: left !important; */

    .products-view-label-inner + .products-view-label-inner {
        margin: 0 0 util.rem-calc(5px) util.rem-calc(5px);
    }
}

.products-view-label-inner {
    border-radius: 5px;
    padding: util.rem-calc(6px) util.rem-calc(10px);
    padding-bottom: util.rem-calc(5px);
    display: inline-block;
    line-height: 1.5;
}

.products-view-label-best {
    background-color: #cd0303;
}

.products-view-label-new {
    background-color: #b3be08;
}

.products-view-label-discount {
    background-color: #cd0303;
}

.products-view-label-recommend {
    background-color: #58a9fd;
}

.products-view-label-sales {
    background-color: #58a9fd;
}

.products-view-label-warranty {
    background-color: #cd0303;
}

.products-view-label-gift {
    background-color: #cd0303;
}

//.mobile-product-view-item__btn-wrap .cart-add--with-spinbox-theme-standart {
//    .cart-add__spinbox-input {
//        font-size: 12px;
//        line-height: 1.3;
//    }
//
//    .cart-add__spinbox-input.input-small {
//        padding: 10px 0.625rem;
//    }
//
//    .cart-add__spinbox-input.input-middle {
//        padding: 0.75rem;
//    }
//
//    .cart-add__spinbox-input.input-big {
//        font-weight: bold;
//        font-size: 1rem;
//        padding: 0.8125rem;
//    }
//
//    .cart-add__spinbox-input.input-xsmall {
//        padding: 0.3125rem 0.5rem;
//    }
//}

.prod-gift-icon {
    $height: 233px;
    $width: 253px;

    height: math.div($height, 3.88);
    width: math.div($width, 3.88);

    /* background: url('../../images/misc/giftIcon.png') no-repeat top left / 100% 100%; */
    background: url('../../../../images/misc/giftIcon.png') no-repeat top left / 100% 100%;
    vertical-align: middle;
    display: inline-block;
    bottom: 0;
    right: 0;
}

.autocompleter-sub .prod-gift-icon {
    $height: 116px;
    $width: 136px;

    height: math.div($height, 3.88);
    width: math.div($width, 3.88);
}

.prod-cell .prod-gift-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.products-view-table .prod-gift-icon {
    bottom: auto;
    width: util.rem-calc(30px);
    height: util.rem-calc(28px);
    margin-top: util.rem-calc(-28px);
}

.tiles-table .products-view-labels {
    position: absolute;
    top: 0;
    left: 0;
}

.prod-photo-inner {
    position: relative;
    max-height: 100% !important;
}

.cart-popup-product .cart-full-properties-name,
.cart-popup-product .cart-full-properties-value {
    padding-bottom: 5px;
}

.related-product-item .products-view-labels {
    /* position: absolute;
top: .625rem;
right: .625rem; */
    font-size: 0.75rem;
    line-height: 1.5;
}

.mobile-version .products-view-label-inner {
    padding: 3px 4px 2px;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    border-radius: 2px;
}

.price {
    font-weight: 600;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.text-instead-of-price {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
}

.mobile-product-view-item {
    text-align: center;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;

    .color-viewer-list,
    .color-viewer {
        justify-content: center;
    }

    .select-custom {
        .color-viewer-list,
        .color-viewer {
            justify-content: start;
        }
    }
}

.mobile-prod-info-wrap {
    text-align: center;
    flex-grow: 1;

    .prod-name {
        color: currentcolor;
        display: block;
        margin-bottom: 8px;
        word-break: break-word; // для сафари
        white-space: normal;
    }
}

.mobile-prod-artno {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 10px;
}

.prod-name {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .prod-name,
.prod-cell .prod-name {
    max-height: 36px;
    height: auto;
    min-height: 23px;
} */

.prod-cell .prod-name {
    margin-bottom: 0;
}

.products-view-rating {
    margin-top: 0;
    margin-bottom: 10px;
}

.tiles-table,
.tiles-table td,
.tiles-table th {
    border: none;
}

.mobile-product-view-item-image {
    vertical-align: middle;
}

.mobile-product-view-item-image-wrap {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-cell .prod-name::after {
    height: 14px;
}

.mobile-product-view-item__btn {
    width: auto;
}

.catalog-view,
.catalog-list {
    .prod-gift-icon {
        z-index: 0;
    }

    .prod-name {
        position: relative;
        color: currentcolor;
        display: block;
        margin-bottom: 8px;
    }

    .prod-name::after {
        content: '';
        text-align: right;
        position: absolute;
        height: 18px;
        width: 18px;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, rgb(255 255 255 / 0%), white 70%);
    }

    .catalog-product-item {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .catalog-product-item__inner {
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
    }

    .mobile-product-view-item-image-wrap {
        display: block;

        .products-view-labels .products-view-label {
            text-align: left;
        }
    }
}

.products-view-mobile-modern-tile,
.catalog-view,
.catalog-list {
    .prod-name {
        // https://css-tricks.com/almanac/properties/l/line-clamp/
        -webkit-line-clamp: var(--products-view-name-line-count, 3);
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}

.products-view-mobile-modern-list,
.products-view-mobile-modern-single {
    .mobile-product-view-item {
        width: auto !important;
    }
}

.product-view-carousel-list {
    .mobile-product-view-item {
        width: 100% !important;
    }
}

.products-view-mobile-modern {
    &-tile {
        .catalog-view__product-item-wrap {
            display: flex;
            flex-wrap: wrap;
        }

        .catalog-product-item {
            flex: 0 0 50%;
            max-width: 50%;
            box-sizing: border-box;
            padding-left: 14px;
            padding-right: 14px;
        }

        .mobile-product-view-item__inner {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        .mobile-product-view-item__btn-wrap {
            padding-left: 0;
            padding-right: 0;
        }

        .mobile-product-view-item__btn {
            display: block;
        }

        .mobile-product-view-item__name {
            flex-grow: 1;

            &--with-desc {
                flex-grow: 0;
            }
        }

        .mobile-products-view-description {
            flex-grow: 1;
        }

        .mobile-product-view-item {
            flex-basis: 50%;
            box-sizing: border-box;
            max-width: 50%;
            display: flex;
            flex-direction: column;
        }

        .mobile-prod-info-wrap {
            display: flex;
            flex-direction: column;
        }

        .mobile-product-view-item-image-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .color-viewer-list,
        .color-viewer {
            justify-content: center;
        }
    }

    &-list {
        .catalog-product-item__inner {
            flex-basis: 100%;
            max-width: 100%;
        }

        .mobile-product-view-item__inner,
        .mobile-product-view-item {
            display: flex;
            flex-wrap: wrap;
        }

        .mobile-product-view-item-image-wrap,
        .mobile-prod-info-wrap {
            box-sizing: border-box;
            flex-grow: 0;
            flex-shrink: 0;
        }

        .mobile-product-view-item-image-wrap {
            max-width: 40%;
            flex-basis: 40%;
            padding-right: 20px;
            margin-bottom: 0;
        }

        .mobile-prod-info-wrap {
            max-width: 60%;
            flex-basis: 60%;
        }

        /* .products-view-labels {
    position: static;
    text-align: left;
    margin-top: 0;

    .products-view-label {
        display: inline-block;
        margin-right: 5px;
    }
} */
        .prod-name {
            order: -1;
            height: auto !important;
        }

        .products-view-labels,
        .mobile-prod-artno,
        .products-view-rating,
        .mobile-product-view-item__btn-wrap,
        .price {
            max-width: 100%;
            flex: 0 0 100%;
            box-sizing: border-box;
        }

        .mobile-product-view-item__btn-wrap,
        .price,
        .prod-name,
        .mobile-prod-artno,
        .products-view-rating {
            text-align: left;
        }

        .mobile-product-view-item__btn {
            display: inline-block;
        }

        .mobile-product-view-item__btn-wrap {
            padding-left: 0;
            padding-right: 0;
        }

        .prod-name::after {
            display: none;
        }

        .mobile-product-view-item__colors-wrap {
            justify-content: flex-start;
        }

        .carousel-colors-wrap {
            text-align: left;
        }

        .mobile-product-view-item__colors-inner {
            flex-basis: auto;
        }

        .carousel-colors.carousel-nav-show {
            padding-left: 30px;
            padding-right: 30px;
        }

        .carousel-colors.carousel-nav-not-show {
            padding-left: 0;
            padding-right: 0;
        }

        .carousel-nav-prev:disabled,
        .carousel-nav-next:disabled {
            display: block;
            opacity: 0.5;
        }

        .mobile-products-view-description {
            text-align: left;
        }
        .mobile-product-view-item__controls{
            right: 10%;
        }
    }

    &-single {
        .catalog-product-item__inner {
            flex-basis: 100%;
            max-width: 100%;
        }

        .mobile-product-view-item-image-wrap > img {
            height: initial;
            width: 100%;
        }

        .prod-name {
            height: auto !important;
        }

        .mobile-product-view-item__btn {
            display: block;
        }

        .catalog-product-item {
            padding-left: 15px;
            padding-right: 15px;
        }

        .prod-name::after {
            display: none;
        }

        .color-viewer-list,
        .color-viewer {
            justify-content: center;
        }
    }
}

.mobile-product-view-item__colors-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.products-view-mobile-modern-single,
.products-view-mobile-modern-tile,
.mainpage-products__content,
.novelty-section__content,
.sale-section__content,
.prodList-section__content,
.products-by-ids__item {
    .mobile-product-view-item__colors-wrap {
        .carousel-inner {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.mobile-product-view-item__colors-inner {
    max-width: 100%;
}

.block .products-view-tile .products-view-labels,
.product-related-products .products-view-tile .products-view-labels {
    position: absolute;
}

.product-view-carousel-list-horizontal {
    .mobile-product-view-item {
        max-width: 100%;
        flex-shrink: 0;
    }
}

.mainpage-products__content .products-view-buy {
    padding-left: 0.625rem;

    &::before {
        display: none;
    }
}

.products-view-buy{
    width: 100%;
    box-sizing: border-box;
    &.icon-bag-before {
        padding-left: 0.625rem;

        &::before {
            display: none;
        }
    }
}

.products-view-scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;

    &__item {
        padding-right: 13px;
        border: 0;
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.mobile-product-view-item-image-block {
    scroll-snap-type: x mandatory;
    overflow: auto;
    display: flex;
    height: 100%;
    width: 100%;
}

.mobile-product-view-item-image-inner {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.products-view-mobile-modern-list .text-instead-of-price {
    text-align: left !important;
}

.products-view-mobile-modern-tile .products-view-tile-element-hidden,
.products-view-mobile-modern-list .products-view-list-element-hidden,
.products-view-mobile-modern-single .products-view-single-element-hidden {
    display: none;
}

.mobile-products-view-description {
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

.mobile-product-view--loading {
    .mobile-product-view-item-image-block {
        visibility: hidden;
    }
}

.product-view-image-container {
    &--hidden {
        display: none;
    }

    &--block {
        display: flex;
    }
}

.mobile-product-view-item__controls {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    place-content: center;
    place-items: center;
    z-index:3;

    .block-exuding-row.details-wishlist {
        padding: 0;
        border: 0;
    }
}

.mobile-product-view-item__controls-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fff;
    border: 0;
}

.mobile-product-view-trigger-quickview {
    // для safari так как по умолчанию ставится padding
    padding: 0;
    box-shadow: 0 0 3px -1px rgb(0 0 0 / 50%);
}

//.mobile-product-view-button__with-spinbox {
//    display: flex;
//    flex-direction: column;
//
//    .details-spinbox-block-wrap {
//        margin-bottom: 10px;
//        display: flex;
//        justify-content: center;
//
//        .details-spinbox-block {
//            width: auto !important;
//            position: relative;
//        }
//
//        .spinbox-input {
//            text-align: center;
//            max-width: 100px;
//        }
//
//        .spinbox-input-wrap {
//            padding: 0 !important;
//        }
//
//        .spinbox-block {
//            margin: 0 !important;
//            display: block !important;
//        }
//
//        .spinbox__arrows {
//            .spinbox-more {
//                position: absolute;
//                right: 0;
//                top: 18%;
//            }
//
//            .spinbox-less {
//                position: absolute;
//                left: 3px;
//                top: 18%;
//            }
//        }
//    }
//}

.products-view-mobile-modern-list .mobile-product-view-button__with-spinbox {
    flex-direction: row !important;
    align-items: center;
    gap: 10px;

    .details-spinbox-block-wrap {
        margin: 0;
    }
}
