@use '../defFuncValues';
@use '../function';
@use '../variables';
@use '../../../../styles/spinner';

body.sidebar_open {
    left: auto;
    position: static;
}

#sidebar,
.sidebar {
    transition: transform 0.1s;
    overflow: hidden auto;
    height: var(--min-full-height, 100vh);
    z-index: 110;
    position: fixed;
    top: 0;
    bottom: 0;
    width: function.toEmSize(340px, defFuncValues.$desWidth);
}

.sidebar-animation--left {
    transform: translate3d(-100%, 0, 0);
    left: 0;
}

.sidebar-animation--right {
    transform: translate3d(100%, 0, 0);
    right: 0;
}

#sidebar {
    background: #3a3c44;
}

.sidebars-container {
    position: relative;
    z-index: 701;
    display: block;
}

.sidebar_open #sidebar,
.sidebars-container--activated .sidebar,
.sidebar-state-menu__input:checked + .sidebars-container .sidebar {
    transform: translate3d(0, 0, 0);
}

/* stylelint-disable */
#sidebar_overlay,
.sidebar_overlay {
    background: rgb(0 0 0 / 20%);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
}

.sidebar_open #sidebar_overlay,
.sidebars-container--activated .sidebar_overlay,
.sidebar-state-menu__input:checked + .sidebars-container .sidebar_overlay {
    display: block;
}

/* stylelint-enable */
#sidebar .head {
    padding: 0 12px;
    padding-left: 23px;
    line-height: function.toEm(58px, 18px);
    background: #232429;
    font-size: function.toEm(18px);
    display: block;

    img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        border-radius: 4px;
    }

    .username {
        max-width: 190px;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.sidebar__close {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding-right: 0;
}

.sidebar-content-static {
    visibility: hidden;
}

.sidebar__content-static--open,
.sidebar-state-menu__input:checked + sidebars-container [data-content-id='sidebarMenu'] {
    visibility: visible;
}

.sidebar--open-root {
    overflow: hidden;
}

.sidebar-return-desktop {
    display: block;
    padding: 12px 14px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 22px;
}

.sidebar-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--min-full-height) - 52px);

    .menu {
        flex-grow: 1;
    }
}

.sidebar--with-bottom-panel {
    height: calc(var(--min-full-height, 100vh) - 112px);

    .sidebar-menu-flex {
        height: calc(var(--min-full-height) - 112px);
    }
}

@media #{variables.$viewport-sm} {
    body.sidebar_open {
        left: 65%;
    }

    #sidebar,
    .sidebar {
        width: 65%;
    }
}

@media #{variables.$viewport-md} {
    body.sidebar_open {
        left: 60%;
    }

    #sidebar,
    .sidebar {
        width: 60%;
    }
}

/* stylelint-disable */
#sidebar,
#sidebar_overlay,
.sidebar,
.sidebar_overlay {
    top: 51px;
    height: calc(var(--min-full-height, 100vh) - 51px);
}

/* stylelint-enable */

.sidebar__header {
    padding: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
