.sms-confirmation-mobile-login-btn {
    position: absolute;
    height: 16px;
    width: 30px;
    right: 48px;
    top: 8px;
}

.sms-confirmation-add-field {
    padding: 5px 0px 10px 0px;
}

.sms-confirmation-error-code {
    color: #f15959;
    border-color: #f15959 !important;
}
.sms-confirmation-text {
    margin-bottom: 1.25rem;
}
#modalSmsConfirmation .modal-header {
    padding: 1.875rem 2.5rem .625rem;
    border-bottom: 0;
}

    #modalSmsConfirmation .modal-header span {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
    }

#modalSmsConfirmation .modal-content {
    padding: 0 1.875rem 2.5rem;
    width: 380px;
    box-sizing: border-box;
}

    #modalSmsConfirmation .modal-content .first {
        margin-bottom: .625rem;
    }

    #modalSmsConfirmation .modal-content .numeral {
        width: 48px;
        display: inline-block;
        margin-right: 15px;
    }

    #modalSmsConfirmation .modal-content .numeral input {
        padding: .407rem .625rem;
        text-align: center;
        color: #4b4f58;
        font-size: 1.375rem;
        font-weight: 400;
    }

    #modalSmsConfirmation .modal-content .numeral input:active,
    #modalSmsConfirmation .modal-content .numeral input:focus,
    #modalSmsConfirmation .modal-content .numeral input:hover {
        border: 1px solid #0765BD;
    }

    #modalSmsConfirmation .modal-content .vertical-interval-middle {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    #modalSmsConfirmation .modal-content .input-small {
        padding: .688rem .625rem .688rem;
        font-size: .875rem;
    }

        #modalSmsConfirmation .modal-content .input-small::placeholder {
            color: #CECECE;
        }

    #modalSmsConfirmation .modal-content .btn-small {
        padding: 0.875rem .625rem 0.875rem;
        font-size: 1rem;
        width: 100%;
        cursor: pointer;
    }

    #modalSmsConfirmation .modal-content .alert {
        margin-top: -0.625rem;
        margin-bottom: 1.25rem;
        font-size: .875rem;
        color: #D91313;
    }

    #modalSmsConfirmation .modal-content .timer {
        margin-bottom: .625rem;
        color: #AAAAAA;
        font-size: .875rem;
    }

    #modalSmsConfirmation .modal-content .re-code {
        margin-bottom: .625rem;
    }

    #modalSmsConfirmation .modal-content .login-link {
        padding-top: 1.25rem;
    }

    #modalSmsConfirmation .modal-content .social-link {
        margin-bottom: .625rem;
        padding-top: 1.25rem;
    }

    #modalSmsConfirmation .modal-content .edit-phone {
        padding-top: 1.25rem;
    }

    #modalSmsConfirmation .modal-content a {
        font-size: .875rem;
    }

    #modalSmsConfirmation .modal-content p {
        margin: 1.25rem 0 0;
        font-size: .875rem;
    }
    #modalSmsConfirmation .text-justify {
        text-align: justify;
    }
@media (max-width: 767px) {
    #modalSmsConfirmation .modal-header span {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }

    #modalSmsConfirmation .modal-header {
        padding: 1.875rem 1.0667rem .625rem;
        border-bottom: 0;
    }

    #modalSmsConfirmation .modal-content {
        padding: 0 .4rem 2.5rem;
        width: 100%;
        box-sizing: border-box;
    }
}