<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.TestShippingCalculate'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.TestShippingCalculate.City'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.preOrder.CityDest"
                                required
                                validation-input-text="{{'Admin.Js.TestShippingCalculate.City'|translate}}"
                                autocompleter-address
                                on-select="ctrl.processCity(item)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.TestShippingCalculate.Region'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.preOrder.RegionDest"
                                required
                                validation-input-text="{{'Admin.Js.TestShippingCalculate.Region'|translate}}"
                                autocompleter
                                on-type="region" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.TestShippingCalculate.Country'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.preOrder.CountryDest"
                                required
                                validation-input-text="{{'Admin.Js.TestShippingCalculate.Country'|translate}}"
                                autocompleter
                                on-type="country" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="row order-customer-form__row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.District'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.District" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.Street'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.Street" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left text-required">{{'Admin.Js.TestShippingCalculate.Zip'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input
                                type="text"
                                class="form-control input-alt"
                                ng-model="ctrl.preOrder.Zip"
                                required
                                validation-input-text="{{'Admin.Js.TestShippingCalculate.Zip'|translate}}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.House'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.House" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.Structure'|translate}}</label>
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.Structure" maxlength="10" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row form-group">
                                <div class="col-xs-12">
                                    <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.Apartment'|translate}}</label>
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.Apartment" maxlength="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.Entrance'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.Entrance" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label text-left">{{'Admin.Js.TestShippingCalculate.Floor'|translate}}</label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-alt" ng-model="ctrl.preOrder.Floor" maxlength="10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label ng-if="!isMobile.value" class="col-xs-6 col-sm-4 control-label"> {{'Admin.Js.TestShippingCalculate.Rule.Geo'|translate}} </label>
            <div class="col-xs-12 col-md-8">
                <label class="adv-checkbox-label control-checkbox">
                    <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.geoRuleEnabled" />
                    <span class="adv-checkbox-emul"></span>
                    <span ng-if="isMobile.value">{{'Admin.Js.TestShippingCalculate.Rule.Geo'|translate}}</span>
                </label>
            </div>
        </div>
        <div ng-if="ctrl.useExtracharge" class="form-group row">
            <label ng-if="!isMobile.value" class="col-xs-6 col-sm-4 control-label">
                {{'Admin.Js.TestShippingCalculate.Rule.Margin'|translate}}
            </label>
            <div class="col-xs-12 col-md-8">
                <label class="adv-checkbox-label control-checkbox">
                    <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.marginRuleEnabled" />
                    <span class="adv-checkbox-emul"></span>
                    <span ng-if="isMobile.value">{{'Admin.Js.TestShippingCalculate.Rule.Margin'|translate}}</span>
                </label>
            </div>
        </div>
        <div ng-if="ctrl.useWeight || ctrl.useCargo" class="form-group row">
            <label ng-if="!isMobile.value" class="col-xs-6 col-sm-4 control-label">
                {{'Admin.Js.TestShippingCalculate.Rule.ExtrachargeCargo'|translate}}
            </label>
            <div class="col-xs-12 col-md-8">
                <label class="adv-checkbox-label control-checkbox">
                    <input type="checkbox" class="adv-checkbox-input" ng-model="ctrl.extrachargeCargoEnabled" />
                    <span class="adv-checkbox-emul"></span>
                    <span ng-if="isMobile.value">{{'Admin.Js.TestShippingCalculate.Rule.ExtrachargeCargo'|translate}}</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs">
                <h3 class="bold sticky-page-name-text setting__subtitle setting--m-none">
                    {{'Admin.Js.TestShippingCalculate.ProductSettings'|translate}}
                </h3>
            </div>
        </div>
        <div ng-if="ctrl.useWeight" class="form-group row">
            <label class="col-xs-12 col-md-4 control-label">
                <span class="text-required">{{'Admin.Js.TestShippingCalculate.Weight'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-8">
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control input-alt"
                        ng-model="ctrl.item.Weight"
                        required
                        min="0"
                        validation-input-text="{{'Admin.Js.TestShippingCalculate.Weight'|translate}}" />
                    <div class="input-group-btn">
                        <span class="btn btn-default product-currency-active"><span>кг</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ctrl.useCargo" class="form-group row">
            <label class="col-xs-12 col-md-4 control-label">
                <span class="text-required">{{'Admin.Js.TestShippingCalculate.Dimensions'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-8">
                <div
                    class="order-items-demensions__block order-items-demensions__block--gap5 ng-pristine ng-valid ng-valid-valid-input-float"
                    ng-class="{'flex middle-xs' : isMobile.value}">
                    <input
                        ng-class="{'m-r-xs' : isMobile.value}"
                        class="form-control input-alt"
                        ng-model="ctrl.item.Length"
                        style="margin-left: 0px"
                        min="0"
                        validation-input-float
                        required />
                    x
                    <input
                        ng-class="{'m-r-xs m-l-xs' : isMobile.value}"
                        class="form-control input-alt"
                        type="number"
                        ng-model="ctrl.item.Width"
                        min="0"
                        required />
                    x
                    <input
                        ng-class="{'m-r-xs m-l-xs' : isMobile.value}"
                        class="form-control input-alt"
                        type="number"
                        ng-model="ctrl.item.Height"
                        min="0"
                        required />
                    мм
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-4 control-label">
                <span class="text-required">{{'Admin.Js.TestShippingCalculate.Amount'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-8">
                <input
                    type="number"
                    class="form-control input-alt"
                    ng-model="ctrl.item.Amount"
                    required
                    min="0"
                    validation-input-text="{{'Admin.Js.TestShippingCalculate.Amount'|translate}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-12 col-md-4 control-label">
                <span class="text-required">{{'Admin.Js.TestShippingCalculate.Price'|translate}}</span>
            </label>
            <div class="col-xs-12 col-md-8">
                <div class="input-group">
                    <input
                        type="number"
                        class="form-control input-alt"
                        ng-model="ctrl.item.Price"
                        min="0"
                        required
                        validation-input-text="{{'Admin.Js.TestShippingCalculate.Amount'|translate}}" />
                    <div class="input-group-btn">
                        <span class="btn btn-default product-currency-active"><span ng-bind="ctrl.currency"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.ShippingOptions && ctrl.ShippingOptions.length != 0">
            <label class="col-xs-12 col-md-4 control-label"> {{'Admin.Js.TestShippingCalculate.Result'|translate}} </label>
            <div class="col-xs-12 col-md-8">
                <div class="row m-b-sm" ng-repeat="option in ctrl.ShippingOptions">
                    <div class="col-xs">{{option.Name}} - {{option.FormatRate}}{{option.DeliveryTime ? (', ' + option.DeliveryTime) : ''}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row" ng-if="ctrl.ShippingOptions && ctrl.ShippingOptions.length == 0">
            <label class="col-xs-12 col-md-4 control-label"> {{'Admin.Js.TestShippingCalculate.Result'|translate}} </label>
            <div class="col-xs-12 col-md-8">Отсутствуют</div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-save btn-primary"
            ladda="ctrl.btnSleep"
            type="button"
            data-button-validation-success="ctrl.calculate(); ctrl.btnSleep = true;"
            data-button-validation>
            {{'Admin.Js.ProductSelection.Calculate'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.ProductSelection.Cancel'|translate}}</button>
    </div>
</form>
