<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross ng-if="!isMobile.value"></ui-modal-cross>
        <h2 class="modal-header-title">
            {{ctrl.mode == "add" ? ('Admin.Js.AddEditMailFormat.AddMailFormat'|translate) : ('Admin.Js.AddEditMailFormat.EditMailFormat'|translate)}}
        </h2>
    </div>
    <div class="modal-body">
        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label setting__label">
                    <span class="text-required">{{'Admin.Js.AddEditMailFormat.Name'|translate}}</span>
                </label>
                <div class="col-xs-12 col-md-10">
                    <input
                        data-e2e="FormatNameMailFormat"
                        type="text"
                        class="form-control input-alt"
                        ng-model="ctrl.FormatName"
                        required
                        validation-input-text="{{'Admin.Js.AddEditMailFormat.Name'|translate}}"
                        data-autofocus="!isMobile.value" />
                </div>
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row setting--label-with-checkbox-reverse">
                <label for="EnableMailFormat" class="col-md-2 control-label setting__label setting--m-none"
                    >{{'Admin.Js.AddEditMailFormat.Active'|translate}}</label
                >
                <div class="col-md-10" ng-class="{'p-r-xs' : isMobile.value}">
                    <label class="adv-checkbox-label" data-e2e="EnableMailFormat">
                        <input id="EnableMailFormat" type="checkbox" ng-model="ctrl.Enable" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label text-required setting__label"
                    >{{'Admin.Js.AddEditMailFormat.MailType'|translate}}</label
                >
                <div class="col-xs-12 col-md-10">
                    <select
                        data-e2e="MailFormatTypeIdMailFormat"
                        ng-options="type.MailFormatTypeId as type.TypeName for type in ctrl.MailFormatTypes"
                        ng-model="ctrl.MailFormatTypeId"
                        class="form-control input-alt"
                        ng-disabled="ctrl.mode == 'edit'"
                        ng-change="ctrl.getTypeDescription()"></select>
                </div>
            </div>
        </div>
        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label setting__label">
                    <span class="text-required">{{'Admin.Js.AddEditMailFormat.MailSubject'|translate}}</span>
                </label>
                <div class="col-xs-12 col-md-10">
                    <input
                        data-e2e="FormatSubjectMailFormat"
                        type="text"
                        ng-model="ctrl.FormatSubject"
                        class="form-control input-alt"
                        required
                        validation-input-text="{{'Admin.Js.AddEditMailFormat.MailSubject'|translate}}" />
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label setting__label">
                    <span class="text-required">{{'Admin.Js.AddEditMailFormat.Text'|translate}}</span>
                </label>
                <div class="col-xs-12 col-md-10">
                    <textarea
                        data-e2e="FormatTextMailFormat"
                        ng-model="ctrl.FormatText"
                        class="form-control input-alt"
                        ckeditor="{height: 350}"
                        required
                        validation-input-text="{{'Admin.Js.AddEditMailFormat.Text'|translate}}"></textarea>
                    <div class="m-t m-b-xs setting--grid-span-grey" ng-bind-html="ctrl.Description"></div>
                </div>
            </div>
        </div>

        <div class="form-group setting__form-group">
            <div class="row">
                <label class="col-xs-12 col-md-2 control-label setting__label">{{'Admin.Js.AddEditMailFormat.Sorting'|translate}}</label>
                <div class="col-xs-12 col-md-10">
                    <input
                        data-e2e="SortOrderMailFormat"
                        type="text"
                        ng-model="ctrl.SortOrder"
                        class="form-control input-alt"
                        required
                        validation-input-text="{{'Admin.Js.AddEditMailFormat.Sorting'|translate}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            data-e2e="saveMailFormat"
            class="btn btn-save btn-primary"
            type="button"
            data-button-validation-success="ctrl.save()"
            data-button-validation>
            {{ctrl.mode == "add" ? ('Admin.Js.AddEdit.Add'|translate) : ('Admin.Js.AddEdit.Save'|translate)}}
        </button>
        <button data-e2e="cancelMailFormat" class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.AddEdit.Cancel'|translate}}
        </button>
    </div>
</form>
