<div class="modal-header">
    <ui-modal-cross></ui-modal-cross>
    <h2 class="modal-header-title">{{'Admin.Js.AcceptTask.Completion'|translate}}<span ng-bind="ctrl.taskId"></span></h2>
</div>
<div class="modal-body" is-mobile>
    <div class="">
        <p class="text-center m-t-none">{{'Admin.Js.AcceptTask.Choose'|translate}}</p>
        <div class="row">
            <div class="col-xs col-md-4" ng-class="{'flex' : isMobile.value, 'col-xs-offset-2' : !isMobile.value}" ng-if="ctrl.successStatus">
                <button
                    class="btn btn-success btn-block flex-grow"
                    data-e2e="acceptTask"
                    type="button"
                    ng-click="ctrl.acceptTask()"
                    ladda="ctrl.btnSleep">
                    {{ctrl.successStatus.Name}}
                </button>
            </div>
            <div class="col-xs col-md-4" ng-class="{'flex' : isMobile.value}" ng-if="ctrl.cancelStatus">
                <button
                    class="btn btn-action btn-block flex-grow"
                    data-e2e="cancelTask"
                    type="button"
                    ng-click="ctrl.cancelTask()"
                    ladda="ctrl.btnCancelSleep">
                    {{ctrl.cancelStatus.Name}}
                </button>
            </div>
        </div>
    </div>
</div>
