<form name="addRecomPropertyForm" is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.AddRecomProperty.Properties' | translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="row grid">
            <div class="col-xs-12 col-md-6 g-col-12">
                <div class="m-b" ng-class="{'category-page__label' : isMobile.value}">{{'Admin.Js.AddRecomProperty.SelectProperty' | translate}}</div>
                <select
                    ng-model="ctrl.property"
                    ng-options="s.Name for s in ctrl.properties"
                    class="form-control input-alt"
                    ng-change="ctrl.changeProperty()"
                    validation-input-text="{{::'Admin.Js.AddRecomProperty.Property'|translate}}"
                    required>
                    <option value="">-</option>
                </select>
            </div>
            <div class="col-xs-12 col-md-6 g-col-12">
                <div class="m-b" ng-class="{'category-page__label' : isMobile.value}">{{'Admin.Js.AddRecomProperty.SelectValue' | translate}}</div>
                <div class="m-b">
                    <label class="adv-radio-label" style="{{isMobile.value ? 'width:100%' : ''}}">
                        <input type="radio" class="adv-radio-input" name="propType" ng-model="ctrl.propType" value="0" />
                        <span class="adv-radio-emul" style="{{isMobile.value ? '' : 'top:auto !important;'}}"></span>
                        <span data-ng-class="{'p-l-sm w-100': isMobile.value, 'p-l-xs': !isMobile.value}">
                            <select
                                ng-model="ctrl.propertyValue"
                                ng-options="s.Value for s in ctrl.propertyValues"
                                class="form-control input-alt"
                                validation-input-text="{{::'Admin.Js.AddRecomProperty.PropertyValue'|translate}}"
                                required
                                style="{{isMobile.value ? '' : 'width: 200px; display: inline-block;'}}">
                                <option value="">-</option>
                            </select>
                        </span>
                    </label>
                </div>
                <div class="m-b">
                    <label class="adv-radio-label">
                        <input type="radio" class="adv-radio-input" name="propType" ng-model="ctrl.propType" value="1" />
                        <span class="adv-radio-label-text">{{'Admin.Js.AddRecomProperty.CoincidesWithProperty' | translate}}</span>
                        <span class="adv-radio-emul"></span>
                    </label>
                </div>
                <div class="m-b">
                    <label class="adv-radio-label">
                        <input type="radio" class="adv-radio-input" name="propType" ng-model="ctrl.propType" value="2" />
                        <span class="adv-radio-label-text">{{'Admin.Js.AddRecomProperty.NoCoincidesWithProperty' | translate}}</span>
                        <span class="adv-radio-emul"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="submit" data-button-validation="" data-button-validation-success="ctrl.saveProperty()">
            {{'Admin.Js.AddProperty.Add' | translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">{{'Admin.Js.Category.Cancel' | translate}}</button>
    </div>
</form>
