.order-product {
    --products-view-name-line-count: 3;

    &__datetime {
        cursor: pointer;
    }

    .products-view-block {
        flex-basis: calc(100% / var(--products-view-name-line-count));
        max-width: calc(100% / var(--products-view-name-line-count));
    }

    .products-view-picture-link {
        height: 200px;
    }

    &.products-view-tile .products-view-name {
        flex-grow: 0;
    }

    &.products-view-tile .order-product__data {
        flex-grow: 1;
    }
}

.order-product__data {
    padding: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &--mobile {
        padding: 10px 0;
        font-size: 12px;
    }
}

.order-product__data-item + .order-product__data-item {
    margin-top: 5px;
}
