@import '../../_shared/card/card';

.customer-data {
    &__info-wrap {
        order: -1;
    }

    &__row {
        display: grid;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        gap: 15px;
        border: 0;
    }

    &__item {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        max-width: none;
        flex: 0 0 auto;
        padding-bottom: 0;
    }

    &__text {
        font-size: 14px;
        line-height: calc(20 / 14);
        color: var(--color-text-alt);
    }

    &__count {
        font-size: 14px;
        line-height: calc(20 / 14);
    }

    &__segments {
        margin-bottom: 20px;
    }

    &__view-interests {
        margin-bottom: 20px;
    }

    &__view-tags {
        margin-bottom: 20px;
    }

    &__view-comment {
        display: grid;
    }

    &__view-info {
        margin-bottom: 20px;
    }
}
