<form is-mobile>
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">{{'Admin.Js.Content.QrCodeGenerator.QrCodeGenerator'|translate}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 center-xs" ng-class="{'flex': isMobile.value}" ng-if="ctrl.qrCodeInBase64">
                    <img alt="QR-code" ng-src="data:image/PNG;base64,{{ctrl.qrCodeInBase64}}" /> <br />
                </div>
                <div class="col-xs-12 center-xs" ng-if="!ctrl.qrCodeInBase64">
                    {{'Admin.Js.Content.QrCodeGenerator.FailedGenerateQRCode'|translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs center-xs" ng-class="{'flex': isMobile.value}" ng-bind="ctrl.text"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" ng-click="ctrl.download()" ng-if="ctrl.qrCodeInBase64">
            {{'Admin.Js.Content.QrCodeGenerator.Download'|translate}}
        </button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">
            {{'Admin.Js.Content.QrCodeGenerator.Close'|translate}}
        </button>
    </div>
</form>
