<ui-grid-custom
    grid-unique-id="{{$ctrl.gridServicesUniqueId}}"
    grid-on-init="$ctrl.gridOnInit(grid)"
    grid-filter-enabled="false"
    grid-pagination-enabled="false"
    grid-selection-enabled="false"
    grid-options="$ctrl.gridOptions"
    grid-extend-ctrl="ctrl"
    grid-empty-text="'Нет данных'"
    grid-swipe-line="true">
    <ui-grid-custom-override-control>
        <div class="card card--gap-row-sm card--p-18">
            <div class="flex middle-xs">
                <div class="flex-grow setting__label m-r-sm">Название:</div>
                <div>{{row.entity.Name}}</div>
            </div>
            <div class="flex middle-xs between-xs m-t-sm">
                <div class="flex middle-xs">
                    <div class="flex-grow setting__label m-r-sm">Кол-во:</div>
                    <div>{{row.entity.Count}}</div>
                </div>
                <div class="flex middle-xs">
                    <div class="flex-grow setting__label m-r-sm">Сумма:</div>
                    <div>{{row.entity.Sum}}</div>
                </div>
            </div>
        </div>
    </ui-grid-custom-override-control>
</ui-grid-custom>
