@use '../../../_common/variables';

.lp-form {
    &__title {
        line-height: 1.33;

        &--vertical,
        &--horizontal {
            /* font-size: 24px; */
        }
    }

    &__subtitle {
        font-size: 18px;
    }

    &__wrap {
        flex-wrap: nowrap;
    }

    &__body--vertical {
        margin-top: 20px;
    }

    &__subtitle--horizontal {
        margin-top: 48px; // 40px &__body + 8px &__body
    }

    &__subtitle--vertical,
    &__field,
    &__submit-block {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__agreement {
        margin: 20px 0;
        font-size: 18px;
    }

    &__content--success {
        padding: 30px;
    }

    &__field-label {
        margin-bottom: 10px;
    }
}

.lp-form-in-modal {
    width: 500px;
}

@media #{variables.$viewport-sm} {
    .lp-form {
        &--vertical {
            /* font-size: 36px; */
        }

        &--horizontal {
            .lp-textarea {
                height: 50px;
            }
        }
    }
}

.lp-form__picture-block--horizontal {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.lp-form__picture-button-add {
    color: #dedede;
    background: #fff none;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
    min-height: 80px;
}

.lp-form__picture-item {
    padding-bottom: 8px;

    &--horizontal {
        min-width: 88px;
        max-width: 120px;

        & .lp-form__picture-button-add {
            min-width: 110px;
        }
    }
}

.lp-form__picture {
    vertical-align: middle;
}

.lp-form__picture-item-wrap {
    position: relative;
    border: solid 1px #d8d8d8;
}

.lp-form__picture-delete {
    border: 0;
    padding: 0;
    background: transparent none;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}

.form-field-name,
.form-field-input {
    display: block;
}

.lp-form__filearchive {
    padding: 8px;
    text-align: center;

    &-icon {
        font-size: 2.25em;
        color: rgb(96 96 96);
    }

    &-name {
        font-size: 13px;
        max-height: 36px;
        overflow: hidden;
        margin: 8px 0 0;
    }
}
