.col-fixed-size-sm {
    flex-basis: 140px;
    max-width: 140px;
    padding: 0 0.625rem;
}

.col-fixed-size-lg {
    flex-basis: 300px;
    max-width: 300px;
    padding: 0 0.625rem;
}

.col-fixed-size-md {
    flex-basis: 200px;
    max-width: 200px;
    padding: 0 0.625rem;
}

.col-fixed-offset-md {
    margin-left: 200px;
}

.col-fixed-size-xs {
    flex-basis: 70px;
    max-width: 70px;
    padding: 0 0.625rem;
}

.col-fixed-size-ls {
    flex-basis: 30px;
    max-width: 30px;
    padding: 0 0.625rem;
}

.col-fixed-size-offset-md {
    margin-left: 200px;
}

.flex-basis-fix-xs {
    flex-basis: 192px;
    max-width: 192px;
    box-sizing: border-box;
}

.row .flex-width-n {
    width: auto;
    max-width: none;
    padding: 0 0.625rem;
}
