<div class="blocks-constructor-row" ng-if="$ctrl.modalData.settings.whatsapp_enabled != null">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="whatsapp_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.whatsapp_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> WhatsApp </span>
        </label>
    </div>

    <div ng-if="$ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">Номер</div>
        <input
            class="blocks-constructor-input m-b-sm"
            data-e2e="whatsapp_enabled"
            type="tel"
            pattern="\+?\d+"
            ng-model="$ctrl.modalData.settings.whatsapp_number" />
    </div>
    <div ng-if="$ctrl.modalData.settings.whatsapp_text != null && $ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">Текст ссылки</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.whatsapp_text" />
    </div>
    <div ng-if="$ctrl.modalData.settings.whatsapp_message != null && $ctrl.modalData.settings.whatsapp_enabled">
        <div class="blocks-constructor-row__name">Текст сообщения</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.whatsapp_message" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="vk_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.vk_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> {{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.VKontakte'|translate}} </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.vk_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.GroupID'|translate}} (<a href="javascript:void(0)" target="_blank">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.HowFindGroupID'|translate}}</a>)</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="vk_enabled" type="text" ng-model="$ctrl.modalData.settings.vk_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.vk_text != null && $ctrl.modalData.settings.vk_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.vk_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="fb_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.fb_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Facebook </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.fb_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.GroupName'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="fb_enabled" type="text" ng-model="$ctrl.modalData.settings.fb_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.fb_text != null && $ctrl.modalData.settings.fb_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.fb_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="viber_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.viber_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Viber </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.viber_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.ChatURL'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="viber_enabled" type="text" ng-model="$ctrl.modalData.settings.viber_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.viber_text != null && $ctrl.modalData.settings.viber_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.viber_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-telegram_enabled="ShowDots" data-e2e="telegram_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.telegram_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Telegram </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.telegram_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.TelegramContact'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="telegram_enabled" type="text" ng-model="$ctrl.modalData.settings.telegram_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.telegram_text != null && $ctrl.modalData.settings.telegram_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.TelegramLinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.telegram_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="odnoklassniki_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.odnoklassniki_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> {{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.Odnoklassniki'|translate}} </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.odnoklassniki_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.GroupID'|translate}}</div>
        <input
            class="blocks-constructor-input m-b-sm"
            data-e2e="odnoklassniki_enabled"
            type="text"
            ng-model="$ctrl.modalData.settings.odnoklassniki_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.odnoklassniki_text != null && $ctrl.modalData.settings.odnoklassniki_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.odnoklassniki_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="twitter_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.twitter_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> X </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.twitter_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.TwitterLink'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="twitter_enabled" type="text" ng-model="$ctrl.modalData.settings.twitter_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.twitter_text != null && $ctrl.modalData.settings.twitter_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.twitter_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="instagram_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.instagram_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Instagram </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.instagram_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.InstagramLink'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="instagram_enabled" type="text" ng-model="$ctrl.modalData.settings.instagram_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.instagram_text != null && $ctrl.modalData.settings.instagram_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.instagram_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="youtube_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.youtube_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Youtube </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.youtube_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.YoutubeLink'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="youtube_enabled" type="text" ng-model="$ctrl.modalData.settings.youtube_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.youtube_text != null && $ctrl.modalData.settings.youtube_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.youtube_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="rutube_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.rutube_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Rutube </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.rutube_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.RutubeLink'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="rutube_enabled" type="text" ng-model="$ctrl.modalData.settings.rutube_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.rutube_text != null && $ctrl.modalData.settings.rutube_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.rutube_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="yandexzen_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.yandexzen_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> {{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.YandexZen'|translate}} </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.yandexzen_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.Link'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="yandexzen_enabled" type="text" ng-model="$ctrl.modalData.settings.yandexzen_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.yandexzen_text != null && $ctrl.modalData.settings.yandexzen_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.LinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.yandexzen_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-max_enabled="ShowDots" data-e2e="max_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.max_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> Max </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.max_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.MaxLink'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" data-e2e="max_enabled" type="text" ng-model="$ctrl.modalData.settings.max_url" />
    </div>
    <div ng-if="$ctrl.modalData.settings.max_text != null && $ctrl.modalData.settings.max_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.SocialButtons.MaxLinkText'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.max_text" />
    </div>
</div>

<div class="blocks-constructor-row">
    <div class="blocks-constructor-row__name">
        <label class="blocks-constructor-label" data-e2e="odnoklassniki_enabled">
            <input class="blocks-constructor-checkbox-native" type="checkbox" ng-model="$ctrl.modalData.settings.call_enabled" />
            <span class="blocks-constructor-checkbox"></span>
            <span class="blocks-constructor-label-text"> {{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.Call'|translate}} </span>
        </label>
    </div>
    <div ng-if="$ctrl.modalData.settings.call_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.Number'|translate}}</div>
        <input class="blocks-constructor-input m-b-sm" type="tel" pattern="\+?\d+" ng-model="$ctrl.modalData.settings.call_number" />
    </div>
    <div ng-if="$ctrl.modalData.settings.call_text != null && $ctrl.modalData.settings.call_enabled">
        <div class="blocks-constructor-row__name">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.Social.Text'|translate}}</div>
        <input class="blocks-constructor-input" type="text" ng-model="$ctrl.modalData.settings.call_text" />
    </div>
</div>
