<div class="blocks-constructor-row">
    <button class="blocks-constructor-btn-confirm" data-e2e="ConvertToHtml" type="button" ng-click="$ctrl.convertToHtmlBlock()">
        {{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.SystemManipulation.ConvertToHTMLBlock'|translate}}
    </button>
</div>

<div class="blocks-constructor-row">
    <a href="javascript:void(0)" data-e2e="CopyBlock" ng-click="$ctrl.copyBlock()">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.SystemManipulation.MakeCopyBlock'|translate}}</a>
</div>

<div class="blocks-constructor-row">
    <a href="javascript:void(0)" data-e2e="UpdateBlock" ng-click="$ctrl.tryUpdatelBlock()">{{'Admin.Js.Landings.BlocksConstructor.Templates.Partials.SystemManipulation.UpdateBlock'|translate}}</a>
</div>
