@import '../../../../../../Content/styles/paginations';

.pagination {
    --border-color: #f9f9f9;

    box-shadow: var(--shadow-on-box);
    border-radius: 4px;
    margin-top: 0;

    > li > a,
    > li > span {
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-color: var(--border-color);
        // padding: 6px 13px;
        padding: 6px 11px; // при ширине 320 съезжает
        margin-left: 0;
    }

    > li > span > li > a {
        border: none;
    }

    .pagination-last > a,
    li:last-child > a {
        border-radius: 0 4px 4px 0;
    }

    .pagination-first > a,
    li:first-child > a {
        border-radius: 4px 0 0 4px;
    }

    > .active > span,
    > .active > a {
        // background-color: #fff;
        border-color: var(--border-color);

        &:focus,
        &:hover {
            // background-color: #fff;
            border-color: var(--border-color);
        }
    }
}

.ui-grid-custom-pagination-select-block {
    margin-top: 0;

    .ui-grid-custom-pagination-select.form-control {
        box-shadow: var(--shadow-on-box);
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        padding-left: 12px !important;
        font-size: 14px !important;
        line-height: calc(20 / 14) !important;
        height: auto !important;
        width: 66px !important;
        background-repeat: no-repeat;
        background-position: right 5px center;
        border: none !important;
        color: inherit !important;
    }
}

.pagination-wrapper {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    box-sizing: border-box;
}
