.site-footer {
    &__copyright {
        margin-right: 25px;
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__social-link {
        color: rgb(34 40 49 / 56%);
        display: inline-block;

        &:hover {
            color: #263238;
        }
    }

    &__social-icon {
        vertical-align: middle;
    }

    &__go-to-mobile {
        display: none;
    }
}

@media (device-width <= 768px) {
    .site-footer {
        &__go-to-mobile {
            display: block;
        }
    }
}
